// Ayudas y Correciones

@mixin rem($font-size, $base-size: 100) {
    font-size: $font-size + px;
    font-size: ($font-size / $base-size * 100 / 16) + rem;
}

// Funcion Calcular Porcerntaje

@function cp($objetivo, $contenedor) {
    @return ($objetivo / $contenedor) * 100%;
}

// Clearfix

@mixin clearfix {
    &:before, &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

// Centrado Vertical

@mixin centrado-vertical {
    font-size: 0;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}


// Clearfix
@mixin clearfix {
    &:before, &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin contenedor() {
    max-width: 1400px;
    margin: 0 auto;
    @include max-screen(1400px) {
        max-width: 100%;
        width: 1400px;
        padding-right: 30px;
        padding-left: 30px;
    }
}
.container {
    @include contenedor;
        padding-right: 15px;
        padding-left: 15px;
    /* @include max-screen(1366px) {
    }
    @include max-screen($ml) {
    } */
}
