footer {
	overflow: hidden;
	background: #fff;
	position: relative;
	padding: 30px 0 0;
	z-index: 1
}
.contentPagos {
    text-align: center;
    border-top: rgba(0,0,0,.29) solid 1px;
    padding-top: 15px;
}

footer .col {
	display: inline-block;
	vertical-align: top;
}

footer .col.footerLeftColiseum {
	padding: 4% 3% 55px 0;
	color: #000;
	width: 57%;
}

footer .col.footerLeftColiseum .form-check {
	padding: 7px 0;
	font-size: 8px;
}

footer .col.footerLeftColiseum .form-check .terminos_text {
	color: #d2d2d2;
	vertical-align: super;
}

footer .col.footerLeftColiseum a.terminos_link {
	color: #c6d2d2;
}

footer .col.footerLeftColiseum .newsletterVtex {
	padding: 0 0 50px;
}

footer .col.footerLeftColiseum .newsletterVtex .container form p {
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 1.1em;
	margin: 0
}

footer .col.footerLeftColiseum .newsletterVtex .container form h3 {
	font-weight: 700;
	margin: 10px 0 0;
	letter-spacing: 1px;
	font-size: 1.6em;
	background: none;
}

footer .col.footerLeftColiseum .newsletterVtex .container form p.sub {
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0px;
	margin: 10px 0 14px;
	text-transform: none;
	color: #d2d2d2;
}

footer .col.footerLeftColiseum .newsletterVtex .container form .formulario .newsletter .newsletter-client-email {
	vertical-align: top;
	padding: 0 2%;
	margin: 0;
	display: inline-block;
	width: 47%;
	font-size: 14px;
	color: #fff;
	line-height: 27px;
	border: 1px solid #fff;
	background: #121212;
}

footer .col.footerLeftColiseum .newsletterVtex .container form .formulario .newsletter .newsletter-client-email.error {
	border: 1px solid red
}

footer .col.footerLeftColiseum .newsletterVtex .container form .formulario .newsletter .newsletter-client-email.success {
	border: 1px solid #00c72d
}

footer .col.footerLeftColiseum .newsletterVtex .container form .formulario .newsletter .btn-ok.newsletter-button-ok {
	vertical-align: top;
	text-align: center;
	border: 1px solid #000;
	background: #fff;
	width: 15%;
	display: inline-block;
	padding: 0 10px;
	cursor: pointer;
	transition: all .5s ease-in-out;
	height: 29px;
	border: solid 1px #fff;
	font-size: 13px;
	letter-spacing: 0px;
	color: #010101;
	font-weight: 500;
}

footer .col.footerLeftColiseum .newsletterVtex .container form .formulario .newsletter .btn-ok.newsletter-button-ok:hover {
	transition: all .5s ease-in-out;
	color: #000;
	background: #fff
}

footer .col.footerLeftColiseum .newsletterVtex .container form .formulario .newsletter label.error {
	display: none!important
}

footer .row.module.suscribete input.newsletter-client-email.success{
	border:1px solid #00c72d
}

footer .col.footerLeftColiseum .socialAyudaContacto {
	margin: 0 0 0;
}

footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum {
	display: inline-block;
	width: 27%;
	padding: 0 0 0 7%;
}

footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum ul li a {
	font-size: 35px;
	letter-spacing: 0px;
	line-height: 30px;
	font-weight: 400;
}

footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum .list-phone-email li {
    width: 100%;
    padding: 2% 0 0 0;
}

footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum .list-phone-email li a {
	font-size: 15px;
	letter-spacing: 0;
	line-height: 30px;
	font-weight: 500;
}

footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum .list-phone-email li a:hover {
	text-decoration: underline;
}

footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum .list-phone-email li a img {
	padding: 0 15px 0 8px;
	width: 19px;
}

footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum .list-phone-email li {
	width: 100%;
	padding: 2% 0 0 0;
}

footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum {
	display: inline-block;
	width: 24%;
	vertical-align: top;
	padding: 0 0 0 2%;
}

footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum h4 {
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 0 0 10px;
}

footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum h3,
footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum h4{
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 0 0 6px 0;
}
footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum .titmenufoot1{
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 6px 0;
}
footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum h3,
footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum h4{
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 0 0 6px 0;
}
footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum .titmenufoot1{
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 700;
	margin:6px 0;
}
footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum h3,
footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum h4{
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 0 0 6px 0;
}
footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum .titmenufoot1{
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 700;
	margin:6px 0;
}


footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum h4.mb {
	margin: 40px 0 0 0;
}

footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum ul li a {
	font-size: 15px;
	letter-spacing: 0;
	line-height: 32px;
	font-weight: 500;
	text-decoration: none;
}

footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum ul li a:hover {
	text-decoration: underline
}

footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum {
	display: inline-block;
	width: 35%;
	padding: 0 0 0 2%;
	vertical-align: top;
}


footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum ul li {
	font-size: 11px;
	letter-spacing: 0px;
	line-height: 32px;
	color: #ffffff;
	font-weight: 400;
	margin: 0 0 0;
}

footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum ul li a {
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
}

footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum ul li a:hover {
	text-decoration: underline
}

footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum ul li.mobil {
	display: none
}

footer .col.footerLeftColiseum .foo {
	padding: 0
}

footer .col.footerLeftColiseum .foo .vtex {
	position: relative;
	vertical-align: middle;
	width: 92px;
	height: 32px;
	margin: 0 25px 0 0;
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -103px -28px no-repeat;
	display: inline-block
}

footer .col.footerLeftColiseum .foo .medialab {
	margin: 0 20px 0 0;
	position: relative;
	vertical-align: middle;
	width: 44px;
	height: 32px;
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -260px -1px no-repeat;
	display: inline-block
}

footer .col.footerLeftColiseum .foo .digicert {
	margin: 0 20px 0 0;
	position: relative;
	vertical-align: middle;
	width: 92px;
	height: 32px;
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -160px -2px no-repeat;
	display: inline-block
}

footer .col.footerLeftColiseum .foo #DigiCertClickID_Xx1TvclASeal,
footer .col.footerLeftColiseum .foo #DigiCertClickID_Xx1TvclASeal img {
	width: 56px!important;
	height: 41px;
	display: none!important;
	opacity: 0!important
}

footer .col.footerLeftColiseum .foo .digi:before {
	position: absolute;
	top: -15px;
	right: 30%;
	content: "SOURCE";
	display: block
}

footer .col.footerLeftColiseum .foo .digi {
	position: relative;
	vertical-align: middle;
	display: inline-block
}

footer .col.footerLeftColiseum .foo #DigiCertClickID_Xx1TvclA,
footer .col.footerLeftColiseum .foo #DigiCertClickID_Xx1TvclASeal {
	vertical-align: top!important;
	position: relative!important;
	top: auto!important;
	right: auto!important;
	left: auto!important;
	bottom: auto!important;
	display: inline-block!important;
	margin: 0!important
}

footer .col.footerLeftColiseum .foo #DigiCertClickID_Xx1TvclA img,
footer .col.footerLeftColiseum .foo .txtFooter .tec .digi span {
	display: none!important
}

footer .col.footerLeftColiseum .foo #DigiCertClickID_Xx1TvclA span a {
	font-size: 0!important;
	width: 55px!important;
	height: 40px!important;
	display: none!important
}

footer .col.footerLeftColiseum .foo #DigiCertClickID_Xx1TvclA {
	height: 41px;
	margin: 12px 0 0
}

footer .socialMedia .list-inline {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    margin-left: 10px;
}
footer .socialMedia {
    display: block;
    margin-top: 50px;
}
footer .socialMedia h3 {
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
}

footer li.list-inline-item {
    display: inline-block;
    padding: 0 10% 0 0;
}

footer .ico-facebook {
    content: "";
    background: url(/arquivos/icon-facebook--220920.png) 0 no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
}

footer .ico-instagram {
    content: "";
    background: url(/arquivos/icon-insta-220920.png) 0 no-repeat;
    height: 25px;
    display: inline-block;
    width: 25px;
}
footer .ico-youtube{
    content: "";
    background: url(/arquivos/icon-youtube-221012.png) 0 no-repeat;
    height: 25px;
    display: inline-block;
    width: 25px;
}

.footerRightColiseum .email a:hover {
	text-decoration: underline;
}

/* .footerRightColiseum .email a:before {
	content: "";
	    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -348px -289px no-repeat;
	height: 16px;
	display: inline-block;
	width: 35px;
	background-size: 380px;
	vertical-align: sub;
} */
.footerRightColiseum .email {
    margin: 20px 0;
    font-size: 13px;
    font-weight: 700;
}
.footerRightColiseum .email b {
    display: inline-block;
    margin-right: 5px;
    font-weight: 700;
}

.footerRightColiseum .tiendas a:hover {
	text-decoration: underline;
}

.footerRightColiseum .tiendas a:before {
	content: "";
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -351px -211px no-repeat;
    height: 25px;
	display: inline-block;
	width: 35px;
	background-size: 380px;
	vertical-align: sub;
}

.footerLeftColiseum .pagosColiseum {
	margin: 33px 0;
	padding: 11px 0;
	border-top: solid 1px #5d5d5d;
	width: 92%
}


.pagosColiseum .footer-logo-desk{
	display: block;
}

.pagosColiseum .footer-logo-mobil{
	display:none;
}

 @media screen and (max-width: 550px){
	.pagosColiseum .footer-logo-desk{
		display: none;
	}

	.pagosColiseum .footer-logo-mobil{
		display:block;
	}

}

 @media screen and (max-width: 320px){
	.pagosColiseum .footer-logo-mobil img{
		width: 100%;
	}
}



footer .col.footerRightColiseum {
	width: 27%;
	padding: 4% 4%;
}

.footerRightColiseum .pagosColiseum{
	background-color: #F9F9F9;
	padding: 20px 0;
    display: inline-block;
}

.footerRightColiseum .pagosColiseum .title {
	font-weight: bold;
	font-size: 16px; 
	text-align: center;
	margin: 0px 0 20px 0;
	display: block;
}

.footerRightColiseum .email {
    margin: 20px 0;
    font-size: 13px;
}

.footerRightColiseum .tiendas {
    margin: 20px 0;
    font-size: 14px;
    font-weight: bold;
}

//Form azul suscribe

.row.module.suscribete {
	margin: 0;
}

.row.module.suscribete .formulario-izquierda {
	display: inline-block;
	width: 50%;
}

.row.module.suscribete .formulario-derecha {
	display: inline-block;
	width: 50%;
}

.row.module.suscribete .frmMasterDataMini {
	padding: 3% 8%;
	background: #000000;
	margin: 0;
	position: relative;
	z-index: 1
}

.row.module.suscribete .frmMasterDataMini .formulario-derecha .newsletter-client-email.error {
	border: 1px solid red;
}

.row.module.suscribete .form-check-label.terminos_text {
	font-size: 11px;
}

.row.module.suscribete .formulario-izquierda h3 {
	font-size: 35px;
	font-weight: 600;
}

.row.module.suscribete .formulario-izquierda .tit-susc-footer {
	font-size: 35px;
	font-weight: 600;
}

.row.module.suscribete .formulario-derecha .sub, .row.module.suscribete .formulario-izquierda p {
    font-weight: 600;
    font-size: 14px;
}

.row.module.suscribete input.newsletter-client-email {
	width: 60%;
	height: 40px;
	padding: 0 0 0 18px;
	border: 0;
}

.row.module.suscribete input.btn-ok.newsletter-button-ok {
	width: 33%;
	color: #fff;
	height: 40px;
	background: #000;
	border: 1px solid #FFF;

}

.row.module.suscribete .form-check {
	margin: 10px 0 0 0;
}

.row.module.suscribete .form-check-label.terminos_text .terminos_link {
    text-decoration: underline;
    color: #fff;
}

.frmMasterDataMini .formulario-derecha label.newsletter-client-email-error {
	display: none!important;
}

.row.module.suscribete label#terminos-error {
	font-size: 0
}

.row.module.suscribete label#terminos-error:before {
	content: "*";
	color: red;
	font-size: 15px
}

//Lightbox

#popup {
	background: #fff;
	padding: 35px 40px;
	display: none;
	border: 1px solid #d8d8d8
}

#popup i {
	color: #27ae60;
	font-size: 30px;
	display: inline-block;
	margin: 0 10px 0 0;
	vertical-align: middle
}

#popup p {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	color: #434040;
	vertical-align: middle;
	margin: 0 50px 0 0
}

#popup .btn.close {
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	vertical-align: middle;
	margin: 0 20px 0 0;
	text-transform: uppercase;
    padding: 11px 20px
}

#popup .btn.checkout {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	text-align: center;
	font-size: 14px;
	width: 170px;
	padding: 12px 0;
	margin: auto;
	text-transform: uppercase;
	background: #000;
	color: #fff
}

#popup .btn.checkout:hover {
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	background: #af0a0a
}

//homePopup

.homePopup {
	display: none;
	position: relative;
	z-index: 1000;
	padding-top: 0;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	background-color: transparent;
	-webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
	height: auto!important;
}

.homePopup .imagen-desktop div.contenido {
	text-align: center;
	/* padding:80px 0 0; */
	/*width: 100%;*/
	margin: 0;
}

.homePopup .imagen-desktop .contenido h4 {
	font-weight: 700;
	color: #000;
	margin: 0!important
}

.homePopup .imagen-desktop .contenido form {
	width: 80%;
	margin: 0 auto 5px;
	padding: 0
}

.homePopup .imagen-desktop .contenido input[type="text"] {
	display: block;
	width: 100%;
	margin: 5px 0 0;
	height: 28px;
	padding: 0 0 0 6px;
	border: 1px #000 solid
}

.homePopup .imagen-desktop .terminos .form-check label {
	font-size: 10px
}

.homePopup .imagen-desktop .contenido form .btn-popup {
	background: #000;
	border: none;
	padding: 8px 15px;
	color: #fff;
	height: 40px;
	width: 40%;
	text-transform: uppercase;
	margin-bottom: 10px
}

.homePopup .imagen-desktop .terminos {
	margin: 10px 22px 12px;
}

.homePopup .imagen-desktop div.contenido-conf {
	display: none;
	width: 61%;
	margin: 80px auto
}

.homePopup .imagen-desktop div.contenido-conf img {
	width: 100%
}

.popup-body .contenido p {
	color: #000;
	font-size: 12px;
	font-weight: 600;
	display: block
}

.homePopup .imagen-desktop .contenido .middle {
	width: 47%;
	display: inline-block;
	position: relative;
}

.homePopup .imagen-desktop .contenido .middle.left {
	float: left;
	margin-right: 4px
}

.homePopup .imagen-desktop .contenido .middle.cm:after {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f073";
	position: absolute;
	top: 35%;
	right: 0;
}

.homePopup .imagen-desktop .contenido p.terminos {
	font-size: 10px;
	line-height: 1
}

#homepopup .popup-body h2,
#homepopup .popup-body h4 {
	color: #2D5AA3;
	font-weight: 700;
	font-size: 16px;
	margin: 0
}

#homepopup a.terminos_link {
	color: #000
}

.homePopup ::placeholder {
	color: #000
}

.homePopup .imagen-desktop .contenido input[type="date"] {
	display: block;
	width: 100%;
	margin: 5px 0 0;
	height: 28px;
	padding: 0 0 0 6px;
	border: 2px #000 solid
}

.homePopup .popup-izquierda-mobil {
	display: none;
}

.homePopup .popup-izquierda-pc,
.homePopup .popup-izquierda-mobil {
	float: left;
	width: 43%;
	height: auto;
	padding: 10% 0;
	top: 0;
	background: #000;
}

.homePopup .popup-derecha {
	width: 57%;
	display: inline-block;
	padding: 4% 0 0 0;
}

.homePopup .popup-derecha label#cumple-error {
	display: none!important;
}


#homePopupReparto .imagen-mobil {
	display: none;
}

.homePopup .imagen-desktop .contenido input[type="date"]::before {
	color: #fff;
	content: attr(placeholder) ": "
}

.homePopup .imagen-desktop .contenido input[type="date"]:focus::before {
	content: ""!important
}

.popup-content {
	background-color: #fefefe;
	margin: auto;
	border: 1px solid #888;
	width: 100%;
	max-width: 920px;
	position: relative;
}

.popup-content.adi {
	max-width: 987px;
	padding: 10px 15px
}

.close-head {
	top: 29px;
	padding: 3px 13px 7px 0;
	text-align: right;
	position: absolute;
	z-index: 19;
	right: 13px;
	/* width:28%; */
	/* background:url(https://coliseum.vteximg.com.br/arquivos/X-off2.png) no-repeat; */
}

.popup-body {
	/*width: 100%;*/
	overflow: overlay;
	/* background:url(https://coliseum.vteximg.com.br/arquivos/fondopopuphome_new.png) no-repeat; */
	height: auto;
}

.popup-body h1 {
	color: #2D5AA3;
	font-weight: 700;
	font-size: 18px;
	margin: 11px 0
}

.popup-body h2,
.popup-body h4 {
	color: #2D5AA3;
	font-size: 28px;
	padding: 25px;
}

.popup-body p {
	color: #000;
	font-size: 19px;
	line-height: 18px;
	margin: 0;
	font-weight: 100
}

.popup-body .imagen-desktop {
	display: block;
}

.popup-body .imagen-desktop img {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.popup-content .fin {
	background: #fff;
	background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.81), #fff);
	background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.81), #fff);
	background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.81), #fff);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.81), #fff);
	height: 50px;
	width: 100%;
	position: relative;
	margin-top: -50px
}

.closePopup {
	margin: 0;
	padding: 0 8px 0 0;
	line-height: .7;
	color: #df1e1e;
	font-weight: 400;
	font-size: 27px;
}

.closePopup:hover,
.closePopup:focus {
	text-decoration: none;
	cursor: pointer
}

.ks-cboxtags {
	width: 103%;
}

ul.ks-cboxtags li {
	display: inline-block;
}

ul.ks-cboxtags li label {
	display: inline-block;
	background-color: rgba(255, 255, 255, .9);
	color: #adadad;
	margin: 3px 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: all .2s;
}

ul.ks-cboxtags li label {
	/* margin-left: 4px; */
	padding: 15px 1px;
	cursor: pointer;
	background: #ededed;
	color: #ababab;
	width: 104px;
	font-size: 12px;
	display: inline-block;
	text-align: center;
	height: 40px;
	vertical-align: middle;
	margin-right: 3px;
	line-height: 1;
	align-items: center;
	box-sizing: border-box;
}

ul.ks-cboxtags li label::after {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-weight: 900;
	font-size: 12px;
	transition: transform .3s ease-in-out;
	font: normal normal normal 14px/1 FontAwesome;
	line-height: 1;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label::after {
	content: "\f00c";
	transform: rotate(-360deg);
	transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label {
	background-color: #0e84db;
	color: #fff;
	transition: all .2s;
	padding: 12px 0;
}

ul.ks-cboxtags li input[type="checkbox"] {
	display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

ul.ks-cboxtags input {
	display: none
}

ul.ks-cboxtags li:nth-child(5) label {
	margin-left: 0;
}

.regalo-perfecto .container-text li{
    display: inline-block;
    width: 22%;
    margin-top: 10px;
}

.regalo-perfecto .btn-open-popup {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    width: 23%;
    left: 38%;
    display: block;
    bottom: 0;
    background: #000;
    color: #fff;
    font-size: 11px;
    z-index: 3;
    padding: 8px;
    border-radius: 8px 8px 0 0;
    transition: all ease 1s;
}

.regalo-perfecto .btn-open-popup.active {
    bottom: 56%;
    transition: all ease 1s;
}

.regalo-perfecto .container-all {
    bottom: 0;
    position: fixed;
    background: #fff;
    height: 0;
    text-align: center;
    transition: all ease 1s;
}

.regalo-perfecto .container-all.active {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    display: block;
    bottom: 0px;
    background: #fff;
    z-index: 3;
    width: 97%;
    -webkit-transition: all .8s;
    transition: all ease 1s;
    height: 56%;
}

.regalo-perfecto .fondo-oscuro.active {
    opacity: 0.5;
    visibility: visible;
    background-color: #000;
    position: fixed;
    top: 0px; 
    right: 0px;
    bottom: 0px; 
    left: 0px;
    z-index: 2;
}

.regalo-perfecto .boton-verde {
    color: green;
    position: absolute;
    bottom: 15px;
    z-index: 1;
    left: 25%;
    background: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 1px green;
}

.regalo-perfecto .boton-verde {
    color: green;
    position: absolute;
    bottom: 15px;
    z-index: 1;
    left: 30%;
    background: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 1px green;
    font-size: 14px;
}

.regalo-perfecto .boton-rojo {
    color: red;
    position: absolute;
    bottom: 15px;
    z-index: 1;
    left: 30%;
    background: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    border: solid 1px red;
    font-size: 14px;
}

section.row.module.suscribete {
    background: #000;
    color: #fff;
    padding: 2% 10%;
}
section.row.module.suscribete .suscribete-izquierda {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}
section.row.module.suscribete .suscribete-izquierda .titulo {
    font-weight: bold;
    font-size: 20px;
}
section.row.module.suscribete .suscribete-izquierda .subtitulo {
    margin: 10px 0;
    font-size: 21px;
}
section.row.module.suscribete .suscribete-derecha {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}
section.row.module.suscribete .suscribete-derecha .boton {
		background: #fff;
		width: 62%;
		color: #000;
		padding: 14px 30px;
		cursor: pointer;
		font-size: 15px;
		text-align: center;
		font-weight: 700;
}
/* section.row.module.suscribete .suscribete-derecha .boton:after {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -111px -82px no-repeat;
    height: 18px;
    position: relative;
    display: inline-block;  
    width: 28px;
    right: -10px;
    background-size: 380px;
    vertical-align: sub;
} */
/********** HomeSuscribete ************/
.homesuscribete {
    display: none;
    position: relative;
    z-index: 1000;
    padding-top: 0;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    height: auto!important;
}

.homesuscribete .popup-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 100%;
    max-width: 920px;
    position: relative;
}

.homesuscribete .close-head {
    top: 29px;
    padding: 3px 13px 7px 0;
    text-align: right;
    position: absolute;
    z-index: 19;
    right: 13px;
}

.homesuscribete .popup-body {
    width: 100%;
    overflow: overlay;
    height: auto;
}

.homesuscribete .popup-body .imagen-mobil {
    display: none;
}

.homesuscribete .closePopup {
    margin: 0;
    padding: 0 8px 0 0;
    line-height: .7;
    color: #df1e1e;
    font-weight: 400;
    font-size: 27px;
}

.homesuscribete .closePopup:hover,
.homesuscribete .closePopup:focus {
    text-decoration: none;
    cursor: pointer
}

.homesuscribete .formulario-suscribete {
    padding: 1.5% 5%;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.homesuscribete .formulario-suscribete .boton {
    width: 100%;
    text-align: center;
}

.homesuscribete .formulario-suscribete .newsletter-button-ok {
    background: #000;
    color: #fff;
    border: 0;
    padding: 8px 60px;
    font-size: 18px;
}

.homesuscribete .formulario-suscribete label.error {
    display: none !important;
}

.homesuscribete .formulario-suscribete .error {
    border: solid 1px red;
}

.homesuscribete .formulario-suscribete .newsletter-name {
    width: 45%;
    margin: 0 12px 0 0;
    height: 30px;
    display: inline-block;
}

.homesuscribete .formulario-suscribete .newsletter-last-name {
    width: 45%;
    height: 30px;
    display: inline-block;
}

.homesuscribete .formulario-suscribete .newsletter-email {
    width: 94%;
    height: 30px;
    margin: 10px 0;
}

.homesuscribete .formulario-suscribete .titulo-principal {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}

.homesuscribete .formulario-suscribete .titulo-principal span {
    font-size: 44px;
    font-weight: bold;
}

.homesuscribete .formulario-suscribete .titulo-principal .completa-datos {
	font-size: 25px;
    font-weight: bold;
}

.homesuscribete .formulario-suscribete .newsletter-days {
	width: 28%;
	height: 28px;
	margin: 0 10px 0 0;
}

.homesuscribete .formulario-suscribete .newsletter-month {
	width: 28%;
	height: 28px;
	margin: 0 10px 0 0;
}

.homesuscribete .formulario-suscribete .newsletter-years {
	width: 29%;
	height: 28px;
}

.homesuscribete .formulario-suscribete .titulo-cumple {
    font-size: 17px;
    font-weight: 600;
    margin: 15px 0 10px;
}

.homesuscribete .formulario-suscribete .newsletter-sexo .sexo {
    margin: 0 8px;
    font-size: 15px;
}

.homesuscribete .formulario-suscribete .form-check {
    margin: 25px 0;
    font-size: 14px
}

.homesuscribete .formulario-suscribete .form-check .txt_check_tyc {
    text-decoration: underline;
}

.homesuscribete .formulario-suscribete .respuesta {
    margin: 25px 0;
    font-size: 15px
}

.fancybox-close {
	text-align: center;
	text-decoration: none;
	font-size: 0;
	position: absolute;
	top: 10px;
	right: 30px;
	cursor: pointer;
	z-index: 8040
}

.fancybox-close:before {
	content: "\f00d";
	font: normal normal normal 25px/1 FontAwesome;
	display: block;
	color: #fff;
	position: absolute;
	left: -5px;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 140;
	background: rgba(0, 0, 0, 0.5)
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0
}
/********** Fin HomeSuscribete ************/

.popupCookies {
	position: fixed;
    bottom: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding: 38px 0;
    background: rgba(34,34,34,0.8);
}

.popupCookies .popup-content {
	max-width: 76%; 
	border: 0;
    background: rgba(34,34,34,0);
}

.popupCookies .contenido {
	width: 84%;
	color: #fff;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}

.popupCookies .contenido a {
	color: #fff;
	text-decoration: underline;
}

.popupCookies .close-head {
    position: relative;
    top: auto;
    width: 15%;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.popupCookies .closePopup {
	background: red;
    color: #fff;
    padding: 5px 45px;
    font-size: 17px;
}

.popupCookies .closeCookies {
	background: red;
    color: #fff;
    padding: 5px 34px;
    border: red;	
    cursor: pointer;
}




@media (min-width:280px) and (max-width:1050px) {

	footer {
	    margin: 0
	}

	footer {
	    height: auto
	}
	footer .col.footerLeftColiseum {
		width: 96%;
		padding: 40px 2% 0
	}
	footer .col.footerRightColiseum {
		width: 100%;
		box-sizing: border-box;
	}

  footer .col.footerLeftColiseum .newsletterVtex .container form .formulario .newsletter .newsletter-client-email {
    width: 63%
  }
  footer .col.footerLeftColiseum .newsletterVtex .container form .formulario .newsletter .btn-ok.newsletter-button-ok {
    width: 32%;
    padding: 0
  }
  footer .col.footerLeftColiseum .socialColiseum ul.list-phone-email {
    width: 100%;
    display: block;
    padding: 8px 0 30px 0;
  }
  footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum ul li.pc {
    display: none
  }
  footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum ul li.mobil {
    display: block
  }
  footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum {
      width: 96%;
      padding: 0 0 0 2%;
  }
  footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum h4.mb {
	margin: 0;
  }  
  footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum {
    width: 96%;
    border-top: solid 1px #5d5d5d;
    border-bottom: solid 1px #5d5d5d;
  }
  footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum {
    width: 96%;
    border-top: solid 1px #5d5d5d;
  }
  footer .col.footerLeftColiseum .socialAyudaContacto {
    border-bottom: 0;
    padding: 0;
    margin: 0
  }
  footer .col.footerLeftColiseum .socialAyudaContacto .superior {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	padding: 15px 2%;
  }
  footer .col.footerLeftColiseum .socialAyudaContacto .inferior {
    width: 50%;
    display: inline-block;  	
  }  
  footer .col.footerLeftColiseum .socialColiseum li.list-inline-item {
    padding: 6% 12% 6% 0;
  }
  footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum .list-phone-email .phone a {
    font-size: 15px
  }
  footer .col.footerLeftColiseum .newsletterVtex .container form p.sub {
    font-size: 12px
  }
  footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum ul li {
    font-size: 10px
  }

  footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum h4 {
    margin: 15px 2%;
  }
  footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum h4 {
    margin: 15px 2%;
  }
  footer .col.footerLeftColiseum .socialAyudaContacto .pagosColiseum {
    width: 100%;
    margin: 0;
    padding: 4% 5% 8%
  }
  footer .col.footerLeftColiseum .socialAyudaContacto .pagosColiseum .title {
    width: 100%;
    display: block;
    text-align: left
  }
  .pagosColiseum img {
	    width: 87%;
	    padding: 10px 0 0 0;
  } 

  	.socialAyudaContacto .wHoverNav {
	    display: none;
	    padding: 0px 5% 5%;  
	}

	.socialAyudaContacto .contactoColiseum .mb:before {
		display: inline-block;
	    content: "\f0dd";
	    font: normal normal normal 12px/1 FontAwesome;
	    float: right;
	    margin: -2px 0 0 5px;
	  }
	  .socialAyudaContacto .ayudaColiseum .mb:before {
		display: inline-block;
	    content: "\f0dd";
	    font: normal normal normal 12px/1 FontAwesome;
	    float: right;
	    margin: -2px 0 0 5px;
	  }



	//lightbox

	#popup {
		padding: 20px;
		margin: 0 20px
	}
	#popup i {
		margin: 0 0 20px;
		display: block;
		text-align: center
	}
	#popup p {
		margin: 0
	}
	#popup .btn.close {
		display: block;
		margin: 10px 0;
		text-align: center;
		padding: 10px 0 15px
	}
	#popup .btn.checkout {
		width: 100%;
		display: block
	}

	//Form Azul suscribe

	.row.module.suscribete .frmMasterDataMini {
	    padding: 10% 6%;
	    text-align: center;
	}
	.row.module.suscribete .formulario-izquierda {
	    width: 100%;
	}

	.row.module.suscribete .formulario-derecha {
	    width: 100%;
	}

	.row.module.suscribete .form-check-label.terminos_text {
	    font-size: 11px;
	}

	
	.row.module.suscribete input.btn-ok.newsletter-button-ok {
	    width: 29%;
	    font-size: 11px;
	}
	.row.module.suscribete input.newsletter-client-email {
	    width: 63%;
	    font-size: 12px;
	}

	/* homepopup */
	.homePopup .popup-derecha {
	    width: 100%;
	    height: auto;
	}
	.homePopup .imagen-desktop div.contenido {
	    padding: 0;
	}
	.homePopup .popup-izquierda-pc {
	    display: none;
	}
	.homePopup .popup-izquierda-mobil {
	    display: block;
	    width: 100%;
	    padding: 13% 0 0;
	    background: #fff;
	}
	.popup-derecha h2 {
	    display: none;
	}
	.homePopup .imagen-desktop .contenido .middle.cm:after {
	    right: 5%
	}

	#homePopupReparto .imagen-desktop {
	    display: none;
	}
	#homePopupReparto .imagen-mobil {
	    display: block;
	}

	.homePopup .imagen-desktop .contenido input[type="text"] {
	    font-size: 14px;
	    padding: 5px 4%;
	    width: 91.5%;
	    margin: 10px 0 0 0;
	}


}

@media (max-width: 768px) {

	.homePopup .imagen-desktop .contenido .middle {
	    width: 100%;
	    display: block
	  }
	  .homePopup .imagen-desktop .contenido .middle.left {
	    float: none
	  }
	  .homePopup .imagen-desktop .contenido form .btn-popup {
	    width: 95%;
	    font-size: 16px
	  }
	  .homePopup .imagen-desktop .terminos .form-check label {
	    font-size: 11px;
	    color: #000;
	  }
	  .popup-body .contenido img {
	    margin-top: 0;
	  }
	  .homePopup .imagen-desktop .contenido form {
	    width: 88%
	  }
	  .fancybox-close {
	    top: 6px;
	    right: 26px
	  }
	  .close-head {
	    width: 64%
	  }
	  .homePopup {
	    padding-top: 0
	  }

	  .popup-body {
	    overflow: overlay;
	  }
	  .popup-content {
	    width: 300px
	  }
	  .popup-body h2,
	  .popup-body h4 {
	    font-size: 22px
	  }
	  .regalo-perfecto .container-text li {
	    width: auto;
	  }	  
	  .regalo-perfecto .slick-slide img {
	    width: 68%;
	    margin: 0 auto;
	  }    	  
	  .regalo-perfecto .boton-verde, .regalo-perfecto .boton-rojo {
	    left: 37%;	  
	  }
	  .regalo-perfecto .btn-open-popup {
    	left: 23%;
    	width: 50%
      }
	section.row.module.suscribete {
	    padding: 6% 10%;
	} 
	section.row.module.suscribete .suscribete-izquierda {
	    width: 100%;
	}	
	section.row.module.suscribete .suscribete-derecha {
	    width: 100%;
	}	
	section.row.module.suscribete .suscribete-izquierda .titulo {
	    font-size: 16px;
	    text-align: center;
	}	
	section.row.module.suscribete .suscribete-izquierda .subtitulo {
	    font-size: 18px;
	    text-align: center;
	}
	section.row.module.suscribete .suscribete-derecha .boton {
		margin: 0 auto;
		margin-top: 10px;
		padding: 10px 30px;	    
	}	
	.popupCookies .close-head {
		width: 100%;
		text-align: center;	
		top: 16px;
	}
	.popupCookies .contenido {
		width: 100%;
		text-align: center;
	}
	.popup-body .imagen-desktop img {
		display: none;
	}
	.homesuscribete .formulario-suscribete {
	    width: 90%;
	}
	.homesuscribete .formulario-suscribete .titulo-principal {
	    font-size: 18px;
	}
	.homesuscribete .formulario-suscribete .titulo-principal span {
	    font-size: 30px;
	}	
	.homesuscribete .formulario-suscribete .newsletter-email {
	    width: 96%;
	}			
}

@media (max-width: 1050px) {
	footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum h3,
	footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum h3,
	footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum h3{
		margin: 6px 0;
	}
}

.footer-copy{
	width: 75%;
	display: block;
	text-align: justify;
	font-size: 12px;
	margin: 0 auto;
}
@media (max-width: 1050px) {
	.footer-copy{
		width: 85%;
	}
}
