.container{
	display: block;
	max-width: 1270px;
	margin: 0 auto;
	position: relative;
	@media screen and (max-width: 1270px){
	    max-width: 100%;
	    padding: 0 10px;
	}
}


.slider img {
	width: 100%;
}



.no-scroll {
	position: fixed;
	width: 100%;
	overflow: scroll
}

.hide {
	display: none 
}

.hiden {
	display: none !important
} 

.center {
	width: 97%;
	margin: 0 auto;
	position: relative;
}

.middle .center {
	text-align: center!important;
}

#clear {
	clear: both
}

#ajaxBusy {
	height: 2px;
	position: absolute;
	background: #000;
	float: left;
	width: 100%;
	z-index: 100;
	margin: 0;
	top: 0;
	left: 0
}

#ajaxBusy>p {
	font-size: 0;
	display: block;
	height: 2px;
	background-image: -moz-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
	position: relative;
	overflow: hidden
}

#ajaxBusy>p:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	overflow: hidden
}

#ajaxBusy>p {
	background-color: #000
}

.load>p:after {
	-webkit-animation: none;
	background-image: none
}

/* MOdal mi cuenta*/

#vtexIdUI-global-loader {
	background: #000000c2!important;
	z-index: 1000!important;
}

.vtexIdUI {
	border-radius: 0!important;
	box-shadow: none!important;
	border: 0!important
}

.vtexIdUI .modal-footer,
.vtexIdUI .modal-header {
	padding: 9px 15px 0!important;
	background: #fff!important;
	border-bottom: none!important;
	border-top: none!important
}

.vtexIdUI h4 {
	font-size: 11px!important;
	text-transform: uppercase;
	line-height: .9rem!important;
	font-weight: 600!important;
	color: #888;
	margin: 30px 0 0!important
}

.vtexIdUI .modal-body {
	background: #fff
}

.vtexIdUI .btn {
	border-radius: 1px!important;
	box-shadow: none!important;
	background-image: linear-gradient(#f5f5f5, #f5f5f5)!important;
	background-color: #f5f5f5!important;
	color: #4a4949!important;
	text-shadow: none!important;
	border-left: none!important;
	border-right: none!important;
	border-top: none!important;
	border-bottom: 3px solid #ada8a838!important
}

.vtexIdUI .btn-large {
	font-size: 13px!important
}

.vtexIdUI #vtexIdUI-google-plus:active,
.vtexIdUI #vtexIdUI-google-plus:focus,
.vtexIdUI #vtexIdUI-google-plus:hover,
.vtexIdUI .btn-success.active,
.vtexIdUI .btn-success.disabled,
.vtexIdUI .btn-success:active,
.vtexIdUI .btn-success:focus,
.vtexIdUI .btn-success:hover,
.vtexIdUI .btn-success[disabled],
.vtexIdUI .btn.active,
.vtexIdUI .btn.disabled,
.vtexIdUI .btn:active,
.vtexIdUI .btn:focus,
.vtexIdUI .btn:hover,
.vtexIdUI .btn[disabled] {
	color: #444!important;
	background-color: #dedede!important;
	background-image: none!important;
	outline: 0
}

.vtexIdUI input[type=text],
.vtexIdUI input[type=password],
.vtexIdUI input[type=email] {
	border-radius: 0!important
}

.vtexIdUI .vtexid-icon-lock.bottom-icon {
	z-index: 99999!important;
	box-shadow: none!important;
	font-size: 20px!important;
	text-shadow: none!important;
	right: 10px!important;
	bottom: 10px!important;
	color: #d8d8d8!important;
	background: 0 0!important;
	padding: 0!important
}

.vtexIdUI .modal-header .close {
	font-size: 2rem!important;
	color: #333!important;
	background: 0 0!important
}

.vtexIdUI .vtexId-link,
.vtexIdUI .vtexId-link:hover,
.vtexIdUI a,
.vtexIdUI label {
	font-size: 11px!important
}

.vtexIdUI .modal-header .close:hover {
	background: 0 0;
	color: #b94a48
}

.vtexIdUI #vtexIdUI-google-plus {
	font-weight: 400!important;
	min-height: 45px;
	color: #da573b!important;
	border-color: #e6beb7!important
}

.vtexIdUI #vtexIdUI-google-plus p {
	color: #da573b
}

.vtexIdUI #vtexIdUI-facebook {
	color: #fff;
	text-shadow: none;
	box-shadow: none;
	border-spacing: 3px;
	border-color: #37487d;
	background: #4960a5;
	min-height: 45px
}

.vtexIdUI label {
	text-transform: uppercase;
	color: #999
}

.vtexIdUI a:hover {
	font-size: 11px
}

.vtexIdUI .modal-footer {
	padding-bottom: 30px!important
}


/* */

.mCustomScrollbar {
	-ms-touch-action: pinch-zoom;
	touch-action: pinch-zoom
}

.mCustomScrollbar.mCS_no_scrollbar,
.mCustomScrollbar.mCS_touch_action {
	-ms-touch-action: auto;
	touch-action: auto
}

.mCustomScrollBox {
	position: relative;
	overflow: hidden;
	height: 100%;
	max-width: 100%;
	outline: none;
	direction: ltr
}

.mCSB_container {
	width: auto;
	height: auto
}

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
	margin-right: 0
}

.mCS-dir-rtl>.mCSB_inside>.mCSB_container {
	margin-right: 0;
	margin-left: 30px
}

.mCS-dir-rtl>.mCSB_inside>.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
	margin-left: 0
}

.mCSB_scrollTools {
	position: absolute;
	width: 16px;
	height: auto;
	left: auto;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50
}

.mCSB_outside+.mCSB_scrollTools {
	right: -26px
}

.mCS-dir-rtl>.mCSB_inside>.mCSB_scrollTools,
.mCS-dir-rtl>.mCSB_outside+.mCSB_scrollTools {
	right: auto;
	left: 0
}

.mCS-dir-rtl>.mCSB_outside+.mCSB_scrollTools {
	left: -26px
}

.mCSB_scrollTools .mCSB_draggerContainer {
	position: absolute;
	top: 0;
	left: -10px;
	bottom: 0;
	right: 0;
	height: auto;
	margin: 8px 0
}

.mCSB_scrollTools a+.mCSB_draggerContainer {
	margin: 20px 0
}

.mCSB_scrollTools .mCSB_draggerRail {
	width: 4px;
	height: 100%;
	margin: 0 auto;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px
}

.mCSB_scrollTools .mCSB_dragger {
	cursor: pointer;
	width: 100%;
	height: 30px;
	z-index: 1
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	position: relative;
	width: 4px;
	height: 100%;
	margin: 0 auto;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	text-align: center
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
	width: 12px
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
	width: 8px
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
	display: block;
	position: absolute;
	height: 20px;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer
}

.mCSB_scrollTools .mCSB_buttonDown {
	bottom: 0
}

.mCSB_horizontal.mCSB_inside>.mCSB_container {
	margin-right: 0;
	margin-bottom: 30px
}

.mCSB_horizontal.mCSB_outside>.mCSB_container {
	min-height: 100%
}

.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
	margin-bottom: 0
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	width: auto;
	height: 16px;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0
}

.mCustomScrollBox+.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	bottom: -26px
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal a+.mCSB_draggerContainer {
	margin: 0 20px
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
	width: 100%;
	height: 2px;
	margin: 7px 0
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
	width: 30px;
	height: 100%;
	left: 0
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
	width: 100%;
	height: 4px;
	margin: 6px auto
}

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
	height: 12px;
	margin: 2px auto
}

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
	height: 8px;
	margin: 4px 0
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
	display: block;
	position: absolute;
	width: 20px;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
	left: 0
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
	right: 0
}

.mCSB_container_wrapper {
	position: absolute;
	height: auto;
	width: auto;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-right: 30px;
	margin-bottom: 30px
}

.mCSB_container_wrapper>.mCSB_container {
	padding-right: 30px;
	padding-bottom: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.mCSB_vertical_horizontal>.mCSB_scrollTools.mCSB_scrollTools_vertical {
	bottom: 20px
}

.mCSB_vertical_horizontal>.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	right: 20px
}

.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden+.mCSB_scrollTools.mCSB_scrollTools_vertical {
	bottom: 0
}

.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden+.mCSB_scrollTools~.mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCS-dir-rtl>.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	right: 0
}

.mCS-dir-rtl>.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	left: 20px
}

.mCS-dir-rtl>.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden+.mCSB_scrollTools~.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	left: 0
}

.mCS-dir-rtl>.mCSB_inside>.mCSB_container_wrapper {
	margin-right: 0;
	margin-left: 30px
}

.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden>.mCSB_container {
	padding-right: 0
}

.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden>.mCSB_container {
	padding-bottom: 0
}

.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
	margin-right: 0;
	margin-left: 0
}

.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside>.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
	margin-bottom: 0
}

.mCS-autoHide>.mCustomScrollBox>.mCSB_scrollTools,
.mCS-autoHide>.mCustomScrollBox~.mCSB_scrollTools {
	opacity: 0
}

.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #eaebec
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #343a40
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
	background-image: url(mCSB_buttons.png);
	background-repeat: no-repeat
}

.mCSB_scrollTools .mCSB_buttonUp {
	background-position: 0 0
}

.mCSB_scrollTools .mCSB_buttonDown {
	background-position: 0 -20px
}

.mCSB_scrollTools .mCSB_buttonLeft {
	background-position: 0 -40px
}

.mCSB_scrollTools .mCSB_buttonRight {
	background-position: 0 -56px
}

.mCS-light-2.mCSB_scrollTools .mCSB_draggerRail {
	width: 4px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px
}

.mCS-light-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 4px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px
}

.mCS-light-2.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.mCS-light-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
	width: 100%;
	height: 4px;
	margin: 6px auto
}

.mCS-light-2.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.85)
}

.mCS-light-2.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-2.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.9)
}

.mCS-light-2.mCSB_scrollTools .mCSB_buttonUp {
	background-position: -32px 0
}

.mCS-light-2.mCSB_scrollTools .mCSB_buttonDown {
	background-position: -32px -20px
}

.mCS-light-2.mCSB_scrollTools .mCSB_buttonLeft {
	background-position: -40px -40px
}

.mCS-light-2.mCSB_scrollTools .mCSB_buttonRight {
	background-position: -40px -56px
}

.mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail {
	width: 4px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}

.mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 6px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}

.mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_draggerRail {
	width: 100%;
	height: 4px;
	margin: 6px 0
}

.mCS-light-thick.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
	width: 100%;
	height: 6px;
	margin: 5px auto
}

.mCS-light-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.85)
}

.mCS-light-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.9)
}

.mCS-light-thick.mCSB_scrollTools .mCSB_buttonUp {
	background-position: -16px 0
}

.mCS-light-thick.mCSB_scrollTools .mCSB_buttonDown {
	background-position: -16px -20px
}

.mCS-light-thick.mCSB_scrollTools .mCSB_buttonLeft {
	background-position: -20px -40px
}

.mCS-light-thick.mCSB_scrollTools .mCSB_buttonRight {
	background-position: -20px -56px
}

.mCS-light-thin.mCSB_scrollTools .mCSB_draggerRail {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.1)
}

.mCS-light-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 2px
}

.mCS-light-thin.mCSB_scrollTools_horizontal .mCSB_draggerRail {
	width: 100%
}

.mCS-light-thin.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
	width: 100%;
	height: 2px;
	margin: 7px auto
}