.head-top{
		display: block;
		background-color: black;
		text-align: center;
		color: white;
		font-size: 13px;
		font-weight: 500;
		/* padding: 8px 0; */
		.box{
			position: relative;
			display: block;
			margin: 0 auto;
			width: 100%;
			@media screen and (max-width: 730px){
				width: 100%;
			}
			span{
				position: relative;
				font-weight: 700;
				/* &:before{
					content: '';
					background: url('/arquivos/icon-delivery.png') no-repeat;
					width: 28px;
					height: 16px;
					display: inline-block;
				} */
			}
			a{
				color: white;
				display: inline-block;
				margin-left: 1%;
				text-decoration: underline;
				font-weight: 700;
			}
		}
		.owl-slider-nanobar{
			.owl-item{
				background-color: #000;

				a{
					display: block;
					margin-bottom: 1px;
					text-decoration: none;
					b{
						text-decoration: underline;
					}
				}
				li{
					padding: 8px 5px;
				}
			}
		}
		.owl-dots{
			display: none;
		}
	}
header.header-v2{
	display: block;
	position: relative;
	&.fx{
		background-color: #fff;
		position:fixed;
		width:100%;
		top:0;
		left:0;
		z-index:140;
	}
	.menu_bar {
		display: none;
		@media screen and (max-width: 800px){
			display: block;
			position: absolute;
			//top: 15px; //sin nanobar
			//top: 55px; //con nanobar
			bottom:29px;
			left: 16px;
		}
		.bt-menu{
			@media screen and(max-width: 800px) {
				display: block;
				height: 25px;
				line-height: 25px;
			}
			&.active{
				background-color: rgba(255, 255, 255, 0.5);
				transition: 0.3s;
			}
		}
	}
	.menu_barclose {
		display: none;
		@media screen and (max-width: 800px){
		    display: inline-block;
		    width: 100%;
		    text-align: left;
		    margin-left: 20px;
		    margin-top: 0;
		    margin-bottom: 0;
			
		}
		&.logo{
			@media screen and (max-width: 800px){
				margin-left: 10%;
			}
		}
		&.bt-menuclose{
			@media screen and (max-width: 800px){
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	nav {
		background: #fff;
		z-index: 1000;
		max-width: 1270px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		@media screen and (max-width: 800px){
			background-color: rgba(255, 255, 255, .8);
			position: fixed;
			width: 100%;
			height: 100%;
			left: -50%;
			visibility: hidden;
			opacity: 0;
			top: 0;
			transition: 0.3s;
			overflow: hidden;
			z-index: -1;
		}
		ul.box-menu {
			list-style: none;
			padding: 0;
			margin: 0;
			position: relative;
			li {
				display: inline-block;
				@media screen and (max-width: 800px){
					text-align: left;
					width: 100%;
				}
				a {
					text-decoration: none;
					display: inline-block;
					padding: 15px 15px 15px 20px;
					color: #000;
					text-align: left;
					text-decoration: none;
				}
				&:hover {
					background: transparent;
				}
				span {
					margin-right: 10px;
				}
				.caret {
					position: relative;
					top: 3px;
					margin-left: 10px;
					margin-right: 0;
				}
				&.ingresar{
					display: none;
					@media screen and(max-width: 800px){
						display: block;
					}
					a{
						&.btn-ingresar{
							@media screen and(max-width: 800px){
								text-transform: capitalize;								
							}
							&:before{
								@media screen and(max-width: 800px){
								    content: "";
								    background: url(/arquivos/icon-login-v2.png) 0 0 no-repeat;
								    height: 21px;
								    /* display: block; */
								    left: 20px;
								    width: 26px;
								    position: absolute;
								    top: 13px;
								}
							}
							span{
								@media screen and(max-width: 800px){
									margin-left: 30px;
								}
							}
						}
					}
					
				}
				&.logeo2{
					display: none;
					&.show{
						@media screen and(max-width: 800px){
							display: block;
							border-bottom: 0;
						}
						a.btnsubmenu.sesion{
							@media screen and(max-width: 800px){
								position: relative;
								padding-left: 93px;
								text-transform: initial;
							}
							&:before{
								@media screen and(max-width: 800px){
									content : "Hola,";
									position: absolute;
									left: 45px;
								}
							}
							&:after{
							    content: "";
							    background: url(/arquivos/icon-login-v2.png) 0 0 no-repeat;
							    height: 21px;
							    left: 20px;
							    width: 26px;
							    position: absolute;
							    top: 13px;
							}
						}
					}
					.children{
						&.active{
							>li{
								a{
									background: none!important;
									font-weight: 400;
								}
							}
						}
					}
				}

			}
			.wHoverNav{
				display: none;
			}
			>li {
				border-bottom: 4px solid transparent;
				transition: 0.3s;
				@media screen and(max-width: 800px){
					border-top: 1px solid #EEE;
				}
				>a {
					text-transform: uppercase;
					font-size: 15px;
					font-weight: 600;
					text-align: center;
				}
				&:hover{
					border-bottom: 4px solid #94D0DE;
					transition: 0.3s;
					@media screen and(max-width: 800px){
						border-bottom: 4px solid transparent;
						transition: 0.3s;
					}
				}

			}
			li.submenu {
				.children {
					transition: 0.2s;
					background: #fff;
					position: absolute;
					/* display: none; */
					opacity: 0;
					visibility: hidden;
					z-index: 1000;
					left: 0;
					padding: 0px 15px 15px 30px;
					margin-top: 4px;
					border-top:1px solid #D9D9D9;
					left: 40%;
					transform: translate(-50%, 0);
					width: max-content;
					max-width: 100%;
					li {
						display: inline-block;
						vertical-align: top;
						overflow: hidden;
						margin-right: 10px;
						@media screen and (max-width: 800px) {
							display: block;
							box-sizing: border-box;
							padding: 10px 10px 10px 20px;
							border-top:1px solid #EEEEEE;
						}
						&:firts-child{
							background: red;
						}
						ul.subchildren,
						ul.subchildren li{
							a{
								text-decoration: none;
								font-weight: 400;
								text-transform: capitalize;
								&:hover{
									text-decoration: underline;
								}
								&.btn-closesubchildren,
								&.btn-closesubsubchildren{
									display: none;
									@media screen and (max-width: 800px){
										display: block;
										padding: 15px 15px 15px 20px;
										text-align: left;
										text-transform: uppercase;
										margin-left: 20px;
										font-weight: 700;
									}
									span{
										&.icon-arrow-down{
											@media screen and (max-width: 800px){
												position: absolute;
												left: 0px;
												margin-left: 20px;
												background: url(/arquivos/arrow-left-v2.png) no-repeat;
												height: 11px;
												margin-top: 2px;
												top: initial;
											}
										}
									}
								}
								&.tit_subsub_mn{
									text-decoration: none;
									font-weight: 700;
									text-transform: uppercase;
									background: url(/arquivos/arrow-right-v2.png) no-repeat 97% 2px!important;
									b{
										font-weight: 700;
									}
								}
								&.tit_tienda_noflechas{
									background: none!important;
									text-decoration: none;
									font-weight: 700!important;
									text-transform: uppercase!important;
								}
							}

						}						
						a {
							display: block;
							padding: 8px 0;
							font-size: 13px;
							font-weight: 400;
							text-decoration: none;
							font-weight: 400;
							@media screen and(max-width: 800px) {
								display: inherit;
								font-size: 15px;
								padding: 0;
							}
							b{
								@media screen and(max-width: 800px) {
									font-weight: 400!important;
									display: inline-block;
									vertical-align: middle;
								}
							}
							span {
								float: right;
								position: relative;
								top: 3px;
								margin-right: 0px;
								margin-left: 10px;
							}
							&.mn-marca-logo{
								height: 44px;
								display: block;
								line-height: 3;
								padding: 0;
								@media screen and(max-width: 800px) {
									height: 33px;
									line-height: 1.5;
									background-position: 97% center!important;
								}
								img{
									display: inline-block;
									vertical-align: middle;
								}

							}
						}
						>a{
							text-decoration: none;
							font-weight: 700;
							text-transform: uppercase;
							&:hover{
								text-decoration: underline;
							}
							b{
								font-weight: 700;
							}
						}
						&.line-right{
							border-right: 1px solid #D9D9D9;
							margin-right: 30px;
							a{
								span{
									&.icon-fire{
										display: inline-block;
										float: inherit;
										width: 14px;
										height: 14px;
										margin-left: 33px;
										margin-top: -2px;
										background: url('/arquivos/icon-fire-v2.png') no-repeat;
										@media screen and(max-width: 800px) {
											margin-top: -2px;
											margin-left: 10px;
										}
									}
									&.icon-reloj-v2{
										display: inline-block;
										float: inherit;
										width: 16px;
										height: 16px;
										margin-left: 5px;
										background: url('/arquivos/icon-time-oclock.png') no-repeat;
										@media screen and (max-width: 800px){
											margin-left: 7px;
										}
									}
									&.icon-exclusivo-v2{
										display: inline-block;
										float: inherit;
										width: 16px;
										height: 16px;
										margin-left: 13px;
										background: url('/arquivos/icon-exclusivo-home-v2.png') no-repeat;
									}
									&.icon-lonuevo-v2{
										display: inline-block;
										float: inherit;
										width: 16px;
										height: 16px;
										margin-left: 57px;
										background: url('/arquivos/icon-lo-nuevo-home-v2.png') no-repeat;
										@media screen and (max-width: 800px){
											margin-left: 62px;
										}
									}
									&.icon-ultima-talla-v2{
										display: inline-block;
										float: inherit;
										width: 16px;
										height: 16px;
										margin-left: 28px;
										background: url('/arquivos/icon-ultima-talla-home-v2.png') no-repeat;
										@media screen and (max-width: 800px){
											margin-left: 30px;
										}
									}
									&.icon-reposicion-stock-v2{
										display: inline-block;
										float: inherit;
										width: 16px;
										height: 16px;
										margin-left: 8px;
										background: url('/arquivos/icon-reposicion-stock-home-v2.png') no-repeat;
									}
								}
							}
						}
					}
					>li{
						padding-top: 15px;
						text-align: left;
					}
					a.btn-closechildren {
						display: none;
						span{
							&.icon-arrow-down{
								@media screen and (max-width: 800px) {
									position: absolute;
									left: 0px;
									margin-left: 20px;
									background: url(/arquivos/arrow-left-v2.png) no-repeat;
									height: 11px;
									margin-top: 2px;
								}

							}
						}
					}
					ul {
						display: inline-block;
						vertical-align: top;
						padding: 0 20px;
					}
					.subchildren,
					.subsubchildren {
						padding: 0 15px 0 0;
						margin: 0;
						@media screen and (max-width: 800px) {
							background: rgba(255,255,255,1);
							position: fixed;
							width: 100%;
							height: 100%;
							top: 0;
							transition: 0.3s;
							right: -50%;
							visibility: hidden;
							opacity: 0;
							padding: 0;
							
						}
						li {
							display: block;
							ul {
								display: block;
								padding: 0;
								margin: 0;
								width: 100%;
							}
							&.img-categoria{
								display: inline-block;
								text-align: center;
								margin: 40px auto 0 auto;
								position: relative;
								overflow: inherit;
								@media screen and (max-width: 800px) {
									width: auto;
									border: 0;
									margin-top: 10px;
								}
								a{
									transition: 0.3s;
									position: relative;
									left: 0;
									text-align: center;
									display: block;

									&:hover{
										transition: 0.3s;
										span{
											background: #484848;
											transition: 0.3s;
										}
									}
									span{
										transition: 0.3s;
										display: inline-block;
										background: #000;
										color: #fff;
										padding: 10px 18px;
										margin: 0 auto;
										position: absolute;
										left: 8%;
										bottom: 20px;
										top: initial;
										margin: 0 auto;
										right: 0;
										left: 0;
										text-align: center;
										width: 58%;
										@media screen and (max-width: 800px) {
											left: 3%;
										}
									}
								}

							}
							a{
								@media screen and (max-width: 800px) {
									background: none!important;
								}
							}
						}
						&.active{
							@media screen and (max-width: 800px) {
								transition: 0.3s;
								right: 0;
								visibility: visible;
								opacity: 1;
								z-index: 1;
							}
							.btn-closesubchildren,
							.btn-closesubsubchildren{
								@media screen and (max-width: 800px) {
									background: none;
								}
							}
							.menu_barclose{
								a{
									@media screen and (max-width: 800px) {
										background: none;

									}
									&:hover{
										text-decoration: none;
									}
									&.bt-menuclose{
										@media screen and (max-width: 800px) {
											padding: 10px 15px 15px 20px;
										}
									}
								}
							}

						}
					}
					&.active {
						@media screen and(max-width: 800px) {
							background-color: rgba(255, 255, 255 , 1);
							transition: 0.3s!important;
							right: 0;
							visibility: visible!important;
							opacity: 1!important;
							padding: 0;
							margin: 0;
							right: 0;
						}
						.menu_barclose{
							@media screen and(max-width: 800px) {
								width: auto;
								display: inline-block;
								position: absolute;
								right: 0;
								top: 0;
							}
							a.bt-menuclose{
								@media screen and(max-width: 800px) {
									padding: 10px 15px 15px 20px;
								} 
							}
						}
						>li{
							a{
								background: url(/arquivos/arrow-right-v2.png) no-repeat 97% 2px;
								right: 5px;
								i{
									display: inline-block;
									text-transform: uppercase;
									font-style: normal;
									font-weight: 600;
									margin-right: 5px;
									position: relative;
									margin-right: 20px;
									&:after{
										content:'·';
										position: absolute;
										top: -12px;
										font-size: 30px;
										margin: 0 6px;
										display: inline-block;
									}
								}
							}
						}
					}
					@media screen and(max-width: 800px){
						background-color: #fff;
						position: fixed;
						width: 100%;
						height: 100%;
						top: 0;
						transition: 0.3s;
						right: -50%;
						visibility: hidden;
						opacity: 0;
						transform: initial;
						left: initial;
					}
				}
				.icon-arrow-down{
					background: url(/arquivos/icon-mn-down.png) no-repeat;
					width: 10px;
					height: 10px;
					display: inline-block;
					margin-left: 8px;
					margin-right: 0;
					vertical-align: middle;
					transition: 0.3s;
					@media screen and(max-width: 800px){
						position: absolute;
						right: 30px;
						background: url(/arquivos/arrow-right-v2.png) no-repeat;
						height: 11px;
						margin-top: 2px;
					}
				}
				&:hover {
					.icon-arrow-down{
						background: url(/arquivos/icon-mn-up.png) no-repeat;
						transition: 0.3s;
						@media screen and(max-width: 800px){
							background: url(/arquivos/arrow-right-v2.png) no-repeat;
							transition: 0.3s;
						}
					}
					.children {
						/* display: block; */
						visibility: visible;
						opacity: 1;
						transition: 0.2s;
						@media screen and(max-width: 800px){
							visibility: hidden;
							opacity: 0;
						}
					}
				}
				>a {
					display: block;
					position: relative;
				}
				.op-menu-solo-img{
					@media screen and(max-width: 800px){
						display: none!important;
					}

				}
				.tit_submenu_movil{
					display: none!important;
					@media screen and(max-width: 800px){
						display: block!important;
					}
				}
				.tit_submenu_desk{
					display: block;
					@media screen and(max-width: 800px){
						display: none!important;
					}
				}
				
			}


		}
	}

	.color_h_red{
		color: #EC231B!important;
	}
	.colorchange{
		&:hover{
			border-bottom: 4px solid #EC231B!important;
			transition: 0.3s;
			@media screen and(max-width: 800px){
				border-bottom: 4px solid transparent;
				transition: 0.3s;
			}
		}
	}

	.head-logos{
		display: block;
		text-align: center;
		position: relative;
		border-bottom: 1px solid rgba(0,0,0,0.30);
		ul{
			display: block;
			text-align: center;
			li{
				padding: 0.5% 3%;
				display: inline-block;
				text-align: center;
				vertical-align: middle;
			}
		}
		@media screen and (max-width: 1000px){
			display: none;
		}
	}
	.head-sup{
		position: relative;
		@media screen  and(max-width: 800px){
			position: relative;
			min-height: 110px;
			
		}
		.search {
			width: 43%;
			height: 24px;
			margin: 0;
			display: inline-block;
			position: relative;
			bottom: 8px;
			@media screen and(max-width: 800px) {
				position: absolute;
				width: 92%;
				left: 4%;
				top: 55px;
			}
			.wp-inp {
				position: relative;
				display: block;
				.js-txtSearch {
					border: 0;
					-webkit-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
					vertical-align: top;
					border: solid 2px #000;
					line-height: 10px;
					font-size: 12px;
					padding: 8px 2%;
					width: 100%;
					border-radius: 6px;
					position: absolute;
					left: 0;
					&:focus {
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
					}
					&::-webkit-input-placeholder {
						color: #8c8c8c;
						font-size: 13px;
					}
					&::-moz-placeholder {
						color: #8c8c8c;
						font-size: 13px;
					}
					&:-ms-input-placeholder {
						color: #8c8c8c;
						font-size: 13px;
					}
					&::-ms-input-placeholder {
						color: #8c8c8c;
						font-size: 13px;
					}
					&::placeholder {
						color: #8c8c8c;
						font-size: 13px;
					}

					@media screen and(max-width: 768px) {
						width: 95%;
					}
				}				
				i {
					-webkit-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
					color: #707570;
					position: absolute;
					top: 10px;
					font-size: 15px;
					right: 15px;
					z-index: 1;
				}
				.resul {
					-webkit-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
					width: 100%;
					background: #fff;
					display: none;
					.loading {
						background: url(https://coliseum.vteximg.com.br/arquivos/loading.gif) center no-repeat;
						width: 100%;
						height: 40px;
					}
					p {
						font-size: 12px;
						line-height: 40px;
						text-align: center;
						margin: 0;
						padding: 0;
					}
					.items {
						height: 300px;
						overflow: hidden;
						a {
							display: block;
							height: 50px;
							padding: 10px 15px;
							text-decoration: none;
							img {
								display: inline-block;
								vertical-align: top;
								margin: 0;
							}
							.detalle {
								width: 80%;
								display: inline-block;
								vertical-align: top;
								h3 {
									text-overflow: ellipsis;
									white-space: nowrap;
									overflow: hidden;
									vertical-align: top;
									width: 50%;
									line-height: 50px;
									display: inline-block;
									font-size: 12px;
									color: #444;
									margin: 0;
									padding: 0 5%;
								}
								.ListPrice {
									text-align: right;
									color: #b1b1b1;
									text-decoration: line-through;
									line-height: 50px;
									vertical-align: top;
									width: 20%;
									display: inline-block;
								}
								.Price {
									text-align: right;
									color: #000;
									line-height: 50px;
									vertical-align: top;
									width: 20%;
									display: inline-block;
								}
							}
						}
						a.item {
							&:hover {
								background: #f2f2f2;
							}
						}
					}
					.ver-todos {
						a.ir-todos {
							display: block;
							width: 100%;
							text-decoration: none;
							font-size: 11px;
							text-align: center;
							background: #343a40;
							color: #fff;
							line-height: 40px;
							&:hover {
								-webkit-transition: all 0.2s ease-in-out;
								transition: all 0.2s ease-in-out;
								background: #980708;
							}
						}
						a.item_t {
							display: block;
							width: 100%;
							text-decoration: none;
							font-size: 12px;
							text-align: center;
							background: #2f2f2f;
							color: #fff;
							line-height: 40px;
							.bq {
								text-decoration: underline;
								font-weight: 600;
							}
							&:hover {
								-webkit-transition: all 0.2s ease-in-out;
								transition: all 0.2s ease-in-out;
								background: #000;
							}
						}
					}
				}
			}
			.wp-inp.active {
				display: none;
			}
			.active {
				.wp-inp {
					i {
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						color: #000;
					}
					.resul {
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						display: block;
						position: relative;
						z-index: 40;
						margin: 0 0 0 -1px;
						border: 1px solid #eaeaea;
					}
				}
			}
			.por {
				display: none;
			}
			.buscar-cerrar {
				cursor: pointer;
				width: 36%;
				padding: 5px;
				top: 15px;
				color: #fff;
				background: #000;
				position: absolute;
				display: none;
				right: 0;
				@media screen and(max-width: 800px) {
					width: 48%;
					top: -7px;
				}
			}
			.buscar-cerrar.active {
				display: block;
			}
		}
		.search.active {
			width: 5%;
		}

		.search-large {
			width: 100%;
			height: 80%;
			margin: 0;
			display: none;
			position: relative;
			bottom: 7px;
			.wp-inp {
				.js-txtSearch {
					border: 0;
					-webkit-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
					vertical-align: top;
					background: #fff;
					line-height: 10px;
					color: #4e4e4e;
					font-size: 11.5px;
					padding: 1.6% 10%;
					width: 65%;
					@media screen and(max-width: 800px) {
						padding: 5% 0;
						border-bottom: 2px solid #f2f2f2;
						width: 90%;
						margin: 0 5%;
					}
					&:focus {
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						color: #cecece;
						background: #f9f9f9;
					}
				}
				position: relative;
				i {
					-webkit-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
					color: #707570;
					position: absolute;
					top: 153px;
					left: 39%;
				}
				.resul {
					-webkit-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
					width: 65%;
					display: none;
					@media screen and(max-width: 800px) {
						border: 0!important;
					}
					.loading {
						background: url(https://coliseum.vteximg.com.br/arquivos/loading.gif) center no-repeat;
						width: 100%;
						height: 40px;
					}
					p {
						font-size: 12px;
						line-height: 40px;
						text-align: center;
						margin: 0;
						padding: 0;
					}
					.items {
						height: 100%;
						overflow: hidden;
						a {
							display: block;
							height: 38px;
							padding: 0;
							text-decoration: none;
							width: 100%;
							img {
								display: inline-block;
								vertical-align: top;
								margin: 0;
							}
							.detalle {
								width: 100%;
								display: inline-block;
								vertical-align: top;
								h3 {
									text-overflow: ellipsis;
									white-space: nowrap;
									overflow: hidden;
									vertical-align: top;
									width: 50%;
									line-height: 50px;
									display: inline-block;
									font-size: 12px;
									color: #444;
									margin: 0;
									padding: 0 1%;
								}
								.productName {
									text-overflow: ellipsis;
									white-space: nowrap;
									overflow: hidden;
									vertical-align: top;
									width: 50%;
									line-height: 50px;
									display: inline-block;
									font-size: 12px;
									color: #444;
									margin: 0;
									padding: 0 1%;
								}

								.ListPrice {
									text-align: right;
									color: #b1b1b1;
									text-decoration: line-through;
									line-height: 50px;
									vertical-align: top;
									width: 20%;
									display: inline-block;
								}
								.Price {
									text-align: right;
									color: #000;
									line-height: 50px;
									vertical-align: top;
									width: 20%;
									display: inline-block;
								}
							}
						}
						a.item {
							&:hover {
								background: #f2f2f2;
							}
						}
					}
					.ver-todos {
						a.ir-todos {
							display: block;
							width: 100%;
							text-decoration: none;
							font-size: 11px;
							text-align: center;
							background: #343a40;
							color: #fff;
							line-height: 40px;
							&:hover {
								-webkit-transition: all 0.2s ease-in-out;
								transition: all 0.2s ease-in-out;
								background: #980708;
							}
						}
						a.item_t {
							display: block;
							width: 100%;
							text-decoration: none;
							font-size: 12px;
							text-align: center;
							background: #2f2f2f;
							color: #fff;
							line-height: 40px;
							.bq {
								text-decoration: underline;
								font-weight: 600;
							}
							&:hover {
								-webkit-transition: all 0.2s ease-in-out;
								transition: all 0.2s ease-in-out;
								background: #000;
							}
						}
					}
				}
				.seccion-buscador {
					display: block;
					width: 100%;
					.buscador-izq {
						width: 50%;
						height: 252px;
						display: inline-block;
						float: left;
						padding: 110px 0px 120px;
						text-align: center;
						background: #fff;
						@media screen and(max-width: 800px) {
							padding: 15px 0 102px;
							width: 100%;
							height: 10px;
						}
						.buscar {
							display: block;
							width: 83%;
							text-align: left;
							padding: 0 0 0 17%;
							font-size: 28px;
							font-weight: bold;
							@media screen and(max-width: 800px) {
								display: block;
								width: 90%;
								text-align: left;
								padding: 0 5%;
								font-size: 28px;
								font-weight: 700;
							}
						}
						.resul {
							.items {
								a {
									img {
										display: none;
									}
								}
							}
						}
					}
					.buscador-der {
						width: 50%;
						display: inline-block;
						height: 482px;
						background: #ebebeb;
						@media screen and(max-width: 800px) {
							display: none;
						}
						.resul {
							.items {
								a {
									.detalle {
										h3 {
											white-space: normal;
											line-height: 22px;
											height: 45px;
										}
										padding: 8px 0;
									}
								}
							}
						}
						.busqueda-palabras {
							padding: 4% 8% 0;
							font-size: 20px;
							text-transform: uppercase;
						}
					}
				}
				.resul.js-resultSearchMostVend01 {
					.items01 {
						height: 80%;
					}
					.items {
						a {
							display: inline-block;
							width: 35%;
							height: auto;
							padding: 22px 0 0 5px;
							text-align: center;
							.detalle {
								h3 {
									width: 60%;
								}
								.ListPrice {
									width: 50%;
									display: inline-block;
								}
								.Price {
									width: 50%;
									display: inline-block;
								}
							}
						}
					}
					width: 100%;
				}
				.resul.js-resultSearchMostVend02 {
					.items {
						height: 80%;
						a {
							display: inline-block;
							width: 35%;
							height: auto;
							padding: 22px 0 0 5px;
							text-align: center;
							.detalle {
								h3 {
									width: 60%;
								}
								.ListPrice {
									width: 50%;
									display: inline-block;
								}
								.Price {
									width: 50%;
									display: inline-block;
								}
							}
						}
					}
					width: 100%;
				}
			}
			.active {
				.wp-inp {
					i {
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						color: #cecece;
					}
					.js-txtSearch {
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						color: #000;
						background: #fff;
					}
					.resul {
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						display: inline-block;
						position: relative;
						z-index: 40;
						margin: 0;
						border: 1px solid #eaeaea;
						background: #f2f2f2;
					}
					.resul.js-resultSearchMostVend01 {
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						display: inline-block;
						background: #ebebeb;
					}
					.resul.js-resultSearchMostVend02 {
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						display: inline-block;
						background: #ebebeb;
					}
				}
			}
			.por {
				display: none;
			}
			.buscador-der {
				text-align: left;
			}
		}
		.search-large.active {
			display: block;
			position: fixed;
			left: 0;
			z-index: 100;
			top: 136px;
			@media screen and(max-width: 800px) {
				//top:78px ;// sin nanobar
			    //top: 132px; // con nanobar
			    top: initial;
			    bottom: initial

			}
		}
		.search-large.fx.active {
			//top: 74px; // sin nanobar
			top: 132px; // con nanobar
		}

	}
	.logo {
	    -webkit-transition: all 0.25s ease-in-out;
	    transition: all 0.25s ease-in-out;
	    display: inline-block;
	    width: 20%;
	    height: 52px;
	    background: url(https://coliseum.vteximg.com.br/arquivos/logo-coli-240408.png) no-repeat;
	    background-size: 97%;
	    margin:15px 5% 0 0;
	    vertical-align: middle;
	    z-index: 101;
	    @media screen and(max-width: 800px) {
	    	margin-left: 24%;
	    	width: 25%;

	    }
	    @media screen and(max-width: 670px) {
	    	margin-left: 30%;
	    	width: 35%;
	    	margin-top: 18px;
	    	margin-right: 9%;  

	    }
	}

	.carrito-login{
		display: inline-block;
		text-align: right;
		width: 27%;
		@media screen and(max-width: 800px) {
		    /* width: 82px; */
		    text-align: right;
		    vertical-align: text-bottom;
		    width: 25%;
		}
		&.active{
		    float: right;
		    margin-top: 14px;
		    @media screen and(max-width: 800px) {
		    	float: none;
		    	margin-top: 8px;
		    }
		}
		li{
			display: inline-block;
			vertical-align: middle;
			line-height: 6px;
			text-align: center;
			padding: 0 2%;
			&.ingresar {
			    cursor: pointer;
			    width: 28%;
			    text-align:left;
			    @media screen and (max-width: 1078px){
			    	width: 36%;
			    }
			    @media screen and (max-width: 710px){
			    	width: 46%;
			    }
			    @media screen and (max-width: 630px){
			    	display: none;
			    }
			    .btn-ingresar{
			    	.ico-user {
			    	    display: inline-block;
			    	    position: relative;
			    	    &:before {
			    	        content: "";
			    	        background: url(https://coliseum.vteximg.com.br/arquivos/icon-user-v2.png) 0 0 no-repeat;
			    	        height: 21px;
			    	        display: block;
			    	        float: right;
			    	        width: 26px;
			    	    }
			    	}
			    	span{
						display: inline-block;
						vertical-align: top;
						font-size: 13px;
						margin-top: 9px;
						font-weight: 700;
			    	}

			    }
			    
			}
			&.datos {
			    text-align: center;
			    position: relative;
			    z-index: 10;
			    width: 75px;
			    display: none;
			    padding: 20px 4px;
			    cursor: pointer;
			    text-transform: uppercase;
			    font-size: 11px;
			    @media screen and (max-width: 800px){
			    	display: none!important;
			    }
			    &:hover{
			    	display: block;
			    	ul{
			    		&.logeo{
			    			&.hide{
			    				display: block;
			    			}
			    		}
			    	}
			    }
			    .log{
					position: absolute;
					right: -1px;
					width: 105px;
					top: 47px;
					background: #e8e8e8;
			    	li{
						border: none;
						display: block;
						padding: 10px;
						text-align: center;
						border-top: 1px solid #ccc;
			    	}
			    }
			    ul{
			    	&.logeo{
			    		&.hide{
			    			display: none;
			    		}
			    	}
			    	&.hide{
			    		display: none;
			    	}
			    }
			}
			&.carrito {
			    background: #fff;
			    width: 25px;
			    height: 34px;
			    .btn-cart {
			        display: block;
			        cursor: pointer;
			        width: 24px;
			        margin: 7px auto;
			        position: relative;
			        margin: 7px auto;
			        a{

			        }
			        .btn {
			            background: none;
			            padding: 0;
			            text-shadow: none;
			            border: 0;
			            >a{
			            	display: none;
			            }
			        }
			        .pre-cart {
			            border: 1px solid #ccc;
			            display: none;
			            text-align: left;
			            z-index: 500;
			            position: absolute;
			            top: 28px;
			            right: -23px;
			            background: #fff;
			            width: 500px;
			            border-radius: 0;
			            height: 240px;
			            @media screen and (max-width: 800px){
			            	width: 427px;
			            }			            
			        }
			        .info.vcenter {
			            text-align: right;
			            display: block;
			            span.num {
			                position: absolute;
			                top: 0;
			                left: 15px;
			                background: #000;
			                border-radius: 15px;
			                width: 13px;
			                height: 13px;
			                font-size: 10px;
			                text-align: center;
			                line-height: 13px;
			                z-index: 50;
			                color: #000;
			            }
			            p{
			            	position: relative;
			            	padding: 0;
			            	margin: 0;
			            	color: #fff;
			            	line-height: 14px;
			            }
			            p.tit {
			                margin: 0;
			                font-weight: 400;
			                font-size: 12px;
			                color: #fff;
			                position: absolute;
			                top: 4px;
			                left: 42px;
			                display: none;
			            }
			            .cart {
			                -webkit-transition: all 0.2s ease-in-out;
			                transition: all 0.2s ease-in-out;
			                display: block;
			                width: 20px;
			                height: 24px;
			                background: url(https://coliseum.vteximg.com.br/arquivos/icon-shop-v2.png) no-repeat;
			            }
			            p.precio {
			                display: none !important;
			                width: 70px;
			                text-align: left;
			                position: absolute;
			                top: 18px;
			                left: 42px;
			                display: none;
			            }

			        }

			    }
			}
		}
	}

	.btn-cart{
		.pre-cart {
			.wrap-scroll{
				padding: 20px;
				table{
					tbody{
						tr{
							td{
								p{
									&.precio{
										&:before {
											content: "S/.";
										}
									}
								}
							}
						}
					}
					thead{
						tr{
							td{
								vertical-align: top;
								height: 20px;
								line-height: 20px;
								p{
									font-size: 13px;
									color: #232323;
									margin: 0 0 10px;
								}
								&.a{
									width: 240px;
								}
								&.b{
									width: 40px;
									text-align: center;
								}
								&.c{
									width: 80px;
									text-align: center;
								}
							}
						}
					}
					tbody{
						tr{
							&.linea{
								td{
									p{
										border-bottom: 1px dashed #ddd;
										margin: 10px 0 15px;
									}
								}
							}
							td{
								.item{
									img{
										display: inline-block;
										vertical-align: middle;
										border-radius: 5px;
										width: 70px;
									}
									.info{
										width: 150px;
										display: inline-block;
										vertical-align: top;
										margin: 0 0 0 15px;
										h3{
											display: block;
											vertical-align: top;
											font-size: 12px !important;
											color: #666;
											line-height: 14px;
											font-weight: 400;
											overflow: hidden;
											text-overflow: ellipsis;
											white-space: nowrap;
										}
										p{
											display: block;
											vertical-align: top;
											font-size: 12px;
											color: #000;
											line-height: 14px;
											margin: 10px 0 0;
										}
										
									}
								}
								p{
									&.cantidad{
										font-size: 13px;
										text-align: center;
										color: #666;
										display: block;
										vertical-align: top;
									}
									&.precio{
										font-size: 13px;
										text-align: center;
										color: #000;
										display: block;
										vertical-align: top;
									}
								}
								.eliminar{
									font-size: 0;
									color: #000;
									padding: 4px;
									border-radius: 10px;
									width: 10px;
									height: 10px;
									text-align: center;
									line-height: 12px;
									font-weight: 600;
									&:before{
										content: "\f00d";
										font: normal normal normal 14px/1 FontAwesome;
									}
								}
							}
						}
					}

				}
			}
			.row{
				&.resumen{
					margin: 0 20px 5px;
					border-top: 1px solid #ccc;
					height: 54px;
					padding: 10px 0 0;
    				position: relative;
    				background: #fff;
					position: sticky;
    				bottom: 0;
    				z-index: 10;
    				display: block; 
					.total{
						line-height: 18px;
						font-size: 14px;
						color: #000;
						display: inline-block;
						vertical-align: middle;

						.numero{
							font-weight: 700;
							margin: 0 0 0 10px;
							display: inline-block;
						}
					}
					.btn{
						&.comprar{
							-webkit-transition: all 0.2s ease-in-out;
							transition: all 0.2s ease-in-out;
							background: #343a40;
							border: 0;
							font-size: 16px;
							color: #fff;
							cursor: pointer;
							text-transform: uppercase;
							font-weight: 600;
							text-decoration: none;
							display: inline-block;
							padding: 10px 30px;
							vertical-align: middle;
							letter-spacing: 1px;
							position: absolute;
							bottom: 18px;
							right: 20px;
						}
					}
				}
			}
			.empty-cart {
				padding: 14px 0;
				span{
					font-size: 12px;
					font-weight: 300;
					display: block;
					text-align: center;
					color: #656565;
				}
			}
			.head-mobile{
				&.res-mobile{
					display: none !important;
					.close {
					    display: inline-block;
					    vertical-align: middle;
					}
					.title {
					    display: inline-block;
					    vertical-align: middle;
					}
				}
			}
		}
		
	}

	


}

@media screen and (max-width:800px) {
	header.header-v2 {
		nav {
			.box-menu {
				display: block;
				li.submenu {
					display: block;
					width: 100%;
				}
			}
			ul.box-menu {
				li.submenu {
					.children {
						li {
							ul.subchildren,
							ul.subsubchildren {
								a.btn-closesubchildren {

								}
							}

						}
						a.btn-closechildren {
							display: block;
							margin-left: 20px;
							font-weight: 700;
						}
						
					}
				}
				>li{
					>a{
						text-align: left;
					}
				}
			}
		}
		nav.active {
			background-color: #fff;
			visibility: visible;
			opacity: 1;
			left: 0;
			transition: 0.3s;
			z-index: 1000;
			a.logo{
				@media screen and (max-width:800px) {
					margin-left: 16%!important;
					margin-right: 16%!important;
					height: 46px!important;
				}
			}
		}
	}
}


header.header-v2 nav ul.box-menu li.submenu .children li ul.subchildren.mn-lista-outlet {
  width: 209px; }
@media screen and (max-width: 800px) {
  header.header-v2 nav ul.box-menu li.submenu .children li ul.subchildren.mn-lista-outlet {
    width: inherit;
    overflow: scroll; } }
header.header-v2 nav ul.box-menu li.submenu .children li ul.subchildren.mn-lista-outlet li {
  display: inline-block;
  width: 90px; }
@media screen and (max-width: 800px) {
  header.header-v2 nav ul.box-menu li.submenu .children li ul.subchildren.mn-lista-outlet li {
    display: block;
    width: auto; } }
@media screen and (max-width: 800px) {
  header.header-v2 nav ul.box-menu li.submenu .op-menu-solo-img {
    display: none !important; } }

