header {
    background: #fff;
}
header .top {
    background: #fff;
    border-bottom: 1px solid #d2d2d2;
}
header .top ul {
    display: block;
    text-align: center;
}
header .top ul li {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    line-height: 16px;
    border-right: 1px solid #fff;
}
header .top ul li a {
    color: #555;
    font-size: 12px;
}
header .top ul li.converse,
header .top ul li.saucony,
header .top ul li.umbro,
header .top ul li.fila,
header .top ul li.hitec,
header .top ul li.merrel,
header .top ul li.caterpillar,
header .top ul li.cole,
header .top ul li.steve,
header .top ul li.havaianas,
header .top ul li.magnum,
header .top ul li.ingresar,
header .top ul li.datos {
    padding: 0.5% 2%;
}
header .coliseum .logo-sup {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 9%;
    height: 73%;
    position: absolute;
    background: url(https://coliseum.vteximg.com.br/arquivos/logo_horizontal-20-03-2020.png) no-repeat;
    background-size: 113px;
    margin: 8px 0 0;
    display: none;
}
header .top ul li.coliseum {
    width: 0;
}
header .top ul li.converse a img {
    margin: 2px 0 0;
}
header .top ul li.umbro a img,
header .top ul li.fila a img {
    width: 35px;
}
header .top ul li.saucony a img {
    width: 65px;
    margin: 2px 0;
}
header .top ul li.hitec a img,
header .top ul li.merrel a img,
header .top ul li.cole a img,
header .top ul li.steve a img,
header .top ul li.havaianas a img {
    width: 65px;
    margin: 2px 0 0;
}
header .top ul li.caterpillar a img {
    width: 25px;
    margin: 2px 0;
}
header .top ul li.magnum a img {
    margin: 2px 0;
}
header .top ul li.converse a,
header .top ul li.saucony a,
header .top ul li.umbro a,
header .top ul li.fila a,
header .top ul li.hitec a,
header .top ul li.merrel a,
header .top ul li.caterpillar a,
header .top ul li.cole a,
header .top ul li.steve a,
header .top ul li.havaianas a,
header .top ul li.magnum a {
    opacity: 0.5;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
header .top ul li a:hover {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
header .middle {
    background: #fff;
}
header .middle ul {
    display: inline-block;
    text-align: right;
}
header .middle ul li {
    display: inline-block;
    vertical-align: middle;
    line-height: 6px;
    text-align: center;
}
header .middle ul li a p {
    display: inline-block;
    padding: 0;
    font-weight: 600;
    position: relative;
    color: #000;
    text-decoration: none;
    line-height: 12px;
    font-size: 12.5px;
}
header .middle ul li a p:hover {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
header .top ul li.ingresar {
    cursor: pointer;
}
header .top ul li.carrito {
    background: #343a40;
    width: 70px;
    height: 34px;
}
header .top ul li .btn-cart {
    display: block;
    cursor: pointer;
    width: 24px;
    margin: 8px auto;
    position: relative;
}
header .top ul li .btn-cart .btn {
    background: none;
    padding: 0;
    text-shadow: none;
    border: 0;
}
header .top ul li .btn-cart .carrito .cart {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 16px;
    height: 18px;
    background-image: url(https://coliseum.vteximg.com.br/arquivos/shop-rd18.jpg);
}
header .top ul li .btn-cart .pre-cart .row.resumen .total .numero:before {
    content: "S/.";
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.precio:before {
    content: "S/.";
}
header .top ul li .btn-cart .pre-cart.empty {
    height: auto;
}
header .top ul li .btn-cart .btn.carrito .fa {
    position: absolute;
    bottom: -17px;
    right: 36px;
    font-size: 24px;
    opacity: 0;
    display: none;
}
header .top ul li .btn-cart:hover .carrito .cart {
    -webkit-transform: rotate(15deg) scale(1, 1);
    transform: rotate(15deg) scale(1, 1);
}
header .top ul li .btn-cart .info.vcenter {
    text-align: right;
    display: block;
}
header .top ul li .btn-cart .info.vcenter p {
    position: relative;
    padding: 0;
    margin: 0;
    color: #000;
    line-height: 14px;
}
header .top ul li .btn-cart .info.vcenter p.tit {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 4px;
    left: 42px;
    display: none;
}
header .top ul li .btn-cart .info.vcenter p.precio {
    display: none !important;
    width: 70px;
    text-align: left;
    position: absolute;
    top: 18px;
    left: 42px;
    display: none;
}
header .top ul li .btn-cart .info.vcenter span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}
header .top ul li .btn-cart .info.vcenter span.num {
    position: absolute;
    top: 0;
    left: 15px;
    background: #fff;
    border-radius: 15px;
    width: 13px;
    height: 13px;
    font-size: 10px;
    text-align: center;
    line-height: 13px;
    z-index: 50;
    color: #000;
}
header .top ul li .btn-cart .pre-cart {
    border: 1px solid #ccc;
    display: none;
    text-align: left;
    z-index: 500;
    position: absolute;
    top: 25px;
    right: -23px;
    background: #fff;
    width: 500px;
    border-radius: 0;
    height: 215px;
}
header .top ul li .btn-cart .pre-cart .fa-caret-up {
    position: absolute;
    top: -11px;
    right: 30px;
    color: #fff;
}
header .top ul li .btn-cart .pre-cart .head-mobile.res-mobile {
    display: none !important;
}
header .top ul li .btn-cart .pre-cart .head-mobile.res-mobile .close {
    display: inline-block;
    vertical-align: middle;
}
header .top ul li .btn-cart .pre-cart .head-mobile.res-mobile .title {
    display: inline-block;
    vertical-align: middle;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll {
    padding: 20px;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td {
    vertical-align: top;
    height: 20px;
    line-height: 20px;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td p {
    font-size: 13px;
    color: #232323;
    margin: 0 0 10px;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.a {
    width: 280px;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.b {
    width: 80px;
    text-align: center;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.c {
    width: 80px;
    text-align: center;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    width: 70px;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 15px;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info h3 {
    display: block;
    vertical-align: top;
    font-size: 12px !important;
    color: #666;
    line-height: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info p {
    display: block;
    vertical-align: top;
    font-size: 12px;
    color: #000;
    line-height: 14px;
    margin: 10px 0 0;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.cantidad {
    font-size: 13px;
    text-align: center;
    color: #666;
    display: block;
    vertical-align: top;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.precio {
    font-size: 13px;
    text-align: center;
    color: #000;
    display: block;
    vertical-align: top;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr.linea td p {
    border-bottom: 1px dashed #ddd;
    margin: 10px 0 15px;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .eliminar {
    font-size: 0;
    color: #000;
    padding: 4px;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 12px;
    font-weight: 600;
}
header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .eliminar:before {
    content: "\f00d";
    font: normal normal normal 14px/1 FontAwesome;
}
header .top ul li .btn-cart .pre-cart .row.resumen {
    margin: 0 20px 5px;
    border-top: 1px solid #ccc;
    height: 54px;
    padding: 10px 0 0;
}
header .top ul li .btn-cart .pre-cart .row.resumen .total {
    line-height: 18px;
    font-size: 14px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
}
header .top ul li .btn-cart .pre-cart .row.resumen .total .numero {
    font-weight: 700;
    margin: 0 0 0 10px;
    display: inline-block;
}
header .top ul li .btn-cart .pre-cart .row.resumen .btn.comprar {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #343a40;
    border: 0;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    vertical-align: middle;
    letter-spacing: 1px;
    position: absolute;
    bottom: 18px;
    right: 20px;
}
header .top ul li .btn-cart .pre-cart .empty-cart {
    padding: 14px 0;
}
header .top ul li .btn-cart .pre-cart .empty-cart span {
    font-size: 12px;
    font-weight: 300;
    display: block;
    text-align: center;
    color: #656565;
}
header .middle ul.carrito-login {
    width: 25%;
}
header .middle ul.carrito-login.active {
    width: 38%;
}
header .middle ul li.ingresar {
    cursor: pointer;
    width: 16%;
    text-align: right;
}
header .middle ul li.carrito {
    background: #fff;
    width: 16%;
    height: 34px;
}
header .middle ul li .btn-cart {
    display: block;
    cursor: pointer;
    width: 24px;
    margin: 7px auto;
    position: relative;
    margin: 7px auto;
}
header .middle ul li .btn-cart .btn {
    background: none;
    padding: 0;
    text-shadow: none;
    border: 0;
}
header .middle ul li .btn-cart .btn {
    background: none;
    padding: 0;
    text-shadow: none;
    border: 0;
}
header .middle ul li .btn-cart .btn > a {
    display: none;
}
header .middle ul li .btn-cart .carrito .cart {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 20px;
    height: 24px;
    background: url(https://coliseum.vteximg.com.br/arquivos/cesta-coliseum.png) no-repeat;
    background-size: 18px;
}
header .middle ul li .btn-cart .pre-cart .row.resumen .total .numero:before {
    content: "S/.";
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.precio:before {
    content: "S/.";
}
header .middle ul li .btn-cart .pre-cart.empty {
    height: auto;
}
header .middle ul li .btn-cart .btn.carrito .fa {
    position: absolute;
    bottom: -17px;
    right: 36px;
    font-size: 24px;
    opacity: 0;
    display: none;
}
header .middle ul li .btn-cart:hover .carrito .cart {
    -webkit-transform: rotate(15deg) scale(1, 1);
    transform: rotate(15deg) scale(1, 1);
}
header .middle ul li .btn-cart .info.vcenter {
    text-align: right;
    display: block;
}
header .middle ul li .btn-cart .info.vcenter p {
    position: relative;
    padding: 0;
    margin: 0;
    color: #fff;
    line-height: 14px;
}
header .middle ul li .btn-cart .info.vcenter p.tit {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 4px;
    left: 42px;
    display: none;
}
header .middle ul li .btn-cart .info.vcenter p.precio {
    display: none !important;
    width: 70px;
    text-align: left;
    position: absolute;
    top: 18px;
    left: 42px;
    display: none;
}
header .middle ul li .btn-cart .info.vcenter span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}
header .middle ul li .btn-cart .info.vcenter span.num {
    position: absolute;
    top: 0;
    left: 15px;
    background: #000;
    border-radius: 15px;
    width: 13px;
    height: 13px;
    font-size: 10px;
    text-align: center;
    line-height: 13px;
    z-index: 50;
    color: #000;
}
header .middle ul li .btn-cart .pre-cart {
    border: 1px solid #ccc;
    display: none;
    text-align: left;
    z-index: 500;
    position: absolute;
    top: 28px;
    right: -23px;
    background: #fff;
    width: 500px;
    border-radius: 0;
    height: 215px;
}
header .middle ul li .btn-cart .pre-cart .fa-caret-up {
    position: absolute;
    top: -11px;
    right: 30px;
    color: #fff;
}
header .middle ul li .btn-cart .pre-cart .head-mobile.res-mobile {
    display: none !important;
}
header .middle ul li .btn-cart .pre-cart .head-mobile.res-mobile .close {
    display: inline-block;
    vertical-align: middle;
}
header .middle ul li .btn-cart .pre-cart .head-mobile.res-mobile .title {
    display: inline-block;
    vertical-align: middle;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll {
    padding: 20px;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td {
    vertical-align: top;
    height: 20px;
    line-height: 20px;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td p {
    font-size: 13px;
    color: #232323;
    margin: 0 0 10px;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.a {
    width: 280px;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.b {
    width: 80px;
    text-align: center;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.c {
    width: 80px;
    text-align: center;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    width: 70px;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 15px;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info h3 {
    display: block;
    vertical-align: top;
    font-size: 12px !important;
    color: #666;
    line-height: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info p {
    display: block;
    vertical-align: top;
    font-size: 12px;
    color: #000;
    line-height: 14px;
    margin: 10px 0 0;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.cantidad {
    font-size: 13px;
    text-align: center;
    color: #666;
    display: block;
    vertical-align: top;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.precio {
    font-size: 13px;
    text-align: center;
    color: #000;
    display: block;
    vertical-align: top;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr.linea td p {
    border-bottom: 1px dashed #ddd;
    margin: 10px 0 15px;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .eliminar {
    font-size: 0;
    color: #000;
    padding: 4px;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 12px;
    font-weight: 600;
}
header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .eliminar:before {
    content: "\f00d";
    font: normal normal normal 14px/1 FontAwesome;
}
header .middle ul li .btn-cart .pre-cart .row.resumen {
    margin: 0 20px 5px;
    border-top: 1px solid #ccc;
    height: 54px;
    padding: 10px 0 0;
    position: relative;
}
header .middle ul li .btn-cart .pre-cart .row.resumen .total {
    line-height: 18px;
    font-size: 14px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
}
header .middle ul li .btn-cart .pre-cart .row.resumen .total .numero {
    font-weight: 700;
    margin: 0 0 0 10px;
    display: inline-block;
}
header .middle ul li .btn-cart .pre-cart .row.resumen .btn.comprar {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #343a40;
    border: 0;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    vertical-align: middle;
    letter-spacing: 1px;
    position: absolute;
    bottom: 18px;
    right: 0;
}
header .middle ul li .btn-cart .pre-cart .empty-cart {
    padding: 14px 0;
}
header .middle ul li .btn-cart .pre-cart .empty-cart span {
    font-size: 12px;
    font-weight: 300;
    display: block;
    text-align: center;
    color: #656565;
}
header .middle {
    height: auto;
    position: relative;
}
header .middle .logo {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    display: inline-block;
    width: 17%;
    height: 96%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://coliseum.vteximg.com.br/arquivos/logo_horizontal-20-03-2020.png) no-repeat;
    background-size: 175px;
    margin: 20px 0 0;
    z-index: 101;
}
header .middle nav {
    display: inline-block;
    margin: 0 0 0 14%;
    vertical-align: middle;
}
header .middle nav .container:before {
    display: none;
}
header .middle nav .container:after {
    display: none;
}
header .middle nav .container ul {
    list-style: none;
    display: inline-block;
    margin: 0;
}
header .middle nav .container ul li {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    margin: 0;
    padding: 28px 19px;
}
header .middle nav .container ul li.a > a,
header .middle nav .container ul li.b > a,
header .middle nav .container ul li.c > a,
header .middle nav .container ul li.d > a,
header .middle nav .container ul li.e > a {
    display: block;
    z-index: 20;
    position: relative;
}
header .middle nav .container ul li.w {
    background: #fff;
    color: #000;
}
header .middle nav .container ul li.w a {
    color: #fff !important;
}
header .middle nav .container ul li a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    color: #000;
    text-decoration: none;
    line-height: 12px;
    /*text-transform: lowercase;*/
}
header .middle nav .container > ul > li > a {
    text-transform: none;
}
header .middle nav .container .f.wH.marcas ul li a,
header .middle nav .container .d.wH.marcas ul li a {
    text-transform: none;
}
header .middle nav .container ul li a:first-letter {
    text-transform: capitalize;
}
header .middle nav .container ul li a:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
header .middle nav .container ul li.wH a.mb:after {
    display: inline-block;
    content: "\f0dd";
    font: normal normal normal 12px/1 FontAwesome;
    float: right;
    margin: -2px 0 0 5px;
}
header .middle nav .container ul li.wH .wHoverNav {
    display: none;
    position: absolute;
    background: #f7f7f7;
    top: 53px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH {
    position: relative;
    margin: auto;
    padding: 30px 0 30px 2%;
    text-align: center;
}
header .middle nav .container ul li.wH.marcas .wHoverNav .contentWH {
    padding: 30px 7%;
}
header .middle nav .container ul li.wH.marcas .wHoverNav .contentWH ul {
    width: 200px;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH ul {
    position: relative;
    height: auto;
    width: 138px;
    list-style: none;
    display: inline-block;
    padding: 0 0 0 14px;
    margin: 0;
    vertical-align: top;
    text-align: left;
}
header .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(11),
header .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(12),
header .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(13),
header .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(14),
header .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(15),
header .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(16){
    border-top: solid 1px #efefef;
    padding: 25px 0 0 34px;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH ul li.imagen-marca-menu {
    height: 38px;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH li.texto-marca-menu a b {
    font-weight: 700;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .linea-div {
    border: solid 1px #efefef;
    height: 265px;
    display: inline-block;
    position: absolute;
    top: 0;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .linea-div-mediana {
    border: solid 1px #efefef;
    height: 525px;
    display: inline-block;
    position: absolute;
    top: 0;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .linea-div-grande {
    border: solid 1px #efefef;
    height: 393px;
    display: inline-block;
    position: absolute;
    top: 0;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH ul li {
    border-left: 0;
    padding: 0;
    display: block;
    margin: 0;
    height: auto;
    line-height: 23px;
    text-align: left;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH ul li a {
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 16px;
    color: #3a3a3a;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH ul li a:hover {
    color: #000;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    display: inline-block;
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 13px;
    color: #323232;
    position: relative;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title a:hover {
    color: #010101;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH ul li.ver-todo-mobil {
    display: none;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH ul li a.verMas {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 40px;
    text-decoration: none;
    color: #010101;
    border-top: 1px solid #939393;
    padding: 5px 32px 0;
    margin: 10px 0 0;
    display: block;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .prev {
    display: inline-block;
    width: 442px;
    padding: 0 0 0 40px;
    margin: 0 0 0 30px;
    border-left: 1px solid #ddd;
    vertical-align: top;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .prev .left {
    width: 204px;
    display: inline-block;
    position: relative;
    margin: 0 32px 0 0;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .prev .left a {
    display: none;
    position: absolute;
    top: 40%;
    left: 30%;
    border: 1px solid #fff;
    padding: 5px 10px;
    line-height: 20px;
    background: #0000005e;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .prev .left:hover a {
    display: block;
    color: #fff;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .prev .left a:before {
    display: none !important;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .prev .left img {
    display: block;
    margin: auto;
    width: 100%;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .prev .right {
    width: 204px;
    display: inline-block;
    position: relative;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .prev .right a {
    display: none;
    position: absolute;
    top: 40%;
    left: 30%;
    border: 1px solid #fff;
    padding: 5px 10px;
    line-height: 20px;
    background: #0000005e;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .prev .right:hover a {
    display: block;
    color: #fff;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .prev .right a:before {
    display: none !important;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH .prev .right img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
header .middle .search {
    width: 17.5%;
    height: 24px;
    margin: 0;
    display: inline-block;
    position: relative;
    bottom: 4px;
}
header .middle .search.active {
    width: 5%;
}
header .middle .search .wp-inp .js-txtSearch {
    border: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    vertical-align: top;
    border: solid 1px #000;
    line-height: 10px;
    font-size: 12px;
    padding: 3% 6%;
    width: 85%;
}
header .middle .search .wp-inp .js-txtSearch:focus {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
header .middle .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #8c8c8c;
    font-size: 13px;
}
header .middle .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #8c8c8c;
    font-size: 13px;
}
header .middle .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #8c8c8c;
    font-size: 13px;
}
header .middle .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #8c8c8c;
    font-size: 13px;
}
header .middle .search .wp-inp .js-txtSearch::placeholder {
    color: #8c8c8c;
    font-size: 13px;
}
header .middle .search .wp-inp {
    position: relative;
    display: block;
}
header .middle .search .wp-inp.active {
    display: none;
}
header .middle .search .wp-inp i {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #707570;
    position: absolute;
    top: 6px;
    font-size: 15px;
    right: 15px;
}
header .middle .search .active .wp-inp i {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #cacaca;
}
header .middle .search .wp-inp .resul {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
    background: #fff;
    display: none;
}
header .middle .search .active .wp-inp .resul {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    position: relative;
    z-index: 40;
    margin: 0 0 0 -1px;
    border: 1px solid #eaeaea;
}
header .middle .search .wp-inp .resul .loading {
    background: url(https://coliseum.vteximg.com.br/arquivos/loading.gif) center no-repeat;
    width: 100%;
    height: 40px;
}
header .middle .search .wp-inp .resul p {
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}
header .middle .search .wp-inp .resul .items {
    height: 300px;
    overflow: hidden;
}
header .middle .search .wp-inp .resul .items a {
    display: block;
    height: 50px;
    padding: 10px 15px;
    text-decoration: none;
}
header .middle .search .wp-inp .resul .items a.item:hover {
    background: #f2f2f2;
}
header .middle .search .wp-inp .resul .items a img {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
header .middle .search .wp-inp .resul .items a .detalle {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}
header .middle .search .wp-inp .resul .items a .detalle h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    width: 50%;
    line-height: 50px;
    display: inline-block;
    font-size: 12px;
    color: #444;
    margin: 0;
    padding: 0 5%;
}
header .middle .search .wp-inp .resul .items a .detalle .ListPrice {
    text-align: right;
    color: #b1b1b1;
    text-decoration: line-through;
    line-height: 50px;
    vertical-align: top;
    width: 20%;
    display: inline-block;
}
header .middle .search .wp-inp .resul .items a .detalle .Price {
    text-align: right;
    color: #000;
    line-height: 50px;
    vertical-align: top;
    width: 20%;
    display: inline-block;
}
header .middle .search .wp-inp .resul .ver-todos a.ir-todos {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    background: #343a40;
    color: #fff;
    line-height: 40px;
}
header .middle .search .wp-inp .resul .ver-todos a.item_t {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    background: #2f2f2f;
    color: #fff;
    line-height: 40px;
}
header .middle .search .wp-inp .resul .ver-todos a.item_t .bq {
    text-decoration: underline;
    font-weight: 600;
}
header .middle .search .wp-inp .resul .ver-todos a.ir-todos:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #980708;
}
header .middle .search .wp-inp .resul .ver-todos a.item_t:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #000;
}
header .middle .search .por {
    display: none;
}
header .middle .search .buscar-cerrar {
    cursor: pointer;
    width: 36%;
    padding: 5px;
    top: 15px;
    color: #fff;
    background: #000;
    position: absolute;
    display: none;
    right: 0;
}
header .middle .search .buscar-cerrar.active {
    display: block;
}
header .middle .search-large {
    width: 100%;
    height: 80%;
    margin: 0;
    display: none;
    position: relative;
    bottom: 7px;
}
header .middle .search-large.active {
    display: block;
    position: fixed;
    left: 0;
    z-index: 100;
    top: 98px;
}
header .middle .search-large.fx.active {
    top: 64px;
}
header .middle .search-large .wp-inp .js-txtSearch {
    border: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    vertical-align: top;
    background: #fff;
    line-height: 10px;
    color: #4e4e4e;
    font-size: 11.5px;
    padding: 1.6% 10%;
    width: 65%;
}
header .middle .search-large .wp-inp .js-txtSearch:focus {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #cecece;
    background: #f9f9f9;
}
header .middle .search-large .wp-inp {
    position: relative;
}
header .middle .search-large .wp-inp i {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #707570;
    position: absolute;
    top: 153px;
    left: 39%;
}
header .middle .search-large .active .wp-inp i {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #cecece;
}
header .middle .search-large .active .wp-inp .js-txtSearch {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #000;
    background: #fff;
}
header .middle .search-large .wp-inp .resul {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 65%;
    display: none;
}
header .middle .search-large .active .wp-inp .resul {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    position: relative;
    z-index: 40;
    margin: 0;
    border: 1px solid #eaeaea;
    background: #f2f2f2;
}
header .middle .search-large .wp-inp .resul .loading {
    background: url(https://coliseum.vteximg.com.br/arquivos/loading.gif) center no-repeat;
    width: 100%;
    height: 40px;
}
header .middle .search-large .wp-inp .resul p {
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}
header .middle .search-large .wp-inp .resul .items {
    height: 100%;
    overflow: hidden;
}
header .middle .search-large .wp-inp .resul .items a {
    display: block;
    height: 38px;
    padding: 0;
    text-decoration: none;
    width: 100%;
}
header .middle .search-large .wp-inp .resul .items a.item:hover {
    background: #f2f2f2;
}
header .middle .search-large .wp-inp .resul .items a img {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
header .middle .search-large .wp-inp .resul .items a .detalle {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
header .middle .search-large .wp-inp .resul .items a .detalle h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    width: 50%;
    line-height: 50px;
    display: inline-block;
    font-size: 12px;
    color: #444;
    margin: 0;
    padding: 0 1%;
}
header .middle .search-large .wp-inp .resul .items a .detalle .ListPrice {
    text-align: right;
    color: #b1b1b1;
    text-decoration: line-through;
    line-height: 50px;
    vertical-align: top;
    width: 20%;
    display: inline-block;
}
header .middle .search-large .wp-inp .resul .items a .detalle .Price {
    text-align: right;
    color: #000;
    line-height: 50px;
    vertical-align: top;
    width: 20%;
    display: inline-block;
}
header .middle .search-large .wp-inp .resul .ver-todos a.ir-todos {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    background: #343a40;
    color: #fff;
    line-height: 40px;
}
header .middle .search-large .wp-inp .resul .ver-todos a.item_t {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    background: #2f2f2f;
    color: #fff;
    line-height: 40px;
}
header .middle .search-large .wp-inp .resul .ver-todos a.item_t .bq {
    text-decoration: underline;
    font-weight: 600;
}
header .middle .search-large .wp-inp .resul .ver-todos a.ir-todos:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #980708;
}
header .middle .search-large .wp-inp .resul .ver-todos a.item_t:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #000;
}
header .middle .search-large .por {
    display: none;
}
header .middle .search-large .wp-inp .seccion-buscador {
    display: block;
    width: 100%;
}
header .middle .search-large .wp-inp .seccion-buscador .buscador-izq {
    width: 50%;
    height: 252px;
    display: inline-block;
    float: left;
    padding: 110px 0px 120px;
    text-align: center;
    background: #fff;
}
header .middle .search-large .wp-inp .seccion-buscador .buscador-izq .buscar {
    display: block;
    width: 83%;
    text-align: left;
    padding: 0 0 0 17%;
    font-size: 28px;
    font-weight: bold;
}
header .middle .search-large .wp-inp .seccion-buscador .buscador-izq .resul .items a img {
    display: none;
}
header .middle .search-large .wp-inp .seccion-buscador .buscador-der {
    width: 50%;
    display: inline-block;
    height: 482px;
    background: #ebebeb;
}
header .middle .search-large .active .wp-inp .resul.js-resultSearchMostVend01,
header .middle .search-large .active .wp-inp .resul.js-resultSearchMostVend02 {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    background: #ebebeb;
}
header .middle .search-large .wp-inp .resul.js-resultSearchMostVend01 .items01,
header .middle .search-large .wp-inp .resul.js-resultSearchMostVend02 .items {
    height: 80%;
}
header .middle .search-large .wp-inp .resul.js-resultSearchMostVend01 .items a,
header .middle .search-large .wp-inp .resul.js-resultSearchMostVend02 .items a {
    display: inline-block;
    width: 35%;
    height: auto;
    padding: 22px 0 0 5px;
    text-align: center;
}
header .middle .search-large .wp-inp .resul.js-resultSearchMostVend01 .items a .detalle h3,
header .middle .search-large .wp-inp .resul.js-resultSearchMostVend02 .items a .detalle h3 {
    width: 60%;
}
header .middle .search-large .wp-inp .resul.js-resultSearchMostVend01 .items a .detalle .ListPrice,
header .middle .search-large .wp-inp .resul.js-resultSearchMostVend02 .items a .detalle .ListPrice {
    width: 50%;
    display: inline-block;
}
header .middle .search-large .wp-inp .resul.js-resultSearchMostVend01 .items a .detalle .Price,
header .middle .search-large .wp-inp .resul.js-resultSearchMostVend02 .items a .detalle .Price {
    width: 50%;
    display: inline-block;
}
header .middle .search-large .wp-inp .resul.js-resultSearchMostVend01,
header .middle .search-large .wp-inp .resul.js-resultSearchMostVend02 {
    width: 100%;
}
header .middle .search-large .buscador-der {
    text-align: left;
}
header .middle .search-large .wp-inp .seccion-buscador .buscador-der .resul .items a .detalle h3 {
    white-space: normal;
    line-height: 22px;
    height: 45px;
}
header .middle .search-large .wp-inp .seccion-buscador .buscador-der .resul .items a .detalle {
    padding: 8px 0;
}
header .middle .search-large .wp-inp .seccion-buscador .buscador-der .busqueda-palabras {
    padding: 4% 8% 0;
    font-size: 20px;
    text-transform: uppercase;
}
header.fx {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 140;
}
header .middle.fx {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 140;
}
header.fx .middle .logo {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 16%;
    height: 100%;
}
header .top ul li.datos {
    text-align: center;
    position: relative;
    z-index: 10;
    width: 75px;
    display: none;
    cursor: pointer;
    text-transform: uppercase;
}
header .top ul li.datos .log {
    position: absolute;
    right: -1px;
    width: 97px;
    top: 34px;
    background: #e8e8e8;
}
header .top ul li.datos .log li {
    border: none;
    display: block;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
header .top ul.hide {
    display: none;
}
li.a.wH.logeo {
    display: none;
}
header .top ul li.datos:hover ul.logeo.hide {
    display: block;
}
nav .datos {
    display: none;
}
header .middle ul li.datos {
    text-align: center;
    position: relative;
    z-index: 10;
    width: 75px;
    display: none;
    padding: 20px 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 11px;
}
header .middle ul li.datos .log {
    position: absolute;
    right: -1px;
    width: 105px;
    top: 47px;
    background: #e8e8e8;
}
header .middle ul li.datos .log li {
    border: none;
    display: block;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
header .middle ul.hide {
    display: none;
}
li.a.wH.logeo {
    display: none;
}
header .middle ul li.datos:hover ul.logeo.hide {
    display: block;
}
header .middle .carrito-login .ico-user {
    display: inline-block;
    position: relative;
}
.carrito-login .btn-ingresar .ico-user:before {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-16-10-2020.png) -257px 0px no-repeat;
    height: 21px;
    display: block;
    float: right;
    width: 44px;
    background-size: 330px;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH ul .ancho-50 {
    width: 45%;
    display: inline-table;
}
header .middle nav .container ul li.wH .wHoverNav .contentWH ul.dos {
    width: 205px;
}
header .middle .carrito-login .ingresar .btn-ingresar img {
    width: 21%;
    padding: 3px 0 0 0;
    vertical-align: middle;
}
header .middle .imagen-desp-izq {
    margin: 0;
}
header .middle .wHoverNav .iamgen {
    display: inline-block;
    width: 215px;
    padding: 15px 0 0 0;
    text-align: left;
}
header .middle .wHoverNav .seccion {
    display: inline-block;
    width: 150px;
    text-align: left;
}
header .middle .wHoverNav .seccion.dos {
    display: inline-block;
    width: 227px;
}
header .middle .wHoverNav .ver-todo .flecha {
    display: inline-block;
}
header .middle .wHoverNav .ver-todo .flecha:before {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-16-10-2020.png) -77px -44px no-repeat;
    height: 11px;
    display: block;
    float: right;
    width: 24px;
    background-size: 245px;
}
header .middle .wHoverNav .iamgen a,
header .middle .wHoverNav .seccion a {
    font-size: 8px;
    font-weight: 700;
}
header .middle .wHoverNav .imagen-marca-texto {
    display: none !important;
}
header .middle .f.wH.marcas.active .marginOut {
    margin: 0 0 35px;
}
.ml-wallp.space {
    padding: 80px 0 0;
}
header .middle.havaianas .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/havaianas-2logo.png) 0 0 no-repeat;
    width: 128px;
    top: -18px;
    left: 20px;
}
header .middle.havaianas nav .container ul li a {
    color: #fff;
}
header .middle.havaianas ul li.carrito {
    background: #3baeac;
    width: 58%;
}
header .middle.havaianas ul li .btn-cart .carrito .cart {
    background-image: url(https://coliseum.vteximg.com.br/arquivos/re-sprites.png);
    background-position: -75px -23px;
    background-size: auto;
}
header .middle.havaianas nav .container ul li.wH .wHoverNav {
    top: 82px;
}
header .middle.havaianas nav .container ul li {
    padding: 15px 19px;
}
header .middle.havaianas .center.text-right {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    position: relative;
    font-size: 13px;
    right: 10px;
    top: 11px;
}
header .middle.havaianas .center {
    height: 42px;
}
header .top.havaianas .center a {
    text-decoration: underline;
}
section.middle.havaianas .center img {
    top: 4px;
    position: relative;
}
header .middle.havaianas .search {
    width: 21%;
    bottom: 5px;
}
header .middle.havaianas .search .wp-inp .js-txtSearch {
    border: 0;
    border-radius: 4px;
    background: #fff;
}
header .middle.havaianas .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #545454;
}
header .middle.havaianas .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #545454;
}
header .middle.havaianas .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #545454;
}
header .middle.havaianas .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #545454;
}
header .middle.havaianas .search .wp-inp .js-txtSearch::placeholder {
    color: #545454;
}
header .middle.havaianas .center-havaianas {
    background: #3baeac;
}
header .middle.havaianas ul.carrito-login {
    width: auto;
}
header .middle.havaianas nav {
    margin: 0 33% 0 15%;
}
header .middle.havaianas .search .active .wp-inp i {
    color: #fff;
    background: #000;
    top: 0;
    height: 51%;
    padding: 8px;
    border-radius: 0 4px 4px 0;
}
header .middle.havaianas .search .wp-inp i {
    right: 6px;
}
header .middle.havaianas .search-large.active {
    top: 84px;
}
header .middle.havaianas .search .buscar-cerrar {
    width: 10%;
    text-align: center;
}
section.middle.umbro {
    background: #000;
}
header .middle.umbro .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/logoUmbro-sis.png) 0 0 no-repeat;
    width: 115px;
    top: 14px;
    left: 36px;
    height: 49px;
    background-size: 65px;
    margin: 0;
}
header .middle.umbro nav .container > ul > li > a {
    text-transform: uppercase;
}
header .middle.umbro .search .wp-inp .js-txtSearch {
    border: 0;
    background: #fff;
}
header .middle.umbro .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header .middle.umbro .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header .middle.umbro .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header .middle.umbro .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header .middle.umbro .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header .middle.umbro nav .container ul li a {
    color: #fff;
}
header .middle.umbro nav .container ul li.wH .wHoverNav {
    top: 68px;
    background: #fff;
}
header .middle.umbro nav {
    margin: 0 0 0 10%;
}
section.middle.umbro .logo-sis {
    width: 50%;
}
header .middle.umbro ul.carrito-login {
    width: 17%;
}
header .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul {
    width: 340px;
    border: 0;
}
header .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul li.title {
    border-bottom: solid 2px #000;
    width: 90%;
}
header .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul img {
    width: 90%;
}
header .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul li a {
    color: #7d7c7c;
}
header .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
    padding: 20px 0 2px;
    color: #323232;
    /*text-transform: uppercase;*/
}
header .middle.umbro ul li .btn-cart .carrito .cart {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-16-10-2020.png) -305px -197px no-repeat;
    background-size: 330px;
    position: relative;
    top: 4px;
}
header .middle.umbro ul li.carrito {
    background: #000;
}
header .top.umbro .center a {
    text-decoration: underline;
}
header .top.umbro .center.text-right {
    text-align: right;
    font-size: 12px;
    padding: 4px 0;
}
header .middle.umbro ul li .btn-cart .info.vcenter span.num {
    background: #fff;
}
header .middle.umbro ul li .btn-cart .info.vcenter p {
    color: #000;
}
header .middle.umbro .search-large.active {
    top: 90px;
}
header .middle.umbro .search-large.fx.active {
    top: 88px;
}
section.middle.converse {
    background: #1d1d1d;
}
header .top.converse {
    background: #1d1d1d;
    color: #fff;
    text-align: right;
    font-size: 11px;
    padding: 5px 0;
    border-bottom: 1px solid #666;
}
header .middle.converse ul.carrito-login {
    width: 31%;
}
header .middle.converse .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/cope-converse.jpg) 0 0 no-repeat;
    width: 189px;
    top: 17px;
    left: 36px;
    height: 32px;
    background-size: 188px;
    margin: 0;
}
header .middle.converse nav .container ul li a {
    color: #fff;
}
header .middle.converse nav .container ul li.wH .wHoverNav {
    top: 68px;
}
header .middle.converse nav .container ul li a.mb {
    text-transform: uppercase;
}
header .middle.converse nav .container ul li.wH .wHoverNav {
    background: #fff;
}
header .top.converse .center.text-right a {
    color: #fff;
    text-decoration: underline;
}
header .middle.converse .search .wp-inp .js-txtSearch {
    border: 0;
    background: #fff;
}
header .middle.converse .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header .middle.converse .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header .middle.converse .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header .middle.converse .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header .middle.converse .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header .middle.converse ul li .btn-cart .carrito .cart {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-16-10-2020.png) -305px -197px no-repeat;
    background-size: 330px;
    position: relative;
    top: 4px;
}
header .middle.converse ul li.carrito {
    background: #1d1d1d;
}
header .middle.converse .search-large.active {
    top: 91px;
}
header .middle.converse .search-large.fx.active {
    top: 88px;
}
header .middle.converse ul li .btn-cart .info.vcenter span.num {
    background: #fff;
}
header .middle.converse ul li .btn-cart .info.vcenter p {
    color: #000;
}
header .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
}
header .middle.converse nav {
    margin: 0 0 0 20%;
}
header .middle.converse nav .container ul li.wH .wHoverNav .contentWH {
    position: relative;
    margin: auto;
    padding: 2% 20%;
}
header .middle.converse .wHoverNav .seccion {
    width: auto;
}
header .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha .destacado {
    width: 100%;
    text-align: left;
    display: block;
    padding: 20px 0;
    font-weight: 600;
}
header .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul {
    width: 100%;
}
header .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha ul li.title a {
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
header .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul {
    padding: 10px 0;
}
header .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha ul li {
    display: none;
}
header .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha ul li.title {
    display: block;
}
header .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha ul.show li {
    display: block;
    font-family: "Montserrat", sans-serif;
}
header .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-izquierda ul li {
    font-family: "Montserrat", sans-serif;
}
header .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-izquierda ul li.todo a {
    font-size: 15px;
    font-weight: bold;
}
header .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha .coleccion .texto {
    color: #000;
    padding: 5px 0;
    display: table;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}
.menu-drecha {
    width: 70%;
    display: inline-block;
}
.menu-izquierda {
    width: 29%;
    display: inline-block;
    vertical-align: top;
}
.container ul li.wH .wHoverNav .contentWH .menu-drecha .colecciones .coleccion {
    width: 25%;
    text-align: left;
}
.container ul li.wH .wHoverNav .contentWH .menu-drecha ul li.title a {
    display: inline-block;
    font-size: 25px;
    letter-spacing: 5px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, currentColor), color-stop(0, transparent));
    background-image: linear-gradient(90deg, currentColor 100%, transparent 0);
    background-image: -ms-linear-gradient(top right, transparent 0, transparent 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transition: background-size 426ms cubic-bezier(0.4, 0.9, 0.3, 1);
    transition: background-size 426ms cubic-bezier(0.4, 0.9, 0.3, 1);
    background-clip: text;
    -webkit-background-clip: text;
}
.container ul li.wH .wHoverNav .contentWH .menu-drecha ul li.title a:hover {
    background-position-x: right;
    background-size: 0 100%;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: inherit;
    -webkit-text-stroke-width: 0.0625rem;
}
header .top.caterpillar {
    text-align: right;
    font-size: 11px;
    padding: 5px 0;
}
header .middle.caterpillar .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/siscat18.png) 0 0 no-repeat;
    width: 55px;
    top: 16px;
    left: 3px;
    height: 36px;
    background-size: 44px;
    margin: 0;
}
header .middle.caterpillar nav {
    margin: 0 0 0 22%;
}
header .middle.caterpillar ul li.carrito {
    height: 34px;
}
header .middle.caterpillar nav .container ul li a.mb {
    font-weight: 900;
    font-size: 16px;
}
header .middle.caterpillar .center {
    border-bottom: 1px solid #bcbec0;
    border-top: 2px dotted black;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
}
header .middle.caterpillar .search .wp-inp .js-txtSearch {
    background: #fff;
    border: 0;
    border-bottom: 1px solid #bcbec0;
}
header .middle.caterpillar .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header .middle.caterpillar .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header .middle.caterpillar .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header .middle.caterpillar .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header .middle.caterpillar .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header .middle.caterpillar nav .container ul li.wH .wHoverNav {
    background: #fff;
    top: 69px;
}
header .middle.caterpillar .search .wp-inp i {
    right: auto;
    left: 0;
    color: #707570;
}
header .middle.caterpillar ul.carrito-login {
    width: 8%;
    position: relative;
    right: 24px;
}
header .middle.caterpillar .search {
    width: 23%;
}
header .middle.caterpillar nav .container > ul > li:hover {
    background-color: #ffcc00;
}
header .middle.caterpillar nav .container ul li {
    padding: 28px 10px;
}
header .middle.caterpillar .search-large.active {
    top: 93px;
}
header .middle.caterpillar nav .container ul li.wH .wHoverNav .contentWH ul {
    width: auto;
}
header .middle.caterpillar nav .container ul li.wH .wHoverNav .contentWH ul li a {
    font-size: 15px;
    font-weight: 500;
    /*text-transform: uppercase;*/
}
header .middle.caterpillar nav .container ul li.g.wH .wHoverNav .contentWH ul li a {
    font-weight: 800;
}
header .middle.caterpillar nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-weight: 900;
    font-size: 17px;
}
header .middle.caterpillar .search-large.fx.active {
    top: 91px;
}
header .middle.caterpillar .search .buscar-cerrar {
    width: 10%;
    right: 16px;
}
header .top.caterpillar .center a {
    text-decoration: underline;
}
header .top.stevemadden {
    color: #fff;
    text-align: right;
    font-size: 11px;
    padding: 5px 0;
    border-bottom: 1px solid #666;
}
header .middle.stevemadden ul.carrito-login {
    width: 15%;
    right: 15px;
    position: relative;
}
header .middle.stevemadden .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/logo-sm-2021.png) no-repeat;
    width: 199px; 
    top: 22px;
    left: 28px;
    height: 38px;
    background-size: 100%;
    margin: 0;
}
header .middle.stevemadden nav .container ul li a.mb {
    text-transform: uppercase;
    height: 20px;
    top: 4px;
}
header .middle.stevemadden nav .container ul li.wH .wHoverNav {
    background: #fff;
    top: 68px;
}
header .top.stevemadden .center.text-right a {
    color: #000;
}
header .top.stevemadden .center.text-right {
    color: #000;
}
header .middle.stevemadden .search .wp-inp .js-txtSearch {
    border: 0;
    background: #fff;
}
header .middle.stevemadden .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header .middle.stevemadden .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header .middle.stevemadden .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header .middle.stevemadden .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header .middle.stevemadden .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header .middle.stevemadden ul li .btn-cart .carrito .cart {
    position: relative;
    top: 4px;
}
header .middle.stevemadden .search-large.active {
    top: 91px;
}
header .middle.stevemadden .search-large.fx.active {
    top: 88px;
}
header .middle.stevemadden ul li .btn-cart .info.vcenter span.num {
    background: #000;
}
header .middle.stevemadden ul li .btn-cart .info.vcenter p {
    color: #fff;
}
header .middle.stevemadden nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
}
header .middle.stevemadden nav {
    margin: 0 0 0 26%;
}
header .top.stevemadden .center a {
    text-decoration: underline;
}
header .middle.stevemadden .imagen-desp-izq {
    border-radius: 261px;
}
header .middle.stevemadden nav .container ul li {
    padding: 22px 19px;
}
section.middle.merrell {
    background: #fff;
    font-family: "Inconsolata", monospace;
}
header .top.merrell {
    font-family: "Inconsolata", monospace;
    background: #fff;
    color: #000;
    text-align: right;
    font-size: 11px;
    padding: 7px 0;
    border-bottom: 1px solid #000;
}
header .middle.merrell ul.carrito-login {
    width: 31%;
}
header .middle.merrell .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/merrel-sis.png) no-repeat;
    /*background: url(https://coliseum.vteximg.com.br/arquivos/merrel-sis.png) no-repeat;*/
    width: 189px;
    top: 17px;
    left: 20px;
    height: 36px;
    width: 23%;
    margin: 0;
}
header .middle.merrell nav .container ul li a {
    font-size: 16.5px;
}
header .middle.merrell nav .container ul li.wH .wHoverNav {
    top: 68px;
}
header .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul li a {
    color: #868686;
}
header .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul.imagen {
    width: auto;
}
header .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul {
    width: 120px;
}
header .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul li:hover a {
    color: #fd4f06;
    font-weight: bold;
}
header .middle.merrell nav .container ul li a.mb {
    text-transform: uppercase;
}
header .middle.merrell nav .container ul li.wH .wHoverNav {
    background: #fff;
}
header .top.merrell .center.text-right a {
    text-decoration: underline;
}
header .middle.merrell .search .wp-inp .js-txtSearch {
    border-bottom: solid 1px;
}
header .middle.merrell .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header .middle.merrell .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header .middle.merrell .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header .middle.merrell .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header .middle.merrell .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header .middle.merrell ul li .btn-cart .carrito .cart {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/cesta-coliseum.png) no-repeat;
    background-size: 18px;
    position: relative;
    top: 4px;
}
header .middle.merrell ul li.carrito {
    background: #fff;
}
header .middle.merrell .search .wp-inp {
    background: #fff;
}    
header .middle.merrell .search-large.active {
    top: 91px;
}
header .middle.merrell .search-large.fx.active {
    top: 88px;
}
header .middle.merrell nav .container ul li.wH.marcas .wHoverNav .contentWH ul {
    width:175px;
} 
header .middle.merrell ul li .btn-cart .info.vcenter span.num {
    background: #000;
}
header .middle.merrell ul li .btn-cart .info.vcenter p {
    color: #fff;
}
header .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
    color: #000;
}
header .middle.merrell nav {
    margin: 0 0 0 20%;
    font-family: "Inconsolata", monospace;
}
section.middle.hitec {
    background: #fff;
    font-family: "Montserrat", sans-serif;
}
header .top.hitec {
    text-align: right;
    font-size: 11px;
    padding: 5px 0;
    border-bottom: 1px solid #666;
    font-family: "Montserrat", sans-serif;
}
header .middle.hitec ul.carrito-login {
    width: 19%;
}
header .middle.hitec .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/logo-Hitec.png) 0 0 no-repeat;
    width: 189px;
    top: 20px;
    left: 50px;
    height: 36px;
    background-size: 150px;
    margin: 0;
}
header .middle.hitec nav .container ul li a {
    color: #000;
}
header .middle.hitec nav .container ul li.wH .wHoverNav {
    top: 68px;
}
header .middle.hitec nav .container ul li a.mb {
    text-transform: uppercase;
}
header .middle.hitec nav .container ul li.wH .wHoverNav {
    background: #fff;
}
header .top.hitec .center.text-right a {
    text-decoration: underline;
}
header .middle.hitec .search .wp-inp .js-txtSearch {
    background: #fff;
    border-radius: 15px;
    border: solid 2px #000;
}
header .middle.hitec .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header .middle.hitec .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header .middle.hitec .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header .middle.hitec .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header .middle.hitec .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header .middle.hitec ul li .btn-cart .carrito .cart {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/cesta-coliseum.png) no-repeat;
    background-size: 18px;
    position: relative;
    top: 4px;
}
header .middle.hitec ul li.carrito {
    background: #fff;
}
header .middle.hitec .search-large.active {
    top: 91px;
}
header .middle.hitec .search-large.fx.active {
    top: 88px;
}
header .middle.hitec ul li .btn-cart .info.vcenter span.num {
    background: #000;
}
header .middle.hitec ul li .btn-cart .info.vcenter p {
    color: #fff;
}
header .middle.hitec nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
}
header .middle.hitec nav {
    width: 50%;
    margin: 0 0 0 13%;
}
header .middle.hitec nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    padding: 5px 15px 0 0;
    text-transform: none;
    border-top: 2px solid #54bceb;
}
section.middle.fila {
    background: #f4f4f4;
}
header .top.fila {
    background: #001a3f;
    color: #fff;
    text-align: right;
    font-size: 11px;
    padding: 10px 0;
    border-bottom: 1px solid #666;
}
header .middle.fila .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/LOGO_FILA.png) 0 0 no-repeat;
    width: 95px;
    top: 17px;
    left: 18px;
    height: 32px;
    background-size: 85px;
    margin: 0;
}
header .middle.fila nav .container ul li.wH .wHoverNav {
    top: 68px;
}
header .middle.fila nav .container ul li.wH .wHoverNav {
    background: #fff;
}
header .top.fila .center.text-right a {
    color: #fff;
    text-decoration: underline;
}
header .middle.fila .search .wp-inp .js-txtSearch {
    border: 0;
    background: #fff;
}
header .middle.fila .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header .middle.fila .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header .middle.fila .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header .middle.fila .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header .middle.fila .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header .middle.fila ul li .btn-cart .carrito .cart {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/cesta-coliseum.png) no-repeat;
    background-size: 18px;
    position: relative;
    top: 4px;
}
header .middle.fila ul li.carrito {
    background: #f4f4f4;
}
header .middle.fila .search-large.active {
    top: 91px;
}
header .middle.fila .search-large.fx.active {
    top: 88px;
}
header .middle.fila nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
}
header .middle.fila nav {
    margin: 0 0 0 10%;
}
header .middle.fila nav .container ul li.wH .wHoverNav .contentWH ul li a {
    color: #0b1f3f;
    font-size: 14px;
}
header .middle.fila nav .container ul li a {
    font-size: 16px;
    color: #0b1f3f;
}
section.middle.saucony {
    background: #1d1d1d;
}
header .top.saucony {
    background: #1d1d1d;
    color: #fff;
    text-align: right;
    font-size: 11px;
    padding: 5px 0;
    border-bottom: 1px solid #666;
}
header .middle.saucony ul.carrito-login {
    width: 34%;
}
header .middle.saucony .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/sissaucony-logo.png) 0 0 no-repeat;
    width: 189px;
    top: 17px;
    left: 36px;
    height: 45px;
    background-size: 188px;
    margin: 0;
}
header .middle.saucony nav .container ul li a {
    color: #fff;
}
header .middle.saucony nav .container ul li.wH .wHoverNav {
    top: 68px;
}
header .middle.saucony nav .container ul li a.mb {
    text-transform: uppercase;
}
header .middle.saucony nav .container ul li.wH .wHoverNav {
    background: #fff;
}
header .top.saucony .center.text-right a {
    color: #fff;
    text-decoration: underline;
}
header .middle.saucony .search .wp-inp .js-txtSearch {
    border: 0;
    background: #fff;
}
header .middle.saucony .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header .middle.saucony .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header .middle.saucony .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header .middle.saucony .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header .middle.saucony .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header .middle.saucony ul li .btn-cart .carrito .cart {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-16-10-2020.png) -305px -197px no-repeat;
    background-size: 330px;
    position: relative;
    top: 4px;
}
header .middle.saucony ul li.carrito {
    background: #1d1d1d;
}
header .middle.saucony .search-large.active {
    top: 91px;
}
header .middle.saucony .search-large.fx.active {
    top: 88px;
}
header .middle.saucony ul li .btn-cart .info.vcenter span.num {
    background: #fff;
}
header .middle.saucony ul li .btn-cart .info.vcenter p {
    color: #000;
}
header .middle.saucony nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
    color: #000;
    font-family: "Montserrat", sans-serif;
}
header .middle.saucony nav .container ul li.wH .wHoverNav .contentWH ul li a {
    color: #868686;
    font-size: 13px;
}
header .middle.saucony nav {
    margin: 0 0 0 20%;
}
/*********************** Coliseum **********************/
header .middle.coliseum .search .wp-inp .js-txtSearch {
    padding: 1% 2%;
    width: 95%;
}
header .middle.coliseum .search {
    width: 50%;
    margin: 18px 0 0 22%;
}
header .middle.coliseum nav {
    margin: 0;
}
header .middle.coliseum nav .container ul li {
    padding: 20px 35px 25px;
}
header .middle.coliseum ul.carrito-login {
    width: 22%;
}
header .middle.coliseum .search.active {
    margin: 4px 31%;
    width: 10%;
}
header .middle.coliseum nav .container ul li.wH .wHoverNav {
    top: 103px;
}    






@media (min-width: 1050px) and (max-width: 1300px) {
    header .top ul li.converse,
    header .top ul li.saucony,
    header .top ul li.umbro,
    header .top ul li.hitec,
    header .top ul li.merrel,
    header .top ul li.caterpillar,
    header .top ul li.cole,
    header .top ul li.steve,
    header .top ul li.havaianas,
    header .top ul li.ingresar {
        padding: 0.45rem 10px;
    }
    header .middle nav {
        margin: 0 0 0 17%;
    }
}
@media (min-width: 280px) and (max-width: 1050px) {
    header .top ul li.datos {
        displaydisplay: block none !important;
    }
    header .center {
        text-align: left;
    }
    header .top .center,
    header {
        width: 100%;
    }
    header .top ul li,
    header .middle nav,
    .module.slider {
        display: none;
    }
    header .top ul li.carrito {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: no-repeat;
        border: 0;
        width: auto;
    }
    header .top ul li .btn-cart {
        margin: 13px auto;
    }
    header .top ul li .btn-cart .carrito .cart {
        background: url(https://coliseum.vteximg.com.br/arquivos/mobNewNav.jpg) -40px 0 no-repeat;
        width: 21px;
        height: 25px;
    }
    header .top ul li.ingresar {
        z-index: 50;
        display: block;
        position: absolute;
        top: 17px;
        left: 125px;
        width: 17px;
        height: 17px;
        padding: 0;
        border: 0;
    }
    header .top ul li.ingresar a {
        font-size: 0;
        color: #fefefe;
    }
    header .top ul li.ingresar a:before {
        font: normal normal normal 18px/1 FontAwesome;
        content: "\f007";
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
    }
    header .middle .btn-nav {
        width: 16px;
        height: 16px;
        color: #000;
        vertical-align: top;
        display: inline-block;
        margin: 17px 15px 17px 60px;
    }
    header .middle .btn-nav:before {
        font: normal normal normal 16px/1 FontAwesome;
        content: "\f0c9";
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
    }
    header .middle .btn-nav.active:before {
        content: "\f00d";
    }
    header .middle .btn-sea {
        width: 16px;
        height: 16px;
        color: #fff;
        display: inline-block;
        margin: 17px 0;
    }
    header .middle .btn-sea:before {
        font: normal normal normal 16px/1 FontAwesome;
        content: "\f002";
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
    }
    header .middle .btn-sea.active:before {
        content: "\f00d";
    }
    header .middle nav {
        display: none;
        background: #f2f2f2;
        margin: 0;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 26;
        border-bottom: 1px solid #000;
    }
    header .middle nav.show {
        display: block;
        height: 100%;
    }
    header .middle nav .container ul {
        display: block;
    }
    header .middle nav .container ul li {
        padding: 20px 0;
        display: block;
    }
    header .middle nav .container ul li a {
        display: block;
    }
    header .middle nav .container ul li a.mb {
        padding: 0 5%;
    }
    header .middle nav .container ul li.more a.mb:after {
        content: "\f0de";
        margin: 3px 0 0;
    }
    header .middle nav .container ul li.more {
        padding: 15px 0 0;
    }
    header .middle nav .container ul li.wH .wHoverNav {
        position: relative;
        top: 0;
        left: 0;
        margin: 15px 0 0;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH {
        padding: 15px 10% 5px;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul {
        width: 50%;
        margin: 0 0 10px;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul.marginOut {
        margin-bottom: 0;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul li a {
        padding: 15px 0;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
        width: 70%;
        display: block;
    }
    header .middle .search .wp-inp i {
        top: -18px;
        left: 40px;
    }
    header .middle .search .wp-inp .resul .items a .detalle {
        width: 80%;
    }
    header .middle .search .wp-inp .resul .items a .detalle h3 {
        width: 38%;
    }
    header .middle .search .wp-inp .resul .items a .detalle .ListPrice,
    header .middle .search .wp-inp .resul .items a .detalle .Price {
        width: 26%;
    }
    header .top ul li .btn-cart .pre-cart {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        right: 0;
        border-top: 0;
    }
    header .top ul li .btn-cart .pre-cart .wrap-scroll {
        padding: 20px 5%;
    }
    header .top ul li .btn-cart .pre-cart .wrap-scroll table {
        display: grid;
    }
    header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item img {
        width: 50px;
    }
    header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info {
        width: 90px;
    }
    header .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.cantidad {
        padding: 0 10px;
    }
    header .top ul li .btn-cart .pre-cart .row.resumen {
        height: auto;
    }
    header .top ul li .btn-cart .pre-cart .row.resumen .btn.comprar {
        padding: 10px 0;
        margin: 0 auto 20px !important;
        display: block;
        position: relative;
        width: 100%;
        margin: auto;
        left: auto;
        right: auto;
        bottom: auto;
        text-align: center;
    }
    header .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.b,
    header .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.c,
    header .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.d {
        display: none;
    }
    header .middle .search-large .wp-inp .seccion-buscador .buscador-izq .buscar {
        display: block;
        width: 90%;
        text-align: left;
        padding: 0 5%;
        font-size: 28px;
        font-weight: bold;
    }
    header .top ul li.ingresar {
        display: none;
    }
    header .middle .btn-sea {
        display: none;
    }
    header .middle .btn-nav {
        margin: 17px;
        float: left;
        margin-right: 0 !important;
        z-index: 1000;
    }
    header .middle .logo {
        width: 46%;
        left: 6px;
        height: 37px;
        background-size: 150px 26px;
        background-position: center;
        margin: 8px 0;
        position: relative;
    }
    header.fx {
        z-index: 100;
    }
    header .middle nav {
        background: #fff;
    }
    header .middle nav .container ul li a {
        color: #000;
        text-align: left;
        font-weight: 700;
        font-size: 21px;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul {
        width: 100%;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul li {
        display: none;
    }    
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
        width: 100%;
    }   
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title {
        display: block;
    }    
    nav.show .datos {
        display: none;
        display: block;
        height: 100%;
    }
    nav.show .datos > div {
        padding: 20px 0;
        vertical-align: middle;
        color: #fff;
        border-top: 1px solid #353535;
        background: #000;
    }
    nav.show .datos > div a {
        color: #fff;
    }
    nav.show .datos div.cuenta,
    nav.show .datos div.tiendas {
        text-transform: uppercase;
        width: 49.5%;
        border-right: 1px solid #353535;
        display: inline-block;
    }
    header .middle nav {
        top: 65px;
        max-height: calc(100% - 0px);
        overflow-y: auto;
    }
    nav.show .datos div.ayuda p:nth-child(1) {
        font-weight: 100;
        text-transform: uppercase;
    }
    nav.show .datos div.ayuda p:nth-child(2),
    nav.show .datos div.ayuda p:nth-child(4) {
        font-weight: 100;
        font-size: 13px;
    }
    nav.show .datos div.ayuda a {
        font-size: 12px;
        font-weight: 500;
    }
    nav a.btn-ingresar:before {
        font: normal normal normal 18px/1 FontAwesome;
        content: "\f007";
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        padding: 0 10px 0 0;
    }
    nav div.tiendas:before {
        font: normal normal normal 18px/1 FontAwesome;
        content: "\f041";
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        padding: 0 10px 0 0;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title:before {
        display: inline-block;
        content: "\f0dd";
        font: normal normal normal 14px/1 FontAwesome;
        float: right;
        margin: 4px 0 0 5px;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title.act:before {
        content: "\f0de";
        margin: 3px 0 0;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul {
        border-bottom: 1px solid #bebebe;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
        border-bottom: none;
    }
    .act a {
        border-bottom: none !important;
    }
    header .middle nav .container ul li.marcas.wH .wHoverNav .contentWH ul li {
        display: block;
    }
    header .middle nav .container ul li.marcas.wH .wHoverNav .contentWH ul {
        border-bottom: none;
        padding: 0;
    }
    header .middle nav .container ul li.wH .wHoverNav {
        background: #f6f6f6;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
        padding: 6px 0;
        margin: 0;
        font-size: 18px;
        font-weight: 400;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH {
        padding: 0 10%;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH .act a {
        border-bottom: 1px solid #bebebe;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul {
        margin: 0;
        padding: 15px 0;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul li a {
        padding: 15px 0;
        font-size: 17px;
        font-weight: 100;
    }
    header .middle .search .wp-inp .resul .items {
        width: 100%;
    }
    header .middle .search .active .wp-inp .resul {
        top: 20px;
    }
    header .middle nav .container ul li.wH.logeo .wHoverNav .contentWH ul li {
        display: block;
    }
    header .middle ul.carrito-login {
        width: 14%;
        padding: 8px 0;
        float: right;
    }
    header .middle ul li.ingresar {
        display: none;
    }
    header .middle ul li.datos {
        display: none !important;
    }
    header .middle ul li.carrito {
        width: 34%;
    }
    header .middle ul li .btn-cart .pre-cart .row.resumen .btn.comprar {
        padding: 10px 7px;
        font-size: 12px;
    }
    header .middle .search-large .wp-inp .seccion-buscador .buscador-der {
        display: none;
    }
    header .middle ul.carrito-login.active {
        width: 14%;
    }
    header .middle .search-large .wp-inp i {
        top: 57px;
        left: 83%;
    }
    header .middle .search-large .wp-inp .seccion-buscador .buscador-izq {
        padding: 15px 0 102px;
        width: 100%;
        height: 10px;
    }
    header .middle .search-large .wp-inp .resul {
        width: 100%;
    }
    header .middle .search .buscar-cerrar {
        color: #000;
        background: #fff;
        right: auto;
        width: 90%;
        padding: 9px 5%;
        text-align: left;
        font-size: 0;
        top: 0;
        z-index: 100;
        position: relative;
    }
    header .middle .search .buscar-cerrar:before {
        content: "\f00d";
        font: normal normal normal 16px/1 FontAwesome;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
    }
    header .middle .search-large.active,
    header .middle .search-large.fx.active {
        top: 63px;
    }
    header .middle .search-large .wp-inp .seccion-buscador .buscador-izq .resul .items a img {
        display: inline-block;
    }
    header .middle .search-large .wp-inp .resul .items a .detalle {
        width: 80%;
    }
    header .middle .search-large .wp-inp .resul .items a {
        height: 50px;
        padding: 4px 0;
    }
    header .middle .search-large .wp-inp .resul .items {
        height: 240px;
    }
    header .middle .search-large .wp-inp .js-txtSearch {
        padding: 5% 0;
        border-bottom: 2px solid #f2f2f2;
        width: 90%;
        margin: 0 5%;
    }
    header .middle .search-large .active .wp-inp .resul {
        border: 0;
    }
    header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info {
        width: 80px;
    }
    header .middle ul li .btn-cart .pre-cart {
        width: 370px;
        height: auto;
    }
    header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.precio {
        width: 80px;
    }
    header .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item img {
        width: 50px;
    }
    header .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.a {
        width: 150px;
    }
    header .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.b {
        width: 60px;
    }
    header .middle .mCustomScrollBox {
        max-height: auto;
    }
    header .middle .search .wp-inp .js-txtSearch {
        border: 0;
        width: 0;
    }
    header .middle .search .wp-inp.active {
        display: block;
    }
    .wp-inp.active .fa-search:before {
        content: "\f00d";
    }
    header .middle .search .buscar-cerrar.active {
        display: none;
    }
    header .middle .search {
        width: 5%;
    }
    header .middle .imagen-desp-izq {
        display: none;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul.dos .ancho-50 {
        width: 100%;
        display: none;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH ul.dos {
        width: 100%;
    }
    header .middle nav .container ul li.wH .wHoverNav .contentWH .linea-div,
    header .middle nav .container ul li.wH .wHoverNav .contentWH .linea-div-mediana,
    header .middle nav .container ul li.wH .wHoverNav .contentWH .linea-div-grande {
        display: none;
    }
    nav .container ul li.title ~ li {
        display: none;
    }
    nav .container ul li.title.act ~ li {
        display: block !important;
    }
    .act a {
        border-bottom: 1px solid #fff !important;
    }
    li.a.wH.logeo {
        display: none;
    }
    header .middle .search .active .wp-inp i {
        color: #000;
    }
    header .middle .search .wp-inp .js-txtSearch {
        background: #fff;
    }
    header .middle .wHoverNav .ver-todo {
        display: none;
    }
    header .middle .wHoverNav .imagen-marca-texto {
        display: block !important;
    }
    header .middle .wHoverNav .imagen-marca-menu,
    header .middle .wHoverNav .texto-marca-menu {
        display: none !important;
    }
    header .middle.coliseum ul.carrito-login {
        width: 30%;
    }
    header .middle.coliseum .search {
        width: 2%;
        margin: 0;
    }  
    header .middle.coliseum .search .wp-inp .js-txtSearch {
        padding: 0;
        width: 0;
    }    
    header .middle.coliseum .search.active {
        width: 0;
        margin: 0;
    }  
    header .middle.coliseum nav .container ul li.wH .wHoverNav {
        top: 0
    }
    header .middle.coliseum nav .container ul li {
        padding: 20px 0;
    }
}
.ml-newsletter {
    line-height: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 2px;
}
.ml-newsletter.nanoban-mobile {
    display: none;
}
.ml-newsletter.nanoban-desktop .center {
    width: 1120px !important;
}
.ml-newsletter.nanoban-desktop .bx-wrapper img {
    width: 100%;
}
.ml-newsletter.nanoban-desktop.fx {
    position: fixed;
    width: 100%;
    top: 100px;    
    z-index: 2;
}
.ml-newsletter.nanoban-desktop .module.slider {
    position: relative;
    padding: 0;
    width: 100%;
}
.ml-newsletter .module.slider .box-banner a {
    display: inline-block;
    padding: 10px 0;
    letter-spacing: 1px;
    font-weight: bold;
    width: 88%;
    color: #fff;
}
.ml-newsletter .module.slider .box-banner a.legal {
    width: 10%;
    font-size: 11px;
}
.ml-newsletter.nanoban-desktop .box-banner a.le {
    position: absolute;
    top: 36%;
    left: 92%;
    width: 10%;
    color: #fff;
    letter-spacing: 0;
    font-size: 12px;
    text-decoration: underline;
    background: none;
}
.ml-newsletter.nanoban-desktop .count-nano-gif {
    width: 190px;
    height: 40px;
    position: absolute;
    right: 15%;
    top: 15px;
    overflow: hidden;
}
.ml-newsletter.nanoban-desktop .le {
    position: absolute;
    top: 28px;
    width: 10%;
    right: 5%;
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
}
.ml-newsletter .module.slider .box-banner.negro a {
    display: inline-block;
    padding: 0;
}
.ml-newsletter .module.slider .box-banner.negro a {
    padding: 0;
}
.ml-newsletter .module.slider .box-banner.negro a img {
    width: 50%;
    padding: 12px 0;
    display: inline-block;
}
.ml-newsletter .module.slider .box-banner.negro .count-nano {
    display: inline-block;
    position: relative;
    height: 44px;
    overflow: hidden;
}
.ml-newsletter .module.slider .box-banner.negro .count-nano img {
    padding: 0;
    width: 63%;
}
@media (min-width: 280px) and (max-width: 1050px) {
    .ml-newsletter {
        line-height: 11px;
        font-size: 11px;
    }
    .ml-newsletter.nanoban-desktop {
        display: none;
    }
    .ml-newsletter.nanoban-mobile {
        height: auto;
        display: block;
        position: relative;
    }
    .ml-newsletter.nanoban-mobile .bx-wrapper img {
        width: 100%;
    }
    .ml-newsletter .module.slider {
        display: block;
        width: 100%;
        padding: 0;
    }
    .ml-newsletter.nanoban-mobile .module.slider {
        position: relative;
        padding: 0;
        width: 100%;
    }
    .ml-newsletter .right p.envio-gratis {
        float: none;
    }
    .ml-newsletter.nanoban-mobile .box-banner a.le {
        position: absolute;
        bottom: 10px;
        color: #fff;
        font-size: 8px;
        letter-spacing: 0px;
        text-decoration: underline;
        background: none;
        display: inline-block !important;
        margin: 0 !important;
        width: 30%;
        left: 70%;
        top: 60%;
    }
    .ml-newsletter.nanoban-mobile .count-nano-gif {
        width: 170px;
        position: absolute;
        right: 27%;
        text-align: center;
        top: 30px;
        height: 34px;
        overflow: hidden;
    }
    .ml-newsletter.nanoban-mobile .le {
        position: absolute;
        top: 45px;
        width: 19%;
        right: 6%;
        color: #fff;
        font-size: 11px;
        text-decoration: underline;
    }
    .ml-newsletter .module.slider .box-banner .pc {
        display: none;
    }
    .ml-newsletter .module.slider .box-banner .mobil {
        width: 83%;
        display: inline-block;
    }
    .ml-newsletter .module.slider .box-banner a {
        padding: 0;
        margin: 0;
    }
    .ml-newsletter .module.slider .box-banner a .pc-legal {
        display: none;
    }
    .ml-newsletter .module.slider .box-banner a .mobil-legal {
        position: absolute;
        top: 48px;
        left: 44%;
        width: 13%;
        display: block;
    }
    header .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(11),
    header .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(12),
    header .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(13),
    header .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(14),
    header .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(15),
    header .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(16) {
        border-top: 0;
        padding: 0;
    }
    header .middle nav .container ul li.g.wH a {
        padding: 0 5%;
    }
    .ml-newsletter .module.slider .box-banner.negro a img {
        width: 100%;
        padding: 0;
    }
    .ml-newsletter .module.slider .box-banner.negro .count-nano {
        height: 34px;
        width: 80%;
    }
    .ml-newsletter.nanoban-mobile.fx {
        position: fixed;
        top: 63px;
        width: 100%;
        z-index: 3;
    }
    .ml-newsletter.nanoban-mobile.fx.fix {
        top: 104px;
    }
    .ml-home .ml-newsletter.nanoban-mobile.fx {
        top: 60px;
    }
}
