header.header-sis {
    background: #fff;
}
header.header-sis .container{
     position: initial;
}
header.header-sis .top {
    background: #fff;
    border-bottom: 1px solid #d2d2d2;
}
header.header-sis .top ul {
    display: block;
    text-align: center;
}
header.header-sis .top ul li {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    line-height: 16px;
    border-right: 1px solid #fff;
}
header.header-sis .top ul li a {
    color: #555;
    font-size: 12px;
}
header.header-sis .top ul li.converse,
header.header-sis .top ul li.saucony,
header.header-sis .top ul li.umbro,
header.header-sis .top ul li.fila,
header.header-sis .top ul li.hitec,
header.header-sis .top ul li.merrel,
header.header-sis .top ul li.caterpillar,
header.header-sis .top ul li.cole,
header.header-sis .top ul li.steve,
header.header-sis .top ul li.havaianas,
header.header-sis .top ul li.magnum,
header.header-sis .top ul li.ingresar,
header.header-sis .top ul li.datos {
    padding: 0.5% 2%;
}
header.header-sis .coliseum .logo-sup {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 9%;
    height: 73%;
    position: absolute;
    background: url(https://coliseum.vteximg.com.br/arquivos/logo_horizontal-20-03-2020.png) no-repeat;
    background-size: 113px;
    margin: 8px 0 0;
    display: none;
}
header.header-sis .top ul li.coliseum {
    width: 0;
}
header.header-sis .top ul li.converse a img {
    margin: 2px 0 0;
}
header.header-sis .top ul li.umbro a img,
header.header-sis .top ul li.fila a img {
    width: 35px;
}
header.header-sis .top ul li.saucony a img {
    width: 65px;
    margin: 2px 0;
}
header.header-sis .top ul li.hitec a img,
header.header-sis .top ul li.merrel a img,
header.header-sis .top ul li.cole a img,
header.header-sis .top ul li.steve a img,
header.header-sis .top ul li.havaianas a img {
    width: 65px;
    margin: 2px 0 0;
}
header.header-sis .top ul li.caterpillar a img {
    width: 25px;
    margin: 2px 0;
}
header.header-sis .top ul li.magnum a img {
    margin: 2px 0;
}
header.header-sis .top ul li.converse a,
header.header-sis .top ul li.saucony a,
header.header-sis .top ul li.umbro a,
header.header-sis .top ul li.fila a,
header.header-sis .top ul li.hitec a,
header.header-sis .top ul li.merrel a,
header.header-sis .top ul li.caterpillar a,
header.header-sis .top ul li.cole a,
header.header-sis .top ul li.steve a,
header.header-sis .top ul li.havaianas a,
header.header-sis .top ul li.magnum a {
    opacity: 0.5;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
header.header-sis .top ul li a:hover {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
header.header-sis .middle {
    background: #fff;
}
header.header-sis .middle ul {
    display: inline-block;
    text-align: right;
}
header.header-sis .middle ul li {
    display: inline-block;
    vertical-align: middle;
    line-height: 6px;
    text-align: center;
}
header.header-sis .middle ul li a p {
    display: inline-block;
    padding: 0;
    font-weight: 600;
    position: relative;
    color: #000;
    text-decoration: none;
    line-height: 12px;
    font-size: 12.5px;
}
header.header-sis .middle ul li a p:hover {
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
header.header-sis .top ul li.ingresar {
    cursor: pointer;
}
header.header-sis .top ul li.carrito {
    background: #343a40;
    width: 70px;
    height: 34px;
}
header.header-sis .top ul li .btn-cart {
    display: block;
    cursor: pointer;
    width: 24px;
    margin: 8px auto;
    position: relative;
}
header.header-sis .top ul li .btn-cart .btn {
    background: none;
    padding: 0;
    text-shadow: none;
    border: 0;
}
header.header-sis .top ul li .btn-cart .carrito .cart {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 16px;
    height: 18px;
    background-image: url(https://coliseum.vteximg.com.br/arquivos/shop-rd18.jpg);
}
header.header-sis .top ul li .btn-cart .pre-cart .row.resumen .total .numero:before {
    content: "S/.";
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.precio:before {
    content: "S/.";
}
header.header-sis .top ul li .btn-cart .pre-cart.empty {
    height: auto;
}
header.header-sis .top ul li .btn-cart .btn.carrito .fa {
    position: absolute;
    bottom: -17px;
    right: 36px;
    font-size: 24px;
    opacity: 0;
    display: none;
}
header.header-sis .top ul li .btn-cart:hover .carrito .cart {
    -webkit-transform: rotate(15deg) scale(1, 1);
    transform: rotate(15deg) scale(1, 1);
}
header.header-sis .top ul li .btn-cart .info.vcenter {
    text-align: right;
    display: block;
}
header.header-sis .top ul li .btn-cart .info.vcenter p {
    position: relative;
    padding: 0;
    margin: 0;
    color: #000;
    line-height: 14px;
}
header.header-sis .top ul li .btn-cart .info.vcenter p.tit {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 4px;
    left: 42px;
    display: none;
}
header.header-sis .top ul li .btn-cart .info.vcenter p.precio {
    display: none !important;
    width: 70px;
    text-align: left;
    position: absolute;
    top: 18px;
    left: 42px;
    display: none;
}
header.header-sis .top ul li .btn-cart .info.vcenter span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}
header.header-sis .top ul li .btn-cart .info.vcenter span.num {
    position: absolute;
    top: 0;
    left: 15px;
    background: #fff;
    border-radius: 15px;
    width: 13px;
    height: 13px;
    font-size: 10px;
    text-align: center;
    line-height: 13px;
    z-index: 50;
    color: #000;
}
header.header-sis .top ul li .btn-cart .pre-cart {
    border: 1px solid #ccc;
    display: none;
    text-align: left;
    z-index: 500;
    position: absolute;
    top: 25px;
    right: -23px;
    background: #fff;
    width: 500px;
    border-radius: 0;
    height: 215px;
}
header.header-sis .top ul li .btn-cart .pre-cart .fa-caret-up {
    position: absolute;
    top: -11px;
    right: 30px;
    color: #fff;
}
header.header-sis .top ul li .btn-cart .pre-cart .head-mobile.res-mobile {
    display: none !important;
}
header.header-sis .top ul li .btn-cart .pre-cart .head-mobile.res-mobile .close {
    display: inline-block;
    vertical-align: middle;
}
header.header-sis .top ul li .btn-cart .pre-cart .head-mobile.res-mobile .title {
    display: inline-block;
    vertical-align: middle;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll {
    padding: 20px;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td {
    vertical-align: top;
    height: 20px;
    line-height: 20px;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td p {
    font-size: 13px;
    color: #232323;
    margin: 0 0 10px;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.a {
    width: 280px;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.b {
    width: 80px;
    text-align: center;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.c {
    width: 80px;
    text-align: center;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    width: 70px;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 15px;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info h3 {
    display: block;
    vertical-align: top;
    font-size: 12px !important;
    color: #666;
    line-height: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info p {
    display: block;
    vertical-align: top;
    font-size: 12px;
    color: #000;
    line-height: 14px;
    margin: 10px 0 0;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.cantidad {
    font-size: 13px;
    text-align: center;
    color: #666;
    display: block;
    vertical-align: top;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.precio {
    font-size: 13px;
    text-align: center;
    color: #000;
    display: block;
    vertical-align: top;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr.linea td p {
    border-bottom: 1px dashed #ddd;
    margin: 10px 0 15px;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .eliminar {
    font-size: 0;
    color: #000;
    padding: 4px;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 12px;
    font-weight: 600;
}
header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .eliminar:before {
    content: "\f00d";
    font: normal normal normal 14px/1 FontAwesome;
}
header.header-sis .top ul li .btn-cart .pre-cart .row.resumen {
    margin: 0 20px 5px;
    border-top: 1px solid #ccc;
    height: 54px;
    padding: 10px 0 0;
}
header.header-sis .top ul li .btn-cart .pre-cart .row.resumen .total {
    line-height: 18px;
    font-size: 14px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
}
header.header-sis .top ul li .btn-cart .pre-cart .row.resumen .total .numero {
    font-weight: 700;
    margin: 0 0 0 10px;
    display: inline-block;
}
header.header-sis .top ul li .btn-cart .pre-cart .row.resumen .btn.comprar {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #343a40;
    border: 0;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    vertical-align: middle;
    letter-spacing: 1px;
    position: absolute;
    bottom: 18px;
    right: 20px;
}
header.header-sis .top ul li .btn-cart .pre-cart .empty-cart {
    padding: 14px 0;
}
header.header-sis .top ul li .btn-cart .pre-cart .empty-cart span {
    font-size: 12px;
    font-weight: 300;
    display: block;
    text-align: center;
    color: #656565;
}
header.header-sis .middle ul.carrito-login {
    width: 25%;
}
header.header-sis .middle ul.carrito-login.active {
    width: 38%;
}
header.header-sis .middle ul li.ingresar {
    cursor: pointer;
    width: 16%;
    text-align: right;
}
header.header-sis .middle ul li.carrito {
    background: #fff;
    /*width: 16%;*/
    width: 38px;
    height: 34px;
}
header.header-sis .middle ul li .btn-cart {
    display: block;
    cursor: pointer;
    width: 24px;
    margin: 7px auto;
    position: relative;
    margin: 7px auto;
}
header.header-sis .middle ul li .btn-cart .btn {
    background: none;
    padding: 0;
    text-shadow: none;
    border: 0;
}
header.header-sis .middle ul li .btn-cart .btn {
    background: none;
    padding: 0;
    text-shadow: none;
    border: 0;
}
header.header-sis .middle ul li .btn-cart .btn > a {
    display: none;
}
header.header-sis .middle ul li .btn-cart .carrito .cart {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 20px;
    height: 24px;
    background: url(https://coliseum.vteximg.com.br/arquivos/cesta-coliseum.png) no-repeat;
    background-size: 18px;
}
header.header-sis .middle ul li .btn-cart .pre-cart .row.resumen .total .numero:before {
    content: "S/.";
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.precio:before {
    content: "S/.";
}
header.header-sis .middle ul li .btn-cart .pre-cart.empty {
    height: auto;
}
header.header-sis .middle ul li .btn-cart .btn.carrito .fa {
    position: absolute;
    bottom: -17px;
    right: 36px;
    font-size: 24px;
    opacity: 0;
    display: none;
}
header.header-sis .middle ul li .btn-cart:hover .carrito .cart {
    -webkit-transform: rotate(15deg) scale(1, 1);
    transform: rotate(15deg) scale(1, 1);
}
header.header-sis .middle ul li .btn-cart .info.vcenter {
    text-align: right;
    display: block;
}
header.header-sis .middle ul li .btn-cart .info.vcenter p {
    position: relative;
    padding: 0;
    margin: 0;
    color: #fff;
    line-height: 14px;
}
header.header-sis .middle ul li .btn-cart .info.vcenter p.tit {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: 4px;
    left: 42px;
    display: none;
}
header.header-sis .middle ul li .btn-cart .info.vcenter p.precio {
    display: none !important;
    width: 70px;
    text-align: left;
    position: absolute;
    top: 18px;
    left: 42px;
    display: none;
}
header.header-sis .middle ul li .btn-cart .info.vcenter span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}
header.header-sis .middle ul li .btn-cart .info.vcenter span.num {
    position: absolute;
    top: 0;
    left: 16px;
    background: #000;
    border-radius: 15px;
    width: 13px;
    height: 13px;
    font-size: 10px;
    text-align: center;
    line-height: 13px;
    z-index: 50;
    color: #000;
}
header.header-sis .middle ul li .btn-cart .pre-cart {
    border: 1px solid #ccc;
    display: none;
    text-align: left;
    z-index: 500;
    position: absolute;
    top: 28px;
    right: -23px;
    background: #fff;
    width: 500px;
    border-radius: 0;
    height: 215px;
}
header.header-sis .middle ul li .btn-cart .pre-cart .fa-caret-up {
    position: absolute;
    top: -11px;
    right: 30px;
    color: #fff;
}
header.header-sis .middle ul li .btn-cart .pre-cart .head-mobile.res-mobile {
    display: none !important;
}
header.header-sis .middle ul li .btn-cart .pre-cart .head-mobile.res-mobile .close {
    display: inline-block;
    vertical-align: middle;
}
header.header-sis .middle ul li .btn-cart .pre-cart .head-mobile.res-mobile .title {
    display: inline-block;
    vertical-align: middle;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll {
    padding: 20px;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td {
    vertical-align: top;
    height: 20px;
    line-height: 20px;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td p {
    font-size: 13px;
    color: #232323;
    margin: 0 0 10px;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.a {
    width: 280px;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.b {
    width: 80px;
    text-align: center;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.c {
    width: 80px;
    text-align: center;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    width: 70px;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 15px;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info h3 {
    display: block;
    vertical-align: top;
    font-size: 12px !important;
    color: #666;
    line-height: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info > span {
    display: block;
    vertical-align: top;
    font-size: 12px !important;
    color: #666;
    line-height: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info p {
    display: block;
    vertical-align: top;
    font-size: 12px;
    color: #000;
    line-height: 14px;
    margin: 10px 0 0;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.cantidad {
    font-size: 13px;
    text-align: center;
    color: #666;
    display: block;
    vertical-align: top;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.precio {
    font-size: 13px;
    text-align: center;
    color: #000;
    display: block;
    vertical-align: top;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr.linea td p {
    border-bottom: 1px dashed #ddd;
    margin: 10px 0 15px;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .eliminar {
    font-size: 0;
    color: #000;
    padding: 4px;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 12px;
    font-weight: 600;
}
header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .eliminar:before {
    content: "\f00d";
    font: normal normal normal 14px/1 FontAwesome;
}
header.header-sis .middle ul li .btn-cart .pre-cart .row.resumen {
    margin: 0 20px 5px;
    border-top: 1px solid #ccc;
    height: 54px;
    padding: 10px 0 0;
    position: relative;
    background: #fff;
    position: sticky;
    bottom: 0;
    z-index: 10;
    display: block;    
}
header.header-sis .middle ul li .btn-cart .pre-cart .row.resumen .total {
    line-height: 18px;
    font-size: 14px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
}
header.header-sis .middle ul li .btn-cart .pre-cart .row.resumen .total .numero {
    font-weight: 700;
    margin: 0 0 0 10px;
    display: inline-block;
}
header.header-sis .middle ul li .btn-cart .pre-cart .row.resumen .btn.comprar {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #343a40;
    border: 0;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    vertical-align: middle;
    letter-spacing: 1px;
    position: absolute;
    bottom: 18px;
    right: 0;
}
header.header-sis .middle ul li .btn-cart .pre-cart .empty-cart {
    padding: 14px 0;
}
header.header-sis .middle ul li .btn-cart .pre-cart .empty-cart span {
    font-size: 12px;
    font-weight: 300;
    display: block;
    text-align: center;
    color: #656565;
}
header.header-sis .middle {
    height: auto;
    position: relative;
}
header.header-sis .middle .logo {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    display: inline-block;
    width: 17%;
    height: 96%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://coliseum.vteximg.com.br/arquivos/logo_horizontal-20-03-2020.png) no-repeat;
    background-size: 175px;
    margin: 20px 0 0;
    z-index: 101;
}
header.header-sis .middle nav {
    display: inline-block;
    margin: 0 0 0 14%;
    vertical-align: middle;
}
header.header-sis .middle nav .container:before {
    display: none;
}
header.header-sis .middle nav .container:after {
    display: none;
}
header.header-sis .middle nav .container ul {
    list-style: none;
    display: inline-block;
    margin: 0;
}
header.header-sis .middle nav .container ul li {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    margin: 0;
    padding: 28px 19px;
}
header.header-sis .middle nav .container ul li.a > a,
header.header-sis .middle nav .container ul li.b > a,
header.header-sis .middle nav .container ul li.c > a,
header.header-sis .middle nav .container ul li.d > a,
header.header-sis .middle nav .container ul li.e > a {
    display: block;
    z-index: 20;
    position: relative;
}
header.header-sis .middle nav .container ul li.w {
    background: #fff;
    color: #000;
}
header.header-sis .middle nav .container ul li.w a {
    color: #fff !important;
}
header.header-sis .middle nav .container ul li a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600;
    position: relative;
    color: #000;
    text-decoration: none;
    line-height: 12px;
    /*text-transform: lowercase;*/
}
header.header-sis .middle nav .container > ul > li > a {
    text-transform: none;
}
header.header-sis .middle nav .container .f.wH.marcas ul li a,
header.header-sis .middle nav .container .d.wH.marcas ul li a {
    text-transform: none;
}
header.header-sis .middle nav .container ul li a:first-letter {
    text-transform: capitalize;
}
header.header-sis .middle nav .container ul li a:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
header.header-sis .middle nav .container ul li.wH a.mb:after {
    display: inline-block;
    content: "\f0dd";
    font: normal normal normal 14px/1 FontAwesome;
    float: right;
    margin: -2px 0 0 5px;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav {
    display: none;
    position: absolute;
    background: #f7f7f7;
    top: 53px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH {
    position: relative;
    margin: auto;
    padding: 30px 0 30px 2%;
    text-align: center;
}
header.header-sis .middle nav .container ul li.wH.marcas .wHoverNav .contentWH {
    padding: 30px 7%;
}
header.header-sis .middle nav .container ul li.wH.marcas .wHoverNav .contentWH ul {
    width: 200px;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul {
    position: relative;
    height: auto;
    width: 138px;
    list-style: none;
    display: inline-block;
    padding: 0 0 0 14px;
    margin: 0;
    vertical-align: top;
    text-align: left;
}
header.header-sis .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(11),
header.header-sis .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(12),
header.header-sis .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(13),
header.header-sis .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(14),
header.header-sis .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(15),
header.header-sis .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(16){
    border-top: solid 1px #efefef;
    padding: 25px 0 0 34px;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li.imagen-marca-menu {
    height: 38px;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH li.texto-marca-menu a b {
    font-weight: 700;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .linea-div {
    border: solid 1px #efefef;
    height: 265px;
    display: inline-block;
    position: absolute;
    top: 0;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .linea-div-mediana {
    border: solid 1px #efefef;
    height: 525px;
    display: inline-block;
    position: absolute;
    top: 0;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .linea-div-grande {
    border: solid 1px #efefef;
    height: 393px;
    display: inline-block;
    position: absolute;
    top: 0;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li {
    border-left: 0;
    padding: 0;
    display: block;
    margin: 0;
    height: auto;
    line-height: 23px;
    text-align: left;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li a {
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 16px;
    color: #3a3a3a;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li a:hover {
    color: #000;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    display: inline-block;
    margin: 0 0 8px;
    font-weight: 700;
    font-size: 13px;
    color: #323232;
    position: relative;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title a:hover {
    color: #010101;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li.ver-todo-mobil {
    display: none;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li a.verMas {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 40px;
    text-decoration: none;
    color: #010101;
    border-top: 1px solid #939393;
    padding: 5px 32px 0;
    margin: 10px 0 0;
    display: block;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .prev {
    display: inline-block;
    width: 442px;
    padding: 0 0 0 40px;
    margin: 0 0 0 30px;
    border-left: 1px solid #ddd;
    vertical-align: top;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .prev .left {
    width: 204px;
    display: inline-block;
    position: relative;
    margin: 0 32px 0 0;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .prev .left a {
    display: none;
    position: absolute;
    top: 40%;
    left: 30%;
    border: 1px solid #fff;
    padding: 5px 10px;
    line-height: 20px;
    background: #0000005e;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .prev .left:hover a {
    display: block;
    color: #fff;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .prev .left a:before {
    display: none !important;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .prev .left img {
    display: block;
    margin: auto;
    width: 100%;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .prev .right {
    width: 204px;
    display: inline-block;
    position: relative;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .prev .right a {
    display: none;
    position: absolute;
    top: 40%;
    left: 30%;
    border: 1px solid #fff;
    padding: 5px 10px;
    line-height: 20px;
    background: #0000005e;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .prev .right:hover a {
    display: block;
    color: #fff;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .prev .right a:before {
    display: none !important;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .prev .right img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}
header.header-sis .middle .search {
    width: 17.5%;
    height: 24px;
    margin: 0;
    display: inline-block;
    position: relative;
    bottom: 4px;
}
header.header-sis .middle .search.active {
    width: 5%;
}
header.header-sis .middle .search .wp-inp .js-txtSearch {
    border: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    vertical-align: top;
    border: solid 1px #000;
    line-height: 10px;
    font-size: 12px;
    padding: 3% 6%;
    width: 85%;
}
header.header-sis .middle .search .wp-inp .js-txtSearch:focus {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
header.header-sis .middle .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #8c8c8c;
    font-size: 12px;
}
header.header-sis .middle .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #8c8c8c;
    font-size: 12px;
}
header.header-sis .middle .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #8c8c8c;
    font-size: 12px;
}
header.header-sis .middle .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #8c8c8c;
    font-size: 12px;
}
header.header-sis .middle .search .wp-inp .js-txtSearch::placeholder {
    color: #8c8c8c;
    font-size: 12px;
}
header.header-sis .middle .search .wp-inp {
    position: relative;
    display: block;
}
header.header-sis .middle .search .wp-inp.active {
    display: none;
}
header.header-sis .middle .search .wp-inp i {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #707570;
    position: absolute;
    top: 6px;
    font-size: 15px;
    right: 15px;
}
header.header-sis .middle .search .active .wp-inp i {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #cacaca;
}
header.header-sis .middle .search .wp-inp .resul {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 100%;
    background: #fff;
    display: none;
}
header.header-sis .middle .search .active .wp-inp .resul {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: block;
    position: relative;
    z-index: 40;
    margin: 0 0 0 -1px;
    border: 1px solid #eaeaea;
}
header.header-sis .middle .search .wp-inp .resul .loading {
    background: url(https://coliseum.vteximg.com.br/arquivos/loading.gif) center no-repeat;
    width: 100%;
    height: 40px;
}
header.header-sis .middle .search .wp-inp .resul p {
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}
header.header-sis .middle .search .wp-inp .resul .items {
    height: 300px;
    overflow: hidden;
}
header.header-sis .middle .search .wp-inp .resul .items a {
    display: block;
    height: 50px;
    padding: 10px 15px;
    text-decoration: none;
}
header.header-sis .middle .search .wp-inp .resul .items a.item:hover {
    background: #f2f2f2;
}
header.header-sis .middle .search .wp-inp .resul .items a img {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
header.header-sis .middle .search .wp-inp .resul .items a .detalle {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}
header.header-sis .middle .search .wp-inp .resul .items a .detalle h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    width: 50%;
    line-height: 50px;
    display: inline-block;
    font-size: 12px;
    color: #444;
    margin: 0;
    padding: 0 5%;
}
header.header-sis .middle .search .wp-inp .resul .items a .detalle .ListPrice {
    text-align: right;
    color: #b1b1b1;
    text-decoration: line-through;
    line-height: 50px;
    vertical-align: top;
    width: 20%;
    display: inline-block;
}
header.header-sis .middle .search .wp-inp .resul .items a .detalle .Price {
    text-align: right;
    color: #000;
    line-height: 50px;
    vertical-align: top;
    width: 20%;
    display: inline-block;
}
header.header-sis .middle .search .wp-inp .resul .ver-todos a.ir-todos {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    background: #343a40;
    color: #fff;
    line-height: 40px;
}
header.header-sis .middle .search .wp-inp .resul .ver-todos a.item_t {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    background: #2f2f2f;
    color: #fff;
    line-height: 40px;
}
header.header-sis .middle .search .wp-inp .resul .ver-todos a.item_t .bq {
    text-decoration: underline;
    font-weight: 600;
}
header.header-sis .middle .search .wp-inp .resul .ver-todos a.ir-todos:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #980708;
}
header.header-sis .middle .search .wp-inp .resul .ver-todos a.item_t:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #000;
}
header.header-sis .middle .search .por {
    display: none;
}
header.header-sis .middle .search .buscar-cerrar {
    cursor: pointer;
    width: 36%;
    padding: 5px;
    top: 15px;
    color: #fff;
    background: #000;
    position: absolute;
    display: none;
    right: 0;
}
header.header-sis .middle .search .buscar-cerrar.active {
    display: block;
}
header.header-sis .middle .search-large {
    width: 100%;
    height: 80%;
    margin: 0;
    display: none;
    position: relative;
    bottom: 7px;
}
header.header-sis .middle .search-large.active {
    display: block;
    position: fixed;
    left: 0;
    z-index: 100;
    top: 98px;
}
header.header-sis .middle .search-large.fx.active {
    top: 64px;
}
header.header-sis .middle .search-large .wp-inp .js-txtSearch {
    border: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    vertical-align: top;
    background: #fff;
    line-height: 10px;
    color: #4e4e4e;
    font-size: 11.5px;
    padding: 1.6% 10%;
    width: 65%;
}
header.header-sis .middle .search-large .wp-inp .js-txtSearch:focus {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #cecece;
    background: #f9f9f9;
}
header.header-sis .middle .search-large .wp-inp {
    position: relative;
}
header.header-sis .middle .search-large .wp-inp i {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #707570;
    position: absolute;
    top: 153px;
    left: 39%;
}
header.header-sis .middle .search-large .active .wp-inp i {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #cecece;
}
header.header-sis .middle .search-large .active .wp-inp .js-txtSearch {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #000;
    background: #fff;
}
header.header-sis .middle .search-large .wp-inp .resul {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 65%;
    display: none;
}
header.header-sis .middle .search-large .active .wp-inp .resul {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    position: relative;
    z-index: 40;
    margin: 0;
    border: 1px solid #eaeaea;
    background: #f2f2f2;
}
header.header-sis .middle .search-large .wp-inp .resul .loading {
    background: url(https://coliseum.vteximg.com.br/arquivos/loading.gif) center no-repeat;
    width: 100%;
    height: 40px;
}
header.header-sis .middle .search-large .wp-inp .resul p {
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
}
header.header-sis .middle .search-large .wp-inp .resul .items {
    height: 100%;
    overflow: hidden;
}
header.header-sis .middle .search-large .wp-inp .resul .items a {
    display: block;
    height: 38px;
    padding: 0;
    text-decoration: none;
    width: 100%;
}
header.header-sis .middle .search-large .wp-inp .resul .items a.item:hover {
    background: #f2f2f2;
}
header.header-sis .middle .search-large .wp-inp .resul .items a img {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}
header.header-sis .middle .search-large .wp-inp .resul .items a .detalle {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
header.header-sis .middle .search-large .wp-inp .resul .items a .detalle h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    width: 50%;
    line-height: 50px;
    display: inline-block;
    font-size: 12px;
    color: #444;
    margin: 0;
    padding: 0 1%;
}
header.header-sis .middle .search-large .wp-inp .resul .items a .detalle .productName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    width: 50%;
    line-height: 50px;
    display: inline-block;
    font-size: 12px;
    color: #444;
    margin: 0;
    padding: 0 1%;
}
header.header-sis .middle .search-large .wp-inp .resul .items a .detalle .ListPrice {
    text-align: right;
    color: #b1b1b1;
    text-decoration: line-through;
    line-height: 50px;
    vertical-align: top;
    width: 20%;
    display: inline-block;
}
header.header-sis .middle .search-large .wp-inp .resul .items a .detalle .Price {
    text-align: right;
    color: #000;
    line-height: 50px;
    vertical-align: top;
    width: 20%;
    display: inline-block;
}
header.header-sis .middle .search-large .wp-inp .resul .ver-todos a.ir-todos {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    background: #343a40;
    color: #fff;
    line-height: 40px;
}
header.header-sis .middle .search-large .wp-inp .resul .ver-todos a.item_t {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    background: #2f2f2f;
    color: #fff;
    line-height: 40px;
}
header.header-sis .middle .search-large .wp-inp .resul .ver-todos a.item_t .bq {
    text-decoration: underline;
    font-weight: 600;
}
header.header-sis .middle .search-large .wp-inp .resul .ver-todos a.ir-todos:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #980708;
}
header.header-sis .middle .search-large .wp-inp .resul .ver-todos a.item_t:hover {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #000;
}
header.header-sis .middle .search-large .por {
    display: none;
}
header.header-sis .middle .search-large .wp-inp .seccion-buscador {
    display: block;
    width: 100%;
}
header.header-sis .middle .search-large .wp-inp .seccion-buscador .buscador-izq {
    width: 50%;
    height: 252px;
    display: inline-block;
    float: left;
    padding: 110px 0px 120px;
    text-align: center;
    background: #fff;
}
header.header-sis .middle .search-large .wp-inp .seccion-buscador .buscador-izq .buscar {
    display: block;
    width: 83%;
    text-align: left;
    padding: 0 0 0 17%;
    font-size: 28px;
    font-weight: bold;
}
header.header-sis .middle .search-large .wp-inp .seccion-buscador .buscador-izq .resul .items a img {
    display: none;
}
header.header-sis .middle .search-large .wp-inp .seccion-buscador .buscador-der {
    width: 50%;
    display: inline-block;
    height: 482px;
    background: #ebebeb;
}
header.header-sis .middle .search-large .active .wp-inp .resul.js-resultSearchMostVend01,
header.header-sis .middle .search-large .active .wp-inp .resul.js-resultSearchMostVend02 {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    background: #ebebeb;
}
header.header-sis .middle .search-large .wp-inp .resul.js-resultSearchMostVend01 .items01,
header.header-sis .middle .search-large .wp-inp .resul.js-resultSearchMostVend02 .items {
    height: 80%;
}
header.header-sis .middle .search-large .wp-inp .resul.js-resultSearchMostVend01 .items a,
header.header-sis .middle .search-large .wp-inp .resul.js-resultSearchMostVend02 .items a {
    display: inline-block;
    width: 35%;
    height: auto;
    padding: 22px 0 0 5px;
    text-align: center;
}
header.header-sis .middle .search-large .wp-inp .resul.js-resultSearchMostVend01 .items a .detalle h3,
header.header-sis .middle .search-large .wp-inp .resul.js-resultSearchMostVend02 .items a .detalle h3 {
    width: 60%;
}
header.header-sis .middle .search-large .wp-inp .resul.js-resultSearchMostVend01 .items a .detalle .ListPrice,
header.header-sis .middle .search-large .wp-inp .resul.js-resultSearchMostVend02 .items a .detalle .ListPrice {
    width: 50%;
    display: inline-block;
}
header.header-sis .middle .search-large .wp-inp .resul.js-resultSearchMostVend01 .items a .detalle .Price,
header.header-sis .middle .search-large .wp-inp .resul.js-resultSearchMostVend02 .items a .detalle .Price {
    width: 50%;
    display: inline-block;
}
header.header-sis .middle .search-large .wp-inp .resul.js-resultSearchMostVend01,
header.header-sis .middle .search-large .wp-inp .resul.js-resultSearchMostVend02 {
    width: 100%;
}
header.header-sis .middle .search-large .buscador-der {
    text-align: left;
}
header.header-sis .middle .search-large .wp-inp .seccion-buscador .buscador-der .resul .items a .detalle h3 {
    white-space: normal;
    line-height: 22px;
    height: 45px;
}
header.header-sis .middle .search-large .wp-inp .seccion-buscador .buscador-der .resul .items a .detalle .productName {
    white-space: normal;
    line-height: 22px;
    height: 45px;
    font-size: 12px;
}
header.header-sis .middle .search-large .wp-inp .seccion-buscador .buscador-der .resul .items a .detalle {
    padding: 8px 0;
}
header.header-sis .middle .search-large .wp-inp .seccion-buscador .buscador-der .busqueda-palabras {
    padding: 4% 8% 0;
    font-size: 20px;
    text-transform: uppercase;
}
header.header-sis.fx {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 140;
}
header.header-sis .middle.fx {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 140;
}
header.header-sis.fx .middle .logo {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 16%;
    height: 100%;
}
header.header-sis .top ul li.datos {
    text-align: center;
    position: relative;
    z-index: 10;
    width: 75px;
    display: none;
    cursor: pointer;
    text-transform: uppercase;
}
header.header-sis .top ul li.datos .log {
    position: absolute;
    right: -1px;
    width: 97px;
    top: 34px;
    background: #e8e8e8;
}
header.header-sis .top ul li.datos .log li {
    border: none;
    display: block;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
header.header-sis .top ul.hide {
    display: none;
}
header.header-sis li.a.wH.logeo {
    display: none;
}
header.header-sis .top ul li.datos:hover ul.logeo.hide {
    display: block;
}
header.header-sis nav .datos {
    display: none;
}
header.header-sis .middle ul li.datos {
    text-align: center;
    position: relative;
    z-index: 10;
    width: 75px;
    display: none;
    padding: 20px 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 11px;
}
header.header-sis .middle ul li.datos .log {
    position: absolute;
    right: -1px;
    width: 105px;
    top: 47px;
    background: #e8e8e8;
}
header.header-sis .middle ul li.datos .log li {
    border: none;
    display: block;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
header.header-sis .middle ul.hide {
    display: none;
}
li.a.wH.logeo {
    display: none;
}
header.header-sis .middle ul li.datos:hover ul.logeo.hide {
    display: block;
}
header.header-sis .middle .carrito-login .ico-user {
    display: inline-block;
    position: relative;
}
.carrito-login .btn-ingresar .ico-user:before {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-16-10-2020.png) -257px 0px no-repeat;
    height: 21px;
    display: block;
    float: right;
    width: 44px;
    background-size: 330px;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul .ancho-50 {
    width: 45%;
    display: inline-table;
}
header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul.dos {
    width: 205px;
}
header.header-sis .middle .carrito-login .ingresar .btn-ingresar img {
    width: 21%;
    padding: 3px 0 0 0;
    vertical-align: middle;
}
header.header-sis .middle .imagen-desp-izq {
    margin: 0;
}
header.header-sis .middle .wHoverNav .iamgen {
    display: inline-block;
    width: 215px;
    padding: 15px 0 0 0;
    text-align: left;
}
header.header-sis .middle .wHoverNav .seccion {
    display: inline-block;
    width: 150px;
    text-align: left;
}
header.header-sis .middle .wHoverNav .seccion.dos {
    display: inline-block;
    width: 227px;
}
header.header-sis .middle .wHoverNav .ver-todo .flecha {
    display: inline-block;
}
header.header-sis .middle .wHoverNav .ver-todo .flecha:before {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-16-10-2020.png) -77px -44px no-repeat;
    height: 11px;
    display: block;
    float: right;
    width: 24px;
    background-size: 245px;
}
header.header-sis .middle .wHoverNav .iamgen a,
header.header-sis .middle .wHoverNav .seccion a {
    font-size: 8px;
    font-weight: 700;
}
header.header-sis .middle .wHoverNav .imagen-marca-texto {
    display: none !important;
}
header.header-sis .middle .f.wH.marcas.active .marginOut {
    margin: 0 0 35px;
}
.ml-wallp.space {
    padding: 80px 0 0;
}
header.header-sis .middle.havaianas .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/havaianas-2logo.png) 0 0 no-repeat;
    width: 128px;
    top: -18px;
    left: 20px;
}
header.header-sis .middle.havaianas nav .container ul li a {
    color: #fff;
}
header.header-sis .middle.havaianas ul li.carrito {
    background: #3baeac;
    width: 58%;
}
header.header-sis .middle.havaianas ul li .btn-cart .carrito .cart {
    background-image: url(https://coliseum.vteximg.com.br/arquivos/re-sprites.png);
    background-position: -75px -23px;
    background-size: auto;
}
header.header-sis .middle.havaianas nav .container ul li.wH .wHoverNav {
    top: 82px;
}
header.header-sis .middle.havaianas nav .container ul li {
    padding: 15px 19px;
}
header.header-sis .middle.havaianas .center.text-right {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    position: relative;
    font-size: 13px;
    right: 10px;
    top: 11px;
}
header.header-sis .middle.havaianas .center {
    height: 42px;
}
header.header-sis .top.havaianas .center a {
    text-decoration: underline;
}
section.middle.havaianas .center img {
    top: 4px;
    position: relative;
}
header.header-sis .middle.havaianas .search {
    width: 21%;
    bottom: 5px;
}
header.header-sis .middle.havaianas .search .wp-inp .js-txtSearch {
    border: 0;
    border-radius: 4px;
    background: #fff;
}
header.header-sis .middle.havaianas .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #545454;
}
header.header-sis .middle.havaianas .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #545454;
}
header.header-sis .middle.havaianas .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #545454;
}
header.header-sis .middle.havaianas .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #545454;
}
header.header-sis .middle.havaianas .search .wp-inp .js-txtSearch::placeholder {
    color: #545454;
}
header.header-sis .middle.havaianas .center-havaianas {
    background: #3baeac;
}
header.header-sis .middle.havaianas ul.carrito-login {
    width: auto;
}
header.header-sis .middle.havaianas nav {
    margin: 0 33% 0 15%;
}
header.header-sis .middle.havaianas .search .active .wp-inp i {
    color: #fff;
    background: #000;
    top: 0;
    height: 51%;
    padding: 8px;
    border-radius: 0 4px 4px 0;
}
header.header-sis .middle.havaianas .search .wp-inp i {
    right: 6px;
}
header.header-sis .middle.havaianas .search-large.active {
    top: 84px;
}
header.header-sis .middle.havaianas .search .buscar-cerrar {
    width: 10%;
    text-align: center;
}
section.middle.umbro {
    background: #000;
}
header.header-sis .middle.umbro .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/logoUmbro-sis.png) 0 0 no-repeat;
    width: 115px;
    top: 14px;
    left: 36px;
    height: 49px;
    background-size: 65px;
    margin: 0;
}
header.header-sis .middle.umbro nav .container > ul > li > a {
    text-transform: uppercase;
}
header.header-sis .middle.umbro .search .wp-inp .js-txtSearch {
    border: 0;
    background: #fff;
}
header.header-sis .middle.umbro .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header.header-sis .middle.umbro .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header.header-sis .middle.umbro .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.umbro .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.umbro .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header.header-sis .middle.umbro nav .container ul li a {
    color: #fff;
}
header.header-sis .middle.umbro nav .container ul li.wH .wHoverNav {
    top: 68px;
    background: #fff;
}
header.header-sis .middle.umbro nav {
    margin: 0 0 0 10%;
}
section.middle.umbro .logo-sis {
    width: 50%;
}
header.header-sis .middle.umbro ul.carrito-login {
    /*width: 17%;*/
    width: 3%;
}
header.header-sis .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul {
    width: 340px;
    border: 0;
}
header.header-sis .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul li.title {
    border-bottom: solid 2px #000;
    width: 90%;
}
header.header-sis .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul img {
    width: 90%;
}
header.header-sis .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul li a {
    color: #7d7c7c;
}
header.header-sis .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
    padding: 20px 0 2px;
    color: #323232;
    /*text-transform: uppercase;*/
}
header.header-sis .middle.umbro ul li .btn-cart .carrito .cart {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-16-10-2020.png) -305px -197px no-repeat;
    background-size: 330px;
    position: relative;
    top: 4px;
}
header.header-sis .middle.umbro ul li.carrito {
    background: #000;
}
header.header-sis .top.umbro .center a {
    text-decoration: underline;
}
header.header-sis .top.umbro .center.text-right {
    text-align: right;
    font-size: 12px;
    padding: 4px 0;
}
header.header-sis .middle.umbro ul li .btn-cart .info.vcenter span.num {
    background: #fff;
}
header.header-sis .middle.umbro ul li .btn-cart .info.vcenter p {
    color: #000;
}
header.header-sis .middle.umbro .search-large.active {
    top: 90px;
}
header.header-sis .middle.umbro .search-large.fx.active {
    top: 88px;
}
section.middle.converse {
    background: #1d1d1d;
}
header.header-sis.converse {
    background: #1d1d1d;
    height: 95px;
}

header.header-sis .top.converse {
    background: #1d1d1d;
    color: #fff;
    text-align: right;
    font-size: 11px;
    padding: 7px 0;
    border-bottom: 1px solid #666;
}
header.header-sis .middle.converse .content-nav.center{
    text-align: initial!important;

}

header.header-sis .middle.converse .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/cope-converse.jpg) 0 0 no-repeat;
    width: 180px;
    top: 19px;
    /* left: 36px; */
    height: 32px;
    background-size: 100%;
    margin: 0;
}
header.header-sis .middle.converse nav .container{
    text-align: right;
}
header.header-sis .middle.converse nav .container ul li a {
    color: #fff;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav {
    top: 70px;
}
header.header-sis .middle.converse nav .container ul li a.mb {
    text-transform: uppercase;
    letter-spacing: 2px;
}
header.header-sis .middle.converse nav .container ul li a.mb{

}

header.header-sis .middle.converse nav .container ul li.wH .wHoverNav {
    background: #fff;
}
header.header-sis .top.converse .center.text-right a {
    color: #fff;
    text-decoration: underline;
}
header.header-sis .middle.converse .search .wp-inp .js-txtSearch {
    border: 0;
    background: #fff;
}
header.header-sis .middle.converse .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header.header-sis .middle.converse .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header.header-sis .middle.converse .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.converse .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.converse .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header.header-sis .middle.converse ul li .btn-cart .carrito .cart {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-16-10-2020.png) -305px -197px no-repeat;
    background-size: 330px;
    position: relative;
}

header.header-sis .middle.converse ul li.carrito {
    background: #1d1d1d;
    width: initial;
    height: initial;
    display: block;
}

header.header-sis .middle.converse .search-large.active {
    top: 91px;
}
header.header-sis .middle.converse .search-large.fx.active {
    top: 88px;
}
header.header-sis .middle.converse ul li .btn-cart{
    display: block;
    margin: 0 auto;
}
header.header-sis .middle.converse ul li .btn-cart .info.vcenter span.num {
    background: #fff;
}
header.header-sis .middle.converse ul li .btn-cart .info.vcenter p {
    color: #000;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
}
header.header-sis .middle.converse nav .container ul li{
padding: 13px 13px 29px;
}

header.header-sis .middle.converse nav {
    margin: 0 18%;
    /* margin:0 0 0 20%; */
    font-family: "Montserrat", sans-serif;
    /* position: relative; */
    right: auto;
    left: auto;
    width: 45%;
    margin-top: 16px;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH {
    position: relative;
    margin: auto;
    padding: 2% 20%;
}

header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul.show li a{
    margin: 0 3%;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;

}
header.header-sis .middle.converse .wHoverNav .seccion {
    width: auto;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha .destacado {
    width: 100%;
    text-align: left;
    display: block;
    padding: 20px 0;
    font-weight: 600;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul {
    width: 100%;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha ul li.title a {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700!important;
    letter-spacing: 5px;
    margin: 0;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul {
    padding: 10px 0;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha ul li {
    display: none;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha ul li.title {
    display: block;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha ul.show li {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 5px;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-izquierda ul li {
    font-family: "Montserrat", sans-serif;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-izquierda ul li.todo a {
    font-size: 15px;
    font-weight: bold;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha .coleccion .texto {
    color: #000;
    padding: 5px 0;
    display: table;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha.container-mn-colecciones{
    display: block;
  }

header.header-sis .middle.converse .search{
    position: absolute;
    right: 0;
    top: 15px;
    width: 300px;
}

header.header-sis .middle.converse ul.carrito-login{
    position: relative;
    display: inline-block;
    top: 22px;
    right: 8.09%;
    text-align: left;
    display: inline-block;
    cursor: pointer;
    width: 24px;
    vertical-align: top;
}


@media (max-width: 1290px){
    header.header-sis .middle.converse ul.carrito-login {
        right: 13.09%;
    }
}

header.header-sis .middle.converse .search .wp-inp i{
    color: #707570;
    top: 9px;
    font-size: 15px;
    right: 15px;
    left: 12px;

}
header.header-sis .middle.converse .search .wp-inp .js-txtSearch{
    padding: 0 12%;
    width: 76%;
    line-height: 36px;
}


.menu-drecha {
    width: 70%;
    display: inline-block;
}
.menu-izquierda {
    width: 29%;
    display: inline-block;
    vertical-align: top;
}
.container ul li.wH .wHoverNav .contentWH .menu-drecha .colecciones .coleccion {
    width: 25%;
    text-align: left;
}
.container ul li.wH .wHoverNav .contentWH .menu-drecha ul li.title a {
    display: inline-block;
    font-size: 25px;
    letter-spacing: 5px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, currentColor), color-stop(0, transparent));
    background-image: linear-gradient(90deg, currentColor 100%, transparent 0);
    background-image: -ms-linear-gradient(top right, transparent 0, transparent 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-transition: background-size 426ms cubic-bezier(0.4, 0.9, 0.3, 1);
    transition: background-size 426ms cubic-bezier(0.4, 0.9, 0.3, 1);
    background-clip: text;
    -webkit-background-clip: text;
}
.container ul li.wH .wHoverNav .contentWH .menu-drecha ul li.title a:hover {
    background-position-x: right;
    background-size: 0 100%;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: inherit;
    -webkit-text-stroke-width: 0.0625rem;
}
header.header-sis .top.caterpillar {
    text-align: right;
    font-size: 11px;
    padding: 5px 0;
}
header.header-sis .middle.caterpillar .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/siscat18.png) 0 0 no-repeat;
    width: 55px;
    top: 16px;
    left: 3px;
    height: 36px;
    background-size: 44px;
    margin: 0;
}
header.header-sis .middle.caterpillar nav {
    margin: 0 0 0 22%;
}
header.header-sis .middle.caterpillar ul li.carrito {
    height: 34px;
}
header.header-sis .middle.caterpillar nav .container ul li a.mb {
    font-weight: 900;
    font-size: 16px;
}
header.header-sis .middle.caterpillar .center {
    border-bottom: 1px solid #bcbec0;
    border-top: 2px dotted black;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
}
header.header-sis .middle.caterpillar .search .wp-inp .js-txtSearch {
    background: #fff;
    border: 0;
    border-bottom: 1px solid #bcbec0;
}
header.header-sis .middle.caterpillar .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header.header-sis .middle.caterpillar .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header.header-sis .middle.caterpillar .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.caterpillar .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.caterpillar .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header.header-sis .middle.caterpillar nav .container ul li.wH .wHoverNav {
    background: #fff;
    top: 69px;
}
header.header-sis .middle.caterpillar .search .wp-inp i {
    right: auto;
    left: 0;
    color: #707570;
}
header.header-sis .middle.caterpillar ul.carrito-login {
    width: 8%;
    position: relative;
    right: 24px;
}
header.header-sis .middle.caterpillar .search {
    width: 23%;
}
header.header-sis .middle.caterpillar nav .container > ul > li:hover {
    background-color: #ffcc00;
}
header.header-sis .middle.caterpillar nav .container ul li {
    padding: 28px 10px;
}
header.header-sis .middle.caterpillar .search-large.active {
    top: initial;
    bottom: initial;
}
header.header-sis .middle.caterpillar nav .container ul li.wH .wHoverNav .contentWH ul {
    width: auto;
}
header.header-sis .middle.caterpillar nav .container ul li.wH .wHoverNav .contentWH ul li a {
    font-size: 15px;
    font-weight: 500;
    /*text-transform: uppercase;*/
}
header.header-sis .middle.caterpillar nav .container ul li.g.wH .wHoverNav .contentWH ul li a {
    font-weight: 800;
}
header.header-sis .middle.caterpillar nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-weight: 900;
    font-size: 17px;
}
header.header-sis .middle.caterpillar .search-large.fx.active {
    top: 91px;
}
header.header-sis .middle.caterpillar .search .buscar-cerrar {
    width: 10%;
    right: 16px;
}
header.header-sis .top.caterpillar .center a {
    text-decoration: underline;
}
header.header-sis .top.stevemadden {
    color: #fff;
    text-align: right;
    font-size: 11px;
    padding: 5px 0;
    border-bottom: 1px solid #666;
}
header.header-sis .middle.stevemadden ul.carrito-login {
    width: 8%;
    right: 15px;
    position: relative;
}
header.header-sis .middle.stevemadden .logo {
    /* background: url(https://coliseum.vteximg.com.br/arquivos/logo-stevemadden-231003_sis_.jpg) no-repeat; */
    background: url(https://coliseum.vteximg.com.br/arquivos/logo-sm-2021.png) no-repeat;
    width: 199px; 
    top: 22px;
    left: 28px;
    height: 38px;
    background-size: 100%;
    margin: 0;
}
header.header-sis .middle.stevemadden nav .container ul li a.mb {
    text-transform: uppercase;
    height: 20px;
    top: 4px;
}
header.header-sis .middle.stevemadden nav .container ul li.wH .wHoverNav {
    background: #fff;
    top: 68px;
}
header.header-sis .top.stevemadden .center.text-right a {
    color: #000;
}
header.header-sis .top.stevemadden .center.text-right {
    color: #000;
}
header.header-sis .middle.stevemadden .search .wp-inp .js-txtSearch {
    border: 0;
    background: #fff;
}
header.header-sis .middle.stevemadden .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header.header-sis .middle.stevemadden .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header.header-sis .middle.stevemadden .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.stevemadden .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.stevemadden .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header.header-sis .middle.stevemadden ul li .btn-cart .carrito .cart {
    position: relative;
    top: 4px;
}
header.header-sis .middle.stevemadden .search-large.active {
    top: 91px;
}
header.header-sis .middle.stevemadden .search-large.fx.active {
    top: 88px;
}
header.header-sis .middle.stevemadden ul li .btn-cart .info.vcenter span.num {
    background: #000;
}
header.header-sis .middle.stevemadden ul li .btn-cart .info.vcenter p {
    color: #fff;
}
header.header-sis .middle.stevemadden nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
}
header.header-sis .middle.stevemadden nav {
    margin: 0 0 0 19%;
}
header.header-sis .top.stevemadden .center a {
    text-decoration: underline;
}
header.header-sis .middle.stevemadden .imagen-desp-izq {
    border-radius: 261px;
}
header.header-sis .middle.stevemadden nav .container ul li {
    padding: 22px 19px;
}
section.middle.merrell {
    background: #fff;
    font-family: "Inconsolata", monospace;
}
header.header-sis .top.merrell {
    font-family: "Inconsolata", monospace;
    background: #fff;
    color: #000;
    text-align: right;
    font-size: 11px;
    padding: 7px 0;
    border-bottom: 1px solid #000;
}
header.header-sis .middle.merrell ul.carrito-login {
    width: 31%;
}
header.header-sis .middle.merrell .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/merrel-sis.png) no-repeat;
    /*background: url(https://coliseum.vteximg.com.br/arquivos/merrel-sis.png) no-repeat;*/
    width: 189px;
    top: 17px;
    left: 20px;
    height: 36px;
    width: 23%;
    margin: 0;
}
header.header-sis .middle.merrell nav .container ul li a {
    font-size: 16.5px;
}
header.header-sis .middle.merrell nav .container ul li.wH .wHoverNav {
    top: 68px;
}
header.header-sis .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul li a {
    color: #868686;
}
header.header-sis .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul.imagen {
    width: auto;
}
header.header-sis .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul {
    width: 120px;
}
header.header-sis .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul li:hover a {
    color: #fd4f06;
    font-weight: bold;
}
header.header-sis .middle.merrell nav .container ul li a.mb {
    text-transform: uppercase;
}
header.header-sis .middle.merrell nav .container ul li.wH .wHoverNav {
    background: #fff;
}
header.header-sis .top.merrell .center.text-right a {
    text-decoration: underline;
}
header.header-sis .middle.merrell .search .wp-inp .js-txtSearch {
    border-bottom: solid 1px;
}
header.header-sis .middle.merrell .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header.header-sis .middle.merrell .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header.header-sis .middle.merrell .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.merrell .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.merrell .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header.header-sis .middle.merrell ul li .btn-cart .carrito .cart {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/cesta-coliseum.png) no-repeat;
    background-size: 18px;
    position: relative;
    top: 4px;
}
header.header-sis .middle.merrell ul li.carrito {
    background: #fff;
}
header.header-sis .middle.merrell .search .wp-inp {
    background: #fff;
}    
header.header-sis .middle.merrell .search-large.active {
    top: 91px;
}
header.header-sis .middle.merrell .search-large.fx.active {
    top: 88px;
}
header.header-sis .middle.merrell nav .container ul li.wH.marcas .wHoverNav .contentWH ul {
    width:175px;
} 
header.header-sis .middle.merrell ul li .btn-cart .info.vcenter span.num {
    background: #000;
}
header.header-sis .middle.merrell ul li .btn-cart .info.vcenter p {
    color: #fff;
}
header.header-sis .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
    color: #000;
}
header.header-sis .middle.merrell nav {
    margin: 0 0 0 20%;
    font-family: "Inconsolata", monospace;
}
section.middle.hitec {
    background: #fff;
    font-family: "Montserrat", sans-serif;
}
header.header-sis .top.hitec {
    text-align: right;
    font-size: 11px;
    padding: 5px 0;
    border-bottom: 1px solid #666;
    font-family: "Montserrat", sans-serif;
}
header.header-sis .middle.hitec ul.carrito-login {
    width: 19%;
}
header.header-sis .middle.hitec .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/logo-Hitec.png) 0 0 no-repeat;
    width: 189px;
    top: 20px;
    left: 50px;
    height: 36px;
    background-size: 150px;
    margin: 0;
}
header.header-sis .middle.hitec nav .container ul li a {
    color: #000;
}
header.header-sis .middle.hitec nav .container ul li.wH .wHoverNav {
    top: 68px;
}
header.header-sis .middle.hitec nav .container ul li a.mb {
    text-transform: uppercase;
}
header.header-sis .middle.hitec nav .container ul li.wH .wHoverNav {
    background: #fff;
}
header.header-sis .top.hitec .center.text-right a {
    text-decoration: underline;
}
header.header-sis .middle.hitec .search .wp-inp .js-txtSearch {
    background: #fff;
    border-radius: 15px;
    border: solid 2px #000;
}
header.header-sis .middle.hitec .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header.header-sis .middle.hitec .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header.header-sis .middle.hitec .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.hitec .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.hitec .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header.header-sis .middle.hitec ul li .btn-cart .carrito .cart {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/cesta-coliseum.png) no-repeat;
    background-size: 18px;
    position: relative;
    top: 4px;
}
header.header-sis .middle.hitec ul li.carrito {
    background: #fff;
}
header.header-sis .middle.hitec .search-large.active {
    top: 91px;
}
header.header-sis .middle.hitec .search-large.fx.active {
    top: 88px;
}
header.header-sis .middle.hitec ul li .btn-cart .info.vcenter span.num {
    background: #000;
}
header.header-sis .middle.hitec ul li .btn-cart .info.vcenter p {
    color: #fff;
}
header.header-sis .middle.hitec nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
}
header.header-sis .middle.hitec nav {
    width: 50%;
    margin: 0 0 0 13%;
}
header.header-sis .middle.hitec nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    padding: 5px 15px 0 0;
    text-transform: none;
    border-top: 2px solid #54bceb;
}
section.middle.fila {
    /* background: #f4f4f4; */
    background-color: #fff;
}
header.header-sis .top.fila {
    background: #001a3f;
    color: #fff;
    text-align: right;
    font-size: 11px;
    padding: 10px 0;
    border-bottom: 1px solid #666;
}
header.header-sis .middle.fila .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/LOGO_FILA.png) 0 0 no-repeat;
    width: 95px;
    top: 17px;
    left: 18px;
    height: 32px;
    background-size: 85px;
    margin: 0;
}

header.header-sis .middle.fila nav .container ul li.wH .wHoverNav {
    background: #fff;
    width: 100%;
    text-align: left;
    position: absolute;
    top: 64px;
}

header.header-sis .middle.fila nav .container ul li.wH .wHoverNav .contentWH{
    text-align: left;

}
header.header-sis .top.fila .center.text-right a {
    color: #fff;
    text-decoration: underline;
}


header.header-sis .middle.fila .search .wp-inp i{
    top:0;
}
header.header-sis .middle.fila .search .wp-inp .js-txtSearch {
    border: 0;
    background: #fff;
}
header.header-sis .middle.fila .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header.header-sis .middle.fila .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header.header-sis .middle.fila .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.fila .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.fila .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}

header.header-sis .middle.fila ul.carrito-login{
    width: initial;
}

header.header-sis .middle.fila ul li .btn-cart{
    margin: 0 auto;
}

header.header-sis .middle.fila ul li .btn-cart .carrito .cart {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/icon-carrito-v2.png) no-repeat;
    position: relative;
    top: 0px;
    width: 29px;
    height: 29px;
}

header.header-sis .middle.fila .search .wp-inp .js-txtSearch{
    font-size: 14px!important;
}
header.header-sis .middle.fila .search .active .wp-inp i.fa-search:before{
    content: '';
    background: url(https://coliseum.vteximg.com.br/arquivos/icon-search-v2.png);
    width: 29px;
    height: 29px;
    display: block;

}
header.header-sis .middle.fila ul li.carrito {
    background: #fff;
}

header.header-sis .middle.fila .search-large.active {
    top: 91px;
}
header.header-sis .middle.fila .search-large.fx.active {
    top: 88px;
}

header.header-sis .middle.fila nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
}
header.header-sis .middle.fila nav {
    margin:0 15% 0 23%;
}
header.header-sis .middle.fila nav .container ul li.wH .wHoverNav .contentWH ul li a {
    color: #0b1f3f;
    font-size: 14px;
}
header.header-sis .middle.fila nav .container ul li a {
    font-size: 16px;
    color: #0b1f3f;
}

header.header-sis .middle.fila nav .container ul li a.mb:after{
    content: '';
}


section.middle.saucony {
    background: #1d1d1d;
}
header.header-sis .top.saucony {
    background: #1d1d1d;
    color: #fff;
    text-align: right;
    font-size: 11px;
    padding: 5px 0;
    border-bottom: 1px solid #666;
}
header.header-sis .middle.saucony ul.carrito-login {
    width: 34%;
}
header.header-sis .middle.saucony .logo {
    background: url(https://coliseum.vteximg.com.br/arquivos/sissaucony-logo.png) 0 0 no-repeat;
    width: 189px;
    top: 17px;
    left: 36px;
    height: 45px;
    background-size: 188px;
    margin: 0;
}
header.header-sis .middle.saucony nav .container ul li a {
    color: #fff;
}
header.header-sis .middle.saucony nav .container ul li.wH .wHoverNav {
    top: 68px;
}
header.header-sis .middle.saucony nav .container ul li a.mb {
    text-transform: uppercase;
}
header.header-sis .middle.saucony nav .container ul li.wH .wHoverNav {
    background: #fff;
}
header.header-sis .top.saucony .center.text-right a {
    color: #fff;
    text-decoration: underline;
}
header.header-sis .middle.saucony .search .wp-inp .js-txtSearch {
    border: 0;
    background: #fff;
}
header.header-sis .middle.saucony .search .wp-inp .js-txtSearch::-webkit-input-placeholder {
    color: #000;
}
header.header-sis .middle.saucony .search .wp-inp .js-txtSearch::-moz-placeholder {
    color: #000;
}
header.header-sis .middle.saucony .search .wp-inp .js-txtSearch:-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.saucony .search .wp-inp .js-txtSearch::-ms-input-placeholder {
    color: #000;
}
header.header-sis .middle.saucony .search .wp-inp .js-txtSearch::placeholder {
    color: #000;
}
header.header-sis .middle.saucony ul li .btn-cart .carrito .cart {
    content: "";
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-16-10-2020.png) -305px -197px no-repeat;
    background-size: 330px;
    position: relative;
    top: 4px;
}
header.header-sis .middle.saucony ul li.carrito {
    background: #1d1d1d;
}
header.header-sis .middle.saucony .search-large.active {
    top: 91px;
}
header.header-sis .middle.saucony .search-large.fx.active {
    top: 88px;
}
header.header-sis .middle.saucony ul li .btn-cart .info.vcenter span.num {
    background: #fff;
}
header.header-sis .middle.saucony ul li .btn-cart .info.vcenter p {
    color: #000;
}
header.header-sis .middle.saucony nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    font-size: 16px;
    color: #000;
    font-family: "Montserrat", sans-serif;
}
header.header-sis .middle.saucony nav .container ul li.wH .wHoverNav .contentWH ul li a {
    color: #868686;
    font-size: 13px;
}
header.header-sis .middle.saucony nav {
    margin: 0 0 0 20%;
}
/*********************** Coliseum **********************/
header.header-sis .middle.coliseum .search .wp-inp .js-txtSearch {
    padding: 1% 2%;
    width: 95%;
}
header.header-sis .middle.coliseum .search {
    width: 50%;
    margin: 18px 0 0 22%;
}
header.header-sis .middle.coliseum nav {
    margin: 0;
}
header.header-sis .middle.coliseum nav .container ul li {
    padding: 20px 35px 25px;
}
header.header-sis .middle.coliseum ul.carrito-login {
    width: 22%;
}
header.header-sis .middle.coliseum .search.active {
    margin: 4px 31%;
    width: 10%;
}
header.header-sis .middle.coliseum nav .container ul li.wH .wHoverNav {
    top: 103px;
}    






@media (min-width: 1050px) and (max-width: 1300px) {
    header.header-sis .top ul li.converse,
    header.header-sis .top ul li.saucony,
    header.header-sis .top ul li.umbro,
    header.header-sis .top ul li.hitec,
    header.header-sis .top ul li.merrel,
    header.header-sis .top ul li.caterpillar,
    header.header-sis .top ul li.cole,
    header.header-sis .top ul li.steve,
    header.header-sis .top ul li.havaianas,
    header.header-sis .top ul li.ingresar {
        padding: 0.45rem 10px;
    }
    header.header-sis .middle nav {
        margin: 0 0 0 17%;
    }
}
@media (min-width: 280px) and (max-width: 1050px) {
    header.header-sis .top ul li.datos {
        display: block none !important;
    }
    header.header-sis .center {
        text-align: left;
    }
    header.header-sis .top .center,
    header.header-sis {
        width: 100%;
    }
    header.header-sis .top ul li,
    header.header-sis .middle nav,
    .module.slider {
        display: none;
    }
    header.header-sis .top ul li.carrito {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: no-repeat;
        border: 0;
        width: auto;
    }
    header.header-sis .top ul li .btn-cart {
        margin: 13px auto;
    }
    header.header-sis .top ul li .btn-cart .carrito .cart {
        background: url(https://coliseum.vteximg.com.br/arquivos/mobNewNav.jpg) -40px 0 no-repeat;
        width: 21px;
        height: 25px;
    }
    header.header-sis .top ul li.ingresar {
        z-index: 50;
        display: block;
        position: absolute;
        top: 17px;
        left: 125px;
        width: 17px;
        height: 17px;
        padding: 0;
        border: 0;
    }
    header.header-sis .top ul li.ingresar a {
        font-size: 0;
        color: #fefefe;
    }
    header.header-sis .top ul li.ingresar a:before {
        font: normal normal normal 18px/1 FontAwesome;
        content: "\f007";
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
    }
    header.header-sis .middle .btn-nav {
        width: 16px;
        height: 16px;
        color: #000;
        vertical-align: top;
        display: inline-block;
        margin: 17px 15px 17px 60px;
    }
    header.header-sis .middle .btn-nav:before {
        font: normal normal normal 16px/1 FontAwesome;
        content: "\f0c9";
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
    }
    header.header-sis .middle .btn-nav.active:before {
        content: "\f00d";
    }
    header.header-sis .middle .btn-sea {
        width: 16px;
        height: 16px;
        color: #fff;
        display: inline-block;
        margin: 17px 0;
    }
    header.header-sis .middle .btn-sea:before {
        font: normal normal normal 16px/1 FontAwesome;
        content: "\f002";
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
    }
    header.header-sis .middle .btn-sea.active:before {
        content: "\f00d";
    }
    header.header-sis .middle nav {
        display: none;
        background: #f2f2f2;
        margin: 0;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 26;
        border-bottom: 1px solid #000;
    }
    header.header-sis .middle nav.show {
        display: block;
        height: 100%;
    }
    header.header-sis .middle nav .container ul {
        display: block;
    }
    header.header-sis .middle nav .container ul li {
        padding: 20px 0;
        display: block;
    }
    header.header-sis .middle nav .container ul li a {
        display: block;
    }
    header.header-sis .middle nav .container ul li a.mb {
        padding: 0 5%;
        letter-spacing: 1px;
    }
    header.header-sis .middle nav .container ul li.more a.mb:after {
        content: "\f0de";
        margin: 0 0 0;
        font-size: 20px
    }
    header.header-sis .middle nav .container ul li.more {
        padding: 15px 0 0;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav {
        position: relative;
        top: 0;
        left: 0;
        margin: 15px 0 0;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH {
        padding: 15px 10% 5px;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul {
        width: 50%;
        margin: 0 0 10px;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul.marginOut {
        margin-bottom: 0;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li a {
        padding: 15px 0;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
        width: 70%;
        display: block;
    }
    header.header-sis .middle .search .wp-inp i {
        top: -18px;
        left: 40px;
    }
    header.header-sis .middle .search .wp-inp .resul .items a .detalle {
        width: 80%;
    }
    header.header-sis .middle .search .wp-inp .resul .items a .detalle h3 {
        width: 38%;
    }
    header.header-sis .middle .search .wp-inp .resul .items a .detalle .ListPrice,
    header.header-sis .middle .search .wp-inp .resul .items a .detalle .Price {
        width: 26%;
    }
    header.header-sis .top ul li .btn-cart .pre-cart {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        right: 0;
        border-top: 0;
    }
    header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll {
        padding: 20px 5%;
    }
    header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table {
        display: grid;
    }
    header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item img {
        width: 50px;
    }
    header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info {
        width: 90px;
    }
    header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.cantidad {
        padding: 0 10px;
    }
    header.header-sis .top ul li .btn-cart .pre-cart .row.resumen {
        height: auto;
    }
    header.header-sis .top ul li .btn-cart .pre-cart .row.resumen .btn.comprar {
        padding: 10px 0;
        margin: 0 auto 20px !important;
        display: block;
        position: relative;
        width: 100%;
        margin: auto;
        left: auto;
        right: auto;
        bottom: auto;
        text-align: center;
    }
    header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.b,
    header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.c,
    header.header-sis .top ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.d {
        display: none;
    }
    header.header-sis .middle .search-large .wp-inp .seccion-buscador .buscador-izq .buscar {
        display: block;
        width: 90%;
        text-align: left;
        padding: 0 5%;
        font-size: 28px;
        font-weight: bold;
    }
    header.header-sis .top ul li.ingresar {
        display: none;
    }
    header.header-sis .middle .btn-sea {
        display: none;
    }
    header.header-sis .middle .btn-nav {
        margin: 17px;
        float: left;
        margin-right: 0 !important;
        z-index: 1000;
    }
    header.header-sis .middle .logo {
        width: 46%;
        left: 6px;
        height: 37px;
        background-size: 150px 26px;
        background-position: center;
        margin: 8px 0;
        position: relative;
    }
    header.header-sis.fx {
        z-index: 100;
    }
    header.header-sis .middle nav {
        background: #fff;
    }
    header.header-sis .middle nav .container ul li a {
        color: #000;
        text-align: left;
        font-weight: 600;
        font-size: 21px;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul {
        width: 100%;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li {
        display: none;
    }    
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
        width: 100%;
    }   
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title {
        display: block;
    }    
    nav.show .datos {
        display: none;
        display: block;
        height: 100%;
    }
    nav.show .datos > div {
        padding: 20px 0;
        vertical-align: middle;
        color: #fff;
        border-top: 1px solid #353535;
        background: #000;
    }
    nav.show .datos > div a {
        color: #fff;
    }
    nav.show .datos div.cuenta,
    nav.show .datos div.tiendas {
        text-transform: uppercase;
        width: 49.5%;
        border-right: 1px solid #353535;
        display: inline-block;
    }
    header.header-sis .middle nav {
        top: 65px;
        max-height: calc(100% - 0px);
        overflow-y: auto;
    }
    nav.show .datos div.ayuda p:nth-child(1) {
        font-weight: 100;
        text-transform: uppercase;
    }
    nav.show .datos div.ayuda p:nth-child(2),
    nav.show .datos div.ayuda p:nth-child(4) {
        font-weight: 100;
        font-size: 13px;
    }
    nav.show .datos div.ayuda a {
        font-size: 12px;
        font-weight: 500;
    }
    nav a.btn-ingresar:before {
        font: normal normal normal 18px/1 FontAwesome;
        content: "\f007";
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        padding: 0 10px 0 0;
    }
    nav div.tiendas:before {
        font: normal normal normal 18px/1 FontAwesome;
        content: "\f041";
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        padding: 0 10px 0 0;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title:before {
        display: inline-block;
        content: "\f0dd";
        font: normal normal normal 14px/1 FontAwesome;
        float: right;
        margin: 4px 0 0 5px;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title.act:before {
        content: "\f0de";
        margin: 3px 0 0;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul {
        border-bottom: 1px solid #bebebe;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
        border-bottom: none;
    }
    .act a {
        border-bottom: none !important;
    }
    header.header-sis .middle nav .container ul li.marcas.wH .wHoverNav .contentWH ul li {
        display: block;
    }
    header.header-sis .middle nav .container ul li.marcas.wH .wHoverNav .contentWH ul {
        border-bottom: none;
        padding: 0;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav {
        background: #f6f6f6;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
        padding: 6px 0;
        margin: 0;
        font-size: 18px;
        font-weight: 400;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH {
        padding: 0 10%;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .act a {
        border-bottom: 1px solid #bebebe;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul {
        margin: 0;
        padding: 15px 0;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul li a {
        padding: 15px 0;
        font-size: 17px;
        font-weight: 100;
    }
    header.header-sis .middle .search .wp-inp .resul .items {
        width: 100%;
    }
    header.header-sis .middle .search .active .wp-inp .resul {
        top: 20px;
    }
    header.header-sis .middle nav .container ul li.wH.logeo .wHoverNav .contentWH ul li {
        display: block;
    }
    header.header-sis .middle ul.carrito-login {
        width: 14%;
        padding: 8px 0;
        float: right;
    }
    header.header-sis .middle ul li.ingresar {
        display: none;
    }
    header.header-sis .middle ul li.datos {
        display: none !important;
    }
    header.header-sis .middle ul li.carrito {
        width: 34%;
    }
    header.header-sis .middle ul li .btn-cart .pre-cart .row.resumen .btn.comprar {
        padding: 10px 7px;
        font-size: 12px;
    }
    header.header-sis .middle .search-large .wp-inp .seccion-buscador .buscador-der {
        display: none;
    }
    header.header-sis .middle ul.carrito-login.active {
        width: 14%;
    }
    header.header-sis .middle .search-large .wp-inp i {
        top: 57px;
        left: 83%;
    }
    header.header-sis .middle .search-large .wp-inp .seccion-buscador .buscador-izq {
        padding: 15px 0 102px;
        width: 100%;
        height: 10px;
    }
    header.header-sis .middle .search-large .wp-inp .resul {
        width: 100%;
    }
    header.header-sis .middle .search .buscar-cerrar {
        color: #000;
        background: #fff;
        right: auto;
        width: 90%;
        padding: 9px 5%;
        text-align: left;
        font-size: 0;
        top: 0;
        z-index: 100;
        position: relative;
    }
    header.header-sis .middle .search .buscar-cerrar:before {
        content: "\f00d";
        font: normal normal normal 16px/1 FontAwesome;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
    }
    header.header-sis .middle .search-large.active,
    header.header-sis .middle .search-large.fx.active {
        top: 63px;
    }
    header.header-sis .middle .search-large .wp-inp .seccion-buscador .buscador-izq .resul .items a img {
        display: inline-block;
    }
    header.header-sis .middle .search-large .wp-inp .resul .items a .detalle {
        width: 80%;
    }
    header.header-sis .middle .search-large .wp-inp .resul .items a {
        height: 50px;
        padding: 4px 0;
    }
    header.header-sis .middle .search-large .wp-inp .resul .items {
        height: 240px;
    }
    header.header-sis .middle .search-large .wp-inp .js-txtSearch {
        padding: 5% 0;
        border-bottom: 2px solid #f2f2f2;
        width: 90%;
        margin: 0 5%;
    }
    header.header-sis .middle .search-large .active .wp-inp .resul {
        border: 0;
    }
    header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item .info {
        width: 80px;
    }
    header.header-sis .middle ul li .btn-cart .pre-cart {
        width: 370px;
    }
    header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td p.precio {
        width: 80px;
    }
    header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table tbody tr td .item img {
        width: 50px;
    }
    header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.a {
        width: 150px;
    }
    header.header-sis .middle ul li .btn-cart .pre-cart .wrap-scroll table thead tr td.b {
        width: 60px;
    }
    header.header-sis .middle .mCustomScrollBox {
        max-height: auto;
    }
    header.header-sis .middle .search .wp-inp .js-txtSearch {
        border: 0;
        width: 0;
    }
    header.header-sis .middle .search .wp-inp.active {
        display: block;
    }
    .wp-inp.active .fa-search:before {
        content: "\f00d";
    }
    header.header-sis .middle .search .buscar-cerrar.active {
        display: none;
    }
    header.header-sis .middle .search {
        width: 5%;
    }
    header.header-sis .middle .imagen-desp-izq {
        display: none;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul.dos .ancho-50 {
        width: 100%;
        display: none;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH ul.dos {
        width: 100%;
    }
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .linea-div,
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .linea-div-mediana,
    header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .linea-div-grande {
        display: none;
    }
    nav .container ul li.title ~ li {
        display: none;
    }
    nav .container ul li.title.act ~ li {
        display: block !important;
    }
    .act a {
        border-bottom: 1px solid #fff !important;
    }
    li.a.wH.logeo {
        display: none;
    }
    header.header-sis .middle .search .active .wp-inp i {
        color: #000;
    }
    header.header-sis .middle .search .wp-inp .js-txtSearch {
        background: #fff;
    }
    header.header-sis .middle .wHoverNav .ver-todo {
        display: none;
    }
    header.header-sis .middle .wHoverNav .imagen-marca-texto {
        display: block !important;
    }
    header.header-sis .middle .wHoverNav .imagen-marca-menu,
    header.header-sis .middle .wHoverNav .texto-marca-menu {
        display: none !important;
    }
    header.header-sis .middle.coliseum ul.carrito-login {
        width: 30%;
    }
    header.header-sis .middle.coliseum .search {
        width: 2%;
        margin: 0;
    }  
    header.header-sis .middle.coliseum .search .wp-inp .js-txtSearch {
        padding: 0;
        width: 0;
    }    
    header.header-sis .middle.coliseum .search.active {
        width: 0;
        margin: 0;
    }  
    header.header-sis .middle.coliseum nav .container ul li.wH .wHoverNav {
        top: 0
    }
    header.header-sis .middle.coliseum nav .container ul li {
        padding: 20px 0;
    }
}
.ml-newsletter {
    line-height: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 2px;
}
.ml-newsletter.nanoban-mobile {
    display: none;
}
.ml-newsletter.nanoban-desktop .center {
    width: 1120px !important;
}
.ml-newsletter.nanoban-desktop .bx-wrapper img {
    width: 100%;
}
.ml-newsletter.nanoban-desktop.fx {
    position: fixed;
    width: 100%;
    top: 100px;    
    z-index: 2;
}
.ml-newsletter.nanoban-desktop .module.slider {
    position: relative;
    padding: 0;
    width: 100%;
}
.ml-newsletter .module.slider .box-banner a {
    display: inline-block;
    padding: 10px 0;
    letter-spacing: 1px;
    font-weight: bold;
    width: 88%;
    color: #fff;
}
.ml-newsletter .module.slider .box-banner a.legal {
    width: 10%;
    font-size: 11px;
}
.ml-newsletter.nanoban-desktop .box-banner a.le {
    position: absolute;
    top: 36%;
    left: 92%;
    width: 10%;
    color: #fff;
    letter-spacing: 0;
    font-size: 12px;
    text-decoration: underline;
    background: none;
}
.ml-newsletter.nanoban-desktop .count-nano-gif {
    width: 190px;
    height: 40px;
    position: absolute;
    right: 15%;
    top: 15px;
    overflow: hidden;
}
.ml-newsletter.nanoban-desktop .le {
    position: absolute;
    top: 28px;
    width: 10%;
    right: 5%;
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
}
.ml-newsletter .module.slider .box-banner.negro a {
    display: inline-block;
    padding: 0;
}
.ml-newsletter .module.slider .box-banner.negro a {
    padding: 0;
}
.ml-newsletter .module.slider .box-banner.negro a img {
    width: 50%;
    padding: 12px 0;
    display: inline-block;
}
.ml-newsletter .module.slider .box-banner.negro .count-nano {
    display: inline-block;
    position: relative;
    height: 44px;
    overflow: hidden;
}
.ml-newsletter .module.slider .box-banner.negro .count-nano img {
    padding: 0;
    width: 63%;
}
@media (min-width: 280px) and (max-width: 1050px) {
    .ml-newsletter {
        line-height: 11px;
        font-size: 11px;
    }
    .ml-newsletter.nanoban-desktop {
        display: none;
    }
    .ml-newsletter.nanoban-mobile {
        height: auto;
        display: block;
        position: relative;
    }
    .ml-newsletter.nanoban-mobile .bx-wrapper img {
        width: 100%;
    }
    .ml-newsletter .module.slider {
        display: block;
        width: 100%;
        padding: 0;
    }
    .ml-newsletter.nanoban-mobile .module.slider {
        position: relative;
        padding: 0;
        width: 100%;
    }
    .ml-newsletter .right p.envio-gratis {
        float: none;
    }
    .ml-newsletter.nanoban-mobile .box-banner a.le {
        position: absolute;
        bottom: 10px;
        color: #fff;
        font-size: 8px;
        letter-spacing: 0px;
        text-decoration: underline;
        background: none;
        display: inline-block !important;
        margin: 0 !important;
        width: 30%;
        left: 70%;
        top: 60%;
    }
    .ml-newsletter.nanoban-mobile .count-nano-gif {
        width: 170px;
        position: absolute;
        right: 27%;
        text-align: center;
        top: 30px;
        height: 34px;
        overflow: hidden;
    }
    .ml-newsletter.nanoban-mobile .le {
        position: absolute;
        top: 45px;
        width: 19%;
        right: 6%;
        color: #fff;
        font-size: 11px;
        text-decoration: underline;
    }
    .ml-newsletter .module.slider .box-banner .pc {
        display: none;
    }
    .ml-newsletter .module.slider .box-banner .mobil {
        width: 83%;
        display: inline-block;
    }
    .ml-newsletter .module.slider .box-banner a {
        padding: 0;
        margin: 0;
    }
    .ml-newsletter .module.slider .box-banner a .pc-legal {
        display: none;
    }
    .ml-newsletter .module.slider .box-banner a .mobil-legal {
        position: absolute;
        top: 48px;
        left: 44%;
        width: 13%;
        display: block;
    }
    header.header-sis .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(11),
    header.header-sis .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(12),
    header.header-sis .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(13),
    header.header-sis .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(14),
    header.header-sis .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(15),
    header.header-sis .middle nav .container ul li.f.wH.marcas .wHoverNav .contentWH > ul:nth-child(16) {
        border-top: 0;
        padding: 0;
    }
    header.header-sis .middle nav .container ul li.g.wH a {
        padding: 0 5%;
    }
    .ml-newsletter .module.slider .box-banner.negro a img {
        width: 100%;
        padding: 0;
    }
    .ml-newsletter .module.slider .box-banner.negro .count-nano {
        height: 34px;
        width: 80%;
    }
    .ml-newsletter.nanoban-mobile.fx {
        position: fixed;
        top: 63px;
        width: 100%;
        z-index: 3;
    }
    .ml-newsletter.nanoban-mobile.fx.fix {
        top: 104px;
    }
    .ml-home .ml-newsletter.nanoban-mobile.fx {
        top: 60px;
    }
}
