.itemProduct ul li {
	display: inline-block;
	background: #fff;
	/*border: 1px solid #e0e0e0;*/
	padding: 1px;
	margin: 10px;
	position: relative
}

.itemProduct ul li .contentFlag {
	z-index: 20;
	top: 10px;
	left: 0;
	width: 100%
}

.itemProduct ul li .contentFlag .diez-porciento {
	z-index: 20;
	top: 10px;
	left: 0;
	width: 20%;
	background: url(https://coliseum.vteximg.com.br/arquivos/FLAG-01-04-2020.png) no-repeat;
	background-size: 50px;
	opacity: 1;
	height: 19%;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0;
	z-index: 1;
	display: block;
}


/*.itemProduct ul li .contentFlag .exclusivos-by-coliseum{z-index:20;left:0;width:42%;background:url(https://coliseum.vteximg.com.br/arquivos/exclusive-coliseum.png) no-repeat;background-size: 100px;opacity: 1;height: 6%;position: absolute;top: 0;right: 0;font-size: 0;z-index: 1;display: block;}*/

.itemProduct ul li .contentFlag .perfect_match_caterpillar,
.itemProduct ul li .contentFlag .perfect_match_accesorios {
	content: '';
	font-size: 0;
	display: block
}

/*
.itemProduct ul li .contentFlag .perfect_match_caterpillar:before,
.itemProduct ul li .contentFlag .perfect_match_accesorios:before {
	content: 'Perfect Match!';
	left: 0; 
	position: absolute;
	top: 0;
	font-size: 13px;
	background: #edf3f4;
	padding: 5px 9px; 
	z-index: 1;
	font-weight: 600
}
*/

/*
.itemProduct ul li .contentFlag .new_arrivals_by_caterpillar {
	content: '';
	z-index: 20;
	left: 0;
	width: 42%;
	background: url(https://coliseum.vteximg.com.br/arquivos/flag-new-arrivals-cat.png) no-repeat;
	background-size: 87px;
	opacity: 1;
	height: 8%;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0;
	z-index: 1;
	display: block;
}
*/

.itemProduct ul li .contentFlag p,
.itemProduct ul li .contentFlag .product-field {
	display: none
}

.itemProduct ul li .img {
	width: 206px;
	height: 206px;
	margin: auto
}

.itemProduct ul li .img a {
	display: block
}

.itemProduct ul li .img a img {
	width: 82%;
	height: auto;
	display: block;
	margin: 0 auto
}

.ml-producto .itemProduct ul li .img a img {
    width: 65%;
}

.itemProduct ul li .brand {
	text-align: left;
    font-size: 14px;
    color: #a7a7a7;
    font-weight: bold;
    text-transform: uppercase;
}

.itemProduct ul li .productName {
	margin: 12px 0 3px;
	width: 170px;
	/*text-align: center;*/
	font-size: 14px;
	color: #222;
	line-height: 16px;
	padding: 0;
	overflow: hidden;
	height: 35px
}

.carrusel .itemProduct ul li .productName {
	height: 34px;
}

.itemProduct ul li .price {
	margin: 6px 0
}

.itemProduct ul li .price .ex-price {
	text-decoration: line-through;
	display: inline-block;
	font-size: 13px;
	line-height: 14px;
	color: #6F6F6E;
	font-weight: 300;
	margin: 0 10px 0 0
}

.itemProduct ul li .price .new-price {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	font-weight: 600
}

.itemProduct ul li .acc .buy {
	transition: all .4s ease-in-out;
	background: #222;
	border: 1px solid #222;
	color: #fff;
	padding: 10px 0;
	margin: 15px 0 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	display: block;
	text-decoration: none
}

.itemProduct ul li:hover .acc .buy {
	transition: all .4s ease-in-out;
	background: #fff;
	border: 1px solid #222;
	color: #222
}

.itemProduct ul li .acc .buy-button-normal {
	display: none
}

.itemProduct ul li .dscto {
	display: block;
	font-weight: 600;
	font-size: 12px;
	margin: 0;
	height: 13px;
	text-align: center;    
    width: auto;
    right: 0;
    z-index: 1;
    top: 6px;
    position: absolute
}

.complementa .row.dscto {
    position: absolute;
    right: 40px;
    top: 0;
    font-size: 12px;
    font-weight: 600;   
}

ul li .dscto .num {
	background: #fa2430;
    padding: 4px;
    color: #fff;
}

ul li .dscto .ibk {
  background: #05be50;
  padding: 4px;
  color: #fff;
}

/*
.contentFlag .product-field.product_field_47{display:block!important;font-size:0}
.contentFlag .product-field.product_field_47 ul{margin:0}*/


/*.contentFlag .product-field.product_field_47 ul li{background:url(https://coliseum.vteximg.com.br/arquivos/Outlet.png) no-repeat;width:57px!important;opacity:1;height:22px!important;position:absolute!important;top:0;left:0;padding:0!important;margin:0!important;border:0!important}*/

.contentFlag p.flag.elite-collection {
	background: url(https://coliseum.vteximg.com.br/arquivos/Elite-Collection.png) no-repeat;
	width: 110px!important;
	height: 22px;
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 0;
	display: block!important
}

/*
.contentFlag p.flag.sale_coliseum2,
.contentFlag p.flag.sale_coliseum1 {
	background: url(https://coliseum.vteximg.com.br/arquivos/tag-sale.png) no-repeat;
	width: 49px;
	opacity: 1;
	height: 22px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 0;
	z-index: 1;
	display: block
}
*/

.contentFlag p.flag.outletTodo {
	background: url(https://coliseum.vteximg.com.br/arquivos/img-0.png) no-repeat;
	width: 57px;
	opacity: 1;
	height: 22px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
	border: 0;
	display: block;
	font-size: 0;
	z-index: 10
}

.seccion-carrusel .itemProduct .row.acc {
	display: none
}

.slider-prod-poco-tiempo .owl-por-poco-tiempo .owl-stage{
	padding-left: 0!important;
}


@media (max-width: 1050px) and (min-width: 280px) {

	.itemProduct ul li .contentFlag .exclusivos-by-coliseum {
		background-size: 62px
	}
	.itemProduct ul li .contentFlag .new_arrivals_by_caterpillar {
		background-size: 72px;
		width: 62%;
	}
	.itemProduct ul li .contentFlag .perfect_match_caterpillar,
	.itemProduct ul li .contentFlag .perfect_match_accesorios {
		background-size: 80px;
	}
	.itemProduct ul li .contentFlag .diez-porciento-adicional {
		background-size: 55px;
	}

	.itemProduct ul li .contentFlag .perfect_match_caterpillar:before, .itemProduct ul li .contentFlag .perfect_match_accesorios:before {
      font-size: 8px;
    }

	.itemProduct ul li .dscto {
	    width: auto;
    	right: 1%;
	}

	.itemProduct ul li .dscto .num {
	      padding: 3px 2px;
	      font-size: 9px
	}
	.itemProduct ul li .productName {
	    height: 50px;
	}

}