.ml-departamento, .ml-categoria, .ml-resultado-busca {

	@media screen and (min-width: 1051px) {

		.center {
			width: 97%;

			.left {
				display: block;
				background: $blanco;
			    float: left;
			    width: 16%;
			    padding: 35px 18px;
			    z-index: 1;

			    &.sticky {
			    	/*position: fixed;*/
			    	top: 72px;
			    				    	
			    	.navigation-tabs {
			    		/* height: calc(100vh - 72px);
			    		overflow-y: scroll;*/
			    	}
			    } 

	    		.menu-departamento {
					padding: 14px 0 40px 5px;  
	    		}
			    		
			    .search-multiple-navigator {

			    	fieldset {
			    		border-bottom: 1px solid #dcdcdc;

			    		h5 {
			    			color: $negro;
			    			padding: 13px 0;
			    		}

			    		div {

							label {
								color: $negro;
							}

			    		}

			    	}

			    }
					
			}

			.main {
				width: 78%;
			}

		}

		.module {
			
			&.result {

				.left {

					.navigation {

						.menu-departamento {

							.search-single-navigator {

								h3 {

									a {
										color: $negro;
									}

								}

							}

						}

					}

				}

			}

		}

	}

}

.ml-categoria .header-sis .center{
	width: 94%;
}

.center .left .search-multiple-navigator>p {
	display: none;
}

.center .left .search-multiple-navigator fieldset h2, .ml-resultado-busca .center .left .search-multiple-navigator fieldset h2 {
    color: #000000;
    padding: 13px 15px;
    font-size: 15px;
}

.ml-categoria .center .left .search-multiple-navigator fieldset, .ml-resultado-busca .center .left .search-multiple-navigator fieldset {
    border-bottom: 1px solid #dcdcdc;
}


.module.result .left .menu-departamento .search-single-navigator.active {
    display: block;
    top: 138px; //sin nanobar
    //top:190px; //con nanoba
    background: #fff;
    text-align: left;

    height: 100%;
    left: -420px;
    transform: translate(420px,0);
    -webkit-transform: translate(420px,0);
    -o-transform: translate(420px,0);
    -moz-transform: translate(420px,0); 

}
.module.result .left .menu-departamento .search-single-navigator.active h3{
	border-bottom: solid 1px #ececec;
	margin:0 15px;
}

section.row.modulo.slider {
    width: 97.5%;
    margin: 14px auto;
    position: relative;
}

section.row.modulo.slider .count {
    display: inline-block;
    position: absolute;
    top: 24%;
    right: 14%;
    height: 54px;
    overflow: hidden;
}

.row.modulo.slider .count img {
    width: 80%;
}

/* width */
.ml-departamento .center .left.sticky .navigation-tabs::-webkit-scrollbar, .ml-categoria .center .left.sticky .navigation-tabs::-webkit-scrollbar, .ml-resultado-busca .center .left.sticky .navigation-tabs::-webkit-scrollbar{
  width: 10px;
}

/* Track */
.ml-departamento .center .left.sticky .navigation-tabs::-webkit-scrollbar-track, .ml-categoria .center .left.sticky .navigation-tabs::-webkit-scrollbar-track, .ml-resultado-busca .center .left.sticky .navigation-tabs::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
 .ml-departamento .center .left.sticky .navigation-tabs::-webkit-scrollbar-thumb, .ml-categoria .center .left.sticky .navigation-tabs::-webkit-scrollbar-thumb, .ml-resultado-busca .center .left.sticky .navigation-tabs::-webkit-scrollbar-thumb{
  background: #d0cece; 
  border-radius: 10px;
}

.ml-main .module.result .filtros-titulo {
    padding: 0 0 7px;
    border-bottom: solid 2px #000
}

.ml-main .resultado-descripcion-cat {
	padding: 0 0 0 2.5%;
    font-size: 16px; 
    font-weight: bold; 
}

.ml-main .resultado-description { 
	padding: 0 0 0 2.5%;
    font-size: 13px; 
    text-align: justify;
    line-height: 1.3;
}
.ml-main .resultado-description h2 { 
	font-size: 13px;
	margin-bottom: 10px;
}  
.ml-main .resultado-description ul { 
	list-style: disc;
    margin: 0 20px 20px 20px;
}

.ml-main .resultado-description b { 
	font-weight: bold;
}
.ml-main .resultado-description strong { 
	font-weight: bold;
}
.resultado-description a {
    text-decoration: revert;
    display: inline-grid;
    text-align: initial;
}

.ml-main .navigation h2 { 
	font-size: 15px;
    margin: 10px 0;
    padding: 8px;
    border-bottom: 1px solid #dcdcdc;
}
.ml-main .navigation h2 a {
    width: 100%;
} 
.ml-main .navigation h2 a:after {
    content: "";
    background: url(/arquivos/re-sprites-16-10-2020.png) -190px -64px no-repeat;
    height: 25px;
    width: 21px;
    float: right;
    background-size: 299px;
}  

.search-multiple-navigator .filtro_color label {
    height: 24px;
    width: 24px;
    font-size: 0;
    border-radius: 12px;
    display: inline-block;
    position: relative;
}

.search-multiple-navigator .filtro_color label input {   
    display: none;
}

.search-multiple-navigator .filtro_color .sr_amarillo { background: #fcd253;}
.search-multiple-navigator .filtro_color .sr_azul { background: #0c63bd;}
.search-multiple-navigator .filtro_color .sr_blanco { box-shadow: 0 0 0 1px #ccc }
.search-multiple-navigator .filtro_color .sr_celeste { background: #ace8fe;}
.search-multiple-navigator .filtro_color .sr_marron { background: #896f55;}
.search-multiple-navigator .filtro_color .sr_morado { background: #9f65da;}
.search-multiple-navigator .filtro_color .sr_multicolor { background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);}
.search-multiple-navigator .filtro_color .sr_naranja { background: #f39335;}
.search-multiple-navigator .filtro_color .sr_negro { background: #000;}
.search-multiple-navigator .filtro_color .sr_gris { background: #999999;}
.search-multiple-navigator .filtro_color .sr_rojo { background: #d62d2d;}
.search-multiple-navigator .filtro_color .sr_rosado { background: #ff9f9f;}
.search-multiple-navigator .filtro_color .sr_verde { background: #68b559;}
.search-multiple-navigator .filtro_color .sr_beige { background: #ddd1ac;}
.search-multiple-navigator .filtro_color .sr_crema { background: #fff4d1; box-shadow: 0 0 0 1px #ddd}
.search-multiple-navigator .filtro_color .sr_fucsia { background: #fa5cbd;}
.search-multiple-navigator .filtro_color .sr_dorado { background: #9c8b59;}
.search-multiple-navigator .filtro_color .sr_plateado { background: #d0d0d0;}
.search-multiple-navigator .filtro_color .sr_transparente { background-image: linear-gradient(to right, #80f7ff,#fff,#ddd);}

.search-multiple-navigator .filtro_color .sr_amarillo.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #fcd253;}
.search-multiple-navigator .filtro_color .sr_azul.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #0c63bd;}
.search-multiple-navigator .filtro_color .sr_blanco.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #000;}
.search-multiple-navigator .filtro_color .sr_celeste.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ace8fe;}
.search-multiple-navigator .filtro_color .sr_marron.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #896f55;}
.search-multiple-navigator .filtro_color .sr_morado.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #9f65da;}
.search-multiple-navigator .filtro_color .sr_multicolor.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px red;}
.search-multiple-navigator .filtro_color .sr_naranja.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #f39335;}
.search-multiple-navigator .filtro_color .sr_negro.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #000;}
.search-multiple-navigator .filtro_color .sr_gris.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999999;}
.search-multiple-navigator .filtro_color .sr_rojo.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #d62d2d;}
.search-multiple-navigator .filtro_color .sr_rosado.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ff9f9f;}
.search-multiple-navigator .filtro_color .sr_verde.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #68b559;}
.search-multiple-navigator .filtro_color .sr_beige.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ddd1ac;}
.search-multiple-navigator .filtro_color .sr_crema.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #fbd2d2;}
.search-multiple-navigator .filtro_color .sr_fucsia.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #fa5cbd;}
.search-multiple-navigator .filtro_color .sr_dorado.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #9c8b59;}
.search-multiple-navigator .filtro_color .sr_plateado.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #d0d0d0;}
.search-multiple-navigator .filtro_color .sr_transparente.sr_selected { box-shadow: 0 0 0 3px #fff, 0 0 0 4px #000;}

