.ml-home .module.categories ul li {
	min-height: 16.08vw;
}

.slider img {
	width: 100%;
}

.slider a {
	width: 100%;
}

.marcassldr {
	display: block; 
	padding: 3% 0;
}
.marcassldr .center {
	width: 100%
}

.marcassldr .slick-prev {
	left: 2%;
	background: url(https://coliseum.vteximg.com.br/arquivos/keyboard-right-arrow-button2.png);
	background-repeat: no-repeat;
	top: 40px;
	background-size: 50%
}
.marcassldr .slick-next {
	right: 1%;
	background: url(https://coliseum.vteximg.com.br/arquivos/keyboard-right-arrow-button.png);
	background-repeat: no-repeat;
	top: 40px;
	background-size: 50%
}
.marcassldr .slick-slide {
	text-align: center;
	height: 80px;
	background: #f4f4f4
}
.marcassldr .slick-slide a {
	width: 100%;
	display: block
}
.marcassldr .slick-slide div {
	height: 100%
}
.marcassldr .slick-slide a {
	height: 100%;
	display: grid;
	align-items: center
}
.marcassldr .slick-slide img {
	width: 60px
}
.marcassldr .slick-slide .msaucony img {
	width: 80px
}
.marcassldr .slick-slide .mhitec img {
	width: 80px
}
.marcassldr .slick-slide .mmerrel img {
	width: 80px
}
.marcassldr .slick-slide .mcolehaan img {
	width: 80px
}
.marcassldr .slick-slide .mstevemadden img {
	width: 80px
}
.marcassldr .slick-slide .mhavaianas img {
	width: 80px
}

.ml-home.cm-mobile section.row.module.categories.mobile .a a:nth-child(2) {
    position: absolute;
    text-indent: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    bottom: 7%;
    z-index: 10
}

.ml-home.cm-mobile section.row.module.categories.mobile .a span {
    display: block
}
  
.ml-home.cm-mobile .module.brand-bottom ul li div p {
    text-align: center
}
  
.ml-home.cm-mobile .module.brand-bottom ul li div {
    text-align: left;
    position: absolute;
    bottom: 30px;
    left: 8%
}

.ml-home.cm-mobile .module.brand-bottom ul li div a {
    background: #000;
    color: #fff;
    border-width: 1px;
    font-weight: 600
}

.ml-home.cm-mobile section.module.products.right.saucony {
    margin: 0 0 15px
}

.ml-home section.bottom.ml-newsletter.mama.primavera2020.cybernov {
    margin-top: 35px;
    margin-bottom: -35px
}

.ml-home .module.slider-mobile .slider {
	min-height: 60.2vw;
}

.ml-home .categories {
	width: 100%;
}

.ml-home .categories.mobile {
	display: block;
}

.ml-home .categories ul {
	list-style: none;
	padding: 14px 0;
	margin: 0;
	text-align: center;
}

.ml-home .categories ul li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.ml-home .categories ul li.a {
	width: 49.5%;
	margin: 0 1% 0 0
}

.ml-home .categories ul li.b {
	width: 49.5%
}

.ml-home .categories.tres ul li.c {
	width: 96%;
	margin: 0 auto;
}

.ml-home .categories ul li p.boton {
    position: absolute;
    top: 27%;
    left: 4%;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 8px 35px;
    font-weight: bold;
}

.ml-home .categories ul li a {
	width: 100%;
}

.ml-home .categories ul li a img {
	display: block;
	width: 100%;
	transition: all .4s ease-in-out;
	height: auto;
	
}

.row.module.menu.secciones {
	margin: 0 8px; 
}

.row.module.menu.secciones.fx {
	position: fixed;
	width: 96%;
	bottom: 0;
	height: auto;
	left: 0;
	z-index: 2;
}

.row.module.menu.secciones li.menu-secciones {
	display: inline-block;
	/*width: 16.60%;*/
	width: 24.9%;
	text-align: center;
	background: #d6e0ea;
	border-right: 1px solid #b7b7b7;
	font-size: 13px;
	font-weight: 600;
}

.row.module.menu.secciones li.menu-secciones:last-child {
	border: none;
}



.row.module.menu.secciones li.menu-secciones a {
    min-height: 30px;
    display: grid;
    width: 76%;
    align-items: center;
    font-size: 13px;
    padding: 5% 12%;
    font-weight: 700;
}


.row.module.menu.secciones li.menu-secciones a:hover {
	background: #000;
	color: #fff;
	text-decoration: underline
}

.row.module.menu.secciones li.menu-secciones a.act {
	background: #000;
	color: #fff;
	text-decoration: underline
}

.row.module.menu.secciones .slick-prev {
	content: "";
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -234px -56px no-repeat;
	height: 33px;
	top: 40%;
	width: 44px;
	background-size: 300px;
	display: none !important;
	right: 0
}
.row.module.menu.secciones .slick-next {
	content: "";
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -275px -56px no-repeat;
	height: 33px;
	top: 40%;
	width: 27px;
	background-size: 300px;
	right: -2px;
}
.row.module.menu.secciones .slick-next.f-blanca {
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -330px -121px no-repeat
}



.row.module.tab.carrusel {
	padding: 15px 0 40px;
}

.row.module.tab.carrusel .center{
	width: 100%;
	text-align: center;
}


.row.module.tab.carrusel .tab-seccion {
	padding: 15px;
	margin: 0;
	border: 0;
	background: 0;
	font-size: 18px;
	font-weight: 600;
	color: #888888;
}

.row.module.tab.carrusel .tab-seccion:hover {
	text-decoration: underline;
	font-weight: 600;
	font-size: 18px;
	color: #000
}

.row.module.tab.carrusel .tab-seccion.act {
	color: #000;
}

.row.module.tab.carrusel .tab-seccion-superior {
	text-align: center
}

.row.module.por-poco-tiempo {
    background: #fff; 
    margin: 3px 0 30px; 
}

.row.module.por-poco-tiempo .imagen-carrusel-izq {
	display: inline-block;
	width: 100%
}

.row.module.por-poco-tiempo .imagen-carrusel-izq .pc{
	display: none;
}

.row.module.por-poco-tiempo .imagen-carrusel-izq .count {
	position: absolute;
    display: block;
    bottom: 63%;
    left: 4%;
    width: 170px;
    height: 50px;
    overflow: hidden;  
} 

.row.module.por-poco-tiempo .titulo .count {
	position: relative;
    width: 170px;
    height: 50px;
    overflow: hidden;  
} 

.row.module.por-poco-tiempo .imagen-carrusel-izq .todo {
    position: absolute;
    left: 60%;
    bottom: 63%;
    padding: 5px 18px;
    background: #fff;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 800;
}

.row.module.por-poco-tiempo .imagen-carrusel-izq .todo p {
	vertical-align: middle;
	margin: 5px 10px;
	display: inline-block;
}

.row.module.por-poco-tiempo .imagen-carrusel-izq .todo img {
	vertical-align: middle;
}

.row.module.por-poco-tiempo .imagen-carrusel-der {
	display: inline-block;
	width: 100%
}

.row.module.por-poco-tiempo .imagen-carrusel-der .itemProduct h2.row.productName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
}
.row.module.por-poco-tiempo .imagen-carrusel-der .itemProduct .slick-track {
	left: -88px;
}

.row.module.por-poco-tiempo .imagen-carrusel-der .itemProduct ul li .img {
    width: 140px;
    height: 150px;
}
.row.module.por-poco-tiempo .imagen-carrusel-der .itemProduct ul li .img a img {
	width: 100%;
}

.row.module.por-poco-tiempo .imagen-carrusel-der .itemProduct ul li {
    padding: 10px;
}

.row.module.por-poco-tiempo .imagen-carrusel-der .itemProduct>h2 {
	font-size: 0
}

.row.module.por-poco-tiempo .imagen-carrusel-der .itemProduct  .row.acc {
	display: none;
}

.row.module.tab.carrusel .seccion-carrusel .imagen-carrusel-der {
	display: inline-block;
	width: 100%
}

.row.module.tab.carrusel .seccion-carrusel .itemProduct {
	width: 330px;
	margin: 0 auto;
}

.row.module.tab.carrusel .seccion-carrusel .itemProduct>h2 {
	display: none
}


.seccion-carrusel .imagen-carrusel-izq {
	display: inline-block;
	width: 45%;
}

.seccion-carrusel .imagen-carrusel-izq a {
	text-align: right;
	width: 86%;
	position: relative;
	font-weight: 600;
	padding: 6% 7%;
	font-size: 13px;
}

.seccion-carrusel .imagen-carrusel-izq a:before {
	content: "";
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -83px -55px no-repeat;
	height: 16px;
	display: block;
	float: right;
	width: 40px;
	background-size: 300px;
}

.seccion-carrusel .imagen-carrusel-izq img {
	display: none;
	width: 78%;
	padding: 10px 8% 0 14%
}

.seccion-carrusel .imagen-carrusel-der .itemProduct h2.row.productName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
    text-align: left;
}
.seccion-carrusel .imagen-carrusel-der .itemProduct .slick-track {
	left: -88px;
}

.seccion-carrusel .imagen-carrusel-der .itemProduct ul li .img {
    width: 140px;
    height: 150px;
}
.seccion-carrusel .imagen-carrusel-der .itemProduct ul li .img a img {
width: 100%;
}

.row.module.tab.carrusel .imagen-carrusel-der .itemProduct ul li {
    padding: 10px;
    margin: 7px;
    left: -10px;
    border: solid 1px #ececec;
}

.row.module.por-poco-tiempo .titulo {
	background: #FA2430;
	padding: 8px 0;
	text-align: center;
	display: block;
	border-radius: 30px 0px 0 0;
	position: relative;
}
.row.module.por-poco-tiempo .titulo .btn-ver-todo{
	position: absolute;
	color: white;
	text-transform: uppercase;
	margin-top: 20px;
	right: 35px;
	font-size: 14px;
}

@media screen and (min-width: 900px) {
.row.module.por-poco-tiempo .titulo .btn-ver-todo{
	display: none;
}
}

.row.module.por-poco-tiempo .titulo .pc {
	display: none;
}

.row.module.por-poco-tiempo .titulo .mobil {
	display: inline-block;
	vertical-align: middle;
	margin: 5px 0;
}

.row.module.por-poco-tiempo .titulo .count {
	display: inline-block;
	vertical-align: middle;
}

.row.module .itemProduct>h2 {
	display: none;
}

.module.products {
	overflow: hidden;
	position: relative;
	margin: 0 8px 30px	
}

.module.products.izquierda .mobil {
    display: block;
    position: relative;
}
.module.products.derecha .mobil {
    display: block;
    position: relative;
}
.module.products.izquierda .pc {
    display: none;
    position: relative;
}
.module.products.derecha .pc {
    display: none;
    position: relative;
}

.module.products.izquierda .title {
	display: inline-block;
    width: 120%;
    top: 76%;
    left: 0
}

.module.products.izquierda .title.tres {
	position: absolute;
    width: 100%;
    top: 77%;
    text-align: center;
    left: 0;
}

.module.products.izquierda .title.tres.center {
    top: 72%;
}

.module.products.derecha .title {
	display: inline-block;
    width: 100%;
    top: 86%;
    text-align: center;
    right: 0;
    vertical-align: bottom;
    position: absolute;
}

.module.products.derecha .title li {
	background: #fff;
    width: 38%;
    margin: 2px 1%;
    text-align: center;
	display: inline-block;
}

.module.products.izquierda .title li {
    width: 38%;
}



.module.products .title.tres li {
	background: #fff;
    margin: 2px 1%;
    text-align: center;
	display: inline-block;
	width: 28%;
}

.module.products .title.tres.negro li {
    background: #000;
}    

.module.products .title.tres.negro li a {
    color: #fff;
}   

.module.products .ver-todo a {
	position: relative;
	color: #fff;
}

.module.products .ver-todo.negro a {
	color: #000
}

.module.products .title ul li a {
	font-size: 15px;
	font-weight: 600;
	color: #000;
	margin: 5px auto;
	padding: 3px
}

.module.products.izquierda .ver-todo {
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 125%;
	left: 0;
	font-size: 13px;
	font-weight: 600;
	text-align: center;
}

.module.products.izquierda .ver-todo.b {
	top: 145%;
}


.module.products.izquierda .ver-todo a:before {
	content: "";
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -95px -74px no-repeat;
	height: 16px;
	width: 35px;
	position: absolute;
	top: -1px;
	left: 61px;
	background-size: 315px;
}

.module.products.izquierda .ver-todo.negro a:before, .module.products.derecha .ver-todo.negro a:before {
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -95px -58px no-repeat;
	background-size: 315px
}

.module.products.derecha .ver-todo a:before {
	content: "";
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -95px -74px no-repeat;
	height: 16px;
	width: 35px;
	position: absolute;
	top: -1px;
	left: 61px;
	background-size: 315px;
}

.module.products.derecha .ver-todo {
	display: block;
	width: 100%;
	position: absolute;
	vertical-align: bottom;
	top: 105%;
	text-align: center;
	left: 0;
	font-size: 13px;
	font-weight: 600
}

section.module.brand-bottom {
    margin: 0 8px;
}

section.module.brand-bottom ul {
	text-align: center;
}

section.module.brand-bottom ul li:first-child {
	margin: 0 0 33px 0;
}

section.module.brand-bottom ul li div {
	text-align: left;
    position: absolute;
    bottom: 30px;
    left: 8%;
}

.module.brand-bottom {
    margin: 0 8px;
}

.module.brand-bottom ul {
	text-align: center;
}

.module.brand-bottom ul li {
	position: relative;
}

.module.brand-bottom ul li div {
	text-align: left;
    position: absolute;
    bottom: 30px;
    left: 8%;
}

.module.brand-bottom ul li div a {
	width: 150px;
	transition: all .4s ease-in-out;
	background: #000;
	border: 1px solid #222;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
	display: block;
	text-decoration: none;
}

.module.brand-bottom ul li:hover div a {
	transition: all .4s ease-in-out;
	background: #fff;
	border: 1px solid #222;
	color: #222;
}
			
.module.brand-bottom ul li img {
	width: 100%;
}

header .middle nav .container .f.wH.marcas ul li a, header .middle nav .container .d.wH.marcas ul li a {
	text-transform: none
} 

ul.slider .slick-slide .banner-legal {
    position: absolute;
    display: block;    
    bottom: 14%;
    right: 3%;
    font-size: 12px;
}

ul.slider .slick-slide .banner-legal a {
    color: #fff;
    font-weight: bold;
}

.itemProduct ul li .contentFlag p.flag.dos-por-uno-en-cole-haan {
    background: url(/arquivos/FLAG-19-03-2021.jpg) no-repeat; 
    width: 105px;  
    opacity: 1;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    font-size: 0;
    z-index: 1;
}
section.module.marcas {
	margin: 0 auto;
	width: 85%  
}
section.module.marcas .marcas {
	margin: 30px 1%;
	display: inline-block;
	width: 10%;
	position: relative;
}
section.module.generos {
	margin: 0 auto;
	width: 100%  
}
section.module.generos .genero {
	margin: 30px 1%;
	display: inline-block;
	position: relative;
}
section.module.generos .genero .boton {
    padding: 7px 15px;
    background: #000;
    color: #fff;
    width: 40%;
    text-align: center;
    position: absolute;
    bottom: 11px;
    margin: 0 26%;
}
/*
section.module.generos .genero .boton:before {
	content: "";
	background: url(https://coliseum.vteximg.com.br/arquivos/regalito211221.png) 0px 0px no-repeat;
	height: 16px;
	top: -1px;
	width: 17px;
	vertical-align: top;
	left: -10px;
	display: inline-block;
	position: relative;
	background-size: 16px;
}
*/
section.module.noveddes {
	margin: 0 auto;
	width: 100%  
}
section.module.noveddes .titulo-principal {
	font-size: 18px;
    font-weight: bold;
    margin: 35px 0 10px 10px;
}
section.module.noveddes .subtitulo {  
    position: absolute;
    bottom: 65px;
    margin: 0 9%;
    font-size: 21px;
    font-weight: bold;
}  
section.module.noveddes .titulo {
	font-size: 13px;
    font-weight: bold;
    position: absolute;
    bottom: 98px;
    margin: 0 8%;
}
section.module.noveddes .novedad.blanco .titulo {
	color: #fff
}
section.module.noveddes .novedad.blanco .subtitulo {
	color: #fff
}
section.module.noveddes .novedad {
	margin: 10px 1%;
	display: inline-block;
	position: relative;
}
section.module.noveddes .novedad .boton {
    padding: 10px 15px;
    background: #000;
    color: #fff;
    width: 20%;
    text-align: center;
    position: absolute;
    bottom: 14px;
    margin: 0 9%;
    font-size: 13px;
}
section.module.carrusel.coleccion-destacada .itemProduct ul li, section.module.carrusel.lo-mas-vendido .itemProduct ul li {
	border: 1px solid #e0e0e0;
	padding: 14px;
	margin: 8px;
}
section.module.marcas-land {
	margin: 10px 0;
}
section.module.marcas-land li.marca {
    margin: 0 15px;
}
section.module.marcas-land .slick-next, section.module.marcas-land .slick-prev {
    top: 37%;
}    
section.module.marcas-land .center {
	width: 80%
}
section.module.marcas-land .center .titulo {
	margin: 25px 0;
    font-size: 18px;
    font-weight: bold;
}
section.module.marcas-land .slick-prev {
    left: -36px;
}
section.module.marcas-land .slick-next {
    right: -36px;
}
section.module.carrusel.coleccion-destacada .center {
	width: 93%;
}
section.module.carrusel.coleccion-destacada .center .titulo {
	margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    width: 70%;
    display: inline-block;
}
section.module.carrusel.coleccion-destacada .ver-todo {
    width: 28%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: right;
}
section.module.carrusel.coleccion-destacada .ver-todo a {
    text-decoration: underline;
}
section.module.carrusel.coleccion-destacada .itemProduct>h2 {
    display: none;
}
section.module.carrusel.coleccion-destacada .itemProduct h2.row.productName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
    text-align: left;
}
section.module.carrusel.coleccion-destacada .itemProduct .slick-track {
	left: -88px;
}
section.module.carrusel.coleccion-destacada .itemProduct ul li .img {
    width: 140px;
    height: 150px;
}
section.module.carrusel.coleccion-destacada .itemProduct ul li .img a img {
	width: 100%;
}
section.module.carrusel.lo-mas-visto .center {
	width: 93%;
}
section.module.carrusel.lo-mas-visto .center .titulo {
	margin: 15px 0;
    font-size: 22px;
    font-weight: bold;
    width: 70%;
    display: inline-block;
}
section.module.carrusel.lo-mas-visto .ver-todo {
    width: 28%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: right;
}
section.module.carrusel.lo-mas-visto .ver-todo a {
    text-decoration: underline;
}
section.module.carrusel.lo-mas-visto .itemProduct ul li {
    border: solid #ddd 1px;
    padding: 8px;
    margin: 10px;
    padding: 12px;
}
section.module.carrusel.lo-mas-visto .itemProduct h2.row.productName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
    text-align: left;
}
section.module.carrusel.lo-mas-visto .itemProduct .slick-track {
    left: -88px;
}

section.module.carrusel.lo-mas-visto .itemProduct ul li .img {
    width: 140px;
    height: 150px;
}
section.module.carrusel.lo-mas-visto .itemProduct ul li .img a img {
    width: 100%;
}
/*
section.module.carrusel.coleccion-destacada .itemProduct ul li {
    padding: 10px;
    margin: 7px;
    left: -10px;
    border: solid 1px #ececec;
}
*/
section.module.carrusel.lo-mas-vendido .itemProduct h2.row.productName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
    text-align: left;
}
section.module.carrusel.lo-mas-vendido .itemProduct .slick-track {
	left: -88px;
}

section.module.carrusel.lo-mas-vendido .itemProduct ul li .img {
    width: 140px;
    height: 150px;
}
section.module.carrusel.lo-mas-vendido .itemProduct ul li .img a img {
	width: 100%;
}
section.module.carrusel.lo-mas-vendido .ver-todo  {
    width: 28%;
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    text-align: right;
}
section.module.carrusel.lo-mas-vendido .ver-todo  a {
    text-decoration: underline;
}
section.module.carrusel.lo-mas-vendido .center {
	width: 93%;
}
section.module.carrusel.lo-mas-vendido .center .titulo {
	margin: 25px 0;
    font-size: 18px;
    font-weight: bold;
    width: 70%;
    display: inline-block;
}
section.module.carrusel.lo-mas-vendido .itemProduct>h2 {
    display: none;
}


.module.products.derecha .ver-todo.negro a:before {
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites-31-05-2021.png) -95px -58px no-repeat;
    background-size: 315px;
}
section.module.informacion-ayuda-01 {
	width: 93%;
	margin: 40px auto 5px;
	position: relative;
}
section.module.informacion-ayuda-01 .ayuda {
	display: inline-block;
	vertical-align: top;
    width: 275px;
    margin: 0 25px;
}
section.module.informacion-ayuda-01 .ayuda .ico {
    width: 9%;
    display: inline-block;
    vertical-align: middle;
}
section.module.informacion-ayuda-01 .ayuda .texto {
    width: 83%;
    padding: 0 4%;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}
section.module.informacion-ayuda-01 .ayuda .texto.medio {
    font-size: 11px;
}
section.module.informacion-ayuda-01 .ayuda .titulo {
    font-size: 13.2px;
    font-weight: bold;
}
section.module.informacion-ayuda-01 .ayuda .texto.medio.giftcard {
    width: 60%;
    text-align: center;
    font-size: 13.2px;
}
section.module.informacion-ayuda-01 .ayuda .texto.medio.giftcard:hover {
	cursor: pointer;
}
section.module.informacion-ayuda-01 .ayuda .texto .titulo {
	font-weight: bold;
}
section.module.informacion-ayuda-01 .ayuda .subtitulo {
    padding: 8px 8px;
    font-size: 12px;
    text-align: center;
}
section.module.informacion-ayuda-01 .ayuda .subtitulo span {
    font-weight: bold;
    text-decoration: underline;
}
section.module.informacion-ayuda-01 .slick-next, section.module.informacion-ayuda-01 .slick-prev {
    top: 25%;
}  
section.module.informacion-ayuda-02 {
	width: 93%;
	margin: 40px auto 5px;
	position: relative;
} 
section.module.informacion-ayuda-02 .ayuda {
	display: inline-block;
	vertical-align: top;
	width: 275px;
    margin: 0 25px;
}
section.module.informacion-ayuda-02 .ayuda .ico {
    width: 9%;
    display: inline-block;
    vertical-align: middle;
}
section.module.informacion-ayuda-02 .ayuda .texto {
    width: 81.3%;
    padding: 0 4%;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
section.module.informacion-ayuda-02 .ayuda .subtitulo {
	font-size: 12px;
	margin: 4px 0;
}
section.module.informacion-ayuda-02 .ayuda .texto .titulo {
    font-weight: bold;
}







@media screen and (min-width: 1051px) {

	.slider img {
		width: 100%;
	}

	.slider .slick-next {
		right: 3%;
	}

	.slider .slick-prev {
		left: 3%;
	}
	
	.slider-mobile {
		display: none;
	}

	.row.module.marcassldr {
		display: none;
	}
	.ml-home.cm-mobile section.row.module.categories.mobile .a span {
	    display: none
	}
	.ml-home .module.slider .slider {
		min-height: 26vw;
	}

	.ml-home .categories {
		display: none;
	}

	.ml-home .categories.mobile {
		display: none;
	}
	
	.ml-home .categories.tres ul li.c {
		width: 32.65%;
		margin: 0 1% 0 0
	}	

	.ml-home .categories ul li.c:last-child {
		margin: 0
	}

	.row.module.menu.secciones {
		margin: 0; 
	}

	.row.module.menu.secciones li.menu-secciones {
		font-size: 15px;
	}

	.row.module.menu.secciones.fx {  
	    top: 98px;
	    height: 12%;
	    width: 100%;
	}

	.row.module.menu.secciones.fx li.menu-secciones a {
		min-height: auto;
	}

	.row.module.tab.carrusel .tab-seccion {
	    margin: 15px;
	}

	.row.module.tab.carrusel .seccion-carrusel .imagen-carrusel-der {
	    width: 77%;
	}

	.seccion-carrusel .imagen-carrusel-izq {
    	width: 22%;
    	vertical-align: top
  	}

  	.seccion-carrusel .imagen-carrusel-izq img {
		display: block;
	}

	.row.module.tab.carrusel .seccion-carrusel .itemProduct {
		width: 98%;
	    max-width: 956px;    
	} 	

	.seccion-carrusel .imagen-carrusel-der .itemProduct h2.row.productName {
	    white-space: unset;
	    text-overflow: unset;
	    width: 206px;
	}

	.seccion-carrusel .imagen-carrusel-der .itemProduct .slick-track {
		left: unset;
	}

	.seccion-carrusel .imagen-carrusel-der .itemProduct ul li {
	    margin: 0 10px;
	}

	.seccion-carrusel .imagen-carrusel-der .itemProduct ul li .img {
	    width: 206px;
	    height: 206px;
	    margin: auto;
	}

	.row.module.por-poco-tiempo {
		background: 0;
    	margin: 40px 0;
	}

	.row.module.por-poco-tiempo .imagen-carrusel-izq .pc{
		display: block;
	}	

	.row.module.por-poco-tiempo .imagen-carrusel-izq .mobil{
		display: none;
	}		

	.row.module.por-poco-tiempo .imagen-carrusel-izq .todo {
	    left: 19%;
    	bottom: 24%;
	}

	.row.module.por-poco-tiempo .imagen-carrusel-izq .count {
		bottom: 22%;
	    left: 1%;
	    height: 65px;
	    width: 215px;
	} 

	.row.module.por-poco-tiempo .imagen-carrusel-izq .count img {
		width: 100%;
	}

	.row.module.por-poco-tiempo .imagen-carrusel-izq {
    	width: 31%;
	    vertical-align: top;
	    padding: 30px 0;
	    margin: 0 2% 0 0;   	
  	}

	.row.module.por-poco-tiempo .imagen-carrusel-der {
	    width: 67%;
	} 

	.row.module.por-poco-tiempo .imagen-carrusel-der .itemProduct {
		width: 98%;
	    max-width: unset;
	} 	
	
	.row.module.por-poco-tiempo .imagen-carrusel-der .itemProduct h2.row.productName {
	    white-space: unset;
	    text-overflow: unset;
	    width: 180px;
	}

	.row.module.por-poco-tiempo .imagen-carrusel-der .itemProduct .slick-track {
		left: unset;
	}

	.row.module.por-poco-tiempo .imagen-carrusel-der .itemProduct ul li .img {
	    width: 180px;
	    height: 180px;
	    margin: auto;
	}

	.module.products {
		margin: 0 0 20px;
	}

	.module.products.izquierda .mobil {
		display: none
	}

	.module.products.derecha .mobil {
		display: none
	}

	.module.products.izquierda .pc {
	    display: block
	}
	.module.products.derecha .pc {
	    display: block
	}

	.module.products.izquierda .title {
		width: 27%;
		vertical-align: bottom;
		position: absolute;
		top: 69%;
		left: 8%;
	}

	.module.products.izquierda .ver-todo {
		width: 17%;
		top: 160%;
		left: 12%;
	}

	.module.products.izquierda .ver-todo.b {
		top: 145%; 
		left: 37%; 
	}

	.module.products.izquierda .title.tres {
		top: 63%;
		width: 37.5%;
	}

	.module.products.izquierda .title.tres.center {
	    width: 100%;
	}	

	.row.module.por-poco-tiempo .imagen-carrusel-centro {
	    width: 100%;
	}

	.row.module.por-poco-tiempo .titulo .pc {
		display: inline-block;
		vertical-align: middle;
		margin: 0 35px;
	}

	.row.module.por-poco-tiempo .titulo .mobil {
		display: none;
	}	

	.module.products .title.tres li {
		width: 23%;
	}

	.module.products .title.tres.center li {
	    width: 10%;
	}

	.module.products.derecha .title {
		width: 35%;
		text-align: right;
		top: 69%;
		right: 3.5%;
	}

	.module.products.derecha .ver-todo {
		display: inline-block;
		width: 17%;
		position: absolute; 
		top: 156%;
		text-align: right;
		left: unset;
		right: 6%;		
	}

	.module.products .title li {
		width: 47%;
	}

	section.module.brand-bottom {
	    margin: unset; 
	}

	section.module.brand-bottom.center {
    	width: 97%;
	    margin: 0 auto;
	    position: relative;
    }

	section.module.brand-bottom ul li {
		display: inline-block;
		width: 49.5%;
	}

	section.module.brand-bottom ul li:first-child {
		margin: 0 1% 0 0;
	}
	section.module.brand-bottom ul li div {
		bottom: 80px;
		left: 62px;
	}
	section.module.generos {
		width: 97%  
	}
	section.module.generos .genero {
		display: inline-block;
		width: 31.3%;
	}
	section.module.generos .genero .boton {
	    padding: 10px 15px;
	    bottom: 20px;
	}	
	section.module.noveddes {
		width: 97%  
	}
	section.module.noveddes .novedad {
		display: inline-block;
		width: 48%;
	}
	section.module.noveddes .subtitulo {
	    bottom: 88px;
    	font-size: 32px;
	}
	section.module.noveddes .titulo-principal {  
		font-size: 22px
	}
	section.module.noveddes .titulo {
		bottom: 135px;
		font-size: 18px;
	}
	section.module.noveddes .novedad .boton {
    	bottom: 30px;
	}
	section.module.marcas-land .center {
		width: 85%
	}	
	section.module.marcas-land .center .titulo {
		font-size: 22px;
	}
	section.module.carrusel.coleccion-destacada .center .titulo {
		font-size: 22px;
	}
	section.module.carrusel.coleccion-destacada .ver-todo {
		width: 29%
	}
	section.module.carrusel.coleccion-destacada .itemProduct h2.row.productName {
	    white-space: unset;
	    text-overflow: unset;
	    width: 206px;
	}
	section.module.carrusel.coleccion-destacada .itemProduct .slick-track {
		left: unset;
	}
	section.module.carrusel.coleccion-destacada .itemProduct ul li {
	    margin: 0 9px;
	}
	section.module.carrusel.coleccion-destacada .itemProduct ul li .img {
	    width: 206px;
	    height: 206px;
	    margin: auto;
	}	
	section.module.carrusel.lo-mas-vendido .itemProduct h2.row.productName {
	    white-space: unset;
	    text-overflow: unset;
	    width: 206px;
	}
	section.module.carrusel.lo-mas-vendido .itemProduct .slick-track {
		left: unset;
	}
	section.module.carrusel.lo-mas-vendido .itemProduct ul li {
	    margin: 0 9px;
	}
	section.module.carrusel.lo-mas-vendido .itemProduct ul li .img {
	    width: 206px;
	    height: 206px;
	    margin: auto;
	}
	section.module.carrusel.lo-mas-vendido .center .titulo {
		font-size: 22px
	}
	section.module.carrusel.lo-mas-vendido .center .ver-todo {
		width: 29%
	}
    section.module.carrusel.lo-mas-visto .itemProduct h2.row.productName {
        white-space: unset;
        text-overflow: unset;
        width: 206px;
    }
    section.module.carrusel.lo-mas-visto .itemProduct .slick-track {
        left: unset;
    }
    section.module.carrusel.lo-mas-visto .itemProduct ul li .img {
        width: 206px;
        height: 206px;
        margin: auto;
    }
    section.module.carrusel.lo-mas-visto .center .titulo {
        font-size: 22px
    }
    section.module.carrusel.lo-mas-visto .center .ver-todo {
        width: 29%
    }	
	section.module.informacion-ayuda-01 .ayuda {
		width: 23%;		
		padding: 1%;
		margin: 0;
	}
	section.module.informacion-ayuda-01 .ayuda .marco {
	    border-right: solid 1px #eee;
	    padding: 0 3%;
	    height: 56px;
	}	
	section.module.informacion-ayuda-01 .ayuda .marco.giftcard { 
		cursor: pointer;
	}
	section.module.informacion-ayuda-02 .ayuda {
		width: 22.7%;		
		padding: 1%;
		margin: 0;
	}
	section.module.informacion-ayuda-02 .ayuda .marco {
	    border-right: solid 1px #eee;
	    padding: 0 3%;
	    height: 45px;
	}	
}

@media screen and (min-width: 1441px) {

	.row.module.tab.carrusel .seccion-carrusel .itemProduct {
		width: 98%;
	    max-width: unset;    
	}

}

.slider-prod-poco-tiempo .owl-nav button.owl-prev {
    left: 20px;
}
.slider-prod-poco-tiempo .owl-nav button.owl-prev span{
	background-image: url(/arquivos/re-sprites-30-10-2020-1.png);
    z-index: 1;
    top: 46%;
    height: 41px;
    width: 35px;
    margin-top: -10px;
    cursor: pointer;
    border: none;
    font-size: 0;
    background-color: #FFF;
    opacity: 0.7;
    background-position: -278px -74px;
    left: 0;
    outline: none;
    display: block;
}

.slider-prod-poco-tiempo .owl-nav button.owl-next {
    right: 20px;
}
.slider-prod-poco-tiempo .owl-nav button.owl-next span{
	background-image: url(/arquivos/re-sprites-30-10-2020-1.png);
	z-index: 1;
	top: 46%;
	height: 40px;
	width: 35px;
	margin-top: -10px;
	cursor: pointer;
	border: none;
	font-size: 0;
	background-color: #fff;
	opacity: 0.7;
	display: block;
	background-position: -303px -74px;
	right: 2px;
	outline: none;
}
.slider-prod-poco-tiempo .owl-nav button{
	position: absolute;
	top: 40%;
}
.owl-carousel.owl-por-poco-tiempo .owl-nav.disabled,
.owl-carousel.owl-por-poco-tiempo .owl-dots.disabled{
	display: block!important;
}