.slider-home-desk{
	display: block;
	text-align: center;
	margin-bottom: 30px;
	line-height: 0;
	@media screen and(max-width: 800px) {
		display: none;		
	}
	.owl-slider-desk{
		display: block;
		.item{
			position: relative;
			background: black;
			a{
				.box-titulo{
					position: absolute;
					top: 77px;
					margin-left: 90px;
					width: 30%;
					text-align: left;
					.titulo{
						font-size: 46px;
						font-weight: 800;
						color: white;
						line-height: 1.4;
					}
					small{
						font-size: 15px;
						font-weight: 600;
						color: white;
						margin-top: 18px;
						display: block;
					}
					.btn-white{
						background: white;
						color: #000;
						display: inline-block;
						margin-top: 25px;
						padding: 10px 20px;
						font-weight: 700;
					}
				}
			}
		}
		.owl-nav{
			.owl-prev{
				position: absolute;
				top: 40%;
				left: 20px;
				span{
					font-size: 50px;
					background: rgba(255, 255, 255, 0.58);
					width: 50px;
					height: 50px;
					display: inline-block;
					line-height: 37px;
					font-weight: 300;
				}
			}
			.owl-next{
				position: absolute;
				top: 40%;
				right: 20px;
				span{
					font-size: 50px;
					background: rgba(255, 255, 255, 0.58);
					width: 50px;
					height: 50px;
					display: inline-block;
					line-height: 37px;
					font-weight: 300;
				}
			}
		}
		.owl-dots{
			position: absolute;
			height: 40px;
			bottom: 0;
			width: 100%;
			button{
				margin: 0 5px;
				width: 15px;
				height: 15px;
				background: rgba(255,255,255,0.60);
				display: inline-block;
				border-radius: 50%;
				border:1px solid rgba(0,0,0,0.29);
				&.active{
					background-color: #484848;
					border:1px solid black;
				}
				span{					
				}
			}
		}
	}
}
.slider-home-movil{
	display: none;
	text-align: center;
	margin-bottom: 30px;
	@media screen and(max-width: 800px) {
		display: block;		
	}
	.owl-slider-desk{
		display: block;
		line-height: 0;
		.item{
			position: relative;
			.box-titulo{
				position: absolute;
				width: 90%;
				text-align: left;
				bottom: 10%;
				margin: 0 auto;
				left: 0;
				right: 0;
				@media screen and (max-width: 500px){
					bottom: 5%;
				}
				.titulo{
					font-size: 40px;
					font-weight: 800;
					color: white;
					line-height: 1.4;
					@media screen and (max-width: 600px){
						font-size: 30px;
						font-weight: 600;
						color: white;
						line-height: 1;
					}
				}
				small{
					font-size: 15px;
					font-weight: 600;
					color: white;
					margin-top: 18px;
					display: block;
				}
				.btn-white{
					background: white;
					color: #000;
					display: inline-block;
					margin-top: 25px;
					padding: 10px 20px;
					font-weight: 700;
					font-size: 13px;
				}
			}
		}
		.owl-nav{
			.owl-prev{
				position: absolute;
				top: 40%;
				left: 20px;
				span{
					font-size: 50px;
					background: rgba(255, 255, 255, 0.58);
					width: 35px;
					height: 35px;
					display: inline-block;
					line-height: 26px;
					font-weight: 300;
				}
			}
			.owl-next{
				position: absolute;
				top: 40%;
				right: 20px;
				span{
					font-size: 50px;
					background: rgba(255, 255, 255, 0.58);
					width: 35px;
					height: 35px;
					display: inline-block;
					line-height: 26px;
					font-weight: 300;
				}
			}
		}
		.owl-dots{
			display: none;
		}
	}
}

section.home-logos-movil{
	display: none;
	@media screen and (max-width: 800px) {
		display: block;
		margin-bottom: 10px;
		border-bottom: 1px solid #EEEEEE;
	}
	.owl-slider-logos-movil{
		.owl-item{
			text-align: center;
			li.item{

			}
		}
		.owl-nav{
			display: none;
		}

		.owl-dots{
			height: 40px;
			text-align: center;
			margin-top: 10px;
			width: 100%;
			button{
				margin: 0 8px;
				width: 10px;
				height: 10px;
				background: rgba(255,255,255,0.60);
				display: inline-block;
				border-radius: 50%;
				border:1px solid rgba(0,0,0,0.29);
				&.active{
					background-color: #484848;
					border:1px solid black;
				}
				span{					
				}
			}
		}

	}
}



.home-option-info {
	display: block;
	ul{
		width: 96%;
		position: relative;
		/* padding: 20px 10px; */
		margin: 0 auto;
		text-align: center;
		.owl-item{
			margin: 0;
			vertical-align: middle;
			text-align: left;	
			background: #F8F8F8;
			border-right: 2px solid #fff;		
			li.item{
				display: grid;
				padding: 15px 10px;
				min-height: 70px;
				text-align: center;
				justify-content: center;
				align-content: center;
				@media screen and (max-width: 1000px){
					text-align: center;
				}
				.marco{
					display: table-cell;
					width: auto;
					margin: 0 auto;
					vertical-align: middle;
					&.envios{
						.ico{
							img{
								width: 95%;
							}
						}
						.info{
							margin-left: 4%;
						}
					}
				}

			}
			&:last-child{
				border-right: 0;
			}
			.owl-nav{
				display: none;
			}
			img{
				width: 75%;
			}
			.ico {
				width: 12%;
				display: inline-block;
				vertical-align: middle;
			}
			.info{
				display: inline-block;
				width: 60%;
				vertical-align: middle;
				/* margin-left: 4%; */
				text-align: left;
			}
			.texto {
				width:100%;
				padding: 0;
				font-size: 14px;
				display: inline-block;
				vertical-align: middle;
				font-weight: bold;
				.titulo {
					font-weight: bold;
				}
			}
			.texto.medio {
				font-size: 11px;
			}
			.titulo {
				font-size: 13.2px;
				font-weight: bold;
			}
			.texto.medio.giftcard {
				width: 60%;
				text-align: center;
				font-size: 13.2px;
				&:hover {
					cursor: pointer;
				}
			}
			.subtitulo {
				padding: 6px 7px 0 0;
				font-size: 12px;
				text-align: left;
				span {
					font-weight: bold;
					text-decoration: underline;
				}
			}
		}
		.owl-nav{
			display: none;
		}
		.owl-dots{
			text-align: center;
			margin-top: 4px;
			width: 100%;
			button{
				margin: 0 1px;
				width: 23%;
				height: 5px;
				background: rgba(255, 255, 255, 0.6);
				display: inline-block;
				border-radius: 0;
				border: 1px solid #EEEEEE;
				background: #EEEEEE;
				&.active{
					background-color: #484848;
					border:1px solid black;
				}
				span{					
				}
			}
		}
	
		.owl-stage{
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}
	}
	
}

section.module.home-categoria{
	margin: 30px auto;
	width: 100%;
	.owl-slider-home-categoria,
	.owl-slider-home-categoria2{
		.item {
			font-size: 15px;
			font-weight: 600;
			background: #F5F5F5;
			.boton {
				padding: 13px;
				background: #000;
				color: #fff;
				width: 40%;
				text-align: center;
				position: absolute;
				bottom: 35px;
				margin: 0 26%;
				border: 1px solid #000;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
			.btn-mom{
				background-color: #fff;
				color: #471312;
				border-radius: 9px;
				font-weight: bold;
			}
			&:hover{
				.boton{
					-webkit-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;
					background-color: #484848;
					border: 1px solid #484848;
					color: #fff;
				}
			}
		}
		.owl-nav{
			display: none;
		}
		.owl-dots{
			text-align: center;
			margin-top: 4px;
			width: 100%;
			button{
				margin: 0 1px;
				width: 23%;
				height: 5px;
				background: rgba(255, 255, 255, 0.6);
				display: inline-block;
				border-radius: 0;
				border: 1px solid #EEEEEE;
				background: #EEEEEE;
				&.active{
					background-color: #484848;
					border:1px solid black;
				}
				span{					
				}
			}
		}
	}
	
}

section.categoria-new-arrivals{
	margin-top: 30px;
	position: relative;
	.title{
		display: inline-block;
		width: 40%;
		font-size: 30px;
		font-weight: 700;
		margin-top: 0;
		vertical-align: top;
		@media screen and (max-width: 800px){
			display: block;
			width: 100%;
			font-size: 20px;
		}
	}
	.tabs-nav-newarrivals {
		display: inline-block;
		width: 53%;
		margin-top: 4px;
		@media screen and (max-width: 800px){
			display: block;
			width: 100%;
			margin-top: 20px;
		}
		ul {
			margin: 0;
			padding: 0;
			text-align: right;
			@media screen and (max-width: 800px){
				text-align: left;
			}
		}

		li {
			display: inline-block;
			background: #fff;
			color: #000;
			margin-right: 5px;
			&.ver-todo-new-arrivals{
				background: #fff;
				color: #000;
				&.active{
					background: #000;
					color: #fff;
				}
				@media screen and (max-width: 800px){
					position: absolute;
					right: 0;
					top: -8px;
				}
			}
		}
		a {
			display: block;
			padding: 10px 13px;
			font-weight: 600;
			font-size: 15px;
			color: #000;
			text-decoration: underline;
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			@media screen and (max-width: 800px){
				padding: 10px 9px;
			}
			&:active,
			&:hover{
				background:#484848;
				color: #fff;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
		}
		li.active {
			background: #000;
			color: #fff;
			a {
				color: inherit;
			}
		}
		
	}
	.tabs-content-new-arrivals{
		padding: 20px 0 0 0;
		background: #FFF;
		img {
			margin-right: 10px;
		}
		h2{
			display: none;
		}
		span{
			display: none;
		}
		.itemProduct{
			ul{
				li{
					width: 43%;
					.img{
						width: 100%;
						height: auto;
					}
				}
				.owl-item{
					li{
						width: 100%;
						box-sizing: border-box;
					}
				    
				}
			}
		}
		.productName{
			display: block!important;
			font-size: 15px;
			text-align: left;
			width: auto;
		}
		ul.owl-cate-new-arrivals{
			li{
				border: 1px solid rgba(0,0,0,0.30);
				padding: 14% 4% 4% 4%;
				text-align: center;
				display: block;
				margin: 0;
				.price{
					text-align: left;
				}
			}
			.owl-nav{
				position: absolute;
				top: -55px;
				right: 10px;
				@media screen and (max-width: 800px){
					display: none;
				}
				button{
					font-size: 25px;
					margin: 0 2px;
					span{
						font-size: 30px;
						font-weight: 400;
						height: 30px;
						width: 30px;
						line-height: 26px;
						border: 1px solid #000;
						display: inline-block;
					}
				}
			}

			.owl-dots{
				height: 40px;
				text-align: center;
				margin-top: 20px;
				width: 100%;
				button{
					margin: 0 8px;
					width: 15px;
					height: 15px;
					background: rgba(255,255,255,0.60);
					display: inline-block;
					border-radius: 50%;
					border:1px solid rgba(0,0,0,0.29);
					&.active{
						background-color: #484848;
						border:1px solid black;
					}
					span{					
					}
				}
			}

		}
		.contenido{
			&:not(:first-child) {
			  display: none;
			}
		}
		.contenido2{
			visibility: hidden;
			position: absolute;
			opacity: 0;
			&.active{
				position: relative;
				visibility: visible;
				opacity: 1;
			}
		}
	}

}

section.module.home-genero{
	margin: 0 auto;
	width: 100%;
	@media screen and(max-width: 800px){
		display: none;
		
	}
	.owl-slider-home-genero{
		.item {
			font-size: 15px;
			font-weight: 600;
			.boton {
				padding: 10px;
				background: #000;
				color: #fff;
				width: 40%;
				text-align: center;
				position: absolute;
				bottom: 50px;
				margin: 0 26%;
				border: 1px solid #000;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
			&:hover{
				.boton{
					transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;
					background-color:#484848;
					border: 1px solid #484848;
					color: #fff;
				}
			}
		}
	}
}
section.module.home-genero-movil{
	display: none;
	@media screen and(max-width: 800px){
		display: block;		
	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 5px;
		grid-auto-rows: minmax(100px, auto);
		.grid-item{
			display: inline-grid;
			row-gap: 50px;
			img{
				width: 100%;
			}
			a{
				position: relative;
				span{
					position: absolute;
					background: black;
					bottom: 2%;
					left: 2;
					display: inline-block;
					color: #FFF;
					padding: 10px 10px;
					margin: 0 auto;
					transform: translate(-50%, -50%);
					left: 50%;
				}
			}

		}
	}

}

section.module.home-descuentos{
	text-align: center;
	background-color: #EDF5FA;
	width: 1270px;
	max-width: 100%;
	padding: 25px 0;
	margin: 30px auto;
	h2{
		font-weight: 700;
		font-size: 30px;
		@media screen and (max-width: 800px){
			font-size: 20px;
		}
	}
	p{
		font-weight: 700;
		font-size: 20px;
		margin: 12px 0;
		@media screen and (max-width: 800px){
			font-size: 15px;
		}
	}
	.btn-black{
		display: inline-block;
		background-color: black;
		font-size: 15px;
		font-weight: 600;
		padding: 12px 35px;
		text-decoration: underline;
		color: white;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&:hover{
			background-color: #484848;
			color:#fff;
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
		}
	}
}

section.module.categoria-home-estilos{
	margin-top: 30px;
	.title{
		display: inline-block;
		width: 40%;
		font-size: 30px;
		font-weight: 700;
		margin-top: 0;
		vertical-align: top;
		@media screen and (max-width: 800px){
			display: block;
			width: 100%;
			font-size: 20px;
		}
	}
	.tabs-nav-home-estilos,
	.tabs-nav-home-estilos4 {
		display: inline-block;
		width: 53%;
		margin-top: 4px;
		@media screen and (max-width: 800px){
			display: block;
			width: 100%;
			margin-top: 20px;
		}
		ul {
			margin: 0;
			padding: 0;
			text-align: right;
			@media screen and (max-width: 800px){
				text-align: left;
			}
		}
		li {
			display: inline-block;
			background: #fff;
			color: #000;
			margin-right: 5px;
		}
		a {
			display: block;
			padding: 10px 13px;
			font-weight: 600;
			font-size: 15px;
			color: #000;
			text-decoration: underline;
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			@media screen and (max-width: 800px){
				padding: 10px 9px;
			}
			&:active,
			&:hover{
				background:#484848;
				color: #fff;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
		}
		li.active {
			background: #000;
			color: #fff;
			a {
				color: inherit;
			}
		}
	}
	.tabs-content-home-estilos,
	.tabs-content-home-estilos4{
		padding: 20px 0 0 0;
		background: #FFF;
		position: relative;
		h2{
			display: none;
		}
		span{
			display: none;
		}
		.itemProduct{
			ul{
				li{
					@media screen and(max-width: 800px){
					    width: 43%;
					}
					.img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
		.productName{
			display: block!important;
			font-size: 15px;
			text-align: left;
			width: auto;
		}
		ul.owl-cate-estilos{
			position: initial;
			li{
				border: 1px solid rgba(0,0,0,0.30);
				padding: 14% 4% 4% 4%;
				text-align: center;
				display: block;
				margin: 0;
				width: 44%;
				.price{
					text-align: left;
				}
			}
			.owl-item{
				li{
					width: 100%;
					box-sizing: border-box;
				}
			    
			}
			.owl-nav{
				position: absolute;
				top: -34px;
				right: 10px;
				button{
					font-size: 25px;
					margin: 0 2px;
					span{
						font-size: 30px;
						font-weight: 400;
						height: 30px;
						width: 30px;
						line-height: 26px;
						border: 1px solid #000;
						display: inline-block;
					}
				}
			}

			.owl-dots{
				height: 40px;
				text-align: center;
				margin-top: 20px;
				width: 100%;
				button{
					margin: 0 8px;
					width: 15px;
					height: 15px;
					background: rgba(255,255,255,0.60);
					display: inline-block;
					border-radius: 50%;
					border:1px solid rgba(0,0,0,0.29);
					&.active{
						background-color: #484848;
						border:1px solid black;
					}
					span{					
					}
				}
			}

		}
		figure.imagen-desk{
				display: inline-block;
				width: 35%;
				vertical-align: top;
				position: relative;
				margin-right:10px;
				@media screen and (max-width: 1000px){
					display: none;
				}
			}
			figure.imagen-movil{
				display:none;
				width: 100%;
				position: relative;
				@media screen and (max-width: 1000px){
					display: block;
				}
			}
			.itemProduct{
				display: inline-block;
				width: 64%;
				@media screen and (max-width: 1000px){
					display: block;
					width: 100%;
				}

			}
			a{
				.btn-black {
				    display: inline-block;
				    background-color: black;
				    font-size: 15px;
				    font-weight: 600;
				    padding: 12px 35px;
				    color: white;
				    position: absolute;
				    bottom: 20px;
				    left: 50%;
				    right: 50%;
				    width: 90px;
				    margin-left: -90px;
				    text-align: center;
				    text-decoration: underine;
				    text-transform: uppercase;
				    -webkit-transition: all 0.2s ease-in-out;
				    transition: all 0.2s ease-in-out;
				}
				&:hover{
					.btn-black {
						background: #484848;
						color:#fff;
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
					}
				}

			}
	}

}

section.module.informacion-ayuda-footer {
	max-width: 1270px;
	width: 100%;
	margin: 40px auto 0 auto;
	position: relative;
	overflow: hidden;
	ul{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		text-align: center;
		border-top: 1px solid rgba(0,0,0,0.29);
		border-right: 1px solid rgba(0,0,0,0.29);
		border-left: 1px solid rgba(0,0,0,0.29);
		@media screen and (max-width: 1218px){
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
		li.ayuda {
			display: inline-block;
			vertical-align: top;
			margin: 0;
			text-align: left;
			border-right: 1px solid rgba(0,0,0,0.29);
			padding: 20px;
			@media screen and (max-width: 1218px){
				border-bottom: 1px solid rgba(0,0,0,0.29);
			}
			&:last-child{
				border-right:0;
			}
			&:nth-child(2n){
				@media screen and (max-width: 1218px){
					border-right:0;
				}
			}
			.ico {
				width: 9%;
				display: inline-block;
				vertical-align: top;
			}
			.texto {
				width: 81.3%;
				padding: 0 4%;
				font-size: 14px;
				display: inline-block;
				vertical-align: middle;
				.titulo {
					font-weight: bold;
				}
			}
			.subtitulo {
				font-size: 12px;
				margin: 4px 0;
			}
		}
	}
	
}



.home-v2{
	display: block;

	hr{
		border-top: 2px solid #eee;
		border-bottom: 0;
		max-width: 1270px;
		margin: 0 auto;
		position: relative;
		@media screen and (max-width: 1270px){
		    max-width: 100%;
		}
	}
	.itemProduct ul li .acc .buy {
	  transition: all .1s ease-in-out;
	  background: #222;
	  border: 1px solid #222;
	  color: #fff;
	  padding: 10px 0;
	  margin: 15px 0 0;
	  text-align: center;
	  text-transform: uppercase;
	  font-size: 15px;
	  font-weight: 600;
	  display: block;
	  text-decoration: none;
	}
	.itemProduct ul li:hover .acc .buy {
	  transition: all .1s ease-in-out;
	  background: #484848;
	  border: 1px solid #484848;
	  color: #fff; }

}

/*Slider con contador*/

.content-count-box{
	margin-top: 20px;
	position: absolute;
	width: 100%;
	bottom: -23px;
	display: block;
	height: auto;
}

#countdown{
	display: grid;
	font-size: 40px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	position: relative;
	bottom: 164px;
	color: #fff;
	text-align: center; 
	font-weight: bold;  
	margin: 0 36px; 
} 

#count-detalle{
	display: grid;
	font-size: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	position: relative;
	bottom: 177px;
	color: #fff;
	text-align: center;  
	margin: 0 36px;    
}

.row.module.countdown {
  margin-top: 60px;
}

section.row.module.countdown ul.owl-countdown {
    position: initial;
}

section.row.module.countdown .container-countdown {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    position: relative;
    margin-right: 10px;
}

.owl-countdown .owl-nav{
  display: none;
}   


section.row.module.countdown .imagen-movil {
  display: none;
} 

section.row.module.countdown .itemProduct {
    display: inline-block;
    width: 64%;
}    

section.row.module.countdown .itemProduct h2 {
    display: none;
}

section.row.module.countdown ul.owl-cate-estilos {
    position: initial;
}

section.row.module.countdown ul.owl-countdown .owl-dots button.active {
    background-color: #484848;
    border: 1px solid black;
}

section.row.module.countdown ul.owl-countdown .owl-dots button {
    margin: 0 8px;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.6);
    display: inline-block;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.29);
}

section.row.module.countdown ul.owl-countdown .owl-dots {
    height: 40px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

section.row.module.countdown ul.owl-countdown li {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 14% 4% 4% 4%;
    text-align: center;
    display: block;
    margin: 0;
}

section.row.module.countdown .itemProduct ul li .img {
    width: 100%;
    height: auto;
}



@media screen and (max-width: 1025px) { /* Tablet */
  section.row.module.countdown .imagen-movil {
    display: block;
    background: #000;
  } 
  section.row.module.countdown .imagen-desk {
    display: none;
  }
  
 /*  #countdown {
	font-size: 35px;
	bottom: 263px;
	width: 38%;   
	left: 52%;  
  }
  #count-detalle {
    font-size: 10px;
      bottom: 257px;
      width: 37%;
      left: 53%;    
  } */

  section.row.module.countdown .container-countdown {
      width: 100%;
  }   
  section.countdown ul.owl-countdown .owl-item li {
      width: 100%;
      box-sizing: border-box;
  }
    section.row.module.countdown .itemProduct {
        width: 100%;
    }   
}

@media screen and (max-width: 640px) { /* Mobil */

.content-count-box{
    bottom: -80px;
  }

	#countdown {
	    display: grid;
	    font-size: 31px;
	    grid-template-columns: 1fr 1fr 1fr 1fr;
	    position: relative;
	    bottom: 164px;
	    color: #fff;
	    text-align: center;
	    font-weight: bold;
	    margin: 0 30px;
	}

	#count-detalle {
	    margin: 0 31px;
	}

/*   #countdown {
      font-size: 24px;
      bottom: 115px;
      width: 38%;
      left: 57%;
      margin: 0;
  } 
  #count-detalle {
      font-size: 6px;
      bottom: 128px;
      width: 37%;
      left: 49%;  
  }  */    
}