@media (min-width:1050px) and (max-width:1300px) {

  .center,
  .ml-main .bread-crumb ul {
    width: 1120px
  }
  .module.products .carrusel .itemProduct {
    width: 100%
  }
  .module.result .left .navigation-tabs .menu-departamento .search-single-navigator h5.HideMaterial,
  .module.result .left .navigation-tabs .menu-departamento .search-single-navigator ul.Material {
    display: none
  }
  
}
@media screen and(max-width: 768px) {
  .module.result .left .menu-departamento .search-single-navigator {
    display: none;
  }
   .ml-producto #wpn-mv-bubble{
    width: 35px;
    height: 35px;
    bottom: 96px!important;
  }
  .ml-producto #wpn-mv-bubble svg{
    width: 35px;
    height: 35px;
  }

  body.ml-producto iframe{
    bottom: 78px!important;
  }

}

@media (min-width:280px) and (max-width:1050px) {
  body.sale-navidad .mobile-ln {
    margin-top: 10px
  }
  section.mobile-ln .parte1-2 {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%
  }
  body.sale-navidad section.mobile-ln img,
  body.sale-navidad section.mobile-ln a {
    width: 100%
  }
  body.sale-navidad section.mobile-ln .parte1 {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1%
  }
  body.sale-navidad section.mobile-ln .parte1-2,
  body.sale-navidad section.mobile-ln .parte1 {
    margin-bottom: 2%
  }
  body.sale-navidad section.mobile-ln {
    display: block
  }
  body.sale-navidad section.desktop-lnd {
    display: none
  }
  article.landing-runner.mobile.fx {
    top: 110px;
    position: fixed;
    width: 100%;
    z-index: 3
  }
  article.landing-runner.tres.mobile.flotantes.fx {
    top: -135px;
  }
  article.landing-runner.tres.mobile.flotantes.fx .content {
    background: black;
  }
  article.landing-runner.uno.mobile li {
    width: 100%
  }
  section.nano.fx {
    top: 102px
  }
  .filtrar-por.active:after {
    content: '\f00d';
    font: normal normal normal 16px/1 FontAwesome;
    right: 14px;
    position: absolute
  }
  
  .busqueda-404 .module.products .carrusel {
    display: block
  }
  .busqueda-404 .module.products {
    display: block
  }
  .busqueda-404 .brands {
    grid-template-columns: 100%;
    row-gap: 20px
  }
  .ml-newsletter.mama.bf20 .right img {
    width: 80%
  }
  .ml-newsletter.mama.bf20 .right.mobile {
    width: 23%;
    top: 1%;
    right: -2px
  }
  body.black-friday .parte1>div:first-child {
    margin-bottom: 0
  }
  .countdown-timer-wrapper .timer .days:after,
  .countdown-timer-wrapper .timer .hours:after,
  .countdown-timer-wrapper .timer .minute:after,
  .countdown-timer-wrapper .timer .seg:after {
    top: 21px!important
  }
  .countdown-timer-wrapper .timer .days,
  .countdown-timer-wrapper .timer .hours,
  .countdown-timer-wrapper .timer .minute,
  .countdown-timer-wrapper .timer .seg {
    padding: 3px 20px 20px
  }
  .countdown-timer-wrapper .timer {
    padding-top: 10px;
    padding-bottom: 10px
  }
  body.black-friday section.desktop-lnd {
    display: none
  }
  body.black-friday .mobile-ln {
    display: block;
    padding: 7px 7px 10px 0;
  }
  body.black-friday .mobile-ln .parte1-2 {
    display: inline-grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%
  }
  body.black-friday .mobile-ln>div {
    padding: 5px 0 5px;
  }
  body.black-friday .mobile-ln img {
    width: 100%
  }
  div.center.countdown.countdown-timer-wrapper {
    border-radius: 0
  }
  section.ml-newsletter.contador {
    background: #000!important
  }
  section.row.module.categories.mobile .a span {
    display: block
  }
  
  .lnueva_cyber .landinngmobile .contenedor a {
    width: auto
  }
  .lnueva_cyber .bx-viewport {
    height: none!important
  }
  .lnueva_cyber .bx-wrapper .box-banner {
    height: auto
  }
  .lnueva_cyber .parte1-ln,
  .lnueva_cyber .parte2-ln,
  .lnueva_cyber .parte3-ln,
  .lnueva_cyber .parte4-ln {
    display: none
  }
  .lnueva_cyber .landinngmobile {
    display: block
  }
  .lnueva_cyber .landinngmobile .contenedor>div {
    margin-top: 10px
  }
  .previa .e_div_sexo img {
    width: auto
  }
  .search-multiple-navigator fieldset {
    text-align: left;
    margin: 10px 0;
    border-bottom: solid 1px #ececec
  }
  .search-multiple-navigator fieldset h5 {
    margin: 0 15px
  } 
  .search-multiple-navigator fieldset div label {
    margin: 5px 25px;
  }   
  .btn.carrito>a {
    display: none
  }
  section.bottom.ml-newsletter.mama a {
    width: 100%
  }
  .ml-newsletter.mama.shoday.primavera2020v2 .right.mobile {
    top: 29%;
    right: 11px;
    width: 10%
  }
  .ml-newsletter.mama.primavera2020v2 .right.mobile {
    top: 17%;
    right: 43%;
    width: 17%
  }
  .ml-newsletter.mama.primavera2020 .right.mobile {
    top: 7px;
    right: 0;
    width: 17%
  }
  section.pv20 .mob {
    display: block;
    margin-bottom: 20px
  }
  section.pv20 .desk {
    display: none!important
  }
  section.pv20 .primer .mid.mob,
  section.pv20 .primer .rigth.mob {
    width: 50%;
    display: inline-block
  }
  section.pv20 .tercero .mid.mob,
  section.pv20 .tercero .rigth.mob {
    width: 50%;
    display: inline-block;
    vertical-align: top
  }
  section.pv20 .segundo {
    margin-top: 0
  }
  section.tattoo div .left.mob,
  section.tattoo div .mid.mob,
  section.tattoo div .rigth.mob {
    display: block
  }
  section.tattoo div .left.desk,
  section.tattoo div .mid.desk,
  section.tattoo div .rigth.desk {
    display: none
  }
  section.tattoo div .left.mob,
  section.tattoo div .mid.mob,
  section.tattoo div .rigth.mob {
    width: 100%;
    margin-top: 20px
  }
  section.tattoo div.segundo {
    margin-top: 0
  }
  /*
  section.module.together.mobile {
    display: block;
    margin-top: 40px
  }
  */
  section.module.together.desktop {
    display: none
  }
  .together.mobile .pasos ul li {
    width: 13%;
    padding-top: 14px
  }
  ul.thumbsQ {
    position: relative;
    text-align: center
  }
  .thumbsQ li {
    display: inline-block;
    float: inherit
  }
  .cjuntosFinal .cartJ {
    width: 100%
  }
  .general,
  .cartJ {
    display: block;
    vertical-align: middle
  }
  .cjuntosFinal .product .nombre {
    padding-left: 20px;
    width: 40%
  }
  .cjuntosFinal .product {
    width: 100%;
    display: block;
    margin-bottom: 25px;
    text-align: left
  }
  .cjuntosFinal .general {
    width: 100%
  }
  .textos .breadcrumb li {
    padding: 5px 0
  }
  .together.textos .pasos ul li.active {
    width: 100%!important;
    display: block
  }
  .together.textos .pasos ul li {
    display: none
  }
  .cjuntos3 .general .product {
    margin-bottom: 10px
  }
  .cjuntos3 .general .product,
  .cjuntos3 .general .cartJ {
    display: block;
    width: 100%;
    text-align: left
  }
  a#pack {
    margin: 10px auto 0
  }
  .cjuntos2 {
    height: auto
  }
  a.buy-button-Packs.next {
    width: 60%
  }
  .module.producto .detail .social {
    margin: 30px 0 0
  }
  select.tallasJuntos.Tallas {
    width: 96%;
    margin: 0 auto
  }
  .together .pasos ul li {
    width: 23%
  }
  .breadcrumb li:after {
    content: " ";
    display: block;
    left: 100%;
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 2;
    border-bottom: 31px solid transparent;
    border-left: 30px solid #e4e4e4;
    border-top: 21px solid transparent
  }
  .breadcrumb li:before {
    content: " ";
    display: block;
    height: 0;
    left: 100%;
    margin-left: 1px;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1;
    border-bottom: 31px solid transparent;
    border-left: 30px solid #9e9e9e;
    border-top: 21px solid transparent
  }
  body.cm-mobile .module.producto .contentFlag {
    top: 0;
    left: 79px
  }
  body.team .bloqueLanding .img img {
    width: 100%
  }
  .ml-newsletter.mama.arrivels .right.mobile {
    width: 23%;
    position: absolute;
    top: 0;
    right: 0
  }
  .landing-runner.mobile.dos li {
    width: 49.7%
  }
  .landing-runner.mobile.tres li {
    width: 32.8%
  }
  
  .landing-runner.seis li a,
  .landing-runner.cinco li a,
  .landing-runner.cuatro li a,
  .landing-runner.tres li a,
  .landing-runner.dos li a {
    width: auto;
  }
  .landing-runner.mobile.cuatro li {
    width: 24.5%;
  }
  .landing-runner.mobile.cuatro li img,
  .landing-runner.mobile.tres li img,
  .landing-runner.mobile.dos li img {
    width: auto
  }
  .landing-runner.mobile.cinco li {
    width: 20%
  }
  .landing-runner.mobile.cinco li img,
  .landing-runner.mobile.tres li img,
  .landing-runner.mobile.dos li img {
    width: auto
  }
  .landing-runner.mobile.seis li {
    width: 16.3%
  }
  .landing-runner.mobile.seis li img,
  .landing-runner.mobile.tres li img,
  .landing-runner.mobile.dos li img {
    width: auto
  }
  .landing-runner.cuatro li .texto, 
  .landing-runner.tres li .texto, 
  .landing-runner.dos li .texto {
    width: auto;
    color: #fff;
    padding: 26px;
    font-size: 10px;
  }  
  .landing-runner.cuatro li .texto.act, 
  .landing-runner.tres li .texto.act, 
  .landing-runner.dos li .texto.act {
    text-decoration: underline;
  }    
  
  body.landing .bloqueLanding .img img {
    width: 100%
  }
  .landing-runner.mobile li.act img {
    border-bottom: 1px solid #fff
  }
  .landing-runner.mobile li:last-child {
    border: none
  }
  article.landing-runner.mobile .content {
    padding: 0
  }
  article.landing-runner.mobile {
    display: block
  }
  article.landing-runner.desktop {
    display: none
  }
  article.landing-runner.mobile {
    height: auto;
    background: #000
  }
  .landing-runner.tres.mobile.flotantes .content {
    position: absolute;
    padding: 0 2% 0;
    top: 199px;
  }
  .landing-runner.tres.mobile.flotantes li {
    width: 30%;
    padding: 0 6px;
    border: 0;
  }
  .landing-runner.tres.mobile.flotantes li img {
    width: 90%;
  }
  .landing-runner.mobile li {
    border-right: 1.45px solid #595959
  }
  .landing-runner.mobile li img {
    width: auto
  }
  .landing-runner.mobile li {
    width: 20%;
    text-align: center;
    display: inline-block
  }
  .ml-newsletter.mama.runners .right.mobile {
    top: 71%;
    right: 30%
  }
  .img.desk {
    display: none!important
  }
  .ml-newsletter.mama .right.mobile a {
    margin: 0;
    padding: 0
  }
  section.bottom.ml-newsletter.mama {
    padding: 0
  }
  .ml-newsletter.mama .left.mobile {
    width: 100%;
    line-height: 0
  }
  .ml-newsletter.mama .right img {
    width: 100%
  }
  .ml-newsletter.mama .right.mobile a {
    background: none;
    margin-left: 45px
  }
  section.bottom.ml-newsletter.mama .center {
    width: 100%
  }
  section.bottom.ml-newsletter {
    height: auto!important
  }
  .ml-newsletter.mama .right.mobile {
    width: auto;
    position: absolute;
    top: 70%;
    right: 11%
  }
  body.mama .menumama {
    display: none
  }
  body.mama .box-banner {
    line-height: 0
  }
  body.mama footer {
    margin: 0
  }
  .module.slider-mobile .bx-controls-direction .bx-next {
    right: 18px
  }
  .packs section.row.module.slider-mobile {
    margin-bottom: 20px
  }
  .packs .bloqueLanding .img {
    margin: 0 0 20px!important
  }
  .packs .bloqueLanding .mobile .img img {
    width: 100%
  }
  .packs .mobile .img a {
    width: 100%
  }
  .packs .bloqueLanding.lineal .img {
    display: block;
    width: 100%
  }
  .packs .bloqueLanding.lineal .img a {
    width: 100%
  }
  .landingpack2 section.row.module.slider-mobile {
    margin-bottom: 20px
  }
  .landingpack2 .bloqueLanding .img {
    margin: 0 0 20px!important
  }
  .landingpack2 .bloqueLanding .mobile .img img {
    width: 100%
  }
  .landingpack2 .mobile .img a {
    width: 100%
  }
  .landingpack2 .bloqueLanding.lineal .img {
    display: block;
    width: 100%
  }
  .landingpack2 .bloqueLanding.lineal .img a {
    width: 100%
  }
  .right.desk,
  .left.desk {
    display: none!important
  }
  .right.mobile,
  .left.mobile {
    display: block
  }
  
  .bloqueLanding .img img {
    width: 91%
  }
  .box-tiendas .box-lista-tiendas {
    float: none;
    width: 100%
  }
  .box-tiendas .box-mapa {
    float: none;
    width: 100%
  }
  .ml-newsletter.ecoliseum .left,
  .ml-newsletter.ecoliseum .right {
    display: none
  }
  section.bottom.ml-newsletter.ecoliseum .mobile {
    display: block;
    width: 100%
  }
  section.ml-newsletter.ecoliseum {
    padding: 0;
    height: auto
  }
  section.bottom.ml-newsletter.ecoliseum .center {
    width: 100%
  }
  section.ecoliseum .center .left a {
    width: 100%
  }
  section.bottom.ml-newsletter.ecoliseum .right.mobile {
    position: absolute;
    bottom: -11px;
    width: 20%;
    text-align: center;
    right: 0
  }
  #divCompreJunto table tr {
    border-right: none
  }
  #divCompreJunto {
    width: 80%
  }
  .landing-previa1 .mobile {
    display: block
  }
  .landing-previa1 .desk {
    display: none!important
  }
  .landing-previa1 section.bloqueLanding .mobile .img {
    margin-bottom: 20px
  }
  .landing-previa1 section.bloqueLanding.lineal .img {
    width: 89%;
    margin: 0 0 20px
  }
  .bloqueLanding.lineal .img img {
    width: 100%
  }
  section.bloqueLanding.center.inverso {
    display: grid
  }
  body.previa section.formulario {
    width: 65%
  }
  .center,
  .ml-main .bread-crumb ul {
    width: 100%;
    text-align: center
  }
  .landing-previa .center {
    width: 100%
  }
  .module.slider-mobile {
    display: block;
    position: relative
  }
  .module.slider-mobile a img {
    width: 100%;
    height: auto;
    display: block
  }
  .banner-principal-botones {
      position: absolute;
      bottom: 5%;
  }  


  .ml-newsletter .left,
  .ml-newsletter .right {
    display: block;
    width: 100%;
    text-align: center
  }
  .ml-newsletter .right p {
    display: inline-block
  }
  .ml-newsletter .left p,
  .ml-newsletter .right p,
  .ml-newsletter .right a {
    font-size: 10px;
    line-height: 12px
  }
  .ml-newsletter .right a {
    margin: 5px 0 0 10px
  }
  .bx-wrapper img {
    width: 100%;
    height: auto
  }
  .module.brand-bottom ul li {
    width: 100%!important;
    margin: 0 0 35px!important
  }
  .module.result .left,
  .module.result .main {
    width: 100%;
    margin: 0;
    float: none;
    padding: 0
  }
  .module.result .main .itemProduct ul li {
    width: 41%;
    margin: 0 2% 2%;
    border: 1px solid #e0e0e0;
    display: inline-block
  }
  .module.result .main .itemProduct ul li .brand {
    padding: 0;
  }
  .itemProduct ul li .product-field.product_field_18.product-field-type_7 ul li{
      border: 0;
  }   
  .seccion-carrusel .imagen-carrusel-der .itemProduct h2.row.productName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
  }
  .seccion-carrusel .imagen-carrusel-der .itemProduct .slick-track {
    left: -88px;
  }
  .seccion-carrusel .imagen-carrusel-der .itemProduct ul li .img {
    width: 140px;
    height: 150px;
  }
  .seccion-carrusel .imagen-carrusel-der .itemProduct ul li .img a img {
    width: 100%;
  }
  .itemProduct ul li .contentFlag .coleccion_2do_producto_50_by_coliseum:before {
      font-size: 10px;
  }  
  .itemProduct ul li .contentFlag p.flag.compramasahorramas550, .itemProduct ul li .contentFlag p.flag.compramasahorramas400 {
      background-size: 95%; 
      /*right: -24px;*/  
  }   
  .itemProduct ul li .contentFlag p.flag.dosxuno-ninos-havaianas {
      background-size: 80%; 
      right: -24px;
  } 
  .itemProduct ul li .contentFlag p.flag.final-sale-30--off-tienda-coliseum {
      background-size: 65%;
  } 
  .resultado-busca-filtro>fieldset.filterBy {
    display: none
  }
  .ml-departamento .center,
  .ml-categoria .center,
  .ml-resultado-busca .center,
  .ml-main .bread-crumb ul {
    width: 90%
  }
  .module.result .left .menu-departamento .search-single-navigator {
    display: none;
    background: #f5f3f3;
    position: fixed;
    z-index: 3;
    width: 100%;
    //top: 103px; // sin nanobar
    top: 190px; //con nanobar
    left: 0;

    max-height: calc(100% - 0px);
    overflow-y: auto;
    position: fixed;
    width: 100%;
    left: -1020px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    background: #fff;
    border-top: solid 1px #ececec;

  }
  .module.result .left .navigation-tabs.active .menu-departamento .search-single-navigator.active{
    display: block;
    top: 0;
  }

  .cm-desktop .module.result .left .navigation-tabs .menu-departamento .search-single-navigator,
  .cm-mobile .module.result .left .navigation-tabs .menu-departamento .search-single-navigator {
    display: none 
  }
  .ml-resultado-busca .module.result .left .menu-departamento .search-single-navigator h3 {
    display: block
  }
  .module.result .left .navigation-tabs .menu-departamento .search-single-navigator ul li {
    display: inline-block;
    padding: 0 15px;
  }
  .module.result .left .navigation-tabs .menu-departamento .search-single-navigator.active ul li{
    display: block;
    padding: 0 10px;
  }
   .module.result .left .navigation-tabs .menu-departamento .search-single-navigator.active ul li a{
    border: 0;
   }
  .module.result .left .navigation-tabs .menu-departamento .search-single-navigator ul li a {
    border: 1px solid #777;
    margin:0;
    padding: 0;
  }
  .level-3 .module.result .left .navigation-tabs .menu-departamento .search-single-navigator h4 a,
  .level-4 .module.result .left .navigation-tabs .menu-departamento .search-single-navigator h4 a {
    font-size: 14px!important;
    display: block;
    text-transform: capitalize;
    font-weight: 500;
  }
  .module.result .left .navigation-tabs .menu-departamento .search-single-navigator h4{
    padding: 14px;
  }
  .module.result .left .navigation-tabs .menu-departamento .search-single-navigator h5{
    padding: 14px;
    text-transform: capitalize;
    font-weight: 500;
    margin:0;
    font-size: 14px!important;
  }
  .module.producto .apresentacao,
  .module.producto .detail {
    float: none;
    width: 100%
  }
  #newsletter {
    width: 250px;
    padding: 40px 20px;
    background: none
  }
  #newsletter .container #frmMasterData fieldset input[type="text"] {
    width: 96%;
    padding: 0 2%
  }
  #newsletter .container #frmMasterData .ch {
    margin: 20px 0
  }
  .module.result .left .navigation-tabs {
    position: absolute;
    width: 100%;
    left: -420px;
    margin-top: 10px;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    background: #fff;
    z-index: 2;

    max-height: calc(100% - 0px);
    overflow-y: auto;
    position: absolute;
    position: fixed;
    top: 92px;
    display: block;
    width: 100%;
    left: -1024px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    background: #fff;
    border-top: solid 1px #eee;
    z-index: 3;    
  }
  .module.result .left .menu-filtros {
    display: block
  }
  .module.result .left .menu-filtros .filtrar-por {
    display:block;
    border:1px solid #000;
    padding:11px 0;
    text-align:center;
    /* font-size:14px; */
    font-size: 92%;
    cursor:pointer;
    position:relative;
    width: 49%;
  }
  .module.result .left .menu-filtros .filtrar-por.active {
    position: fixed;
    top: 100px; // sin nanobar
    //top:152px; // con nanobar
    background: #fff;
    width: 100%;
    border: 0;
    border-top: solid 1px #eee;
    left: 0;
    z-index: 3;
  }
  .resultado-busca-filtro fieldset.orderBy label {
    display: none;
  }
  .module.result .left .menu-filtros.active .filtrar-por {
    background: #000;
    color: #fff
  }
  .module.result .left .menu-filtros .filtro-cerrar,
  .module.result .left .menu-filtros #apply_filter,
  .module.result .left .menu-filtros #clean_filters {
    display: none!important
  }
  .module.result .left .menu-filtros.active .filtro-cerrar {
    cursor: pointer;
    color: red;
    position: absolute;
    top: 50px;
    right: 0;
    display: inline-block!important
  }
  .module.result .left .menu-filtros.active #apply_filter {
    cursor: pointer;
    width: 48%;
    display: inline-block!important;
    background: #006400;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin: 0 4% 0 0
  }
  .module.result .left .menu-filtros.active #clean_filters {
    cursor: pointer;
    width: 48%;
    display: inline-block!important;
    background: #8b0000;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 16px
  }
  .module.result .left .menu-filtros #mobile-advance-filter {
    display: none;
    padding: 20px 0 0
  }
  .module.result .left .menu-filtros #mobile-advance-filter .sub-titulo h3 {
    cursor: pointer;
    font-weight: 600;
    color: #444;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    padding: 14px 0;
    display: block;
    letter-spacing: 1px
  }
  .module.result .left .menu-filtros #mobile-advance-filter .sub-titulo h3:after {
    content: "\f147";
    font: normal normal normal 14px/1 FontAwesome;
    display: block;
    float: right;
    margin: 2px 0 0
  }
  .module.result .left .menu-filtros #mobile-advance-filter .sub-titulo.active h3:after {
    content: "\f196"
  }
  .module.result .left .menu-filtros #mobile-advance-filter .opcoes {
    margin: 0 0 20px;
    padding: 5px 0 20px;
    border-bottom: 1px solid #777;
    font-size: 13px
  }
  .module.result .left .menu-filtros #mobile-advance-filter .opcoes ul li {
    display: inline-block
  }
  .module.result .left .menu-filtros #mobile-advance-filter .opcoes ul li a {
    transition: all .4s ease-in-out;
    color: #777;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #777;
    margin: 0 5px 5px 0
  }
  .module.result .left .menu-filtros #mobile-advance-filter .opcoes ul li a.selected {
    background: #000;
    color: #fff;
    border: 1px solid #000
  }
  .module.result .left .menu-filtros #mobile-advance-filter .box-filtro:last-child .opcoes {
    border: 0
  }
  .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-coliseum,
  .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-outlet,
  .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-gÃƒÂ©nero,
  .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-tecnologÃƒÂ­a {
    display: none
  }
  .level-2 .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-nivel,
  .level-2 .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-color,
  .level-2 .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-pisada,
  .level-2 .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-superficie,
  .level-2 .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-tipo-de-ropa,
  .level-2 .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-tipo-de-planta,
  .level-2 .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-silueta,
  .level-2 .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-punta,
  .level-3 .module.result .left .menu-filtros #mobile-advance-filter .filtro-mobile-tipo-de-producto {
    display: none
  }
  .module.result .left .navigation-tabs.active {
    top:126px;
    height: 100%;
    left: -420px;
    transform: translate(420px,0);
    -webkit-transform: translate(420px,0);
    -o-transform: translate(420px,0);
    -moz-transform: translate(420px,0); 
  }
  .module.result .left .navigation-tabs.active .menu-departamento .search-single-navigator {
    display: none;
  }
  .ml-resultado-busca .module.result .left .menu-departamento .search-single-navigator {
    display: none;
  }
  /*.ml-resultado-busca .module.result .left .menu-departamento .search-single-navigator.active{display:block!important}*/
  
  section.bottom.ml-newsletter.desconectate {
    position: relative
  }
  section.bottom.ml-newsletter.desconectate .right.mobile a {
    background: none;
    width: 100%;
    margin: 0 auto
  }
  section.bottom.ml-newsletter.desconectate .right.mobile a img {
    width: 70%;
    float: none
  }
  section.bottom.ml-newsletter.desconectate .center {
    width: 100%
  }
  section.bottom.ml-newsletter.desconectate {
    padding: 0;
    height: auto
  }
  section.bottom.ml-newsletter.desconectate .right.mobile {
    position: absolute;
    bottom: -11px;
    width: 20%;
    text-align: center;
    left: 38%
  }
  section.bottom.ml-newsletter.desconectate .left.mobile img {
    width: 100%
  }
  section.bottom.ml-newsletter.desconectate .desktop {
    display: none
  }
  section.bottom.ml-newsletter.desconectate .mobile {
    display: block;
    width: 100%
  }
  section.desconectate .center .left a {
    height: auto
  }
  section.bottom.ml-newsletter.cybercoliseum {
    position: relative
  }
  section.bottom.ml-newsletter.cybercoliseum .right.mobile a {
    background: none;
    width: 100%;
    margin: 0 auto
  }
  section.bottom.ml-newsletter.cybercoliseum .right.mobile a img {
    width: auto;
    float: none
  }
  section.bottom.ml-newsletter.cybercoliseum .center {
    width: 100%
  }
  section.bottom.ml-newsletter.cybercoliseum {
    padding: 0;
    height: auto
  }
  section.bottom.ml-newsletter.cybercoliseum .right.mobile {
    position: absolute;
    bottom: 7%;
    width: 20%;
    text-align: center;
    left: 82%
  }
  section.bottom.ml-newsletter.cybercoliseum .left.mobile img {
    width: 100%
  }
  section.bottom.ml-newsletter .desktop {
    display: none
  }
  section.bottom.ml-newsletter.cybercoliseum .mobile {
    display: block;
    width: 100%
  }
  section.cybercoliseum .center .left a {
    height: auto
  }
  
}

@media (max-width: 768px) {
  section.bottom.ml-newsletter.cybercoliseum .right.mobile {
    bottom: 3%
  }
  .ml-resultado-busca section.row.modulo.Banner-mobile {
    display: block!important
  }
  .ml-resultado-busca section.row.modulo.Banner {
    display: none!important
  }
  
  
}

@media (max-width: 626px) {
  section.bottom.ml-newsletter.cybercoliseum .right.mobile {
    bottom: -3%;
    left: 79%
  }
}

@media (max-width: 500px) {
  section.bottom.ml-newsletter.cybercoliseum .right.mobile {
    bottom: -1%
  }
  section.bottom.ml-newsletter.cybercoliseum .right.mobile a img {
    width: 70%
  }
}

@media (max-width: 406px) {
  section.bottom.ml-newsletter.cybercoliseum .right.mobile {
    bottom: -7%
  }
}

@media (max-width: 768px) {
  section.row.modulo.slider {
    display: none
  }  
  section.row.modulo.slider-mobile {
    display: block;
    position: relative;
  }
  section.row.modulo.slider-mobile .bxslider1 .box-banner img {
    width: 100%;
    height: auto;
  }
  section.row.modulo.slider-mobile .bxslider1 .box-banner .count img {
    width: 80%;
  }  
  section.row.modulo.slider-mobile .count {
      display: inline-block;
      position: absolute;
      right: 10%;
      overflow: hidden;
  }  
  article.banner {
    display: none
  }
  article.banner-mobile {
    display: block;
    width: 100%;
    line-height: 0;
  }
  article.banner-mobile img {
    width: 100%
  }
  article.nanobar-avance {
    display: none
  }
  article.nanobar-avance-mobile {
    display: block!important;
    background: #000;
    padding: 20px 0!important;
    width: 100%
  }
  body .nanobar-avance-mobile .center {
    width: 80%!important
  }
  article.nanobar-avance-mobile .content {
    text-align: center;
    width: 100%
  }
  article.nanobar-avance-mobile .slick-prev {
    background: url(/arquivos/izquierda.png) no-repeat!important;
    z-index: 10;
    top: 0;
    width: 24px;
    height: 20px;
    margin-top: 2px;
    cursor: pointer;
    border: none;
    font-size: 0
  }
  article.nanobar-avance-mobile .content ul li {
    display: inline-block;
    border-right: 1px solid #fff
  }
  article.nanobar-avance-mobile .content ul li:last-child {
    border-right: none
  }
  article.nanobar-avance-mobile .content ul li img {
    height: 37px
  }
  article.nanobar-avance-mobile .content ul li a {
    color: #fff;
    border: 0;
    text-decoration: none;
    font-size: 10px
  }
  article.nanobar-avance-mobile .content ul li.active a {
    border-bottom: 1px solid red
  }
  article.nanobar-avance-mobile .slick-next {
    background: url(/arquivos/derecha.png) no-repeat!important;
    z-index: 10;
    top: 0;
    width: 24px;
    height: 20px;
    margin-top: 2px;
    cursor: pointer;
    border: none;
    font-size: 0
  }
  article.nanobar-avance-mobile .content ul li.st {
    width: 100px!important
  }
}

article.nanobar-outlet .content ul li .a {
  width: 20%;
  top: 16px;
  margin-left: 9%
}

article.nanobar-outlet .content ul li .b {
  width: 20%;
  top: 16px
}

article.nanobar-outlet .content ul li .c {
  width: 20%;
  top: 16px
}

article.nanobar-outlet .content ul li .d {
  width: 20%;
  top: 16px
}

article.nanobar-outlet .content ul li .e {
  width: 20%;
  top: 16px
}

article.nanobar-outlet .content .a a.fondolet {
  display: inline-block;
  background: url(/arquivos/menu-todo2.png) center no-repeat;
  width: 100%;
  border-right: 1px #fff solid;
  height: 32px
}

article.nanobar-outlet .content .b a.fondolet {
  display: inline-block;
  background: url(/arquivos/menu-hombre.png) center no-repeat;
  width: 100%;
  border-right: 1px #fff solid;
  height: 32px
}

article.nanobar-outlet .content .c a.fondolet {
  display: inline-block;
  background: url(/arquivos/menu-mujer.png) center no-repeat;
  width: 100%;
  border-right: 1px #fff solid;
  height: 31px
}

article.nanobar-outlet .content .d a.fondolet {
  display: inline-block;
  background: url(/arquivos/menu-ninos.png) center no-repeat;
  width: 100%;
  height: 31px
}

article.nanobar-outlet .content .e a.fondolet {
  display: inline-block;
  background: url(/arquivos/Btn_tallas_unicas_15_06.png) center no-repeat;
  width: 100%;
  height: 31px;
  border: none;
}

article.nanobar-outlet .content .a a.fondolet:hover {
  display: inline-block;
  background: url(/arquivos/menu-todo-hover3.png) center no-repeat;
  width: 100%;
  border-right: 1px #fff solid;
  height: 32px
}

article.nanobar-outlet .content .b a.fondolet:hover {
  display: inline-block;
  background: url(/arquivos/menu-hombre-hover.png) center no-repeat;
  width: 100%;
  border-right: 1px #fff solid;
  height: 32px
}

article.nanobar-outlet .content .c a.fondolet:hover {
  display: inline-block;
  background: url(/arquivos/menu-mujer-hover.png) center no-repeat;
  width: 100%;
  border-right: 1px #fff solid;
  height: 31px
}

article.nanobar-outlet .content .d a.fondolet:hover {
  display: inline-block;
  background: url(/arquivos/menu-nino-hover.png) center no-repeat;
  width: 100%;
  height: 31px
}

article.nanobar-outlet .content .e a.fondolet:hover {
  display: inline-block;
  background: url(/arquivos/Btn_tallas_unicas_hover_15_06.png) center no-repeat;
  width: 100%;
  height: 31px
}

article.nanobar-outlet {
  background: url(/arquivos/fondo-negro.png);
  height: 60px
}

article.nanobar-outlet .content ul li {
  vertical-align: top;
  z-index: 1;
  position: relative;
  display: inline-block
}

article.nanobar-outlet .content ul {
  height: 48px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

article.nanobar-outlet .content ul li.a {
  display: inline-block;
  width: 17%;
  text-align: center;
  top: 19px;
  border-right: 1px #fff solid;
  height: 45%;
  margin-left: 0
}

article.nanobar-outlet .content .a img {
  width: auto;
  margin-top: -7px
}

article.nanobar-outlet .content ul li.b {
  display: inline-block;
  width: 17%;
  text-align: center;
  top: 21px;
  border-right: 1px #fff solid;
  height: 45%;
}

article.nanobar-outlet .content .b img {
  width: auto;
  margin-top: -5px
}

article.nanobar-outlet .content ul li.c {
  display: inline-block;
  width: 17%;
  text-align: center;
  top: 21px;
  border-right: 1px #fff solid;
  height: 45%;
}

article.nanobar-outlet .content .c img {
  width: auto;
  margin-top: -6px
}

article.nanobar-outlet .content ul li.d {
  display: inline-block;
  width: 17%;
  text-align: center;
  top: 21px;
  height: 45%;
}

article.nanobar-outlet .content .d img {
  width: auto;
  margin-top: -7px
}

article.nanobar-outlet .content ul li.e {
  display: inline-block;
  width: 21%;
  text-align: center;
  top: 21px;
  border-left: 1px #fff solid;
  height: 45%;
}

article.nanobar-outlet .content .e img {
  width: auto;
  margin-top: -6px
}

article.nanobar-outlet .content .a-mobile {
  display: none
}

article.nanobar-outlet .content .b-mobile {
  display: none
}

article.nanobar-outlet .content .c-mobile {
  display: none
}

article.nanobar-outlet .content .d-mobile {
  display: none
}

article.nanobar-outlet .content .e-mobile {
  display: none
}

section.nano {
  margin-top: -2px
}

@media(max-width: 768px) {
  .legales-promociones .ml-main {
    margin-top: 25px
  }
  .ml-comocomprar .ml-main {
    margin-top: 25px
  }
  .ml-cambiosdevoluciones .ml-main {
    margin-top: 25px
  }
  article.nanobar-outlet .content ul li.a-mobile {
    display: inline-block;
    width: 16%;
    text-align: center;
    top: 19px;
    border-right: 1px #fff solid;
    height: 45%;
    margin-left: 0
  }
  article.nanobar-outlet .content ul li.b-mobile {
    display: inline-block;
    width: 16%;
    text-align: center;
    top: 20px;
    border-right: 1px #fff solid;
    height: 45%
  }
  article.nanobar-outlet .content ul li.c-mobile {
    display: inline-block;
    width: 16%;
    text-align: center;
    top: 20px;
    border-right: 1px #fff solid;
    height: 45%
  }
  article.nanobar-outlet .content ul li.d-mobile {
    display: inline-block;
    width: 16%;
    text-align: center;
    top: 20px;
    height: 45%;
    margin-left: 12px
  }
  article.nanobar-outlet .content ul li.e-mobile {
    display: inline-block;
    width: 18%;
    text-align: center;
    top: 20px;
    height: 45%;
    margin-left: 12px;
    border-left: 1px #fff solid;
    vertical-align: top;
  }
  article.nanobar-outlet .content .a-mobile img {
    width: auto;
    margin-top: -8px
  }
  article.nanobar-outlet .content .b-mobile img {
    width: auto;
    margin-top: -8px
  }
  article.nanobar-outlet .content .c-mobile img {
    width: auto;
    margin-top: -8px
  }
  article.nanobar-outlet .content .d-mobile img {
    width: auto;
    margin-top: -8px
  }
  article.nanobar-outlet .content .e-mobile img {
    width: auto;
    margin-top: -8px
  }
  article.nanobar-outlet .content ul li.a {
    display: none
  }
  article.nanobar-outlet .content ul li.b {
    display: none
  }
  article.nanobar-outlet .content ul li.c {
    display: none
  }
  article.nanobar-outlet .content ul li.d {
    display: none
  }
  article.nanobar-outlet .content ul li.e {
    display: none
  }
}

@media(max-width: 425px) {
  article.nanobar-outlet .content ul li.a-mobile {
    display: inline-block;
    width: 16%;
    text-align: center;
    top: 19px;
    border-right: 1px #fff solid;
    height: 45%;
    margin-left: 8px
  }
}

@media (min-width:768px) and (max-width:1024px) {
  body.landing-previa .desk {
    display: block
  }
  body.landing-previa .mobile {
    display: none
  }
  body.landing-previa .cont-full.mobile {
    display: block!important
  }
  body.landing-previa .cont-full.desk {
    display: none
  }
  body.landing-previa section .izq {
    width: 100%
  }
  body.landing-previa section.bloque1.center .izq img {
    width: 100%
  }
  body.landing-previa section.center .izq,
  section.center .der {
    display: block;
    margin: 0 auto
  }
  body.landing-previa section.bloque1.center .izq,
  body.landing-previa section.bloque2.center .izq {
    padding: 0 0 10px;
    height: auto
  }
  body.landing-previa section.bloque1.center .der .img {
    margin: 0 auto 10px;
    width: 100%;
    height: auto
  }
  body.landing-previa section.bloque1.center .der .img img {
    width: 100%
  }
  body.landing-previa section.bloque2 .izq .cont {
    max-width: 100%;
    display: block;
    margin: 0 0 10px;
    height: auto
  }
  body.landing-previa section.bloque2 .izq .cont img {
    width: 100%
  }
  body.landing-previa section.bloque2 .izq .cont:nth-child(2n+1) {
    padding: 0
  }
  .cont-full.mobile img {
    width: 100%
  }
  .bloque2 .der .img.mobile {
    display: block!important;
    margin: 0 auto 10px
  }
  .bloque2 .der .img.mobile img {
    width: 100%
  }
  body.landing-previa section.center .izq {
    padding: 0
  }
  body.landing-previa section.bloque3 .izq .cont {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto
  }
  body.landing-previa section.bloque3 .izq .cont:nth-child(2n+1) {
    padding: 0
  }
  body.landing-previa section.bloque3 .izq .cont img {
    width: 100%
  }
  body.landing-previa section.bloque3 .der .desk {
    display: block;
    max-width: 100%;
    margin: 0 auto 10px;
    height: auto
  }
  body.landing-previa section.bloque3 .der .desk img {
    width: 100%
  }
  body.landing-previa section.bloque2 .desk {
    display: none!important
  }
}

@media (min-width:250px) and (max-width:768px) {
  body.landing-previa .desk {
    display: none!important
  }
  body.landing-previa .mobile {
    display: block!important
  }
  body.landing-previa section.bloque1.center .izq {
    height: auto;
    width: 100%!important
  }
  body.landing-previa section .izq {
    width: auto
  }
  body.landing-previa section.bloque1.center .der .img {
    width: auto;
    height: auto
  }
  body.landing-previa section.bloque1.center .izq {
    padding: 0!important
  }
  body.landing-previa section.center .izq {
    padding: 0!important
  }
  body.landing-previa section.bloque2 .izq .cont.mobile {
    margin: 0 0 20px
  }
  body.landing-previa section.center .izq,
  section.center .der {
    display: block
  }
  .bloque3 .izq {
    margin-top: 20px
  }
  .cont-full.mobile {
    margin-bottom: 15px
  }
  body.landing-previa section.bloque3.center .der .img img {
    width: 100%
  }
  body.landing-previa section.bloque3 .izq .cont {
    margin-bottom: 20px
  }
  body.landing-previa section.bloque3.center .der .img {
    margin-bottom: 20px
  }
  body.landing-previa section.bloque1.center .izq {
    margin-bottom: 20px
  }
  body.landing-previa section.bloque1.center .izq img {
    width: 100%
  }
  body.landing-previa section.bloque1.center .der .img img {
    width: 100%
  }
  .cont-full.mobile img {
    width: 100%
  }
}

@media (max-width: 360px) {
  #divCompreJunto {
    width: 90%
  }
}

@media (max-width: 320px) {
  body.landing-previa section.bloque2 .izq .cont img {
    width: 100%
  }
  .der .bx-wrapper img {
    display: initial;
    width: 100%
  }
  body.landing-previa section.bloque3 .izq .cont img {
    width: 100%
  }
  body.landing-previa section.bloque3.center .der .img img {
    width: 100%
  }
  body.landing-previa section.bloque3 .izq .cont {
    margin-bottom: 20px
  }
  body.landing-previa section.bloque3.center .der .img {
    margin-bottom: 20px
  }
  body.landing-previa section.bloque1.center .izq {
    margin-bottom: 20px
  }
  #divCompreJunto {
    width: 100%
  }
}

@media (max-width: 1050px) {
  .mobile .module.slider {
    display: block!important
  }
  .img.mobile {
    margin-top: 10px;
    width: 50%;
    display: inline-block !important;
  }
  body.previa section.formulario .e_div_sexo {
    text-align: center;
    position: relative
  }
  label#newsletterClientSexo-error {
    font-size: 0!important;
    position: absolute;
    bottom: -15px
  }
  .full.marcas {
    margin-top: 30px!important
  }
  .countdown-timer-wrapper .timer .days,
  .countdown-timer-wrapper .timer .hours,
  .countdown-timer-wrapper .timer .minute,
  .countdown-timer-wrapper .timer .seg {
    font-size: 15px;
    width: 20px
  }
  .countdown-timer-wrapper .timer .days:after,
  .countdown-timer-wrapper .timer .hours:after,
  .countdown-timer-wrapper .timer .minute:after,
  .countdown-timer-wrapper .timer .seg:after {
    font-size: 10px;
    top: 40px
  }
}

@media (min-width:280px) and (max-width:1050px) {

  section.row.module.btnsmobile {
    display: block
  }
  section.row.module.categories.mobile {
    display: block;
    margin: 0 2px 0 8px;
  }
  
  
  section.row.module.btnsmobile .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    column-gap: 10px
  }
  .module.products {
    margin: 0 8px 30px
  }
  
  section.row.module.btnsmobile a {
    max-width: 150px
  }
  section.row.module.btnsmobile img {
    width: 100%
  }
  section.row.module.btnsmobile {
    margin-top: 30px;
    padding: 0 4%
  }
  .module.categories ul {
    padding-bottom: 0
  }
  .module.categories.mobile ul {
    padding-top: 0;
    padding-bottom: 4px
  }
  section.row.module.categories.mobile .b {
    display: inline-block!important;
    position: relative;
    width: 50%!important;
    padding: 4px 0 10px;
  }
  section.row.module.categories.mobile .b a:nth-child(2),
  section.row.module.categories.mobile .a a:nth-child(2) {
    position: absolute;
    text-indent: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    bottom: 7%
  }
  section.row.module.categories.mobile span {
    margin: 0;
    width: 111px!important;
    margin-left: auto;
    margin-right: auto;
    background: #000;
    color: #fff;
    border: solid;
    border-width: 1px
  }
  section.row.module.categories .a span {
    display: none
  }
  section.row.module.categories {
    margin-bottom: 0;
    display: none
  }
  section.row.module.categories.mobile .a {
    display: block
  }
  .module.result {
    margin: 16px 0 0
  }
  section.bottom.ml-newsletter.mama.primavera2020.cybernov {
    margin-top: 35px
  }
  
  .ml-newsletter.mama.primavera2020.cybernov .right.mobile {
    right: 4%
  }
  .ml-newsletter.mama.cybernov .right img {
    width: 80%
  }
  .e-coliseum section.lnueva_e_col .parte1-ln,
  .e-coliseum section.lnueva_e_col .parte2-ln,
  .e-coliseum section.lnueva_e_col .parte3-ln,
  .e-coliseum section.lnueva_e_col .parte4-ln {
    display: none
  }
  .e-coliseum .landinngmobile {
    display: block
  }
  .e-coliseum .landinngmobile .contenedor .mobile-dos,
  .e-coliseum .landinngmobile .contenedor .mobile-uno {
    margin-top: 10px
  }
  .e-coliseum .landinngmobile .contenedor .mobile-dos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4px
  }
  .e-coliseum .module.slider-mobile {
    margin-top: 0
  }
  .e-coliseum footer {
    margin-top: 10px
  }
  .ml-newsletter.mama.ecoliseum20 .right.mobile {
    width: 20%;
    position: absolute;
    top: 4%;
    right: -1%
  }
  section.bottom.ml-newsletter.mama.ecoliseum20 {
    margin-top: 0
  }
  .buy-button-packs3,
  .buy-button-packs2,
  .buy-button-product2 {
    width: 100%
  }
  .cjuntos2 .buy-button {
    width: 100%!important
  }
  .cjuntos3 .buy-button {
    width: 100%!important
  }
  .module.producto .cjuntos2 .detail .buy-button,
  .module.producto .cjuntos3 .detail .buy-button {
    top: 31px!important
  }
  .cjuntos2,
  .cjuntos3 {
    height: auto
  }
  body.encuesta .content {
    width: 90%
  }
  body.encuesta .content form {
    width: 94%
  }
  body.encuesta .content form>div {
    width: 100%;
    padding: 30px 0
  }
  /* body.encuesta .range-labels {
    margin: 8px -12px 48px
  } */
  /* body.encuesta .range-labels li {
    width: 9.3%
  } */
  body.encuesta .range-labels li:nth-child(1):after {
    left: 4px
  }
  body.encuesta .range-labels li:nth-child(10):after {
    top: 12px;
    left: 5px
  }
  ul.seccion-escolar li a img {
    width: 85%
  }
  section.row.modulo.slider-landing {
    display: none
  }
  .module.categories ul li img {
    width: 97%
  }
  .center-count {
    width: 100%
  }
  .row.module.countdown {
    background: #000;
    height: 84px
  }
  .row.module.countdown .countdown-der {
    padding: 14px 0;
    width: 68%;
    float: right
  }
  .row.module.countdown .countdown-izq {
    float: left;
    width: 24%;
    padding: 14px 10px
  }
  .row.module.countdown .countdown-der img {
    width: 235px
  }
  .row.module.countdown .countdown-izq img {
    width: 355px
  }
  
  .ml-newsletter .bx-wrapper .bx-next {
    right: 1px;
    top: 8px
  }
  .ml-newsletter .bx-wrapper .bx-prev {
    left: 1px;
    top: 8px
  }
  .ml-newsletter .bx-wrapper .bx-controls {
    top: 18%
  }
  
  
  


  
  body.ecoliseummaq .bloqueLanding .left,
  body.ecoliseummaq .bloqueLanding .left2,
  body.ecoliseummaq .bloqueLanding .left3 {
    display: none;
  }
  .cyber-coliseum .cyber-coliseum-1-2 a {
    width: 98%;
  }
  .cyber-coliseum .row.module.categories .center {
    width: 95%;
    padding: 0 0 33px 0;
  }
  .cyber-coliseum-1-1 a {
    width: 97%;
  }
  .cyber-coliseum section.row.module.categories {
    padding: 0;
  }
  .cyber-coliseum .cyber-coliseum-1-1 {
    width: 100%;
  }
  
  
  .seccion-carrusel .imagen-carrusel-izq img {
    display: none;
  }
  
  
  
  .module.products.izquierda .mobil {
    display: block
  }
  .module.products.derecha .mobil {
    display: block
  }
  .module.products.izquierda .pc {
    display: none
  }
  .module.products.derecha .pc {
    display: none
  }
  .module.products.derecha .title {
    width: 100%;
    top: 83%;
    text-align: center;
    right: 0;
  }
  .module.products.izquierda .title {
    width: 100%;
    top: 83%;
    left: 0
  }
  .module.products.derecha .title li {
    width: 38%;
  }
  .module.products.izquierda .title li {
    width: 38%;
  }
  
  .module.products.izquierda .ver-todo {
    display: block;
    width: 100%;
    position: absolute;
    top: 95%;
    left: 0
  }
  .module.products.derecha .ver-todo {
    display: block;
    width: 100%;
    position: absolute;
    top: 94%;
    text-align: center;
    left: 0;
  }
  
  
  

  .row.module.tab.carrusel .imagen-carrusel-der .slick-next {
    right: 0
  }
  
  
  .module.products .ver-todo a:before {
    left: 58%!important;
  }
  .socialAyudaContacto .mb.act:before {
    background: url(/arquivos/re-sprites-16-10-2020.png) -290px -113px no-repeat;
    background-size: 328px;
  }
  
  section.module.brand-bottom {
    margin: 0 8px;
  }
  .row.module.tab.carrusel .seccion-carrusel .imagen-carrusel-der {
    width: 100%;
  }
  .row.module.tab.carrusel .seccion-carrusel .itemProduct {
    width: 330px;
    margin: 0 auto;
  }
  .row.module.tab.carrusel .imagen-carrusel-der .itemProduct ul li {
    padding: 10px;
    margin: 7px;
    left: -10px;
  }
  
  .seccion-carrusel .imagen-carrusel-izq {
    width: 45%
  }
  .module.products.izquierda .title.tres {
    top: 77%;
    left: 0;
  }
  .preguntas-frecuentes {
    width: 93%;
    text-align: left;
    margin: 4% auto 12%;
  }
  .preguntas-frecuentes .wH .mb {
    width: 92%;
    font-size: 15px;
  }
  .preguntas-frecuentes .wH .mb:before {
    left: 87%;
  }
  .preguntas-frecuentes .wH.more .mb:before {
    left: 87%;
  }
  .preguntas-frecuentes .wHoverNav {
    padding: 20px;
  }
  .preguntas-frecuentes .wHoverNav .nota-der {
    width: 79%;
  }
  .preguntas-frecuentes .wHoverNav .nota-izq {
    width: 14%;
  }
  .ml-main .resultado-descripcion-cat {
    padding: 3% 0 0 5%;
    font-size: 14px;  
  }
  .preguntas-frecuentes .ubi {
    display: none;
  }
  
  .resultado-busca-filtro>fieldset select {
    width: 100%;
    padding: 9.3px;
  }
  .ml-main .module.result .filtros-titulo {
      display:none
  }  
  .landing-runner.seis li a,.landing-runner.cinco li a, .landing-runner.tres li a,.landing-runner.cuatro li a, .landing-runner.dos li a {
    width: auto;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
  }
  .resultado-busca-filtro>fieldset {
      width: 49%;
      display: block;
      top: 0;
      /*top: 167px;*/
      right: 0;
      position: absolute
  }  
    
  .producto .detail .incentivo .original .text {
      font-size: 10px !important; 
      text-align: left; 
  }

  header .middle .wHoverNav .imagen-marca-menu, header .middle .wHoverNav .texto-marca-menu {
    display: none !important 
  }

  header .middle nav .container ul li a {
      padding: 0 5%;
  }  

  .preguntas-frecuentes .ubi, .preguntas-frecuentes .depa, .preguntas-frecuentes .pro, .preguntas-frecuentes .dis {
      font-size: 10px;
  } 

  .row.modulo.categorias-land .categorias {
      width: 92%
  }

  .row.module.marcas-land .slick-next {
      right: 0;
      top: 13px
  }  

  .row.module.marcas-land .slick-prev {
    left: 0;
    top: 13px;
  }

  .row.modulo.slider-mobile .descripcion {
    position: relative;
    top: -140px;
    color: #fff;
    text-align: center;
  }

  .row.modulo.slider-mobile .a {
      font-size: 18px;
      font-weight: 700;
  }

  .row.modulo.slider-mobile .b {
      font-size: 33px;
      font-weight: 500;
  }

  .row.modulo.slider-mobile .c {
      font-size: 10px;
      font-weight: 700;
      margin: 15px 0;
  }

  .row.module.marcas-land {
      margin: 15px 7px;
  }

  .row.modulo.descripcion-land .descripcion, .row.modulo.categorias-land .descripcion {
    text-align: justify;
    margin: 16px auto;
    font-size: 11px;
  }
  .row.modulo.descripcion-land .titulo {
    text-align: center;
    margin: 16px auto;
  }  
  .row.modulo.descripcion-land .descripcion {      
      display: none
  }    
  .row.modulo.slider-mobile .texto-medio {
      position: relative;
      text-align: center;
      color: #fff;    
      bottom: 98px;
      font-size: 18px;
  }
  .row.modulo.categorias-land .banners {
      width: 100%;
  }
  .row.contentFlag:before {
    font-size: 8.5px;
    height: 9px;
  }
  #form-register-contact button {
    width: 58%
  }
  #form-register-contact select {
    width: 60%;
  }
  #form-register-libro input {
      width: 80%;
  }
  #form-register-libro select {
      width: 89%;
  }    
  #form-register-libro .input-group-radio {
      width: 87%;
  }
  #form-register-libro textarea {
      width: 80%;
  }
  #form-register-libro .text-termino_condiciones, #form-register-libro .text-conformidad {
      width: 83%;
  }            
  .ml-main .resultado-descripcion-cat, .ml-main .resultado-description {
    display: none;
  }







  /****************** Havaianas ********************/
  header.header-sis .middle.havaianas .center {
    display: none;
  }
  header.header-sis .middle.havaianas .search {
    width: 5%;
    bottom: 9px;
    position: absolute;
    right: 149px;
  }
  header.header-sis .middle.havaianas .logo {
    height: 81px;
    left: 0;
    position: absolute;
  }  
  header.header-sis .middle.havaianas nav {
    margin: 0
  }
  header.header-sis .middle.havaianas .center-havaianas {
    height: 72px;
  }
  header.header-sis .middle.havaianas ul li .btn-cart .pre-cart {right: -55px;}
  header.header-sis .middle.havaianas .search .wp-inp .js-txtSearch {
      display: none;
  }  
  header.header-sis .middle.havaianas .search .active .wp-inp i {
    background: 0;
    top: -29px;
  }
  header.header-sis .middle.havaianas ul.carrito-login {
    right: 66px;
    position: absolute;
  }
  header.header-sis .middle.havaianas .btn-nav {
    right: 8px;
    position: absolute
  }
  header.header-sis .middle.havaianas nav .container ul li a {
    color: #000;
  }
  header.header-sis .middle.havaianas nav .container ul li.wH .wHoverNav {
    top: 0;
  }

  /****************** Umbro ********************/
  header.header-sis .middle.umbro nav {
      background: #000;
      margin: 0;
      top: 84px
  }
  header.header-sis .middle.umbro.fx nav {
      top: 63px
  }  
  header.header-sis .middle.umbro .search .wp-inp i {
      top: -13px;
      left: 63px; 
      color: #fff
  }
  header.header-sis .middle.umbro .search .wp-inp .js-txtSearch {
      background: #000;
  }
  header.header-sis .middle.umbro .logo {
      top: 7px;
      left: 14%;
      height: 53px;
      background-size: 55%;
  } 
  header.header-sis .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul img {
    display: none;
  }
  header.header-sis .middle.umbro nav .container ul li.wH .wHoverNav {
    top: 0
  }
  header.header-sis .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul {
    padding: 6px 0;
    width: 100%;
  }
  header.header-sis .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul li a {
    padding: 11px 0;
    font-size: 16px;
  }
  header.header-sis .middle.umbro nav .container ul li.wH .wHoverNav .contentWH ul li.title {
    width: 100%
  }
  header.header-sis .middle.umbro .btn-nav:before{ 
    content: "";
    display: block;
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites.png) -42px -201px no-repeat;
    width: 30px;
    height: 30px;
    z-index: 50;
    top: 14px;
    position: absolute;    
  }
  header.header-sis .middle.umbro ul li .btn-cart .carrito .cart {
      background-color: #000;
  }  
  header.header-sis .top.umbro .center.text-right {
      text-align: center;
  }
  header.header-sis .middle.umbro .search-large.active {
      top: 85px;
  }
  header.header-sis .middle.umbro .search-large.fx.active {
    top: 85px;
  }
  header.header-sis .middle.umbro nav.show .datos div.cuenta{
      text-transform: none;
      width: 100%;
      border-right: 0;
  }
  /****************** Converse ********************/
  header.header-sis .middle.converse .btn-nav:before {
      content: "";
      display: block;
      background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites.png) -42px -201px no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
  }
  header.header-sis .middle.converse .search {
    left: 40px;
    width: 1px;
    top:31px;
  }
  header.header-sis .middle.converse .content-nav.center{
    text-align: center!important;
  }
  header.header-sis .middle.converse .search .wp-inp i {
      font: normal normal normal 25px/1 FontAwesome;
      top: -7px;
      left: 0;
      color: #fff
  }
  header.header-sis .middle.converse ul li.carrito {
    width: 35%;
  }

  header.header-sis .middle.converse .logo {
    top: 0;
    height: 32px;
    left: 12px;
    right: auto;
    width: 200px;
    margin: 20px auto 16px auto;
  }

  header.header-sis .top.converse .center.text-right {
      text-align: center;
  }
  header.header-sis .middle.converse .search-large.active {
    top: 80px;
  }
  header.header-sis .middle.converse .search-large.fx.active {
    top: 78px;
  }
  header.header-sis .middle.converse nav {
    background: #000;
    margin: 0;
    top: 96px;
    width: 100%;
    left: 0;
  }

  header.header-sis .middle.converse nav .container{
    padding: 0 10px;
  }
   header.header-sis .middle.converse nav .container ul li{
    width: 92%;
    padding: 15px 4%;
    text-align: left;
    border-bottom: 1px solid #444;

   }

  header.header-sis .middle.converse nav .container ul li a.mb{
    font-size: 12px;
    padding: 0;
    letter-spacing: 1px;
  }

  header.header-sis .middle.converse .search .wp-inp .js-txtSearch {
    background: #000;
    display: none;
  }
  header.header-sis .middle.converse .btn-nav {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0;
    top: 20px;
  }
  header.header-sis .middle.converse nav.show .datos div.cuenta{
      text-transform: none;
      width: 100%;
      border-right: 0;
  }
  header.header-sis .middle.converse nav .container ul li.wH .wHoverNav {
    background: #000;
    top: 0
  }
  header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH{
    padding: 0;
  }

  header.header-sis .middle.converse.fx nav {
    top: 57px;
  }
  .ml-producto .middle.converse .center {
    width: 90%
  }
  header.header-sis .middle.converse ul.carrito-login {
    width: 24px;
    top: 17px;
    right: 10px;

  }

  header.header-sis .middle.converse nav .container .wHoverNav .contentWH ul{
    border-bottom: 0!important;
  }

  header.header-sis .middle.converse nav .container .wHoverNav .contentWH .colecciones {
    display: block;
  }
  header.header-sis .middle.converse nav .container .wHoverNav .contentWH .colecciones .content-mn-destacados{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    -ms-flex-wrap:nowrap;
    flex-wrap: nowrap;
  }

  header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha .destacado{
    color: #fff;
  }
header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul{
  padding: 5px 0;
}


  header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul li.todo {
    display: none;
  }
  header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-izquierda ul:first-child{
    display: none;

  }
  header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-izquierda ul li{
    width: 96%;
  }

  header.header-sis .middle.converse nav .container .wHoverNav .contentWH .menu-drecha {
    width: 100%;
    padding-left: 10px;
  }
    header.header-sis .middle.converse nav .container .wHoverNav .contentWH .menu-drecha ul li{
      border-bottom: 0;

    }
header.header-sis .middle.converse nav .container .wHoverNav .contentWH .menu-drecha ul li a{
  font-size: 12px!important;
  font-weight: 400!important;
  padding: 4px 0;
}

  header.header-sis .middle.converse nav .container .wHoverNav .contentWH .menu-izquierda {
    width: 100%;
    padding-left: 10px;
  }
  header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha ul li.title a,
  header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul li a {
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
  }

    header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha ul{
      padding: 0;
      margin: 0;
    }
  header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha ul li{
    width: 96%;
  }
  header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul li.title a{
    font-size: 13px;
    font-weight: 600;
  }
  header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul li.title a:hover{
    color: white;
  }
  header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH ul li.title:before{
    color: white;
  }

  header.header-sis .middle.converse nav .container ul li.title{
    border:0;
  }

header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha .colecciones .coleccion{
  box-sizing: border-box;

  padding: 11px 8px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: calc(118px + 20px);
  width: auto;
}

header.header-sis .middle.converse nav .container ul li.wH .wHoverNav .contentWH .menu-drecha .coleccion .texto{
  color: #fff;
  margin: 5px 0 12%;
}



  /****************** Caterpillar ********************/
  header.header-sis .middle.caterpillar .logo {
    top: 7px;
  }
  header.header-sis .middle.caterpillar nav {
    margin: 0;
  }
  header.header-sis .top.caterpillar .center, header.header-sis {
    text-align: center;
  }
  header.header-sis .middle.caterpillar .search .wp-inp i {
    top: 0px;
    left: 72px;
  }  
  header.header-sis .middle.caterpillar nav .container>ul>li:hover {
    background-color: #fff;
  }
  header.header-sis .middle.caterpillar nav .container ul li.wH .wHoverNav {
    top: 0;
    background: #f5f5f5;
  }
  header.header-sis .middle.caterpillar nav .container ul li.wH .wHoverNav .contentWH ul {
    width: 100%;
  }
  header.header-sis .middle.caterpillar nav .container ul li {
    padding: 18px 0px
  }
  header.header-sis .middle.caterpillar.fx nav {
    top: 52px;
  }
  header.header-sis .middle.caterpillar .search {
    width: 0;
  }
  header.header-sis .middle.caterpillar ul.carrito-login {
    right: 3px;
  }
  header.header-sis .middle.caterpillar .search-large.active {
      top: 73px;
  }
  header.header-sis .middle.caterpillar .search-large.fx.active {
      top: 73px;
  }
  .ml-producto .middle.caterpillar .center {
    width: 90%  
  }

  /****************** Steve Madden ********************/
  header.header-sis .middle.stevemadden .btn-nav:before {
      content: "";
      display: block;
      background: url(https://coliseum.vteximg.com.br/arquivos/burguer-menu_hitec.png) no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
  }  
  header.header-sis .middle.stevemadden .search .wp-inp i {
      top: -7px;
      left: 40px;
      color: #fff
  }
  header.header-sis .middle.stevemadden ul li.carrito {
    width: 35%;
  }
  header.header-sis .middle.stevemadden .logo {
    top: 10px;
    height: 47px; 
  }
  header.header-sis .top.stevemadden .center.text-right {
      text-align: center;
  }
  header.header-sis .middle.stevemadden .search-large.active {
    top: 80px;
  }
  header.header-sis .middle.stevemadden .search-large.fx.active {
    top: 78px;
  }
  header.header-sis .middle.stevemadden nav {
    background: #1d1d1d;
    margin: 0;
    top: 79px;
  }
  header.header-sis .middle.stevemadden .search .wp-inp .js-txtSearch {
    background: #000;
  }
  header.header-sis .middle.stevemadden .btn-nav {
    margin: 12px 0;
  }
  header.header-sis .middle.stevemadden nav.show .datos div.cuenta{
      text-transform: none;
      width: 100%;
      border-right: 0;
  }
  header.header-sis .middle.stevemadden nav .container ul li.wH .wHoverNav {
    top: 0
  }
  header.header-sis .middle.stevemadden.fx nav {
    top: 57px;
  }
  .ml-producto .middle.stevemadden .center {
    width: 90%
  }
  header.header-sis .middle.stevemadden nav .container ul li.g.wH a {
    line-height: 18px;    
  }
  header.header-sis .middle.stevemadden nav .container ul li {
    padding: 16px 0;
  }
  header.header-sis .middle.stevemadden nav .container ul li a {
    color: #fff;
  }
  /****************** merrell ********************/
  header.header-sis .middle.merrell .btn-nav:before {
      content: "";
      display: block;
      background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites.png?v=646) -73px -201px no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
  }  
  header.header-sis .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul {
      width: 100%
  }  
  header.header-sis .middle.merrell .search .wp-inp i {
      top: -7px;
      left: 45px;
  }
  header.header-sis .middle.merrell .search {
    width: 0
  }
  header.header-sis .middle.merrell ul li.carrito {
    width: 35%;
  }
  header.header-sis .middle.merrell .logo {
    background-size: 100%;
    width: 204px;
    height: 47px;
  }
  header.header-sis .top.merrell .center.text-right {
      text-align: center;
  }
  header.header-sis .middle.merrell .search-large.active {
    top: 80px;
  }
  header.header-sis .middle.merrell .search-large.fx.active {
    top: 78px;
  }
  header.header-sis .middle.merrell nav {
    background: #000;
    margin: 0;
    top: 79px;
  }
  header.header-sis .middle.merrell .search .wp-inp .js-txtSearch {
    background: #000;
  }
  header.header-sis .middle.merrell .btn-nav {
    margin: 12px 0;
  }
  header.header-sis .middle.merrell nav.show .datos div.cuenta{
      text-transform: none;
      width: 100%;
      border-right: 0;
  }
  header.header-sis .middle.merrell nav .container ul li.wH .wHoverNav {
    top: 0;
    background: #000;
    color: #fff;
  }
  header.header-sis .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul li a, 
  header.header-sis .middle.merrell nav .container ul li.wH .wHoverNav .contentWH ul li.title a {
    color: #fff
  }
  header.header-sis .middle.merrell nav .container ul li a.mb {
    color: #fff
  }
  header.header-sis .middle nav .container ul li.wH .wHoverNav .contentWH .imagen {
    display: inline-block;
  }

  header.header-sis .middle.merrell.fx nav {
    top: 57px;
  }
  .ml-producto .middle.merrell .center {
    width: 90%
  }
  header.header-sis .middle.merrell ul.carrito-login {
    width: 21%;
  }
  /****************** Hi-Tec ********************/
  header.header-sis .middle.hitec .btn-nav:before {
      content: "";
      display: block;
      background: url(https://coliseum.vteximg.com.br/arquivos/burguer-menu_hitec.png) no-repeat;
      width: 35px;
      height: 35px;
      position: absolute;
  }  
  header.header-sis .middle.hitec .search .wp-inp i {
      top: -7px;
      left: 50px;
  }
  header.header-sis .middle.hitec ul li.carrito {
    width: 35%;
  }
  header.header-sis .middle.hitec .logo {
    top: 14px;
    height: 47px; 
  }
  header.header-sis .top.hitec .center.text-right {
      text-align: center;
  }
  header.header-sis .middle.hitec .search-large.active {
    top: 80px;
  }
  header.header-sis .middle.hitec .search-large.fx.active {
    top: 78px;
  }
  header.header-sis .middle.hitec nav {
    background: #1d1d1d;
    margin: 0;
    width: 100%;
    top: 79px;
  }
  header.header-sis .middle.hitec .search .wp-inp .js-txtSearch {
    background: #fff;
    border: 0;
  }
  header.header-sis .middle.hitec .btn-nav {
    margin: 12px 0;
  }
  header.header-sis .middle.hitec nav.show .datos div.cuenta{
      text-transform: none;
      width: 100%;
      border-right: 0;
  }
  header.header-sis .middle.hitec nav .container ul li a {
    color: #fff
  }
  header.header-sis .middle.hitec nav .container ul li.wH .wHoverNav {
    top: 0
  }
  header.header-sis .middle.hitec.fx nav {
    top: 57px;
  }
  .ml-producto .middle.hitec .center {
    width: 90%
  }
  header.header-sis .middle.hitec ul.carrito-login {
    width: 21%;
  }
  /****************** Fila ********************/
  header.header-sis .middle.fila .search {
      width: 0;
  }
  header.header-sis .top.fila {
    padding: 4px 0;
  }
  header.header-sis .middle.fila .btn-nav:before {
    content: "";
    display: block;
    background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites.png?v=646) -73px -201px no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
}

header.header-sis .middle.fila ul li .btn-cart .carrito .cart {
    top: 0px;
  }


  header.header-sis .middle.fila .search .wp-inp i {
      top: -15px;
      left: 53px;
  }
  header.header-sis .middle.fila ul li.carrito {
    width: 35%;
  }
  header.header-sis .middle.fila .logo {
    top: 14px;
    height: 47px; 
  }
  header.header-sis .middle.fila ul li .contentWH img {
    display: none;
  }
  header.header-sis .top.fila .center.text-right {
      text-align: center;
  }
  header.header-sis .middle.fila .search-large.active {
    top: 84px;
  }
  header.header-sis .middle.fila .search-large.fx.active {
    top: 78px;
  }
  header.header-sis .middle.fila nav {
    background: #0b1f3f;
    margin: 0;
    top: 84px;
  }
  header.header-sis .middle.fila .search .wp-inp .js-txtSearch {
    background: #000;
  }
  header.header-sis .middle.fila .btn-nav {
    margin: 12px 0;
  }
  header.header-sis .middle.fila nav.show .datos div.cuenta{
      text-transform: none;
      width: 100%;
      border-right: 0;
  }
  header.header-sis .middle.fila nav .container ul li.wH .wHoverNav {
    top: 0;
    background: #0b1f3f;
    position: relative;
  }
  header.header-sis .middle.fila.fx nav {
    top: 57px;
  }
  header.header-sis .middle.fila nav .container ul li.wH .wHoverNav .contentWH ul li a {
      color: #fff;
  }  
  header.header-sis .middle.fila nav .container ul li.wH .wHoverNav .contentWH ul li.title:before {
      color: #fff;
  }  
  header.header-sis .middle.fila nav .container ul li.wH .wHoverNav .contentWH ul li.title a:hover {
    color: #fff;
  }
  header.header-sis .middle.fila nav .container ul li a {
    color: #fff
  }
  .ml-producto .middle.fila .center {
    width: 90%
  }
  header.header-sis .middle.fila ul.carrito-login {
    width: 10%;
    text-align: center;
  }

  /****************** Saucony ********************/
  header.header-sis .middle.saucony .btn-nav:before {
      content: "";
      display: block;
      background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites.png) -42px -201px no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
  }  
  header.header-sis .middle.saucony .search .wp-inp i {
      top: -7px;
      left: 50px;
      color: #fff
  }
  header.header-sis .middle.saucony ul li.carrito {
    width: 35%;
  }
  header.header-sis .middle.saucony .logo {
    top: 14px;
    height: 47px; 
  }
  header.header-sis .top.saucony .center.text-right {
      text-align: center;
  }
  header.header-sis .middle.saucony .search-large.active {
    top: 80px;
  }
  header.header-sis .middle.saucony .search-large.fx.active {
    top: 78px;
  }
  header.header-sis .middle.saucony nav {
    background: #1d1d1d;
    margin: 0;
    top: 79px;
  }
  header.header-sis .middle.saucony .search .wp-inp .js-txtSearch {
    background: #000;
  }
  header.header-sis .middle.saucony .btn-nav {
    margin: 12px 0;
  }
  header.header-sis .middle.saucony nav.show .datos div.cuenta{
      text-transform: none;
      width: 100%;
      border-right: 0;
  }
  header.header-sis .middle.saucony nav .container ul li.wH .wHoverNav {
    top: 0
  }
  header.header-sis .middle.saucony.fx nav {
    top: 57px;
  }
  .ml-producto .middle.saucony .center {
    width: 90%
  }
  header.header-sis .middle.saucony ul.carrito-login {
    width: 21%;
  }  

  .urbanadventure .row.module.dos-secciones .genero {
      width: 100%;  
  }
  .urbanadventure .row.module.tres-secciones .estilo {
      width: 100%;
  }    
  .como-comprar .seccion .icono-verde {
    margin: 6%;
  }
  .como-comprar .seccion .icono-verde-hover {
      margin: 6%;
  } 
  .como-comprar .seccion .icono-verde img{
    width: 100%;
  }  
  .como-comprar .seccion .icono-verde-hover img{
    width: 100%;
  }     
  .como-comprar .seccion .icono-descripcion {
    text-align: center;
  }
  .como-comprar .izquierda {
    width: 100%;
  }
  .como-comprar .derecha {
    width: 100%;
  }
  .como-comprar .seccion .icono-descripcion .derecha {
    display: none;
  }
  .container-cambios-devoluciones .nota-important.center{
    width: 75%;
  }
  #form-register-libro #apoderadoLR {
      margin: 0 6%;
  }

}