.module.producto {
	padding: 0
}

.module.producto .apresentacao {
	float: left;
	position: relative;
	width: 46%;
	display: block
}

.module.producto .apresentacao #show #include {
	width: 100%;
	height: 100%;
	padding: 0 18% 0 0;
	margin: 0 0 0 34.3%;
	border-right: 1px solid #e8e8e8
}

.module.producto .apresentacao #show #include #image {
	width: 100%;
	height: 100%
}

.module.producto .apresentacao #show #include #image .image-zoom {
	display: block
}

.module.producto .apresentacao #show .zoom_wrapper {
	float: left;
	clear: both;
	margin-top: 15px
}

.module.producto .apresentacao #show .zoom_wrapper .icn.zoom {
	width: 12px;
	height: 12px;
	float: left;
	margin-top: 2px
}

.module.producto .apresentacao #show .zoom_wrapper .text {
	float: left;
	color: #999;
	font-size: 13px;
	margin-left: 10px
}

.module.producto .apresentacao #show .thumbs {
	clear: both; 
    list-style: none; 
    position: absolute;
    z-index: 1; 
    top: 0;
}

.module.producto .apresentacao #show .thumbs li a i {
    position: absolute;
    top: 35px;
    left: 42px;
}

.module.producto .apresentacao #show .thumbs li {
	margin: 5px 0;
	padding: 0;
	float: none;
	width: 98px!important;
}

.module.producto .apresentacao #show .thumbs li a {
	border: 1px solid #e8e8e8;
	display: block;
	width: 96px;
	height: 96px;
	position: relative;
	background: #fafafa;
}

.module.producto .apresentacao #show .thumbs li a.ON {
	border: 1px solid #bbcce2
}

.module.producto .apresentacao #show .thumbs li a img {
	width: 100%;
	height: auto
}

.module.producto .contentFlag {
	position: absolute;
	top: 1px;
	left: 175px;
	z-index: 100;
}

.module.producto .contentFlag p {
	display: none
}

.zoomPad {
	width: 100%;
	z-index: 1;
	cursor: crosshair;
	position: relative
}

#image-main {
	transition: all .2s ease-in-out;
	/*opacity: 0*/
}

.cm-desktop #image-main,
.cm-mobile {
	opacity: 1
}

.zoomPad img#image-main {
	display: block;	
	height: auto;
	padding: 0 60px;
	opacity: 1
}

.rp-mobile .zoomPad img#image-main,
.rp-desktop .zoomPad img#image-main {
	transition: all .2s ease-in-out;
	opacity: 1
}

.zoomPup {
	background-color: #FFF;
	position: absolute;
	border: 1px solid #C4C4C4;
	z-index: 101;
	cursor: crosshair;
	top: 0!important;
	display: none!important
}

.zoomWindow {
	position: absolute;
	left: 0!important;
	top: 0!important;
	background: #FFF;
	height: auto;
	z-index: 110!important
}

.zoomWrapperTitle {
	display: block;
	background: #999;
	color: #FFF;
	height: 18px;
	line-height: 18px;
	width: 100%;
	text-align: center;
	font-size: 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 120
}

.zoomWrapperImage img {
	border: 0;
	display: block;
	position: absolute;
	z-index: 101;
	width: 1100px;
	height: 1100px
}

.zoomWrapper,
.zoomWrapperImage {
	position: relative;
	height: 440px !important;
	z-index: 110;
	overflow: hidden
}

.zoomWrapperImage {
	display: block
}

.zoomWrapper {
	width: 558px !important
}

.zoomPreload {
	opacity: .8;
	filter: alpha(opacity=80);
	color: #333;
	font-size: 12px;
	text-decoration: none;
	background-color: #fff;
	padding: 0;
	background-image: url(/arquivos/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 200;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0!important;
	left: 0!important
}

.thumbs .slick-next {
	bottom: 9px;
	left: 1px;
	right: auto;
	top: auto;
	background: #e8e8e8;
	width: 98px;
	height: 20px;
	border-radius: 0;
	opacity: 1
}

.thumbs .slick-next:before {
	content: "\f107";
	display: block;
	font: normal normal normal 16px/1 FontAwesome
}

.thumbs .slick-prev {
	top: 3px;
	left: 1px;
	right: auto;
	background: #e8e8e8;
	width: 99px;
	height: 20px;
	border-radius: 0;
	opacity: 1
}

.thumbs .slick-prev:before {
	content: "\f106";
	display: block;
	font: normal normal normal 16px/1 FontAwesome
}

.module.producto .detail {
    float: right;
    width: 27%;
    position: relative;
}

.module.producto .detail .brandName a {
	color: #999;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	display: block
}

.module.producto .detail .productName {
	font-weight: 700;
	font-size: 23px;
    line-height: 27px;
	margin: 8px 0;
}

.module.producto .detail .nameProduct {
	font-weight: 700;
	font-size: 23px;
    line-height: 27px;
	margin: 8px 0;
}

.module.producto .detail .brandName {
	display: inline-block; 
	width: 50%;
	text-align: left;
}

.productPrice strong.skuBestPrice {
	font-style: normal;
	font-weight: 600;
    font-size: 23px;
}

.module.producto .detail .cod {
	display: inline-block;
	width: 41%;
	text-align: left;	
	font-size: 13px;
	color: #8a8a8a;
	margin: 0 0 15px
}

.module.producto .detail .cod .productReference {
	display: inline-block;
	margin: 0 0 0 4px
}

/*
.module.producto .detail .skuList {
	display: none
}
*/

.module.producto .detail .plugin-preco {
	margin: 0 0 6px
}

.module.producto .detail .plugin-preco .descricao-preco {
	display: inline-block!important;
	font-size: 0!important;
	padding: 0
}

.module.producto .detail .plugin-preco em {
	font-weight: 400!important
}

.module.producto .detail .plugin-preco .valor-de {
	font-size: 0;
	color: #666;
	font-weight: 400;
	margin: 0 15px 0 0
}

.module.producto .detail .plugin-preco .valor-de strong {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	text-decoration: line-through
}


/*.module.producto .detail .plugin-preco .valor-dividido,.module.producto .detail .plugin-preco .valor-por.price-best-price{display:none!important}*/

.module.producto .detail .plugin-preco .preco-a-vista {
	padding: 0;
	display: none!important;
	font-size: 0!important
}

.module.producto .detail .plugin-preco .preco-a-vista .skuPrice {
	color: red;
	margin: 0;
	display: inline-block;
	font-size: 18px;
	font-weight: 700
}

.module.producto .detail .plugin-preco .economia-de {
	font-style: normal;
	padding: 3px 0;
	width: 150px;
	text-align: center;
	display: none;
	background: #dadada;
	font-size: 0;
	color: #fff;
	margin: 10px 0 0
}

.module.producto .detail .plugin-preco .valor-de.price-list-price {
	display: inline-block !important;
}

.module.producto .detail .plugin-preco .valor-por.price-best-price {
	display: inline-block !important;
}

.module.producto .detail .plugin-preco .economia-de:before {
	content: "Ahorras ";
	font-size: 12px
}

.module.producto .detail .plugin-preco .economia-de span {
	font-size: 12px
}

.module.producto .detail .sku-selector-container .Tallas {
	list-style: none;
	display: block;
	margin: 0;
	width: 84%;
	padding: 0 4%;
	margin: 0 0 25px;
	text-align: left;
	height: 35px;
	line-height: 35px;
	position: relative;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out
}

.module.producto .detail .sku-selector-container .Tallas:hover {
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out
}

.module.producto .detail .sku-selector-container .Tallas .specification {
	margin: 0 0 5px;
	color: #000;
	font-size: 14px;
	display: block
}

.module.producto .detail .sku-selector-container .Tallas li.specification {
	cursor: pointer;
	color: #555;
	font-size: 0;
	text-transform: lowercase;
	display: block;
	margin: 0
}

/*
.module.producto .detail .sku-selector-container .Tallas li.specification:before {
	content: "Seleccionar talla";
	text-transform: initial;
	display: inline-block;
	margin: 0 5px 0 0;
	font-size: 13px
}

.module.producto .detail .sku-selector-container .Tallas li.specification:after {
	content: "\f078";
	display: inline-block;
	font: normal normal normal 16px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #000;
	position: absolute;
	top: 9px;
	right: 10px
}
*/

.module.producto .detail .sku-selector-container .Tallas li.specification.active:before {
	display: none
}

.module.producto .detail .sku-selector-container .Tallas li.specification.active {
	font-size: 13px;
	text-transform: uppercase
}

.module.producto .detail .sku-selector-container .Tallas li.skuList {
	display: none;
	z-index: 20;
	width: 100%;
	position: absolute;
	top: 35px;
	left: 0;
	background: #f2f2f2
}

.module.producto .detail .sku-selector-container .Tallas li.skuList span {
	display: block
}

.module.producto .detail .sku-selector-container .Tallas li.skuList input[type=radio] {
	display: none
}

.module.producto .detail .sku-selector-container .Tallas li.skuList label {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	cursor: pointer;
	width: auto;
	padding: 9px 4%;
	height: auto;
	display: block;
	background: none;
	color: #767676;
	font-size: 12px;
	text-align: left;
	line-height: 14px;
	margin: 0
}

.module.producto .detail .sku-selector-container .Tallas li.skuList label:hover {
	background: #555;
	color: #aaa;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out
}

.module.producto .detail .sku-selector-container .error,
.module.producto .detail #accordion .error {
	font-size: 13px;
	color: #ff0e00;
	margin: -10px 0 25px
}

.module.producto .detail #accordion .error {
	margin: 10px 0 25px
}

.module.producto .detail #accordion {
	position: relative
}

.module.producto .detail #accordion #accordionButton {
	cursor: pointer;
	list-style: none;
	/*display: inline-flex;*/
	display: none;
	width: 90%;
	padding: 0 4%;
	margin: 0;
	background: #fff;
	border: solid 1px #000;
	font-size: 13px;
	text-align: left;
	height: 35px;
	line-height: 35px;
	position: relative;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out
}

.module.producto .detail #accordion #accordionButton:after {
	content: "\f078";
	display: inline-block;
	font: normal normal normal 16px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #000;
	position: absolute;
	top: 9px;
	right: 10px
}

.module.producto .detail #accordion #accordionButton div {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	text-align: center
}

.module.producto .detail #accordion #accordionButton div span {
	display: inline-block;
	text-align: center
}

.module.producto .detail #accordion #accordionButton div.pe:before {
	content: "PE";
	font-weight: 600;
	display: inline-block;
	margin: 0 4px 0 0;
	line-height: 1
}

.module.producto .detail #accordion #accordionButton div.us:before {
	content: "US";
	font-weight: 600;
	display: inline-block;
	margin: 0 4px 0 0;
	line-height: 1
}

.module.producto .detail #accordion #accordionButton div.eu:before {
	content: "EU";
	font-weight: 600;
	display: inline-block;
	margin: 0 4px 0 0;
	line-height: 1
}

.module.producto .detail #accordion #accordionButton div.cm:before {
	content: "CM";
	font-weight: 600;
	display: inline-block;
	margin: 0 4px 0 0;
	line-height: 1
}

.module.producto .detail #accordion #accordionButton div.stock {
	display: none
}

#sinStock .popup-body {
    padding: 100px 100px;
}

#sinStock .popup-body .contenido {
	width: 300px;
    padding: 100px 50px;	
}

#sinStock .popup-body .accordionRow.sin-stock .us, #sinStock .popup-body .accordionRow.sin-stock .eu, #sinStock .popup-body .accordionRow.sin-stock .cm {
	display: inline-block;
	width: 32%;
	margin: 8px 0;
}

#sinStock .popup-body .accordionRowHeader .uk, #sinStock .popup-body .accordionRowHeader .eu, #sinStock .popup-body .accordionRowHeader .cm {
	display: inline-block;
	width: calc(100% / 3);
	margin: 8px 0;
}

.module.producto .detail #accordion .rowsContainer {
	z-index: 0;
	width: 98%;
	position: relative;
	left: 0;
	background: #f2f2f2;
	background: #fff;
    /*border: solid 1px #000;
	display: none*/
}

.module.producto .detail #accordion .rowsContainer .accordionRowHeader div {
	width: 33%;
	display: inline-block;
	vertical-align: top;
	text-align: center
}

.module.producto .detail #accordion .rowsContainer .accordionRowHeader div p {
	font-size: 13px;
	color: #555;
	padding: 8px 0;
	background: #fff;
	margin: 0;
	font-weight: 500;
	letter-spacing: 1px
}

.module.producto .detail #accordion .rowsContainer .listado .accordionRow {
  cursor: pointer;
  display: inline-block;
  border: solid 1px #000;
  margin: 5px;
  width: 68px;
  border-radius: 6px;
  position: relative;
  padding: 8px 0;
}

.module.producto .detail #accordion .rowsContainer .listado .accordionRow:hover div span {
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	text-decoration: underline;
}

.module.producto .detail #accordion .rowsContainer .listado .accordionRow div {
	/*display: inline-block;
	width: 32.2%;*/
	vertical-align: top;
	text-align: center
}

.module.producto .detail #accordion .rowsContainer .listado .accordionRow div span {
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	font-size: 11px;
	padding: 8px 0;
	margin: 0;
	font-weight: 600;
}

.module.producto .detail #accordion .rowsContainer .listado .accordionRow.sin-stock {
	text-decoration: line-through;
	color: #979797;
}

.module.producto .detail .giftCard-para.required {}

.module.producto .detail .giftCard-para.required label {
	width: 24%;
	position: relative;
	display: inline-block;
	font-size: 14px;
}

.module.producto .detail .giftCard-para.required input {
	list-style: none;
	display: inline-flex;
	width: 67%;
	padding: 0 4%;
	margin: 0;
	background: #ddd;
	font-size: 13px;
	text-align: left;
	height: 35px;
	line-height: 35px;
	position: relative;
	border: none;
}

.module.producto .detail .giftCard-de.required {}

.module.producto .detail .giftCard-de.required label {
	width: 24%;
	position: relative;
	display: inline-block;
	font-size: 14px;
}

.module.producto .detail .giftCard-de.required input {
	list-style: none;
	display: inline-flex;
	width: 67%;
	padding: 0 4%;
	margin: 0;
	background: #ddd;
	font-size: 13px;
	text-align: left;
	height: 35px;
	line-height: 35px;
	position: relative;
	border: none;
}

.module.producto .detail .giftCard-mensaje.required {}

.module.producto .detail .giftCard-mensaje.required label {
	width: 24%;
	position: relative;
	display: inline-block;
	font-size: 14px;
	vertical-align: top
}

.module.producto .detail .giftCard-mensaje.required textarea {
	list-style: none;
	display: inline-flex;
	width: 67%;
	padding: 2% 4%;
	margin: 0;
	background: #ddd;
	font-size: 13px;
    text-align: center;
	height: 55px;
	line-height: 20px;
	position: relative;
	border: none;
}

.module.producto .detail .giftCard-mensaje.required textarea::placeholder {
	padding: 5px 0
}	

/*.module.producto .detail .acc .giftlist-insertsku-wrapper .glis-sku-single.glis-sku-default .cantidad-producto{display:none}*/

.talla-unica {
    font-size: 13px;
    font-weight: 600;
    padding: 12px 0;
}

.talla-unica span{
    border: solid 1px;
    padding: 4px 12px;
    border-radius: 5px;
    position: relative;
    left: 8%;
}

.titulo-talla {
	width: 50%;
	float: left;
	font-size: 13px;
	font-weight: 600;
}

#btnTallas {
	display: none;
	text-decoration: underline;
	font-size: 14px;
	width: 50%;
	text-align: center;
	margin: 0 0 25px;
	font-weight: bold;
}

#btnTallas img {
	padding: 0 10px;
}

#guiaTallas .hombre,
#guiaTallas .mujer,
#guiaTallas .ninos,
#guiaTallas .infante {
	display: none
}

#guiaTallas .hombre.show,
#guiaTallas .mujer.show,
#guiaTallas .ninos.show,
#guiaTallas .infante.show {
	display: block;
	padding: 0;
	margin: 0
}

#guiaTallas {
    width: 530px;
    display: none; 
}

.portal-notify-me-ref {
  font-size: 12px;
  line-height: 16px;
  color: #747575;
  margin: 30px 0;
  display: none;
}

.portal-notify-me-ref .notifymetitle notifyme-title {
	text-align: center;
    font-size: 22px;
}

.portal-notify-me-ref form {
	border: 1px dashed #c4c4c4;
	padding: 20px;
	margin: 20px 0
}

.portal-notify-me-ref form p {
	font-size: 12px;
	line-height: 16px;
	margin: 0 0 15px;
	color: #747575
}

.portal-notify-me-ref form input.notifyme-client-name,
.portal-notify-me-ref form input.notifyme-client-email {
	margin: 0 2% 0 0;
	width: 100%;
	display: inline-block;
	border: 1px solid #c4c4c4;
	border-radius: 0;
	height: 40px;
	overflow: hidden;
	font-size: 13px;
	text-align: center
}

.portal-notify-me-ref form input.notifyme-client-email {
	margin: 0
}

.portal-notify-me-ref form .btn-ok.sku-notifyme-button-ok.notifyme-button-ok {
	border-radius: 0;
	height: 40px;
	border: 0;
	line-height: 40px;
	background: #000;
	color: #fff;
	text-transform: uppercase;
	vertical-align: top;
	font-size: 13px;
	letter-spacing: 1px;
	padding: 0;
	margin: 20px 0 0;
	width: 100%;
	text-align: center;
	font-weight: 600
}

.module.producto .detail .acc {
	position: relative;
	width: 99%;
	margin: 25px 0 0;
	height: auto; 
	display: inline-block;
}

.module.producto .detail .acc .giftlist-insertsku-wrapper {
	overflow: hidden;
	width: 90px;
	display: inline-block;
	vertical-align: top;
	list-style: none;
	margin: 0;
	height: 40px;
	position: relative;
	text-align: center;
	border: solid 1px #000;
	font-size: 28px;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	/*display:none !important*/
}

.module.producto .detail .acc .giftlist-insertsku-wrapper:hover {
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out
}

.module.producto .detail .acc .giftlist-insertsku-wrapper .glis-sku-single.glis-sku-default {
	background: #fff;
	overflow: visible!important;
	visibility: visible;
	display: inline-block!important;
	width: 100%!important
}

.module.producto .detail .acc .giftlist-insertsku-wrapper .glis-sku-single.glis-sku-default input {
	color: #555;
	background: none;
	font-size: 13px;
	text-align: center;
	border: 0;
	display: block!important;
	width: 75%;
	height: 34px;
	line-height: 34px
}

.module.producto .detail .acc .giftlist-insertsku-wrapper .glis-sku-single.glis-sku-default .glis-sku-single-item {
	display: none!important
}

.module.producto .detail .acc .giftlist-insertsku-wrapper .ajax-content-loader {
	display: none
}

.module.producto .detail .acc .giftlist-insertsku-wrapper .glis-sku-single.glis-sku-default .cantidad-producto .minus {
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20px;
	height: 19px;
	background: none
}

.module.producto .detail .acc .giftlist-insertsku-wrapper .glis-sku-single.glis-sku-default .cantidad-producto .minus:before {
	content: "\f107";
	display: block;
	font: normal normal normal 16px/1 FontAwesome;
	color: #000
}

.module.producto .detail .acc .giftlist-insertsku-wrapper .glis-sku-single.glis-sku-default .cantidad-producto .plus {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 19px;
	background: none
}

.module.producto .detail .acc .giftlist-insertsku-wrapper .glis-sku-single.glis-sku-default .cantidad-producto .plus:before {
	content: "\f106";
	display: block;
	font: normal normal normal 16px/1 FontAwesome;
	color: #000;
	margin: 1px 0 0
}

.module.producto .detail .colorbox,
.module.producto .detail .social {
	margin: 21px 0 0;
}

.module.producto .detail .colorbox h2,
.module.producto .detail .social p {
	color: #666;
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	font-weight: 600;
	margin: 38px 0 15px
}

.module.producto .detail .colorbox ul {
	list-style: none
}

.module.producto .detail .colorbox ul li {
	display: inline-block;
	width: 54px;
	height: 54px;
	margin: 0 8px 8px 0
}

.module.producto .detail .colorbox ul li a {
	display: block;
	border: 1px solid #d1d1d3;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out
}

.module.producto .detail .colorbox ul li a:hover {
	border: 1px solid #000;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out
}

.module.producto .detail .colorbox ul li a p {
	display: none
}

.module.producto .detail .colorbox ul li a.SelectProd {
	border: 1px solid #000
}

.module.producto .detail .btn-validate {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	width: 280px;
	height: 44px;
	cursor: pointer
}

.module.producto .detail .btn-validate.m {
	top: 0
}

.module.producto .detail .buy-button {
	transition: background .25s ease-in-out;
	text-transform: uppercase;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	width: 68%;
	text-align: center;
	line-height: 40px;
	height: 41px;
	/*background: #000;*/
	letter-spacing: 1px;
	border: 1px solid #ddd
}

.module.producto .detail .buy-button.on,
.module.producto .detail .buy-button:hover {
	transition: background .25s ease-in-out;
	background: #000;
	border: 1px solid #000
}

.module.descripcion {
	background: #e8e8e8;
	padding: 40px 0;
	margin: 40px 0 0
}

.module.descripcion .productDescription {
	color: #000;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
}

.module.descripcion .productDescription .titulo {
	text-align: left;
    font-weight: bold;
}

.module.descripcion .productDescription br:nth-child(even) {
	display: none
}

.module.atributos.hide {
	display: block!important;
}

.module.atributos.hide h4 {
	display: none!important;
}

.module.atributos.hide .name-field,
.module.atributos.hide .value-field {
	display: none!important;
}

.module.atributos.hide .value-field.PDP-Personalizada {
	display: block!important;
}

.module.atributos.hide .value-field.PDP-Personalizada {
	position: relative;
	margin: 0;
}

.module.atributos.hide .value-field.PDP-Personalizada:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: -50%;
	background: #000;
	/*width: 200%;*/
	height: 100%;
	z-index: 1;
}

.module.atributos.hide .value-field.PDP-Personalizada>div {
	position: relative;
	z-index: 2
}

.module.atributos.hide .value-field.PDP-Personalizada>div br {
	display: none!important
}

.module.atributos.hide .value-field.PDP-Personalizada>div footer {
	height: auto;
}

.ml-producto .module.products {
	height: auto;
	overflow: visible;
	margin: 0;
    text-align: center;
}

.ml-producto .module.products .carrusel {
	width: 100%;
	margin: 0;
	padding: 0 0 6%;
	border-right: solid 1px #e6e6e6;
}

.ml-producto .module.products .carrusel .itemProduct {
	width: 100%
}

.ml-producto .itemProduct>h2 {
	margin: 0 0 20px;
	font-size: 20px;
	font-weight: 600
}

.ml-producto .itemProduct ul li {
	margin: 10px;
	height: auto
}

.module.products.landing .itemProduct ul li {
	margin: 10px 6px;
	height: auto
}

.ml-producto .itemProduct ul li .img {
	width: 200px;
	height: auto
}

.ml-producto .slick-prev {
	background-position: -242px -123px;
	left: 0;
}

.ml-producto .slick-next {
	background-position: -259px -123px;
	position: absolute;
}

.ml-producto #show .slick-next {
	position: relative;
}


.producto {

	.detail {

		.incentivo {
			display: block;
			width: 98%;

			.original {
				display: flex;
			    justify-content: flex-start;
				align-items: center;
				margin-top: 34px;

				.img {
					display: block;
					width: 58px;
					padding-right: 12px;
				}

				.text {
					font-size: 16px;
				}

			}

			.metodos-pagos {
				display: block;

				.text {
					display: block;
					font-weight: bold;
					margin: 34px 0 11px;
				}

				.img {
					display: block;
					width: 100%;
					max-width: 542px;
					margin: 0 auto;
				}

			}

				.paro-transporte {
					padding: 20px;
					background: #dae7f2;
					
						.titulo {
						    font-size: 13px;
						    font-weight: bold;
						}	
						.text {
						    font-size: 12px;
						}	
						a {
						    font-size: 12px;
						    text-decoration: underline;
						}																			
				}			

		}

	}

}




/*Redisenio Ficha Producto*/

.ml-producto .descripcion.new .center {
	width: 95%;
	display: grid;
	grid-template-columns: 69%;
	grid-gap: 4px;
}

.ml-producto .descripcion .detalles {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: left;
    border-right: solid 1px #e6e6e6;
    border-top: solid 1px #e6e6e6;
    height: 101%;
    position: relative;
}

.ml-producto .descripcion .complementa {
    width: 100%;
    height: 87%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 0;
    border-right: solid 1px #e6e6e6;
    border-top: solid 1px #e6e6e6;
    padding: 0% 0 6% 0;
}

.ml-producto .descripcion .detalles #tabla h4 {
	display: none;
}

.ml-producto .descripcion .detalles th.name-field.PDP-Personalizada {
	display: none;
}

.ml-producto .descripcion .detalles td.value-field.PDP-Personalizada {
	display: none;
}

.ml-producto .descripcion .detalles div#tabla {
	width: 100%;
}

.ml-producto .descripcion .detalles img {
	width: 100%;
}

.ml-producto .descripcion .detalles tr:nth-child(2n+1) {
	background: #f5f5f5;
}

.ml-producto .descripcion .detalles div#tabla div#tab-2 {
	padding: 15px 0;
}

.ml-producto .descripcion .detalles table {
	width: 100%;
}

.ml-producto .descripcion .detalles table th {
	width: 50%;
}

.ml-producto .descripcion .detalles .ui-tabs .ui-tabs-nav {
	padding: 0;
}

.ml-producto .descripcion .detalles .ui-tabs .ui-tabs-nav li {
	padding: 10px 0 0;
	margin: 0;
	display: inline-flex;
	background: #fff;
	border: 1px solid #fff;
}

.ml-producto .descripcion .detalles .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	margin: 0 auto;
	font-size: 18px
}

.ml-producto .descripcion .detalles .ui-state-active,
.ml-producto .descripcion .detalles .ui-widget-content .ui-state-active,
.ml-producto .descripcion .detalles .ui-widget-header .ui-state-active {
	background: #fff;
	padding: 0;
}

.ml-producto .descripcion .detalles .ui-widget-header .ui-state-active a {
	color: #000;
}

.ml-producto .descripcion .detalles #tabla {
	margin-bottom: 45px;
}

.complementa .item .row.acc, #productBrand .item .row.acc {
    display: none;
}

#productBrand .itemProduct ul li {
    border: 0;
}  

.ml-producto .descripcion .detalles tr {
	height: 30px;
}

.ml-producto .descripcion .detalles div#tabla {
	border: none;
	padding: 0;
}

.ml-producto .descripcion .detalles div#tabla .ui-tabs-panel {
	padding: 1em 2.4em;
}

.ml-producto .descripcion .detalles div#tabla .ui-tabs-panel li {
	list-style: disc;
	text-align: left;
}

.ml-producto .descripcion .complementa fieldset,
.ml-producto .descripcion .complementa .box-preco-atualizado {
	display: none;
}

.ml-producto .descripcion .complementa .itemProduct ul li .productName {
	height: 32px
}

.ml-producto .descripcion .complementa .itemProduct ul li:nth-child(2n+1) {
	margin: 10px;
	float: left;
}

.ml-producto .descripcion .complementa .itemProduct ul li:nth-child(2n) {
	float: right;
}

.ml-producto .descripcion .complementa ul {
	text-align: center;
}

.ml-producto .descripcion .complementa .itemProduct {
	width: 100%;
}

.ml-producto .descripcion .detalles table.group.NewGroupName {
	display: none;
}

.ml-producto .descripcion .complementa .itemProduct>h2 {
	font-size: 0
}

.ml-producto .descripcion .complementa .itemProduct>h2:after {
	content: 'complementa con:';
	font-size: 20px;
	text-transform: uppercase;
}

.ml-producto .comp-red {
	display: block;
}

.ml-producto .descripcion .complementa .itemProduct ul li .img,
.ml-producto .descripcion .complementa .itemProduct ul li .productName {
	width: 165px;
	height: auto;
}

.ml-producto .descripcion .complementa .itemProduct ul li .productName {
	height: 32px;
}

section.module.descripcion.new {
	background: #fff;
	height: auto;
	margin: 0;
	padding: 0;
}

.ml-producto .comp-red .wsp,
.ml-producto .comp-red .correo,
.ml-producto .comp-red .copi,
.ml-producto .comp-red .urlpage,
.ml-producto .comp-red .envcorreo {
	display: inline-block;
	vertical-align: middle;
	margin: 5px 13px 0 0;
}

.ml-producto .comp-red .urlpage,
.ml-producto .comp-red .envcorreo,
.ml-producto .comp-red .copiado {
	display: none;
}

.ml-producto .comp-red input,
.ml-producto .comp-red button {
	font-size: 12px;
	height: 29px;
	padding: 0 5px;
	border-radius: 4px;
	border: 1px solid #f1f4f6;
	background: #f8fafb;
	color: #afbfcc;
	margin-right: 10px;
}

.ml-producto .comp-red .wsp,
.ml-producto .comp-red .correo,
.ml-producto .comp-red .copi {
	cursor: pointer;
}

.ml-producto .comp-red button {
	border: 1px solid #389fef;
}

.ml-producto .module.products .center:before {
	content: "También podría interesarte:";
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	border-top: solid 1px #e6e6e6;
	border-right: solid 1px #e6e6e6;
    width: 93%;
    padding: 30px 3.5% 20px;
}

.ml-producto .module.products.landing .center:before {
    border: 0;
}

.ml-producto .descripcion .complementa .itemProduct ul li .img a img {
	width: 60%;
	margin: auto;
}

.ml-producto .descripcion .img-cat-mobile {
	display: none!important;
}

.ml-producto .descripcion .detalles .ui-tabs .ui-tabs-nav {
	display: grid;
	grid-template-columns: 100%;
}

.ml-producto .descripcion .detalles .ui-tabs .ui-tabs-nav::before {
	content: none;
}

#tabla ul li.ui-state-active:first-child {
	font-weight: 700;
}

#tabla ul li.ui-state-active:last-child {
	font-weight: 600;
}

.ml-producto .descripcion.new .detalles tr {
	height: 0
}

.ml-producto .descripcion.new .detalles tr td {
	height: 30px
}

.module.producto .detail .dscto {
	margin: 15px 0 25px 0;
	color: #161714;
	font-weight: 600;
	font-size: 13px;
	display: inline-block;
    vertical-align: middle;
}

.descuento-freeshiping {
	display: inline-block;
    vertical-align: middle;
    margin: 15px 0 25px 0;
    width: 26%;	
}

.module.producto .detail .dscto .num {
    background: #edf3f4;
    width: 36%;
    padding: 7px 16px;
    border-radius: 5px;
    text-align: center;
}

.ml-producto .descripcion .complementa ul li .acc .buy {
	transition: all .4s ease-in-out;
	background: #000;
	border: 1px solid #000;
	color: #fff;
	padding: 10px 0;
	margin: 15px 0 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	display: block;
	text-decoration: none;
}

.ml-producto .descripcion .complementa ul li {
	margin: 15px 0 0 0;
	height: auto;
}

.ml-producto .descripcion .complementa ul li .productName {
	height: 33px;
	margin: 12px auto;
	margin-bottom: -3px;
	width: 206px;
	text-align: center;
	font-size: 13px;
	color: #222;
	font-weight: 400;
	line-height: 16px;
	padding: 0;
	overflow: hidden;
}

.ml-producto .descripcion .complementa ul li .price .new-price {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	font-weight: 600;
}

.ml-producto .descripcion .complementa ul li .price .ex-price {
	text-decoration: line-through;
	display: inline-block;
	font-size: 13px;
	line-height: 14px;
	color: #6F6F6E;
	font-weight: 300;
	margin: 0 10px 0 0;
}

.ml-producto .descripcion .complementa>h2 {
	margin: 30px 0;
	text-transform: uppercase;
	font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.ml-producto .descripcion .complementa .subtitulo-complementa-prod {
	margin: 30px 0;
	text-transform: uppercase;
	font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.ml-producto .module.products .center {
    width: 95%;
    display: grid;
    grid-template-columns: 69%;
}

.ml-producto .module.products.landing .center {
    width: 100%;
    display: block;
    grid-template-columns: 100%;
}

/*Fin RediseÃ±o Ficha Producto*/



/*Complementa*/

body.ml-producto .complementa .item {
	width: 225px;
	position: relative;
}

body.ml-producto .complementa img {
	width: 75%;
}

body.ml-producto .complementa .row.img {
	padding: 30px 40px;
}

body.ml-producto .complementa h2.row.productName {
	font-size: 14px;
	width: 70%;
	margin: 9px auto;
}
/*Fin Complementa*/

.module.producto .incentivo .card-cuotas {
    width: 13%;
}

.module.producto .incentivo .card-cuotas:before {
    content: "";
    background: url(/arquivos/re-sprites-30-10-2020-1.png) -193px -242px no-repeat;
    height: 35px;
    display: inline-block;
    width: 32px;
    background-size: 299px; 
}

.producto .detail .incentivo .original .text {
    font-size: 12px;
    width: 48%
}

.producto .detail .incentivo .card-visa:before {
    content: "";
    background: url(/arquivos/re-sprites-30-10-2020-1.png) 8px -137px no-repeat;
    height: 27px;
    display: inline-block;
    width: 56px;
    background-size: 200px;
}

.producto .detail .incentivo .card-bbva:before {
	content: "";
    background: url(/arquivos/re-sprites-30-10-2020-1.png) -59px -160px no-repeat;
    height: 27px;
    display: inline-block;
    width: 68px;
    background-size: 200px;
}

.producto .detail .incentivo .card-dinner:before {
    content: "";
    background: url("/arquivos/re-sprites-30-10-2020-1.png") -125px -134px no-repeat;
    height: 27px;
    display: inline-block;
    width: 75px;
    background-size: 200px;
}

.module.producto .detail.fix {
    position: fixed;
    top: 125px;
    width: 24%;
    right: 5%;
    z-index: 1
}

.module.producto .detail.fxp {
    position: fixed;
    top: 110px;
    width: 24.3%;
    right: 5.2%;
    z-index: 1
}

.sku-selector-container .select.skuList input {
	display: none;
}

.sku-selector-container .select.skuList label {
	margin: 7px;
    border: solid 1px;
    padding: 11px 0;
    position: relative;
    border-radius: 5px;
    font-size: 11px;
    cursor: pointer;
    display: inline-block;
    width: 74px;
    vertical-align: middle;
    text-align: center;
}

.sku-selector-container .select.skuList label.checked {
	background: #000;
    color: #fff;
}

.sku-selector-container .select.skuList label.disabled {
	color: #999;
	text-decoration: line-through;
}

.module.producto .detail #accordion #accordionButton .st span {
  text-decoration: line-through;
}

.module.producto .detail #accordion .rowsContainer .listado .accordionRow.select {
	background: #000;
    color: #fff;
}

.module.producto .detail .buy-button.buy-button-ref {
	background: #898787;
}

.module.producto .detail .buy-button.buy-button-ref.on {
	background: #000;
}

#disponibilidadTienda {
    background: #fff;
    padding: 6%;
} 

.disponibilidad-container img {
	display: inline-block;
    vertical-align: middle;
}
.disponibilidad-container .disponibilidadContenido {
	display: inline-block;
    vertical-align: middle;
    margin: 4px 0 0 8px;
}
.disponibilidad-container .disponibilidadContenido span {
	display: block;
	font-weight: bold;
}
.disponibilidad-container .disponibilidadContenido #disponibilidad-tienda {
	display: block;
    font-size: 12px;
    text-decoration: underline;
    margin-top: 2px;
}

@media (min-width:1300px) and (max-width:2200px) {
  .ml-producto .module.producto .center {
    width: 90%;
  }
}

@media (min-width:1500px) {
	.zoomWrapper, .zoomWrapperImage {
	    height: 440px !important;
	}
	.zoomWrapper {
		width: 650px !important
	}
	.module.producto .apresentacao #show #include {
	    padding: 0 11% 0 0;
    	margin: 0 0 0 41.3%;		
	}
}

@media screen and (max-width:1050px) {
	.zoomWrapper{width: 100% !important}
	
	.module.producto .detail .productName {
		font-size: 18px;
    	line-height: 24px;
    	margin: 15px 0 15px;

    	a {
    		padding: 15px 0 7px;
    	}

	}

	.module.producto .detail .cod {
		width: 50%;
		text-align: center
	}

	.producto {

		.detail {

			.incentivo {
				display: block;

				.original {
					display: flex;
				    justify-content: center;
    				align-items: center;
    				margin-top: 34px;

					.img {
						display: block;
						width: 58px;
						padding-right: 12px;
					}

					.text {
						font-size: 16px;
					}

				}

				.metodos-pagos {
					display: block;

					.text {
						display: block;
						font-weight: bold;
						margin: 34px 0 11px;
					}

					.img {
						display: block;
						width: 100%;
						max-width: 542px;
						margin: 0 auto;
					}

				}

			}

		}

	}

	.ml-producto .descripcion.new .center {
	    grid-template-columns: 100%
	  }

	.ml-producto .descripcion .detalles div#tabla .ui-tabs-panel {
		margin-bottom: 52px;
	}

 	body.ml-producto.cm-mobile .module.producto .detail #accordion #accordionButton {
    width: 92%
  }
  .ml-producto .descripcion.new .center {
    width: 100%
  }
  .ml-producto section.module.descripcion.new {
    height: auto
  }
  .ml-producto .descripcion .detalles,
  .ml-producto .descripcion .complementa {
    width: 100%;
    padding: 0
  }
  .ml-producto .descripcion .complementa .itemProduct ul li {
    width: 306px
  }
  .ml-producto .descripcion .complementa .slick-prev {
    left: 5%
  }
  .ml-producto .descripcion .complementa .slick-next {
    right: 5%
  }
  .ml-producto .descripcion .detalles {
    margin-top: 0;
    /*order: 2;*/
    top: 10px;
    border: 0;
  }
  .ml-producto .descripcion .complementa {
    float: initial;
    border: 0;
    margin-top: 21px;
    margin-bottom: 20px;
  }
  .ml-producto .descripcion .complementa .itemProduct ul li:nth-child(2n+1) {
    margin: 10px 15px
  }
  .ml-producto .descripcion .img-cat-mobile {
    display: block
  }
  .ml-producto .descripcion .detalles .img-cat {
    display: none
  }
  .ml-producto .descripcion .detalles #tabla {
    margin-bottom: 0
  }

	.module.producto .apresentacao {
	    width: 100%;
	}

  .module.producto .apresentacao #show {
    height: auto
  }
  .module.producto .apresentacao #show #include {
    width: 300px;
    height: 300px;
    margin: 0 auto 20px;
    border: 0;
    padding: 0
  }
  .module.producto .apresentacao #show #include #image {
    width: 300px;
    height: 300px
  }
  .module.producto .apresentacao #show .thumbs {
    text-align: center;
    position: relative;
    top: auto;
    left: auto;   
  }
  .module.producto .apresentacao #show .thumbs li {
    display: inline-block;
    margin: 0 5px 0 5px;
    width: 50px!important;   
  }
  .module.producto .apresentacao #show .thumbs li a i {
    position: absolute;
    top: 20px;
    left: 21px;
  }  
  .module.producto .apresentacao #show .thumbs li a {
    width: 50px; 
    height: 50px;
    position: relative; 
  }
  .module.producto .apresentacao #show #include iframe {
      width: 100%;
      height: 300px;
  }  
  .module.producto .detail {
    margin: 15px auto 0;
    width: 90%;
    padding: 0 21px;
    right: 0
  }
  .module.producto .detail .sku-selector-container .Tallas {
    width: 92%
  }

  .module.producto .detail .acc {
	position: fixed;
    bottom: 0;
    width: 90%;
    left: 0;
    display: block;
    background-color: #ffff;
    /*padding: 15px 5% 19%;*/
    padding: 15px 5% 4%;
    z-index: 2;
    box-shadow: 3px 3px 5px 6px #a09f9f8c;
  }
  .module.producto .detail .btn-validate,
  .module.producto .detail .buy-button {
    right: 3%;
    top: 15px;
    width: 63%;
  }
  .module.descripcion {
    margin: 20px 0;
    padding: 20px 0
  }
  .ml-producto .itemProduct>h2 {
    margin: 40px 0 20px
  }
  .ml-producto .module.products {
    display: block
  }
  .ml-producto .module.products .carrusel {
    display: block;
    width: 89%;
    margin: auto;
    border: 0
  }
  .ml-producto .slick-prev {
    left: -6%
  }
  .ml-producto .slick-next {
    right: -6%
  }
  .module.producto .cjuntos2 .detail .sku-selector-container .Tallas {
    width: 100%
  }
  .module.producto .detail .acc .giftlist-insertsku-wrapper {
    display: block;
  }
  .module.products {
    height: auto
  }
  .module.products .carrusel {
    display: none
  }
  .module.products.converse:before {
    background: url(../arquivos/BANNER-UMBRO-MOBILE-22-05-2020.jpg) no-repeat;
    background-size: 100%
  }
  .module.products.converse .seccion-converse-link {
    width: 100%;
    height: 30%;
    position: absolute;
    display: block
  }
  .module.products.umbro:before {
    background: url(../arquivos/BANNER_ROTADOR_PLATAFORMAS_MOBILE_19_08.jpg?v=1) no-repeat;
    background-size: 100%
  }
  .module.products.umbro .seccion-umbro-link {
    width: 100%;
    height: 30%;
    position: absolute;
    display: block
  }
  .module.products.hi-tec:before {
    background: url(../arquivos/Banner_rotador_Colorado_Caterpillar_mobile-07-08.jpg) no-repeat;
    background-size: 100%
  }
  .module.products.converse .seccion-hi-tec-link {
    width: 100%;
    height: 30%;
    position: absolute;
    display: block
  }
  .module.products.saucony:before {
    background: url(../arquivos/BANNER_MERRELL_ROTADOR_MOBILE_20_05.jpg) no-repeat;
    background-size: 100%
  }
  .module.products.converse .seccion-saucony-link {
    width: 100%;
    height: 30%;
    position: absolute;
    display: block
  }
  .module.products .title {
    display: block;
    width: 100%;
    vertical-align: top;
    margin: 0
  }
  .module.producto .detail .brandName {
    text-align: center;
  }  
 .module.producto .incentivo .card-cuotas {
      width: 20%;
  }
  .module.producto .detail #accordion .rowsContainer {
    width: 100%;
  }
  .producto .detail .incentivo {
    width: 100%;
  }
  .ml-producto .module.products .center {
	width: 100%;
	grid-template-columns: 100%;
  }
  .ml-producto .module.products .center:before {
  	border: 0
  }
  .zoomPad img#image-main {
	    width: 100%;
	    padding: 0
  }
  body.ml-producto .complementa img {
	    width: 100%;
  }
  .itemProduct ul li .img a img {
    width: 100%;
  }
  .ml-producto .descripcion .complementa ul li {
  	margin: 10px 30px
  } 
  .ml-producto .itemProduct ul li {
  	margin: 10px 30px
  } 
  .ml-main .bread-crumb {
    width: auto;
  }
  #guiaTallas {
    width: 100%;
  }  
}


// Recogo en TIENDA

#disponibilidadDespacho {
    background: #fff;
    padding: 6%;
}
.disponibilidad-container .disponibilidadContenido #disponibilidad-despacho {
    display: block;
    font-size: 12px;
    text-decoration: underline;
    margin-top: 2px;
}
.disponibilidad-container {
  margin: 5px 0 12px;
}

.detail .skuList {
    display: none;
}

