.ml-newbalance-pe{
	display: block;
	font-family: 'Oswald', sans-serif;
	h1{
		display: none;
	}

	.head-top{
		display: block;
		background-color: #000;
		color: #fff;
		text-align: center;
		padding: 8px 0;
		font-size: 13px;
		a{
			color: #fff;
			text-decoration: none;
			b{
				text-decoration: underline;
			}
		}
	}

	.ml-header{
		background-color: #000;
		@media screen and (max-width: 1050px){
			height: 95px!important;
		}
		&.fx{
			height: 165px;
			@media screen and (max-width: 1050px){
				height: 76px;
			}
		}
		.btn-mobile{
			@media screen and (max-width: 1050px){
				display: block;
				background: url(/arquivos/icon-menu-v2.png?v=637999459619800000) 0 0 no-repeat;
				width: 30px;
				height: 30px;
				top: 15px;
				right: 0;
				left: initial;
				z-index: 50;
				position: absolute;
			}
		}
	}
	.top-cm{
		border-bottom: 0; 
		text-align: center;
		background-color: #efefef;
		.text-right{
			font-family: "Montserrat", sans-serif;
		}
	}
	.js-txtSearch{
		background-color: #ededed!important;
	}

	.home-banner-principal{
		margin-top: 125px;
		@media screen and (max-width: 1050px){
			margin-top: 15px;
		}
		.owl-slider-banner-principal{
			.owl-nav{
				position: absolute;
				top: 46%;
			    width: 96%;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
				button{
					border: 2px solid #D3D3D3;
					display: inline-block;
					&.owl-prev{
						position: absolute;
						left: 0;
						span{
							font-size: 0;
							background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
							background-repeat: no-repeat;
							background-position: center;
							display: block;
							padding: 12px 10px!important;
							width: 18px;
							height: 10px;
										
						}
					}
					&.owl-next{
						position: absolute;
						right: 0;
						span{
							font-size: 0;
							background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
							background-repeat: no-repeat;
							background-position: center;
							display: block;
							padding: 12px 10px!important;
							width: 18px;
							height: 10px;
						}
					}
				}
			}

		}
	}
	.module{
		margin: 0 auto;


		&.home-categoria{
			.content-title{
				width: 90%;
				margin: 0 auto;
				position: relative;
				@media screen and (max-width: 600px){
					width: 100%;
				}
				.tit-01{
					font-size: 35px;
					position: relative;
					font-weight: 800;
					@media screen and (max-width: 600px){
						font-size: 30px;
					}
					span{
						background-color: #fff;
						display: inline-block;
						position: relative;
						z-index: 1;
						padding: 0 10px 0 0;
					}
					&:after{
						content: '';
						height: 2px;
						width: 100%;
						display: block;
						background: #000;
						position: absolute;
						top: 50%;
						@media screen and (max-width: 600px){
							background: none;
						}

					}
				}
				a{
					position: absolute;
					right: 0;
					top: 33%;
					background: #fff;
					display: inline-block;
					padding: 0 0 0 8px;
					font-size: 16px;
					color: #000;
					text-decoration: none;
					font-weight: 600;
					text-transform: uppercase;
					@media screen and (max-width: 600px){
						font-size: 14px;
					}
					i{
						background-image: url('../arquivos/icon-flecha-umbro-categorias.png');
						background-size: 100%;
						background-repeat: no-repeat;
						vertical-align: middle;
						display: inline-block;
						width: 20px;
						height: 15px;						
					}
				}
			}

			.owl-slider-home-categoria{
				display: block;
				.item{
					display: block;
					a{
						display: block;
						position: relative;
						.contenedor-boton{							
							display: inline-flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							.boton{
								display: block;
								position: relative;
								padding: 5px 12px;
								border: 1px solid #fff;
								text-align: center;
								font-size: 25px;
								color: #fff;
								font-weight: 600;
								z-index: 1;
								width: initial;
								span{
									display: block;
								}
							}
							svg{
								width: 100%;
								height: 100%;
								position: absolute;
								top:0;
								left:0;
								fill: none;
							}
							rect{
								width: 100%;
								height: 100%;
								stroke: #fff;
								stroke-width: 3px;
								stroke-dasharray: 1000;
								stroke-dashoffset: 1000;
								transition: .6s ease all;
							}
						}
						&:after{
							content: '';
							width: 100%;
							height: 100%;
							background: rgba(0,0,0, 0.1);
							transition: all .4s ease-in-out;
							position: absolute;
							top: 0;
						}
						&:hover{
							&:after{
								content: '';
								width: 100%;
								height: 100%;
								background: rgba(0,0,0, 0.5);
								transition: all .4s ease-in-out;
								position: absolute;
								top: 0;
							}
							.boton{
								/* border: 2px solid #fff;
								transition: all .4s ease-in-out; */
							}
							rect{
								stroke-dasharray: 0;
								stroke-dashoffset: 0;
								transition: .6s ease all;
							}
						}
					}
				}

				.owl-nav{
					position: absolute;
					top: 40%;
					width: 108%;
					left: -4%;
					@media screen and (max-width: 600px){
						top: inherit;
						width: 120px;
						margin: 0 auto;
						left: inherit;
						text-align: center;
						position: relative;
						margin-top: 20px;
					}
					button{
						border: 2px solid #D3D3D3;
						display: inline-block;
						&.owl-prev{
							position: absolute;
							left: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
											
							}
						}
						&.owl-next{
							position: absolute;
							right: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
							}
						}
					}
				}
			}

		}

		&.home-lo-nuevo{
			display: block;
			margin: 50px auto 0 auto;
			.container{
				width: 92%;
				margin: 0 auto;
				@media screen and (max-width: 600px){
					width: 100%;
				}
			}
			h2{
				line-height: 0;
				font-size: 0;
				color: #fff;
			}
			.content-title{
				width: 90%;
				margin: 0 auto;
				position: relative;
				@media screen and (max-width: 600px){
					width: 100%;
				}
				.tit-01{
					font-size: 40px;
					position: relative;
					font-weight: 800;
					margin-bottom: 50px;
					@media screen and (max-width: 600px){
						font-size: 30px;
						margin-bottom: 20px;
					}
					span{
						background-color: #fff;
						display: inline-block;
						position: relative;
						z-index: 1;
						padding: 0 10px 0 0;
					}
					&:after{
						content: '';
						height: 2px;
						width: 100%;
						display: block;
						background: #000;
						position: absolute;
						top: 50%;
						@media screen and (max-width: 600px){
							background: none;
						}

					}
				}
				a{
					position: absolute;
					right: 0;
					top: 33%;
					background: #fff;
					display: inline-block;
					padding: 0 0 0 8px;
					font-size: 16px;
					color: #000;
					text-decoration: none;
					font-weight: 600;
					text-transform: uppercase;
					i{
						background-image: url('../arquivos/icon-flecha-umbro-categorias.png');
						background-size: 100%;
						background-repeat: no-repeat;
						vertical-align: middle;
						display: inline-block;
						width: 20px;
						height: 15px;						
					}
				}
			}
			.owl-lo-nuevo{
				display: block;
				margin: 0 auto;
				.owl-stage-outer{
					padding-bottom: 10px;
					.owl-item{
						li{
							width: 100%;
							box-sizing: border-box;
							padding: 0 5px;
							.item{
								border:1px solid #D4D8DD;
							}
							.productName{
								min-height: 45px;
								/*border-bottom:1px solid #D4D8DD;*/
								font-weight: 600;
								padding: 0 8px;
								box-sizing: border-box;
							}
						}
					}
				}
				
				.owl-nav{
					position: absolute;
					top: 40%;
					width: 108%;
					left: -4%;
					@media screen and (max-width: 600px){
						top: inherit;
						width: 120px;
						margin: 0 auto;
						left: inherit;
						text-align: center;
						position: relative;
					}
					button{
						border: 2px solid #D3D3D3;
						display: inline-block;
						&.owl-prev{
							position: absolute;
							left: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
    							
							}
						}
						&.owl-next{
							position: absolute;
							right: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
							}
						}
					}
				}
			}

		}

		&.home-banner-zapatillas{
			display: block;
			margin: 50px auto 0 auto;
			.container{
				width: 95%;
				margin: 0 auto;
			}

		}

		&.home-tipo-suelas{
			display: block;
			margin: 50px auto 0 auto;
			.container{
				width: 95%;
				margin: 0 auto;
			}
			.content-title{
				width: 90%;
				margin: 0 auto;
				position: relative;
				text-align: center;
				.tit-02{
					font-size: 40px;
					position: relative;
					font-weight: 800;
					@media screen and (max-width: 600px){
						font-size: 30px;
					}
					&:after{
						content: '';
						height: 2px;
						width: 100%;
						display: block;
						background: #000;
						position: absolute;
						top: 69%;
						z-index: 1;
						@media screen and (max-width: 600px){
							background: none;
						}
					}
					span{
						background-color: #fff;
						display: block;
						position: relative;
						z-index: 1;
						padding: 0 10px 0 0;
						font-size: 30px;
						font-weight: 700;
						@media screen and (max-width: 600px){
							font-size: 20px;
						}
					}
					strong{
						display: inline-block;
						background: #fff;
						z-index: 2;
						position: relative;
						padding: 0 18px;
					}
				}
			}
			.owl-slider-home-suelas{
				a{
					display: block;
					&:after{
						content:"";
						background-color: rgba(0,0,0, 0.1);
						transition: all .4s ease-in-out;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
					}
					&:hover{
						&:after{
							content:"";
							background-color: rgba(0,0,0, 0.4);
							transition: all .4s ease-in-out;
							width: 100%;
							height: 100%;
						}
					}

				}
				.owl-nav{
					display: none;
					@media screen and (max-width: 1000px){
						display: block;
						top: inherit;
						width: 120px;
						margin: 0 auto;
						left: inherit;
						text-align: center;
						position: relative;
						margin-top: 15px;
					}
					button{
						border: 2px solid #D3D3D3;
						display: inline-block;
						&.owl-prev{
							position: absolute;
							left: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
											
							}
						}
						&.owl-next{
							position: absolute;
							right: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
							}
						}
					}
				}

			}

		}

		&.banner-productos{
			display: block;
			margin: 50px auto 0 auto;

			.owl-slider-banner-productos{
				.owl-nav{
					position: absolute;
					top: 40%;
				    width: 98%;
				    left: 0;
				    right: 0;
				    margin: 0 auto;
					button{
						border: 2px solid #D3D3D3;
						display: inline-block;
						&.owl-prev{
							position: absolute;
							left: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
											
							}
						}
						&.owl-next{
							position: absolute;
							right: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
							}
						}
					}
				}

			}
		}

		&.content-instagram{

		}

		&.content-opciones{
			margin: 70px auto;
			display:grid; /*Establecemos el contenedor a grid*/
			grid-template-columns: repeat(2, 1fr);
			padding: 0 10%;
			/*column-gap: 20px;*/
			@media screen and (max-width: 1000px){
				display: block;
				width: 95%;
				margin-bottom: 20px;
			}
			.box{
				box-sizing: border-box;
				position: relative;
				margin-bottom: 20px;				
				.contenido{
					position: relative;
					transition: all .4s ease-in-out;
					width: 100%;
					top: 0;
					height: 100%;
					color: #fff;
					padding: 20px 0;
					/*
					&:hover{
						background-color: rgba(0,0,0, 0.6);
						transition: all .4s ease-in-out;
					}*/
					.content-elem{
						/*display: table-cell;*/
						vertical-align: middle;
						a{
							color: #fff;
							text-decoration: none;
							display: block;
							text-align: center;
						
							.title-elem{
								display: block;
								font-size: 30px;
								font-weight: 500;
								color: #000;
								margin: 0 auto;
								@media screen and (max-width: 1000px){
									font-size: 20px;

								}
							}
							small{
								font-family: 'Roboto', sans-serif;
								display: block;
								font-size: 16px;
								color: #000;
								margin-top: 10px;
								@media screen and (max-width: 1000px){
									font-size: 14px;
								}
							}
							.boton{
								font-family: 'Roboto', sans-serif;
								margin: 0 auto;
								background: #b42a2a;
								padding: 3% 5%;
								width: auto;
								display: inline-block;
								margin-top: 20px;
								font-size: 14px;
								cursor: pointer;
								position: relative;
								z-index: 2;
								overflow: hidden;
								@media screen and (max-width: 1000px){
									padding: 3% 5%;
								}
								&:after{
									content: "";
									left: -208px;
									top: 0;
									background-color: #000;
									position: absolute;
									z-index: -1;
									height: 100%;
									width: 100%;
									transition: all .4s ease;
								}
							}
							&:hover{
								.boton{
									&:after{
										left: 0;
										top: 0;
										transition: all .4s ease;
									}

								}
							}
						}
					}					
				}
			}
		}
	}


	.foot-bottom{
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		display: block;
		width: 100%;
		background-color: #000;
		text-align: center;
		padding: 10px;
		box-sizing: border-box;
		a{
			color: #B2B2B2;
			text-decoration: none;
		}

	}
}




.ml-newbalance-pe {
	font-family: "Montserrat", sans-serif;
}

.ml-newbalance-pe .home-lo-nuevo .itemProduct ul li{
	display:inline-block;
	background:#fff;
	padding:0 15px;
	margin:0 auto;
	position:relative;
	width:17%;
}

.ml-newbalance-pe .ml-header {
	transition: all .2s ease-in-out;
	height: auto;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background: #fff;
	color: #000;

}

.ml-newbalance-pe .ml-header.fx {
	transition: all .2s ease-in-out;
	background: #fff;
	height: 125px;
}

.ml-newbalance-pe .ml-header .btn-compra-en {
	background: url(https://coliseum.vteximg.com.br/arquivos/copa-bgcompra.png) no-repeat;
	z-index: 10;
	background-size: 84%;
	top: 30px;
	right: -10px
}

.ml-newbalance-pe .ml-header .top-cm .count-nano-gif {
    width: 190px;
    height: 34px;
    position: absolute;
    right: 17%;
    top: 28px;
    overflow: hidden;
}

.ml-newbalance-pe .ml-header .top-cm .mobil {
	display: none
}


.ml-newbalance-pe .ml-header .center {
	width: 90%;
	margin-top: 20px;
}

.ml-newbalance-pe .ml-header #coliseum {
    width: 90px;
    height: 60px;
    top: 0;
    left:0;
    position: relative;
    background-size: 92px;
    background: url(https://coliseum.vteximg.com.br/arquivos/logoNB-h-sis.png) no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    @media screen and (max-width: 1050px){
    	height: 51px !important;
    	width: 74px !important;
    	background-size: 100%;
    	margin: 2px auto;
		position: relative;
    }
}

.ml-newbalance-pe .ml-header .search {
	z-index: 50;
	position: absolute;
	height: 2.1875rem;
	background-color: #ededed;
	display: inline-block;
}

.ml-newbalance-pe .ml-header .search .js-cj-search {
	transition: all .2s ease-in-out;
}

.ml-newbalance-pe .ml-header .search .js-cj-search.active {
	transition: all .2s ease-in-out;
}

.ml-newbalance-pe .ml-header .ml-navigator {
	margin: 0;
	top: 0;
	width: auto;
	margin-right: 45%;
	vertical-align: middle;
	border: 0;
}

.ml-newbalance-pe .ml-header .ml-navigator .container {
	text-align: center;
	border:0;
}

.ml-newbalance-pe .ml-header .ml-navigator ul li>a.mb,
.ml-newbalance-pe .ml-header .ml-navigator ul li>a {
	font-size: 15px;
	letter-spacing: 0.8px!important;
	font-weight: 600!important;
	color: #000;
}

.ml-newbalance-pe .ml-header .ml-navigator .container ul li {
	padding: 32px 8px;
	margin: 0 10px
}
.ml-newbalance-pe .ml-header .ml-navigator .container ul li.wH.active a.mb:before{
	content: '';
	height: 1px;
	width:90%;
	background-color: #000;
}


.ml-newbalance-pe .ml-header .ml-navigator .container ul li a {
	font-weight: 400;
	letter-spacing: .4px;
}

.ml-newbalance-pe .ml-header .ml-navigator .container ul li.wH .wHoverNav {
	background: none;
	/*top: 150px*/
	/* top: 186px; */
	top:124px;
}

.ml-newbalance-pe .ml-header .ml-navigator .container ul li.wH .wHoverNav .contentWH {
	background: #fffffff7;
	/*border-top: 4px solid #000;*/
	width: 70%;
	height: auto;
	padding: 30px 2.5%
}

.ml-newbalance-pe .ml-header .ml-navigator .container ul li.wH .wHoverNav .menu-item {
	display: inline-block;
	width: 33%
}

.ml-newbalance-pe .ml-header .ml-navigator .container ul li.wH .wHoverNav .contentWH ul li.title a {
	font-weight: 600;
	border-bottom: 3px solid #000;
	padding: 0 0 10px;
	color: #000;
}

.ml-newbalance-pe .ml-header .ml-navigator .container ul li.wH .wHoverNav .contentWH ul {
	width: 90%;
}

.ml-newbalance-pe .ml-header .ml-navigator .container ul li.wH .wHoverNav .contentWH ul li {
	margin: 12px 0;
}	

.ml-newbalance-pe .ml-header .ml-navigator ul li a.mb:after,
.ml-newbalance-pe .ml-header .ml-navigator ul li.e a.mb:after {
	content: "\f107";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	color: #fff;
	vertical-align: middle;
	float: right;
	margin: 1px 0 0 10px;
	background: none;
	padding: 0 3px
}

.ml-newbalance-pe .ml-header .ml-navigator ul li.e a.mb:after {
	position: relative;
	width: auto;
	top: auto;
	left: auto;
	height: auto;
	display: inline-block
}

.ml-newbalance-pe .ml-header .ml-navigator ul li.g a.mb:after {
	display: none
}

.ml-newbalance-pe .ml-header .ml-navigator ul li a.mb:hover:after {
	background: none;
	color: #fff
}

.ml-newbalance-pe .ml-main .slider:before {
	content: "";
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 2;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.99) 10%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.99) 10%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.99) 10%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00ffffff', GradientType=0)
}

.ml-newbalance-pe .ml-main .slider ul {
	position: relative;
	z-index: 1
}

.ml-newbalance-pe .ml-main .bx-wrapper .bx-prev {
	background: #0c0c0c78!important;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	line-height: 60px;
}

.ml-newbalance-pe .ml-main .bx-wrapper .bx-prev:before {
	content: "";
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites.png) -162px -32px no-repeat;
	height: 22px;
	display: block;
	width: 14px;
	margin: 19px 0 19px 20px;
	background-size: 200px;
}

.ml-newbalance-pe .ml-main .bx-wrapper .bx-next {
	background: #0c0c0c78!important;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	line-height: 60px;
}

.ml-newbalance-pe .ml-main .bx-wrapper .bx-next:before {
	content: "";
	background: url(https://coliseum.vteximg.com.br/arquivos/re-sprites.png) -176px -32px no-repeat;
	height: 22px;
	display: block;
	width: 16px;
	margin: 19px 0 19px 24px;
	background-size: 200px;
}


.ml-newbalance-pe .ml-main .module.principal {
	background: #000;
	padding: 50px 0;
	margin: 0 0 30px
}

.ml-newbalance-pe .top-cm .text-right {
	z-index: 10;
	color:#000;
}
.ml-newbalance-pe .top-cm .text-right a{
	color:#000;
}

.ml-newbalance-pe .texto,
.ml-newbalance-pe.ml-sis .listado {
	display: inline-block
}

.ml-newbalance-pe .texto {
	width: 30%;
	vertical-align: top;
	text-align: left;
	padding: 100px 0 0 40px
}

.ml-newbalance-pe .module.principal .texto h2 {
	color: #1b7a6b;
	margin: 0 0 25px;
	padding: 0;
	font-size: 35px;
	font-weight: 400
}

.ml-newbalance-pe .module.principal .texto p {
	color: #fff;
	width: 65%;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	margin: 0 0 25px
}

.ml-newbalance-pe .module.principal .texto a {
	background: #1b7a6b;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: 600;
	display: inline-block;
	font-size: 14px
}

.ml-newbalance-pe .listado ul li p {
	color: #1b7a6b;
}

.ml-newbalance-pe .ml-main .module.principal ul li a {
	background: #000;
	text-decoration: none
}

.ml-newbalance-pe .ml-main .module.principal {
	overflow: hidden;
	text-align: center
}

.ml-newbalance-pe .ml-main .module.principal ul li {
	text-align: center;
	position: relative;
	display: inline-block;
	padding: 0 10px
}

.ml-newbalance-pe .ml-main .module.categories ul li {
	text-align: center;
	position: relative;
	display: inline-block;
	width: 23.49%;
	padding: 0 .5%
}

.ml-newbalance-pe .ml-main .module.categories ul li.item p {
	text-transform: uppercase;
	font-size: 40px;
	position: absolute;
	top: 42%;
	color: #fff;
	margin: 0;
	width: 100%;
	display: block;
	text-shadow: 0 1px 2px #00000047;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: 'Oswald', sans-serif;
}

.ml-newbalance-pe .ml-main .module.categories ul li.item a {
	transition: all .2s ease-in-out;
	position: relative;
	top: 54%;
	height: auto;
	text-decoration: none;
	background: none;
	color: #fff;
	border: 1px solid #fff;
	text-transform: uppercase;
	font-weight: 400;
	width: 96%;
	left: 26%;
	margin: 0 0 0 -80px;
	font-size: 12px;
	letter-spacing: 1px;
}

.ml-newbalance-pe .ml-main .module.categories ul li.item:hover a {
	transition: all .2s ease-in-out;
	background: #0000007a
}

.ml-newbalance-pe .ml-main .products .title h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

.ml-newbalance-pe .ml-main .video .center iframe {
	width: 100%;
	height: 600px
}

.ml-newbalance-pe .ml-main .video .center {
	width: auto;
	padding: 0 1.5%
}


.ml-newbalance-pe .listado ul li img {
	width: 100%;
	height: auto;
}

.ml-newbalance-pe .menu-item img {
	width: 90%
}

.ml-newbalance-pe ul li a.logo_umbro img {
	width: 20%
}

.ml-newbalance-pe .ml-main .products .itemProduct ul li[layout] {
	width: 215px!important;
	height: 240px
}

.ml-newbalance-pe .ml-main .products .itemProduct ul li .price .new-price {
	color: #a3c12b
}

.ml-newbalance-pe .ml-main .products .itemProduct ul li .brand {
	display: none
}

.ml-newbalance-pe .ml-main .products .itemProduct ul li .productName {
	color: #000;
	font-weight: 600;
	letter-spacing: 0.8px;
	font-size: 14px;
}

.ml-newbalance-pe .ml-main .products .itemProduct ul li .dscto {
	display: none;
}


.ml-newbalance-pe .listado ul li p {
	color: #fff;
	font-weight: bold;
}

.ml-newbalance-pe .module.principal .texto h2 {
	color: #fff;
	font-family: 'Oswald', sans-serif;
}

.ml-newbalance-pe ul.carrito-login {
    position: absolute;
    right: 34px;
    top: 30px
}
.ml-newbalance-pe .ml-header .btn-cart .pre-cart {
    top: 25px;
}  

.ml-newbalance-pe .ml-header .btn-cart .carrito .cart, .ml-hi-tec .ml-header .btn-cart .carrito .cart, .ml-magnum .ml-header .btn-cart .carrito .cart {
    background: url(/arquivos/icon-shop-v2.png) no-repeat;
    background-size:100%;
    width: 18px;
    height: 20px;
}

.ml-newbalance-pe .itemProduct ul li .acc {
	display: none;
}

.ml-newbalance-pe .ml-header .btn-search-mobile {
	right: 82px;
    top: 11px;
    left: auto;
}

.ml-newbalance-pe .ml-header .btn-search-mobile:before {
	color: #000;
	font: normal normal normal 20px/1 FontAwesome;
}

.ml-newbalance-pe .ml-header .btn-cart .info.vcenter span.num {
	background: #000;	
}	

.ml-newbalance-pe .ml-header .btn-cart .info.vcenter p {
	color: #fff;
}

.ml-newbalance-pe .ml-footer {
    text-align: center;
    padding: 35px 0 0;	
}

.ml-newbalance-pe .ml-footer .newsletterVtex {
	background: #000;
	padding: 25px 0;
}	

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .foot1titmenu {
	color: #000;
	font-weight: bold;
	text-align: left;
}

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum ul li a {
    color: #000;
    text-align: left;
    display: block;
}    

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum ul li a {
	color: #000;
	text-align: left;
	display: block;
}

.ml-newbalance-pe .ml-footer #newsletterMin .titSusc15 {
    width: 70%;
    display: inline-block;	
    color: #fff;
    font-weight: bold;
}

.ml-newbalance-pe .ml-footer #newsletterMin .formulario {
    width: 30%;
    display: inline-block;	
}

.ml-newbalance-pe .ml-footer #newsletterMin .formulario .btn-suscribete {
	background: #fff;
    color: #000;
    width: 70%;
    padding: 16px 0;
    font-weight: bold;	
    cursor: pointer;
}	

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum {
    width: 80%;
    background: #fff;
    padding: 32px 5% 30px 5%;
}

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum .list-phone-email li a img {
    width: auto;
}

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .categoriasColiseum {
    display: inline-block;
    width: 18%;
    padding: 0 0 0 4%;
    border-left: solid 1px #404040;
    vertical-align: top;
    border:0;
}

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum {
	width: 14%;
	border:0;
}

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum {
	width: 14%;
	border:0;
}

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum {
	width: 39%;
}

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum .list-phone-email li {
    border: 0;
}

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum ul li a {
	color: #000;
	font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.ml-newbalance-pe .ml-footer .ico-facebook {
    content: "";
    background: url(/arquivos/icon-facebook--220920.png) 0 no-repeat;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

.ml-newbalance-pe .ml-footer .ico-youtube {
    content: "";
    background: url(/arquivos/icon-youtube-221012.png) 0 no-repeat;
    height: 25px;
    display: inline-block;
    width: 25px;
    margin: 0 5px;
}

.ml-newbalance-pe .ml-footer .ico-instagram {
    content: "";
    background: url(/arquivos/icon-insta-220920.png) 0 no-repeat;
    height: 25px;
    display: inline-block;
    width: 25px;
    margin: 0 5px;
}

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialColiseum li.list-inline-item {
	color: #000;
	font-weight: bold;
    font-size: 13px;
}

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .categoriasColiseum ul li {
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 32px;
    color: #000;
    font-family: "Fira Sans";
    font-weight: 400;
    margin: 0 0 0;
    text-align: left;
}

.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .categoriasColiseum ul li a {
	color: #000;
	text-decoration: none;
}

.ml-newbalance-pe .ml-footer {
    height: auto;
}    

.ml-newbalance-pe .ml-footer .contentPagos {
    text-align: center;
    border-top: rgba(0, 0, 0, 0.29) solid 1px;
    padding-top: 15px;
}








@media (max-width: 1050px) {
	.ml-newbalance-pe .ml-header .ml-navigator ul li>a.mb {
		color: #fff;
	}
	.ml-newbalance-pe ul.carrito-login {
	    top: 6px
	}	
	.ml-newbalance-pe .ml-header .search {
		display: none;
		top: 50px;
	}	
	.ml-newbalance-pe .module.content-opciones {
	    width: auto;		
	}
	.ml-newbalance-pe .module.content-opciones .box .contenido {
		padding: 0;
	}
	.ml-newbalance-pe .ml-header .ml-navigator .container ul li.wH .wHoverNav .contentWH ul li.title a:hover {
    	color: #000;
	}
	.ml-newbalance-pe .ml-header .ml-navigator .container ul li.wH .wHoverNav .menu-item {
	    width: 100%;
	}	
	.ml-newbalance-pe .ml-header .ml-navigator .container ul li.wH .wHoverNav .contentWH ul li {
	    display: block !important;
	}	
	.ml-newbalance-pe .ml-header .search .wp-inp .js-txtSearch {
	    background-color: #fff !important;
	}	
	.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .contactoColiseum {
	    width: 97%;
	    border-top: solid 1px #000;
    	padding: 3%;
	}    

	.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .ayudaColiseum {
		width: 97%;
		border-top: solid 1px #000;
    	padding: 3%;
	}

	.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .categoriasColiseum {
		width: 97%;
		border-top: solid 1px #000;
    	padding: 3%;
	}	

	.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialAyudaContacto .socialColiseum {
	    width: 100%;
	    padding: 0 0 20px 0;
	}	
	.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialColiseum ul.list-phone-email {
		width: 100%;
	}
	.ml-newbalance-pe .ml-footer .col.footerLeftColiseum .socialColiseum ul.list-unstyled.list-inline {
	    width: 100%;
	}
	.ml-newbalance-pe .ml-footer #newsletterMin .titSusc15 {
	    margin: 0 0 12px 0;
	}
	.ml-newbalance-pe .ml-footer #newsletterMin .formulario {
	    width: 60%;
	    display: inline-block;
	}
	.ml-newbalance-pe .ml-footer #newsletterMin .formulario .btn-suscribete {
	    width: 100%;
	}
	.ml-newbalance-pe .ml-footer .contentPagos .pagosColiseum img {
		width: 100%;
	}
	.ml-newbalance-pe .ml-footer .ayudaColiseum .list-unstyled {
	    display: none;
	}
	.ml-newbalance-pe .ml-footer .contactoColiseum .list-unstyled {
	    display: none;
	}
	.ml-newbalance-pe .ml-footer .socialAyudaContacto .ayudaColiseum .mb:before,
	.ml-newbalance-pe .ml-footer .socialAyudaContacto .contactoColiseum .mb:before {
	    display: inline-block;
	    content: "\f0dd";
	    font: normal normal normal 12px/1 FontAwesome;
	    float: right;
	    margin: -2px 0 0 5px;
	}
	.ml-newbalance-pe .ml-header .btn-cart .pre-cart {
	    top: 135px;
	}	
	.ml-newbalance-pe .ml-header .ml-navigator.show {
		top: 138px;
	}
}
