.ml-fila .content-prod-carbon .banner-principal{
	display: block;
	width: 100%;
}

.ml-fila .content-prod-carbon .banner-principal img{
	width: 100%;
}


.ml-fila .content-prod-carbon .content-caracteristicas{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 30px!important;
}

.ml-fila .content-prod-carbon .content-caracteristicas .owl-theme-carbon .item{
    display: flex;
    gap: 126px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1040px) {
	.ml-fila .content-prod-carbon .content-caracteristicas .owl-theme-carbon .item{
	    flex-direction: column-reverse;
		gap: 21px; 
		padding-bottom: 50px;
	}
}

.ml-fila .content-prod-carbon .content-caracteristicas .owl-theme-carbon .item .infoSlider_content{
	max-width: 522px;
	padding-bottom: 100px;
	margin: 0;
	color: #041e40;
	font-size: 14px;
	line-height: 16px;
	font-family: helvetica;
}

@media screen and (max-width: 1040px) {
	.ml-fila .content-prod-carbon .content-caracteristicas .owl-theme-carbon .item .infoSlider_content{
		padding-bottom: 0;
	}
}

.ml-fila .content-prod-carbon .content-caracteristicas .owl-theme-carbon .owl-nav{
	display: block;
	text-align: right;
	position: absolute;
	right: 80px;
	bottom: 90px;
}

@media screen and (max-width: 1040px) {
	.ml-fila .content-prod-carbon .content-caracteristicas .owl-theme-carbon .owl-nav{
		position: relative;
	}
}

.ml-fila .content-prod-carbon .content-caracteristicas .owl-theme-carbon .owl-nav button{
	background: #041e40;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	color: #fff;
}

.ml-fila .content-prod-carbon .content-caracteristicas .owl-theme-carbon .owl-nav button.owl-prev{
	margin-right: 5px;
}

.ml-fila .content-prod-carbon .product-release-tabs{
	background: #f05a24;
    padding: 72px 0;
}

.ml-fila .content-prod-carbon .product-release-tabs h2{
	font-size: 40px;
	color: white;
}
@media screen and (max-width: 1040px) {
	.ml-fila .content-prod-carbon .product-release-tabs h2{
		font-size: 30px;
		color: white;
	}
}


.detalle-prod-carbon{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 30px!important;

	.box-tab,
	.box-video{
		width: 45%;
		display: inline-block;
		vertical-align: middle;
		@media screen and (max-width: 1040px){
			width: 100%;
			display: block;
		}

	}
	.box-tab{
		padding-right: 8%;
	}
	.title{
		display: inline-block;
		width: 40%;
		font-size: 30px;
		font-weight: 700;
		margin-top: 0;
		vertical-align: top;
		@media screen and (max-width: 800px){
			display: block;
			width: 100%;
			font-size: 20px;
		}
	}
	.tabs-nav-caracterisitcas-carbon-fila{
		display: inline-block;
		width: 100%;
		margin-top: 4px;
		@media screen and (max-width: 800px){
			display: block;
			width: 100%;
			margin-top: 20px;
		}
		ul {
			margin: 0;
			padding: 0;
			text-align: center;
			@media screen and (max-width: 800px){
				text-align: left;
			}
		}

		li {
			display: inline-block;
			color: #000;
			border-bottom: 1px solid #fff;
			padding: 0 7%;
			@media screen and (max-width: 800px){
				padding: 0 3.5%;
			}
			
		}
		a {
			display: block;
			padding: 10px 13px;
			font-weight: 700;
			font-size: 16px;
			color: #F8AD92;
			text-decoration: none;
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			@media screen and (max-width: 800px){
				padding: 10px 9px;
			}
			&:active,
			&:hover{
				color: #fff;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
		}
		li.active {
			color: #fff;
			a {
				color: inherit;
			}
		}
		
	}
	.tabs-content-carbon-fila{
		color: #fff;
		padding: 20px 0 0 0;
		img {
			margin-right: 10px;
		}
		h2{
			display: none;
		}
		span{
			display: none;
		}
	}

}

.content-look-deportivo-carbon{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 70px 30px!important;
	h2{
		margin: 0 0 20px;
		font-size: 26px;
		font-weight: 700;
		color: #0b1f3f;
		@media screen and (max-width: 800px){
			font-size: 20px;
		}
	}
	.mosaic-banner{
		display: grid;
		grid-template-columns: repeat(6,1fr);
		gap: 16px;
	    -webkit-box-pack: start;
	    justify-content: flex-start;
	    -webkit-box-align: stretch;
	     align-items: stretch;
	     @media screen and (max-width: 767px){
	     	grid-template-columns: repeat(2,1fr);
     	    column-gap: 15px;
     	    row-gap: 15px;

	     }

	     .items-img{

	     	&:nth-child(n){
	     		grid-column: 1/3;
	     		grid-row: 1/3;
	     		@media screen and (max-width: 767px){
	     			grid-column: 1/3;
	     			grid-row: 1/3;
	     		}
	     	}

	     	&:nth-child(2n){
	     		grid-column: 3/4;
	     		grid-row: 1/2;
	     		@media screen and (max-width: 767px){
	     			grid-column: 1/2;
	     			grid-row: 3/4;
	     		}
	     	}
	     	&:nth-child(3n) {
				grid-column: 3/4;
				grid-row: 2/3;
				@media screen and (max-width: 767px){
					grid-column: 2/3;
					grid-row: 3/4;
				}
	     	}
	     	&:nth-child(4n) {
				grid-column: 4/6;
				grid-row: 1/3;
				@media screen and (max-width: 767px){
					grid-column: 1/3;
					grid-row: 4/6;
				}
	     	}
	     	&:nth-child(5n) {
				grid-column: 6/7;
				grid-row: 1/2;
				@media screen and (max-width: 767px){
					grid-column: 1/2;
					grid-row: 6/7;
				}
	     	}
	     	&:nth-child(6n) {
				grid-column: 6/7;
				grid-row: 2/3;
				@media screen and (max-width: 767px){
					grid-column: 2/3;
					grid-row: 6/7;
				}
	     	}

	     	img{
	     		max-width: 100%;
	     	}

	     }
		

	}

}


.content-opc-evol-carbon{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 70px 30px!important;
	@media screen and (max-width: 800px){
		padding: 30px;
	}
	.title{
		color: #0b1f3f;
		display: inline-block;
		width: 57%;
		font-size: 26px;
		font-weight: 700;
		margin-top: 0;
		vertical-align: top;
		@media screen and (max-width: 800px){
			display: block;
			width: 100%;
			font-size: 20px;
		}
	}
	.tabs-nav-evol-carbon {
		display: inline-block;
		width: auto;
		margin-top: -4px;
		@media screen and (max-width: 800px){
			display: block;
			width: 100%;
			margin-top: 20px;
		}
		ul {
			margin: 0;
			padding: 0;
			text-align: right;
			@media screen and (max-width: 800px){
				text-align: left;
			}
		}

		li {
			display: inline-block;
			background: #fff;
			color: #000;
			margin-right: 5px;
			text-transform: uppercase;
		    font-size: 12px;
		    font-weight: 700;
			&.ver-todo-new-arrivals{
				background: #fff;
				color: #000;
				&.active{
					color: #000;
				}
				@media screen and (max-width: 800px){
					position: absolute;
					right: 0;
					top: -8px;
				}
			}
		}
		a {
			display: block;
			padding: 10px 13px;
			text-transform: uppercase;
		    font-size: 12px;
		    font-weight: 700;
			color: #d0d0d0;
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			@media screen and (max-width: 800px){
				padding: 10px 9px;
			}
			&:active,
			&:hover{
				background:transparent;
				color: #000;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
		}
		li.active {
			color: #000;
			a {
				color: inherit;
			}
		}
		
	}
	.tabs-content-evol-carbon{
		padding: 20px 0 0 0;
		background: #FFF;
		img {
			margin-right: 10px;
		}
		h2{
			display: none;
		}
		span{
			display: none;
		}
		.itemProduct{
			ul{
				li{
					width: 43%;
					.img{
						width: 100%;
						height: auto;
					}
				}
				.owl-item{
					li{
						width: 100%;
						box-sizing: border-box;
					}
				    
				}
			}
		}
		.productName{
			display: block!important;
			font-size: 15px;
			text-align: left;
			width: auto;
		}
		ul.owl-cate-new-arrivals{
			li{
				border: 1px solid rgba(0,0,0,0.30);
				padding: 14% 4% 4% 4%;
				text-align: center;
				display: block;
				margin: 0;
				.price{
					text-align: left;
				}
			}
			.owl-nav{
				position: absolute;
				top: -55px;
				right: 10px;
				@media screen and (max-width: 800px){
					display: none;
				}
				button{
					font-size: 25px;
					margin: 0 2px;
					span{
						font-size: 30px;
						font-weight: 400;
						height: 30px;
						width: 30px;
						line-height: 26px;
						border: 1px solid #000;
						display: inline-block;
					}
				}
			}

			.owl-dots{
				height: 40px;
				text-align: center;
				margin-top: 20px;
				width: 100%;
				button{
					margin: 0 8px;
					width: 15px;
					height: 15px;
					background: rgba(255,255,255,0.60);
					display: inline-block;
					border-radius: 50%;
					border:1px solid rgba(0,0,0,0.29);
					&.active{
						background-color: #484848;
						border:1px solid black;
					}
					span{					
					}
				}
			}

		}
		.contenido{
			&:not(:first-child) {
			  display: none;
			}
		}
		.contenido2{
			visibility: hidden;
			position: absolute;
			opacity: 0;
			&.active{
				position: relative;
				visibility: visible;
				opacity: 1;
			}
		}
	}

}

section.categoria-home-estilos-fila-carbon{
	margin-top: 30px;
	.title{
		display: inline-block;
		width: 50%;
		font-size: 30px;
		font-weight: 700;
		margin-top: 0;
		vertical-align: top;
		@media screen and (max-width: 800px){
			display: block;
			width: 100%;
			font-size: 20px;
		}
	}
	.tabs-nav-home-estilos {
		display: inline-block;
		margin-top: 4px;
		@media screen and (max-width: 800px){
			display: block;
			width: 100%;
			margin-top: 20px;
		}
		ul {
			margin: 0;
			padding: 0;
			text-align: right;
			@media screen and (max-width: 800px){
				text-align: left;
			}
		}

		li {
			display: inline-block;
			background: #fff;
			color: #000;
			margin-right: 5px;
			text-transform: uppercase;
		    font-size: 12px;
		    font-weight: 700;
			&.ver-todo-new-arrivals{
				background: #fff;
				color: #000;
				&.active{
					color: #000;
				}
				@media screen and (max-width: 800px){
					position: absolute;
					right: 0;
					top: -8px;
				}
			}
		}
		a {
			display: block;
			padding: 10px 13px;
			text-transform: uppercase;
		    font-size: 12px;
		    font-weight: 700;
			color: #d0d0d0;
			-webkit-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			@media screen and (max-width: 800px){
				padding: 10px 9px;
			}
			&:active,
			&:hover{
				background:transparent;
				color: #000;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
		}
		li.active {
			color: #000;
			a {
				color: inherit;
			}
		}
	}
	.tabs-content-home-estilos{
		padding: 20px 0 0 0;
		background: #FFF;
		position: relative;
		h2{
			display: none;
		}
		span{
			display: none;
		}
		.itemProduct{
			ul{
				li{
					@media screen and(max-width: 800px){
					    width: 43%;
					}
					.img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
		.productName{
			display: block!important;
			font-size: 15px;
			text-align: left;
			width: auto;
		}
		ul.owl-cate-estilos{
			position: initial;
			li{
				border: 1px solid rgba(0,0,0,0.30);
				padding: 14% 4% 4% 4%;
				text-align: center;
				display: block;
				margin: 0;
				width: 44%;
				.price{
					text-align: left;
				}
			}
			.owl-item{
				li{
					width: 100%;
					box-sizing: border-box;
				}
			    
			}
			.owl-nav{
				position: absolute;
				top: -34px;
				right: 10px;
				button{
					font-size: 25px;
					margin: 0 2px;
					span{
						font-size: 30px;
						font-weight: 400;
						height: 30px;
						width: 30px;
						line-height: 26px;
						border: 1px solid #000;
						display: inline-block;
					}
				}
			}

			.owl-dots{
				height: 40px;
				text-align: center;
				margin-top: 20px;
				width: 100%;
				button{
					margin: 0 8px;
					width: 15px;
					height: 15px;
					background: rgba(255,255,255,0.60);
					display: inline-block;
					border-radius: 50%;
					border:1px solid rgba(0,0,0,0.29);
					&.active{
						background-color: #484848;
						border:1px solid black;
					}
					span{					
					}
				}
			}

		}
		figure.imagen-desk{
				display: inline-block;
				width: 35%;
				vertical-align: top;
				position: relative;
				margin-right:10px;
				@media screen and (max-width: 1000px){
					display: none;
				}
			}
			figure.imagen-movil{
				display:none;
				width: 100%;
				position: relative;
				@media screen and (max-width: 1000px){
					display: block;
				}
			}
			.itemProduct{
				display: inline-block;
				width: 64%;
				@media screen and (max-width: 1000px){
					display: block;
					width: 100%;
				}

			}
			a{
				.btn-black {
				    display: inline-block;
				    background-color: black;
				    font-size: 15px;
				    font-weight: 600;
				    padding: 12px 35px;
				    color: white;
				    position: absolute;
				    bottom: 20px;
				    left: 50%;
				    right: 50%;
				    width: 90px;
				    margin-left: -90px;
				    text-align: center;
				    text-decoration: underine;
				    text-transform: uppercase;
				    -webkit-transition: all 0.2s ease-in-out;
				    transition: all 0.2s ease-in-out;
				}
				&:hover{
					.btn-black {
						background: #484848;
						color:#fff;
						-webkit-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
					}
				}

			}
	}

}