
.ml-umbro-sis-v2{
	display: block;
	font-family: 'Oswald', sans-serif;

	.ml-wallp{
		@media screen and (max-width: 1050px){
			padding: 80px 0 0 0 !important;
		}		
	}

	.ml-header{
		background-color: #000;
		@media screen and (max-width: 1050px){
			height: 95px!important;
		}
		&.fx{
			height: 165px;
			@media screen and (max-width: 1050px){
				height: 76px;
			}
		}
	}
	.top-cm{
		.text-right{
			font-family: "Montserrat", sans-serif;
		}
	}

	.home-banner-principal{
		margin-top: 165px;
		display: block;
		@media screen and (max-width: 1050px){
			margin-top: 15px;
		}
		@media screen and (max-width: 800px){
			display: none;
		}
		.owl-slider-banner-principal{
			.owl-nav{
				position: absolute;
				top: 46%;
			    width: 96%;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
				button{
					border: 2px solid #D3D3D3;
					display: inline-block;
					&.owl-prev{
						position: absolute;
						left: 0;
						span{
							font-size: 0;
							background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
							background-repeat: no-repeat;
							background-position: center;
							display: block;
							padding: 12px 10px!important;
							width: 18px;
							height: 10px;
										
						}
					}
					&.owl-next{
						position: absolute;
						right: 0;
						span{
							font-size: 0;
							background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
							background-repeat: no-repeat;
							background-position: center;
							display: block;
							padding: 12px 10px!important;
							width: 18px;
							height: 10px;
						}
					}
				}
			}

		}
		
	}
	.home-banner-principal-mobile{
			display: none;
			@media screen and (max-width: 800px){
				display: block;
			}
			.owl-nav{
				position: absolute;
				top: 46%;
			    width: 96%;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
				button{
					border: 2px solid #D3D3D3;
					display: inline-block;
					&.owl-prev{
						position: absolute;
						left: 0;
						span{
							font-size: 0;
							background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
							background-repeat: no-repeat;
							background-position: center;
							display: block;
							padding: 12px 10px!important;
							width: 18px;
							height: 10px;
										
						}
					}
					&.owl-next{
						position: absolute;
						right: 0;
						span{
							font-size: 0;
							background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
							background-repeat: no-repeat;
							background-position: center;
							display: block;
							padding: 12px 10px!important;
							width: 18px;
							height: 10px;
						}
					}
				}
			}
		}
	.module{
		width: 95%;
		margin: 0 auto;


		&.home-categoria{
			.content-title{
				width: 90%;
				margin: 0 auto;
				position: relative;
				@media screen and (max-width: 600px){
					width: 100%;
				}
				.tit-01{
					font-size: 40px;
					position: relative;
					font-weight: 800;
					@media screen and (max-width: 600px){
						font-size: 25px;
					}
					span{
						background-color: #fff;
						display: inline-block;
						position: relative;
						z-index: 1;
						padding: 0 10px 0 0;
					}
					&:after{
						content: '';
						height: 2px;
						width: 100%;
						display: block;
						background: #000;
						position: absolute;
						top: 50%;
						@media screen and (max-width: 600px){
							background: none;
						}

					}
				}
				a{
					position: absolute;
					right: 0;
					top: 33%;
					background: #fff;
					display: inline-block;
					padding: 0 0 0 8px;
					font-size: 16px;
					color: #000;
					text-decoration: none;
					font-weight: 600;
					text-transform: uppercase;
					@media screen and (max-width: 600px){
						font-size: 14px;
					}
					i{
						background-image: url('../arquivos/icon-flecha-umbro-categorias.png');
						background-size: 100%;
						background-repeat: no-repeat;
						vertical-align: middle;
						display: inline-block;
						width: 20px;
						height: 15px;						
					}
				}
			}

			.owl-slider-home-categoria{
				display: block;
				.item{
					display: block;
					a{
						display: block;
						position: relative;
						.contenedor-boton{							
							display: inline-flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							.boton{
								display: block;
								position: relative;
								padding: 5px 12px;
								border: 1px solid #fff;
								text-align: center;
								font-size: 25px;
								color: #fff;
								font-weight: 600;
								z-index: 1;
								width: initial;
								h3{
									margin: 0;
									padding: 0;
								}
								span{
									display: block;
								}
								@media screen and (max-width: 600px){
									font-size: 20px;
									padding: 5px 20px;
								}
							}
							svg{
								width: 100%;
								height: 100%;
								position: absolute;
								top:0;
								left:0;
								fill: none;
							}
							rect{
								width: 100%;
								height: 100%;
								stroke: #fff;
								stroke-width: 3px;
								stroke-dasharray: 1000;
								stroke-dashoffset: 1000;
								transition: .6s ease all;
							}
						}
						&:after{
							content: '';
							width: 100%;
							height: 100%;
							background: rgba(0,0,0, 0.1);
							transition: all .4s ease-in-out;
							position: absolute;
							top: 0;
						}
						&:hover{
							&:after{
								content: '';
								width: 100%;
								height: 100%;
								background: rgba(0,0,0, 0.5);
								transition: all .4s ease-in-out;
								position: absolute;
								top: 0;
							}
							.boton{
								/* border: 2px solid #fff;
								transition: all .4s ease-in-out; */
							}
							rect{
								stroke-dasharray: 0;
								stroke-dashoffset: 0;
								transition: .6s ease all;
							}
						}
					}
				}

				.owl-nav{
					position: absolute;
					top: 40%;
					width: 108%;
					left: -4%;
					@media screen and (max-width: 600px){
						top: inherit;
						width: 120px;
						margin: 0 auto;
						left: inherit;
						text-align: center;
						position: relative;
						margin-top: 20px;
					}
					button{
						border: 2px solid #D3D3D3;
						display: inline-block;
						&.owl-prev{
							position: absolute;
							left: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
											
							}
						}
						&.owl-next{
							position: absolute;
							right: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
							}
						}
					}
				}
			}

		}

		&.home-lo-nuevo{
			display: block;
			margin: 50px auto 0 auto;
			.container{
				width: 92%;
				margin: 0 auto;
				@media screen and (max-width: 600px){
					width: 100%;
				}
			}
			.itemProduct ul li{
				display:inline-block;
				background:#fff;
				padding:0 15px;
				margin:0 auto;
				position:relative;
				width:17%;
			}
			.content-title{
				width: 90%;
				margin: 0 auto;
				position: relative;
				@media screen and (max-width: 600px){
					width: 100%;
				}
				.tit-01{
					font-size: 40px;
					position: relative;
					font-weight: 800;
					@media screen and (max-width: 600px){
						font-size: 25px;
					}
					span{
						background-color: #fff;
						display: inline-block;
						position: relative;
						z-index: 1;
						padding: 0 10px 0 0;
					}
					&:after{
						content: '';
						height: 2px;
						width: 100%;
						display: block;
						background: #000;
						position: absolute;
						top: 50%;
						@media screen and (max-width: 600px){
							background: none;
						}

					}
				}
				a{
					position: absolute;
					right: 0;
					top: 33%;
					background: #fff;
					display: inline-block;
					padding: 0 0 0 8px;
					font-size: 16px;
					color: #000;
					text-decoration: none;
					font-weight: 600;
					text-transform: uppercase;
					i{
						background-image: url('../arquivos/icon-flecha-umbro-categorias.png');
						background-size: 100%;
						background-repeat: no-repeat;
						vertical-align: middle;
						display: inline-block;
						width: 20px;
						height: 15px;						
					}
				}
			}
			.owl-lo-nuevo{
				display: block;
				margin: 0 auto;
				.owl-stage-outer{
					padding-bottom: 10px;
					.owl-item{
						li{
							width: 100%;
							box-sizing: border-box;
							padding: 0 5px;
							.item{
								border:1px solid #D4D8DD;
							}
							.productName{
								min-height: 45px;
								border-bottom:1px solid #D4D8DD;
								font-weight: 600;
								padding: 0 8px;
								box-sizing: border-box;
							}
						}
					}
				}
				
				.owl-nav{
					position: absolute;
					top: 40%;
					width: 108%;
					left: -4%;
					@media screen and (max-width: 600px){
						top: inherit;
						width: 120px;
						margin: 0 auto;
						left: inherit;
						text-align: center;
						position: relative;
					}
					button{
						border: 2px solid #D3D3D3;
						display: inline-block;
						&.owl-prev{
							position: absolute;
							left: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
    							
							}
						}
						&.owl-next{
							position: absolute;
							right: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
							}
						}
					}
				}
			}

		}

		&.home-banner-zapatillas{
			display: block;
			margin: 50px auto 0 auto;
			&.v-desktop{
				display: block;
				@media screen and (max-width: 800px){
					display: none;
				}
			}
			&.v-mobile{
				display: none;
				@media screen and (max-width: 800px){
					display: block;
				}
			}
			.container{
				width: 95%;
				margin: 0 auto;
			}

		}

		&.home-tipo-suelas{
			display: block;
			margin: 50px auto 0 auto;
			.container{
				width: 95%;
				margin: 0 auto;
			}
			.content-title{
				width: 90%;
				margin: 0 auto;
				position: relative;
				text-align: center;
				.tit-02{
					font-size: 40px;
					position: relative;
					font-weight: 800;
					@media screen and (max-width: 600px){
						font-size: 25px;
					}
					&:after{
						content: '';
						height: 2px;
						width: 100%;
						display: block;
						background: #000;
						position: absolute;
						top: 69%;
						z-index: 1;
						@media screen and (max-width: 600px){
							background: none;
						}
					}
					span{
						background-color: #fff;
						display: block;
						position: relative;
						z-index: 1;
						padding: 0 10px 0 0;
						font-size: 30px;
						font-weight: 700;
						@media screen and (max-width: 600px){
							font-size: 20px;
						}
					}
					strong{
						display: inline-block;
						background: #fff;
						z-index: 2;
						position: relative;
						padding: 0 18px;
					}
				}
			}
			.owl-slider-home-suelas{
				a{
					display: block;
					.contenedor-boton{							
						display: inline-flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						width: 100%;
						height: 100%;
						top: -31%;
						left: 0;
						.boton{
							display: block;
							position: relative;
							padding: 5px 42px;
							border: 1px solid #000;
							text-align: center;
							font-size: 25px;
							color: #000;
							font-weight: 600;
							z-index: 1;
							width: initial;
							h3{
								margin: 0;
								padding: 0;
							}
							span{
								display: block;
							}
							@media screen and (max-width: 600px){
								font-size: 20px;
								padding: 5px 20px;
							}
						}
						svg{
							width: 100%;
							height: 100%;
							position: absolute;
							top:0;
							left:0;
							fill: none;
						}
						rect{
							width: 100%;
							height: 100%;
							stroke: #000;
							stroke-width: 3px;
							stroke-dasharray: 1000;
							stroke-dashoffset: 1000;
							transition: .6s ease all;
						}
					}
					&:after{
						content:"";
						background-color: rgba(0,0,0, 0.1);
						transition: all .4s ease-in-out;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
					}
					&:hover{
						&:after{
							content: '';
							width: 100%;
							height: 100%;
							background: rgba(0,0,0, 0.4);
							transition: all .4s ease-in-out;
							position: absolute;
							top: 0;
						}
						.boton{
							/* border: 2px solid #fff;
							transition: all .4s ease-in-out; */
						}
						rect{
							stroke-dasharray: 0;
							stroke-dashoffset: 0;
							transition: .6s ease all;
						}
					}

				}
				.owl-nav{
					display: none;
					@media screen and (max-width: 1000px){
						display: block;
						top: inherit;
						width: 120px;
						margin: 0 auto;
						left: inherit;
						text-align: center;
						position: relative;
						margin-top: 15px;
					}
					button{
						border: 2px solid #D3D3D3;
						display: inline-block;
						&.owl-prev{
							position: absolute;
							left: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
											
							}
						}
						&.owl-next{
							position: absolute;
							right: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
							}
						}
					}
				}

			}

		}

		&.banner-productos{
			display: block;
			margin: 50px auto 30px auto;

			.owl-slider-banner-productos{
				display: block;
				@media screen and (max-width: 800px){
					display: none;
				}
				.owl-nav{
					position: absolute;
					top: 40%;
				    width: 98%;
				    left: 0;
				    right: 0;
				    margin: 0 auto;
					button{
						border: 2px solid #D3D3D3;
						display: inline-block;
						&.owl-prev{
							position: absolute;
							left: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
											
							}
						}
						&.owl-next{
							position: absolute;
							right: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
							}
						}
					}
				}

			}

			.owl-slider-banner-productos-mobile{
				display: none;
				@media screen and (max-width: 800px){
					display: block;
				}
				.owl-nav{
					position: absolute;
					top: 40%;
				    width: 98%;
				    left: 0;
				    right: 0;
				    margin: 0 auto;
					button{
						border: 2px solid #D3D3D3;
						display: inline-block;
						&.owl-prev{
							position: absolute;
							left: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
											
							}
						}
						&.owl-next{
							position: absolute;
							right: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
							}
						}
					}
				}

			}
		}

		&.content-instagram{

		}

		&.content-opciones{
			margin: auto;
			display:grid; /*Establecemos el contenedor a grid*/
			grid-template-columns: repeat(2, 1fr);
			column-gap: 20px;
			@media screen and (max-width: 1000px){
				display: block;
				width: 95%;
				margin-bottom: 20px;
			}
			.box{
				box-sizing: border-box;
				position: relative;
				margin-bottom: 20px;
				.contenido{
					/* display: table;
					height: 100%; */
					position: absolute;
					background-color: rgba(0,0,0, 0.3);
					transition: all .4s ease-in-out;
					width: 100%;
					top: 0;					
					color: #fff;
					text-align: center;
					display: grid;
					place-items: center;
					height: 100%;
					&:hover{
						background-color: rgba(0,0,0, 0.6);
						transition: all .4s ease-in-out;
					}
					.content-elem{
						width: 100%;
						/* display: table-cell;
						vertical-align: middle; */
						a{
							color: #fff;
							text-decoration: none;
							display: block;

							h2{
								margin: 0;
							}
						
							span{
								display: block;
								text-align: center;
								font-size: 35px;
								font-weight: 500;
								text-transform: uppercase;
								color: #fff;
								width: 62%;
								margin: 0 auto;
								@media screen and (max-width: 1000px){
									font-size: 25px;

								}
								@media screen and (max-width: 600px){
									font-size: 20px;
								}
							}
							small{
								font-family: 'Roboto', sans-serif;
								display: block;
								font-size: 16px;
								color: #fff;
								margin-top: 10px;
								@media screen and (max-width: 1000px){
									font-size: 14px;
								}
								@media screen and (max-width: 600px){
									font-size: 12px;
								}
							}
							.boton{
								font-family: 'Roboto', sans-serif;
								margin: 0 auto;
								border: 1px solid #fff;
								padding: 2% 5%;
								width: auto;
								display: inline-block;
								margin-top: 20px;
								font-size: 14px;
								cursor: pointer;
								position: relative;
								z-index: 2;
								overflow: hidden;
								@media screen and (max-width: 1000px){
									padding: 3% 5%;
								}
								@media screen and (max-width: 600px){
									margin-top: 10px;
								}
								&:after{
									content: "";
									left: -180px;
									top: 0;
									background-color: #000;
									position: absolute;
									z-index: -1;
									height: 100%;
									width: 100%;
									transition: all .4s ease;
								}
							}
							&:hover{
								.boton{
									&:after{
										left: 0;
										top: 0;
										transition: all .4s ease;
									}

								}
							}
						}
					}					
				}
			}
		}
	}

	.banner-video-umbro{
		background-color: #000;
		margin-top: 165px;
		display: block;
		@media screen and (max-width: 1050px){
			margin-top: 15px;
		}
	}
	.content-100anos{
		margin: 80px auto;
		width: 80%;
		max-width: 96%;
	}

	footer{
		margin: 40px 0 30px 0;
		height: auto;
		.ml-footer{
			display:grid; /*Establecemos el contenedor a grid*/
			grid-template-columns: 40% 55%;
			height: auto;
			@media screen and (max-width: 1000px){
				grid-template-columns:100%;
			}
			.footRight{
				padding-left: 15%;
				border-right: 1px solid #DBDBDB;
				padding-right: 5%;
				box-sizing: border-box;
				@media screen and (max-width: 1000px){
					margin: 0;
					padding-left: 0;
					padding-right: 5px;
					text-align: center;
					display: block;
					width: 100%!important;
					border-right: 0;
				}
				.socialMedia {
					display: block;
					padding: 15px 0;
					border-top: 1px solid #DBDBDB;
					border-bottom: 1px solid #DBDBDB;
					margin: 20px 0;
				    span{
				    	display: inline-block;
				    	font-weight: 700;
				    	font-size: 13px;
				    }
				    ul{
				    	display: inline-block;
				    	vertical-align: middle;
				    	width:47%;
				    	margin-left: 10px;
				    	@media screen and (max-width: 1000px){
				    		width: 50%;
				    	}
				    	@media screen and (max-width: 400px){
				    		width:56%;
				    	}
				    	li{
				    		display: inline-block;
				    		padding: 0 10% 0 0;
				    		a{
				    			display: block;
				    			.ico-facebook {
				    			    content: "";
				    			    background: url(/arquivos/sis-footer-umbro-logo-face_2.jpg) 0 no-repeat;
				    			    background-size: cover;
				    			    display: inline-block;
				    			    width: 35px;
				    			    height: 35px;
				    			}
				    			.ico-instagram {
									content: "";
									background: url(/arquivos/sis-footer-umbro-logo-instagram_2.jpg?v=1) 0 no-repeat;
									background-size: cover;
									height: 35px;
									display: inline-block;
									width: 35px;
								}

								.ico-youtube {
								    content: "";
								    background: url(/arquivos/sis-footer-umbro-logo-youtube_2.jpg) 0 no-repeat;
								    background-size: cover;
								    height: 35px;
								    display: inline-block;
								    width: 35px;
								}
				    		}
				    	}
				    }
				}
				.metodoPago{
					display: block;
					img{
						@media screen and (max-width: 1000px){
							width: auto;
						}
						@media screen and (max-width: 480px){
							width: 100%;
						}
					}
				}
			}
			.footLeft{
				a{
					text-decoration: none;
					color: #000;
				}
				.row{
					.socialAyudaContacto {
					    display: grid;
					    grid-template-columns: 40% 30% 30%;
					    @media screen and (max-width: 1000px){
					    	display: block;
					    	width: 100%;
					    }
					    .contactoColiseum {
							display: inline-block;
							padding: 0 12%;
							vertical-align: top;
							border-right: 1px solid #DBDBDB;
							@media screen and (max-width: 1000px){
								display: block;
								width: 96%;
								padding: 0;
								border-right: 0;
							}
							.mb{
								&:before{
									@media screen and (max-width: 1050px){
										display: inline-block;
										content: "\f0dd";
										font: normal normal normal 12px/1 FontAwesome;
										float: right;
										margin: -2px 0 0 5px;
									}
								}
							}
					        .titmenufoot1{
					        	font-family: Lato, sans-serif;
					        	font-size: 14px;
					        	font-weight: 600;
					        	color: #000;
						        @media screen and (max-width: 1000px){
									font-size: 15px;
									letter-spacing: 1px;
									font-weight: 700;
									border-top: solid 1px #5d5d5d;
									padding: 10px;
						        }
					        }
					        ul{
					        	margin-top:10px;
					        	@media screen and (max-width: 1050px){
					        		margin-left: 20px;
					        	}
					        	
					        	li {
									a {
										font-family: 'Roboto', sans-serif;
										color: #7E7E7E;
									    font-size: 14px;
									    letter-spacing: 0;
									    line-height: 30px;
									    font-weight: 400;
									    text-decoration: none;
									    
									}
								}
					        }
					        .wHoverNav {
					        	@media screen and (max-width: 1050px){
					        		display: none;
					        	}

					        }
					    }
					    .ayudaColiseum {
							display: inline-block;
							vertical-align: top;
							padding: 0 12%;
							border-right: 1px solid #DBDBDB;
							@media screen and (max-width: 1000px){
								width: 96%;
								padding: 0;
								border: 0;
							}
							.mb{
								&:before{
									@media screen and (max-width: 1050px){
										display: inline-block;
										content: "\f0dd";
										font: normal normal normal 12px/1 FontAwesome;
										float: right;
										margin: -2px 0 0 5px;
									}									
								}
							}
							.titmenufoot1 {
								font-family: Lato, sans-serif;
								font-size: 14px;
								font-weight: 600;
								color: #000;
								@media screen and (max-width: 1000px){
									font-size: 15px;
									letter-spacing: 1px;
									font-weight: 700;
									border-top: solid 1px #5d5d5d;
									padding: 10px;
						        }
							}
							ul{
								margin-top:10px;
								@media screen and (max-width: 1050px){
									margin-left: 20px;
								}
								li{
									a {
										font-family: 'Roboto', sans-serif;
										color: #7E7E7E;
										font-size: 14px;
										letter-spacing: 0;
										line-height: 30px;
										font-weight: 400;
										text-decoration: none;

									}
								}
							}
							.wHoverNav {
					        	@media screen and (max-width: 1050px){
					        		display: none;
					        	}

					        }
						}

						.socialColiseum {
						    display: inline-block;
						    padding: 0 12%;
						    @media screen and (max-width: 1000px){
								width: 96%;
								display: inline-block;
								vertical-align: top;
								padding: 0;
							}
							.mb{
								&:before{
									@media screen and (max-width: 1050px){
										display: inline-block;
										content: "\f0dd";
										font: normal normal normal 12px/1 FontAwesome;
										float: right;
										margin: -2px 0 0 5px;
									}
								}
							}
						    .titmenufoot1 {
							    font-family: Lato, sans-serif;
							    font-size: 14px;
							    font-weight: 600;
							    color: #000;
					            @media screen and (max-width: 1000px){
									font-size: 15px;
									letter-spacing: 1px;
									font-weight: 700;
									border-top: solid 1px #5d5d5d;
									padding: 10px;
						        }
							}
							ul{
								margin-top:10px;
								@media screen and (max-width: 1050px){
									margin-left: 20px;
								}
								li{
									a {
									    font-family: 'Roboto', sans-serif;
										color: #7E7E7E;
										font-size: 14px;
										letter-spacing: 0;
										line-height: 30px;
										font-weight: 400;
										text-decoration: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.foot-bottom{
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		display: block;
		width: 100%;
		background-color: #000;
		text-align: center;
		padding: 10px;
		a{
			color: #B2B2B2;
			text-decoration: none;
		}

	}
}
