.ml-fila-sis-v2{
	font-family: "Noto Sans", sans-serif;

	.ml-header{
		background-color: #fff;
		.ml-navigator{
			position: relative;
			display: inline-block;
			margin: 0 5% 0 15%;
			top: 0;
			@media screen and (max-width: 1050px){
				position: initial;
				display: none;
				margin-left: 0;
			}
			.container{
				ul{
					li{
						&.wH{
							.wHoverNav{
								background-color: #fff;
								@media screen and (max-width: 1050px){
									background-color: transparent;
								}
								.contentWH{
									width: 93%!important;
								}
							}
						}
						a{
							font-weight: 500;
							text-transform: none;
							font-size: 16px!important;
							letter-spacing: 0!important;
							&.mb:after {
								content: '';
							}
							&.mn-red{
								font-weight: 700;
								text-transform: uppercase;
								color:#FF0000;
							}
						}
					}
				}
			}
		}
		.search{
			position: relative;
			display: inline-block;
			top: 0;
			@media screen and (max-width: 1050px){
				position: fixed;
				display: none;
				top: inherit;
				margin: 0;
			}
			.wp-inp{
				i {
					width: 29px;
					height: 29px;
					top:0;
			    	left: initial;
				    &.fa-search:before{
				    	content: '';
				    	background:url('https://coliseum.vteximg.com.br/arquivos/icon-search-v2.png');
				    	width: 29px;
				    	height: 29px;
				    	display: block;
				    }
				}
				.js-txtSearch{
					font-size: 14px;
				}
			}
			.active .wp-inp .resul{
				position: absolute;
			}
		}
		
		.carrito-login{
			vertical-align: top;
			.carrito{
				margin-top: 10px;
				@media screen and (max-width: 1050px){
					margin-top: 0;
				}
				.btn-cart{
					top: 0;
					.cart{
						background:url('https://coliseum.vteximg.com.br/arquivos/icon-carrito-v2.png');
						background-size: initial;
						background-repeat: no-repeat;
						width: 29px;
					    height: 29px;
					    display: block;
					}
					.info.vcenter span.num{
						background-color: #0b1f3f;
					}
				}
			}			
		}
	}



	.module2{
		width: 95%;
		margin: 0 auto;

		&.home-categoria{
			width: 900px;
			margin: 0 auto;
			@media screen and (max-width: 600px){
				width: 100%;
			}
			.content-title{
				width: 100%;
				margin: 0 auto;
				position: relative;
				.tit-01{
					color: #0b1f3f;
					font-weight: 700;
					font-size: 32px;
					line-height: 26px;
					@media screen and (max-width: 600px){
						font-size: 25px;
					}
					span{
						background-color: #fff;
						display: inline-block;
						position: relative;
						z-index: 1;
						padding: 0 10px 0 0;
					}
				}
				a{
					position: absolute;
					right: 0;
					top: 33%;
					background: #fff;
					display: inline-block;
					padding: 0 0 0 8px;
					font-size: 16px;
					color: #000;
					text-decoration: none;
					font-weight: 600;
					text-transform: uppercase;
					@media screen and (max-width: 600px){
						font-size: 14px;
					}
					i{
						background-image: url('../arquivos/icon-flecha-umbro-categorias.png');
						background-size: 100%;
						background-repeat: no-repeat;
						vertical-align: middle;
						display: inline-block;
						width: 20px;
						height: 15px;						
					}
				}
			}

			.owl-slider-fila-home-novedades{
				display: block;
				.item{
					display: block;
					a{
						display: block;
						position: relative;
						img{
							border-radius: 0.75em;
							transition: box-shadow .3s;
						}
						.contenedor-boton{							
							display: inline-flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							.boton{
								display: block;
								position: relative;
								padding: 5px 12px;
								border: 1px solid #fff;
								text-align: center;
								font-size: 25px;
								color: #fff;
								font-weight: 600;
								z-index: 1;
								width: initial;
								h3{
									margin: 0;
									padding: 0;
								}
								span{
									display: block;
								}
								@media screen and (max-width: 600px){
									font-size: 20px;
									padding: 5px 20px;
								}
							}
							svg{
								width: 100%;
								height: 100%;
								position: absolute;
								top:0;
								left:0;
								fill: none;
							}
							rect{
								width: 100%;
								height: 100%;
								stroke: #fff;
								stroke-width: 3px;
								stroke-dasharray: 1000;
								stroke-dashoffset: 1000;
								transition: .6s ease all;
							}
						}
						&:after{
							content: '';
							width: 100%;
							height: 100%;
							background: rgba(0,0,0, 0.1);
							transition: all .4s ease-in-out;
							position: absolute;
							top: 0;
						}
						&:hover{
							&:after{
								content: '';
								width: 100%;
								height: 100%;
								background: rgba(0,0,0, 0.5);
								transition: all .4s ease-in-out;
								position: absolute;
								top: 0;
								border-radius: 0.75em;
								transition: box-shadow .3s;
							}
							.boton{
								/* border: 2px solid #fff;
								transition: all .4s ease-in-out; */
							}
							rect{
								stroke-dasharray: 0;
								stroke-dashoffset: 0;
								transition: .6s ease all;
							}
						}
					}
					span{
						display: block;
						color: #0b1f3f;
						font-size: 20px;
						height: 20px;
						text-align: left;
						font-weight: 700;
						line-height: 1;
						margin: 17px 0 16px;
					}
				}

				.owl-nav{
					position: absolute;
					top: 40%;
					width: 108%;
					left: -4%;
					@media screen and (max-width: 600px){
						top: inherit;
						width: 120px;
						margin: 0 auto;
						left: inherit;
						text-align: center;
						position: relative;
						margin-top: 20px;
					}
					button{
						border: 2px solid #D3D3D3;
						display: inline-block;
						&.owl-prev{
							position: absolute;
							left: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-prev-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
											
							}
						}
						&.owl-next{
							position: absolute;
							right: 0;
							span{
								font-size: 0;
								background-image: url('../arquivos/sis-umbro-arrow-next-230808.jpg');
								background-repeat: no-repeat;
								background-position: center;
								display: block;
								padding: 12px 10px!important;
								width: 23px;
								height: 17px;
							}
						}
					}
				}
			}

		}

		&.content-look-fila{
			max-width: 1280px;
			width: 100%;
			margin: 0 auto;
			box-sizing: border-box;
			padding: 70px 30px!important;
			h2{
				margin: 0 0 20px;
				font-size: 26px;
				font-weight: 700;
				color: #0b1f3f;
				@media screen and (max-width: 800px){
					font-size: 20px;
				}
			}
			.mosaic-banner{
				display: grid;
				grid-template-columns: repeat(6,1fr);
				gap: 16px;
			    -webkit-box-pack: start;
			    justify-content: flex-start;
			    -webkit-box-align: stretch;
			     align-items: stretch;
			     @media screen and (max-width: 767px){
			     	grid-template-columns: repeat(2,1fr);
		     	    column-gap: 15px;
		     	    row-gap: 15px;

			     }

			     .items-img{
			     	-webkit-clip-path: inset(var(--uhinset, 0px));
			     	clip-path: inset(var(--uhinset, 0px));
			     	-webkit-transition: -webkit-clip-path .5s var(--easeoutcubic, ease-out);
			     	transition: -webkit-clip-path .5s var(--easeoutcubic, ease-out);
			     	transition: clip-path .5s var(--easeoutcubic, ease-out);
			     	transition: clip-path .5s var(--easeoutcubic, ease-out), -webkit-clip-path .5s var(--easeoutcubic, ease-out);

			     	&:hover{
			     		/* --uhinset: 10px; */
			     		--uhinset: -3px;
			     		--uhscale: 1.05
			     	}

			     	&:nth-child(n){
			     		grid-column: 1/3;
			     		grid-row: 1/3;
			     		@media screen and (max-width: 767px){
			     			grid-column: 1/3;
			     			grid-row: 1/3;
			     		}
			     	}

			     	&:nth-child(2n){
			     		grid-column: 3/4;
			     		grid-row: 1/2;
			     		@media screen and (max-width: 767px){
			     			grid-column: 1/2;
			     			grid-row: 3/4;
			     		}
			     	}
			     	&:nth-child(3n) {
						grid-column: 3/4;
						grid-row: 2/3;
						@media screen and (max-width: 767px){
							grid-column: 2/3;
							grid-row: 3/4;
						}
			     	}
			     	&:nth-child(4n) {
						grid-column: 4/6;
						grid-row: 1/3;
						@media screen and (max-width: 767px){
							grid-column: 1/3;
							grid-row: 4/6;
						}
			     	}
			     	&:nth-child(5n) {
						grid-column: 6/7;
						grid-row: 1/2;
						@media screen and (max-width: 767px){
							grid-column: 1/2;
							grid-row: 6/7;
						}
			     	}
			     	&:nth-child(6n) {
						grid-column: 6/7;
						grid-row: 2/3;
						@media screen and (max-width: 767px){
							grid-column: 2/3;
							grid-row: 6/7;
						}
			     	}

			     	img{
			     		max-width: 100%;
			     		-webkit-transform: scale(var(--uhscale, 1));
			     		transform: scale(var(--uhscale, 1));
			     		-webkit-transition: -webkit-transform .5s var(--easeoutcubic, ease-out);
			     		transition: -webkit-transform .5s var(--easeoutcubic, ease-out);
			     		transition: transform .5s var(--easeoutcubic, ease-out);
			     		transition: transform .5s var(--easeoutcubic, ease-out), -webkit-transform .5s var(--easeoutcubic, ease-out)
			     	}

			     }
				

			}

		}

		&.home-fila-mas-vendidos{
			margin: 0 auto 40px;
			max-width: 1220px;
			.content-mas-vendidos{
				display: grid;
				grid-template-columns: 20% 80%;
				place-items: start;
				@media screen and (max-width: 1050px){
					display: block;
				}
				.title-prod{
					color: #0b1f3f;
					font-size: 32px;
					font-weight: 700;
					line-height: 1;
					margin: 0;
					padding: 0;

				}
			}

			.content-boton{
				display: block;
				margin-top:30px;
				&.tit-desktop{
					display: block;
					@media screen and (max-width: 1050px){
						display: none;
					}
				}

				&.tit-mobile{
					display: none;
					@media screen and (max-width: 1050px){
						display: block;
					}
				}
				.btn-type-link{
					background: #0b1f3f;
					border: 1px solid #0b1f3f;
					color: #fff;
					display: inline-flex;
					font-size: 14px;
					font-weight: 700;
					justify-content: center;
					padding: 10px 20px;
					text-decoration: none;
					transition: background .3s, color .3s;
					@media screen and (max-width: 1050px){
						display: block;
						text-align: center;
					}
				}
			}
		}

		&.home-fila-opciones{
			.boxdata{
				display: grid;
				grid-template-columns: repeat(4, 240px);
				margin: 10px auto;
				padding: 10px;
				column-gap: 25px;
				width: 1040px;
				@media screen and (max-width: 1120px){
					justify-content: left;
					grid-template-columns: repeat(4, 240px);
					width: 95%;
					overflow-x: auto;
				}

				.boxdataitem{
					box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
					border-radius: 12px;
					padding: 15px;
					-webkit-box-align: stretch;
				    align-items: stretch;
				    justify-content: center;
				    display: flex;
				    .content-item{
				    	display: grid;
				    	grid-template-columns: auto 149px;
				    	column-gap: 15px;
				    	align-items: center;
				    	.content-img{
				    		img{
				    			max-width: 100%;
				    		}
				    	}
				    	.content-desc{
				    		p{
								color: #0b1f3f;
								font-weight: 700;
								font-size: 16px;
								line-height: 16px;
								margin: 0;
								align-items: center;
							    display: flex;
							    margin-bottom: 8px;
							    min-height: 31px;
				    		}
				    		a{
				    			transition: color .3s;
			    			    cursor: pointer;
			    			    margin: 0;
			    			    color: #0b1f3f;
			    			    font-weight: 400;
			    			    font-size: 14px;
			    			    text-decoration: underline;
				    		}
				    	}
				    }
				}
			}
		}
	}

	.content-prod-fila{
		margin: 0 0 50px;
		background: #d9d9d9;
		padding: 25px 0;
		box-sizing: border-box;
		width: 100%;
		.content-prod{
			display: flex;
			column-gap: 25px;
			align-items: start;
			margin: 0 auto;
			width: 1200px;
			max-width: 100%;
			position: relative;
			@media screen and (max-width: 1120px){
				display: block;
			}
			.box{
				display: flex;
				-webkit-box-align: stretch;
				align-items: stretch;
				justify-content: center;
				width: 50%;
				column-gap: 24px;
				@media screen and (max-width: 1120px){
					width: 90%;
					margin: 0 auto 20px auto;
					
				}
				img{
					border-radius: 0.75em;
					transition: box-shadow .3s;
					width: 100%;

				}
				
				a{
					display: block;					
					.content-components{						
						position: relative;						
						.content-desc{
							position: absolute;
							bottom: 10px;
							width: 100%;
							padding: 2% 5%;
							box-sizing: border-box;
							border-radius: 0.75em;
							.title-prod{
								padding: 0;
								margin: 0;
								text-transform: uppercase;
								color: #fff;
								font-size: 32px;
								padding-bottom: 15px;
								display: block;
							}
							.btn-ver{
								border: 1px solid #fff;
								padding: 1.5% 5%;
								font-size: 14px;
								color: #fff;
								display: inline-block;
								&:hover{
									background-color: #fff;
									color:#0b1f3f;
								}
							}
						}
						&:before{
							background: rgba(0,0,0,0.8);
							content: "";
							opacity: .5;
							position: absolute;
							inset: 0;
							border-radius: 0.75em;
						}
					}
					

				}
				.detalle-prod{
					display: flex;
					column-gap: 25px;
					align-items: start;
					margin: 0 auto;
					.box-prod{
						display: block;
						.title-prod{
							color: #0b1f3f;
							display: flex;
							font-size: 14px;
							font-weight: 400;
							min-height: 32px;
							margin-bottom: 5px;
						}
						.desc-prod{
							color: #0b1f3f;
							font-size: 20px;
							font-weight: 700;
							letter-spacing: .15px;
						}
						a{
							text-decoration: none;
						}
					}
				}
			}
		}
		
	}

	.footer-newsletter{
		background: #f7f1ea;
		padding: 30px 30px 50px;
		color: #0b1f3f;
		width: 100%;
		text-align: center;
		margin-top: 50px;
		box-sizing: border-box;
		.newsletter-title{
			text-align: center;
			color: #0b1f3f;
			font-weight: 700;
			font-size: 32px;
			margin: 0;
		}
		.newsletter-description {
			text-align: center;
		    color: #000;
		    font-size: 16px;
		    font-weight: 400;
		    margin: 20px 0 6px 0;
		}
		.btn-suscribete{
			background: #0b1f3f;
			color: #fff;
			padding: 15px;
			cursor: pointer;
			transition: background-color .3s;
			margin: 12px 10px;
			font-weight: 700;
			display: inline-block;
			text-align: center;
			line-height: 1.5;
			width: 200px;
			text-transform: uppercase;
		}
	}

	.ml-footer-fila-v2{
		background:#0b1f3f;
		height: auto;
		margin: 0;
		font-size: 16px;
		.container-footer{
			width: 96%;
			max-width:100%;
			margin: 0 auto;
			color: #fff;
			a{
				color: #fff;
				text-decoration: none;
			}
			.footer-menu-wrapper{
				display: flex;
				justify-content: space-between;
				padding: 40px !important;
				@media screen and (max-width: 800px){
					display: block;
				}
				.menu-item-principal-title{
					text-align: left;
					width: 100%;
					font-size: 24px;
					font-weight: 700;
					line-height: 30px;
					color: #fff;
					font-family: Noto Sans, sans-serif;
					letter-spacing: -.01em;
				}
				.box-footer{
					padding-right: 5%;
					ul{
						li{
							line-height: 1.8;
						}
					}

					.list-phone-email{
						.email{
							a{
								display: flex;
								justify-content: space-between;
								@media screen and (max-width: 800px){
									display: block;
								}
								img{
									display: inline-block;
									vertical-align: middle;
									margin-right: 5px;
								}
								span{
									display: inline-block;
									vertical-align: middle;
								}
							}

						}
					}
					.list-unstyled{
						.list-inline-item{
							margin-bottom: 10px;
							a{
								display: block;
								img{
									display: inline-block;
									vertical-align: middle;
									margin-right: 5px;
								}
								span{
									display: inline-block;
									vertical-align: middle;
								}
							}
						}
					}
				}
			}
		}
	}

}