@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&display=swap";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800|Montserrat:300,400,500,600,700|Oswald:300,400,500,600,700&display=swap";


@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";