<section class="row module suscribete">
    <div class="center">
        <div class="suscribete-izquierda">
            <div class="titulo">SUSCRÍBETE Y OBTÉN UN 15% DE DESCUENTO ADICIONAL EN TU PRIMERA COMPRA</div>
        </div>  
        <div class="suscribete-derecha">
            <div class="boton">¡SUSCRIBIRME AHORA!</div>
        </div>                                   
    </div>
</section> 
<footer class="footer">

    <div class="container">

        <div class="col footerRightColiseum">
            <div class="logo">
                <img width="70%" data-src="https://coliseum.vteximg.com.br/arquivos/logo-coli-240408.png" class="lazyload" alt="Coliseum Perú" />
            </div>

            <div class="socialMedia">
                <p class="mb">RUC: 20459980963 <br/> Razón Social: Solidez Empresarial</p>
                <br/><br/>
                <span class="mb">Síguenos:</span>
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/coliseumstoreperu" target="_blank"><i class="ico-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/coliseumstorepe/" target="_blank"><i class="ico-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UC6KMPM4yCRRKI71Cm9-IiiA" target="_blank"><i class="ico-youtube"></i></a></li>
                </ul>  
            </div>

            <div class="email">
                <b>Correo:</b> <a href="mailto:ecommerce@coliseum-store.com">ecommerce@coliseum-store.com</a>
            </div>
                         
        </div>

        <div class="col footerLeftColiseum">
            <div class="row">
                <div class="socialAyudaContacto">
                    <div class="contactoColiseum">
                        <div class="mb titmenufoot1">AYUDA</div>
                        <div class="wHoverNav">
                            <div class="contentWH">
                                <ul class="marginOut">
                                    <li><a href="/como-comprar">Cómo comprar</a></li>
                                    <li><a href="/politica-de-cookies">Política de Cookies</a></li>
                                    <li><a href="/politica-de-privacidad">Política de Privacidad</a></li>
                                    <li><a href="/terminos-y-condiciones">Términos y condiciones</a></li>
                                    <li><a href="/cambios-y-devoluciones">Cambios y devoluciones</a></li>
                                    <li><a href="/Legales-promociones">Legales y promociones</a></li>
                                    <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li> 
                                    <li><a href="/libro-de-reclamaciones"><img src="https://coliseum.vteximg.com.br/arquivos/icon-libro.png" alt="Libro de Reclamaciones" /></a></li>
                                </ul>
                                <div id="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ayudaColiseum">
                        <div class="mb titmenufoot1">CATEGORÍA</div>
                        <div class="wHoverNav">
                            <div class="contentWH">
                                <ul class="marginOut">
                                    <li><a href="/hombre?PS=48&amp;map=c&amp;O=OrderByReleaseDateDESC">Hombre</a></li>
                                    <li><a href="/mujer?PS=48&amp;map=c&amp;O=OrderByReleaseDateDESC">Mujer</a></li>
                                    <li><a href="/ninos?PS=48&amp;map=c&amp;O=OrderByReleaseDateDESC">Niños</a></li>
                                    <!--li><a href="/Legales-promociones">Marcas</a></li-->
                                    <li><a href="/lo-nuevo">Lo Nuevo</a></li>
                                    <li><a href="/outlet">Outlet</a></li>
                                    <li><a href="/giftcard?PS=48&amp;map=c&amp;O=OrderByReleaseDateDESC">Gift Card</a></li>
                                    <li><a href="/cyber-coliseum">Cyber Coliseum</a></li>
                                </ul>
                                <div id="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="socialColiseum">
                        <div class="superior">
                            <div class="titmenufoot1">CONTACTO</div>
                            <ul class="list-phone-email">
                                <!--li><a href="/account" class="btn-ingresar">Mi cuenta</a></li--> 
                                <li style="display:none"><a href="/_secure/account/orders">Mis pedidos</a></li> 
                                <li><a href="/contactenos">Contáctanos</a></li>      
                                <li><a href="/tracking">Seguimiento de pedidos</a></li> 
                                <li><a href="/encuentra-tu-tienda?tienda=coliseum">Nuestras tiendas</a></li> 
                            </ul>   
                        </div>                                                    
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="contentPagos">
        <div class="container">
            <div class="pagosColiseum" id="pagosColiseum">
                <div class="footer-logo-desk">
                    <img src="https://coliseum.vteximg.com.br/arquivos/medios-pago-coliseum-240404.png" border="0" alt="Medios de pagos" />
                </div>
                <div class="footer-logo-mobil">
                    <img src="https://coliseum.vteximg.com.br/arquivos/medios-pago-coliseum-240404-m.png" border="0" alt="Medios de pagos" />
                </div>
                
            </div> 
        </div>
    </div>

    

</footer>
<!--div id="newsletter" class="hide">
    <div class="container">
        <form id="frmMasterData" method="post" action="//api.vtexcrm.com.br/coliseum/dataentities/NW/documents">
            <p class="title">RECIBE LAS COMBINACIONES PERFECTAS PARA TI</p>
            <div class="formulario right">
                <div class="newsletter">
                    <fieldset>
                        <input id="newsletterClientName" class="newsletter-client-name" placeholder="Ingrese su nombre" size="20" type="text" name="newsClientName"/>
                        <input id="newsletterClientLastName" class="newsletter-client-name" placeholder="Ingrese su apellido" size="20" type="text" name="newsClientLastName"/>
                        <input id="newsletterClientEmail" class="newsletter-client-email" placeholder="Ingrese su correo electrónico" size="20" type="text" name="newsletterClientEmail"/>
                        <input id="newsletterClientFecha" class="newsletter-client-fecha" placeholder="Ingrese su cumpleaños" size="20" type="text" name="newsletterClientFecha"/>
                        <input id="newsletterClientDocument" class="newsletter-client-document" placeholder="Ingrese su DNI" size="20" type="text" name="newsletterClientDocument"/>
                        <div class="ch">
                            <input type="checkbox" name="terminos" id="terminos" class="newsletter-client-terminos" value="Acepto"/>
                            Acepto los <a href="/terminos-y-Condiciones">términos y condiciones de uso</a>.
                        </div>
                        <select name="newsletterMarca" class="newsletterMarca" id="newsletterMarca">
                          <option value="Seleccione marca" label="Seleccione marca" class="select-option">Seleccione marca</option>
                          <option value="Bates">Bates</option>
                          <option value="Caterpillas">Caterpillas</option>
                          <option value="Converse">Converse</option>
                          <option value="Havaianas">Havaianas</option>
                          <option value="Hi-Tec">Hi-Tec</option>
                          <option value="Joma">Joma</option>
                          <option value="Magnum">Magnum</option>
                          <option value="Merrell">Merrell</option>
                          <option value="Saucony">Saucony</option>
                          <option value="Steve Madden">Steve Madden</option>
                          <option value="Umbro">Umbro</option>
                          <option value="Wolverine">Wolverine</option>
                        </select>
                        <input type="hidden" id="paginaReg" name="paginaReg" value="Coliseum"/>                    
                        <input id="newsletterButtonOK" class="btn-ok newsletter-button-ok" value="Suscribirme" type="submit" name="newsletterButtonOK" />
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <div class="loader"></div>
</div-->  

<div id="popupCookies" class="popupCookies" style="display:none">
  <div class="popup-content">
    <div class="contenido">Este sitio web usa cookies para mejorar tu experiencia. Al navegar en nuestro sitio web, usted acepta todas las cookies de acuerdo con nuestra <a href="/politica-de-cookies">Política de cookies</a> y <a href="/politica-de-privacidad">Política de Privacidad</a>.</div>     
    <div class="close-head">
      <span id="closeCookies" class="closeCookies">CERRAR</span>
    </div>    
  </div>
</div>

<div id="homePopup" class="homePopup">
  <div class="popup-content">
    <div class="close-head">
      <span id="closeHome" class="closePopup"></span>
    </div>
    <div class="popup-body">
        <div class="imagen-desktop">
          <div class="contenido">
            <!--h2>¡SUSCRÍBETE!</h2>
            <p>Y OBTÉN</p>
            <H2>10% DSCTO.*</H2>
            <p>ADICIONAL</p-->
            <div class="popup-izquierda-pc">
                <img data-src="https://coliseum.vteximg.com.br/arquivos/DSCTO-10-porciento.png" class="lazyload" alt="Descuento" />
            </div>
            <div class="popup-izquierda-mobil">
                <img data-src="https://coliseum.vteximg.com.br/arquivos/DSCTO-m-10-porciento.png" class="lazyload" alt="Descuento"/>
            </div> 
            <div class="popup-derecha">
              <!--h4>Déjanos tus datos</h4-->
              <form id="frmMasterData2" method="post" action="//api.vtexcrm.com.br/coliseum/dataentities/NW/documents" novalidate="novalidate">
                <div class="middle left">
                  <input id="newsletterClientName" class="newsletter-client-name" placeholder="Nombre" size="20" type="text" name="newsletterClientName" />
                </div>
                <div class="middle right">
                  <input id="newsletterClientLastName" class="newsletter-client-name" placeholder="Apellido" size="20" type="text" name="newsClientLastName" />
                </div>
                <div class="middle left">
                  <input id="newsletterClientEmail" class="newsletter-client-email" placeholder="Correo electrónico" size="20" type="text" name="newsletterClientEmail" />
                </div>
                <div class="middle right cm">
                  <input id="cumple" class="newsletter-client-fecha " placeholder="Cumpleaños" size="20" type="text" name="cumple" />
                </div>
                <div class="middle right">
                  <input id="newsletterClientTel" class="newsletter-client-tel" placeholder="Teléfono" type="text" name="newsletterClientTelefono" />
                </div>
                <!-- Marcas -->
                <div class="full marcas">
                    <p>Selecciona tus estilos favoritos:</p>
                    <ul class="ks-cboxtags">
                        <li>
                            <input type="checkbox" name="checkboxfrm" id="checkboxOne" value="Caterpillar SIS,Converse SIS,Steve Madden SIS" />
                            <label for="checkboxOne">Urbano</label>
                        </li>
                        <li>
                            <input type="checkbox" name="checkboxfrm" id="checkboxTwo" value="Umbro SIS,Saucony SIS" />
                            <label for="checkboxTwo">Deportivo</label>
                        </li>
                        <li>
                            <input type="checkbox" name="checkboxfrm" id="checkboxThree" value="Caterpillar SIS,Converse SIS" />
                            <label for="checkboxThree">Casual</label>
                        </li>
                        <li>
                            <input type="checkbox" name="checkboxfrm" id="checkboxFour" value="Cole Haan SIS" />
                            <label for="checkboxFour">Elegante</label>
                        </li>
                        <li>
                            <input type="checkbox" name="checkboxfrm" id="checkboxFive" value="HiTec SIS,Merrell SIS" />
                            <label for="checkboxFive">Outdoor</label>
                        </li>
                        <li>
                            <input type="checkbox" name="checkboxfrm" id="checkboxSix" value="Caterpillar SIS,Converse SIS,Umbro SIS" />
                            <label for="checkboxSix">Moda Hombre</label>
                        </li>
                        <li>
                            <input type="checkbox" name="checkboxfrm" id="checkboxSeven" value="Steve Madden SIS,Converse SIS,Caterpillar SIS,Havaianas SIS" />
                            <label for="checkboxSeven">Moda Mujer</label>
                        </li>
                        <li>
                            <input type="checkbox" name="checkboxfrm" id="checkboxEight" value="Umbro SIS,Converse SIS,Caterpillar SIS,Havaianas SIS" />
                            <label for="checkboxEight">Moda Niños</label>
                        </li>
                        

                    </ul>
                </div>
                <!-- Fin marcas -->
                <div class="terminos">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="terminos" id="terminos2" />
                    <label class="form-check-label terminos_text" for="terminos2">
                      He leído y acepto los <a href="/terminos-y-Condiciones" class="terminos_link" target="_blank">términos y condiciones</a>
                    </label>
                  </div>
                </div>
                <input type="hidden" name="paginaReg" id="paginaReg" />
                <input class="btn-popup" type="submit" name="btn-popup" id="btn-popup" value="SUSCRIBIRME" />
              </form>
              <p class="terminos">*No válido para Outlet. Un uso de cupón por usuario</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div id="homePopupReparto" class="homePopup">
  <div class="popup-content">
    <div class="close-head">
      <span id="closeHome" class="closePopup"></span>
    </div>
    <div class="popup-body">
        <div class="imagen-desktop">
          <div class="contenido">
            <a href="/e-coliseum">
                <img width="100%" src="https://coliseum.vteximg.com.br/arquivos/popup-freeshipping-2.jpg" alt="Coliseum" />
            </a>
          </div>
        </div>
        <div class="imagen-mobil">
          <div class="contenido">
            <a href="/e-coliseum">
                <img width="100%" src="https://coliseum.vteximg.com.br/arquivos/popup-mobile-freeshipping-2.jpg" alt="Coliseum"/>
            </a>
          </div>
        </div>        
    </div>
  </div>
</div>
<div id="sinStock" class="homePopup">
  <div class="popup-content">
    <div class="close-head">
      <span id="closeHome" class="closePopup"></span>
    </div>
    <div class="popup-body">
        <div class="imagen-desktop">
          <div class="contenido"></div>
        </div>       
    </div>
  </div>
</div>
<!--div class="regalo-perfecto">
    <div class="center">
        <a href="#modal" class="btn-open-popup">ENCUENTRA EL REGALO PERFECTO <div class="flecha-abajo"></div></a>
        <div class="container-all" id="modal">
            <div class="itemProduct popup">
                <ul class="container-text">
                    <li>
                        <img width="100%" src="https://coliseum.vteximg.com.br/arquivos/industrial-magnum-04-12-2020.jpg"/>
                        <a class="boton-verde" href="/">LO QUIERO</a>
                    </li>
                    <li>
                        <img width="100%" src="https://coliseum.vteximg.com.br/arquivos/industrial-magnum-04-12-2020.jpg"/>
                        <a class="boton-rojo" href="/">LO QUIERO</a>
                    </li>
                    <li>
                        <img width="100%" src="https://coliseum.vteximg.com.br/arquivos/industrial-magnum-04-12-2020.jpg"/>
                        <a class="boton-verde" href="/">LO QUIERO</a>
                    </li>
                    <li>
                        <img width="100%" src="https://coliseum.vteximg.com.br/arquivos/industrial-magnum-04-12-2020.jpg"/>
                        <a class="boton-rojo" href="/">LO QUIERO</a>
                    </li>       
                </ul>
            </div>
        </div>
        <div class="fondo-oscuro"></div>
    </div>
</div-->
<div id="homesuscribete" class="homesuscribete">
    <div class="popup-content">
        <div class="close-head"><span id="closeHome" class="closePopup"></span></div>
        <div class="popup-body">
            <div class="imagen-desktop">
                <!--img width="100%" src="https://coliseum.vteximg.com.br/arquivos/foto-popup-02-06-2021.jpg" alt="coliseum" /-->
                <form id="formulario-suscribete" class="formulario-suscribete" method="post" action="//api.vtexcrm.com.br/coliseum/dataentities/SU/documents">
                    <fieldset>
                        <div class="titulo-principal">¿QUIERES OBTENER<br/><span>15% ADICIONAL</span><br/>EN TU PRIMERA COMPRA?<br/><br/><p class="completa-datos">¡Solo debes completar tus datos!</p></div>
                        <div class="sybtitulo-principal"></div>
                        <div class="cuerpo-suscribte">
                            <!--input type="hidden" name="key" value="a6b0f246-27ec-4c12-8686-dc991034e128"/-->
                            <input id="nombre" name="nombre" class="newsletter-name" placeholder="Nombre" size="5" type="text" required="required"/>
                            <input id="apellidos" name="apellidos" class="newsletter-last-name" placeholder="Apellidos" size="5" type="text" required="required"/>
                            <input id="correo" name="correo" class="newsletter-email" placeholder="Correo electrónico" size="20" type="text" required="required"/>
                            <div class="titulo-cumple">CUMPLEAÑOS</div>
                            <input id="days" name="days" class="newsletter-days" placeholder="dd*" size="2" type="number" required="required"/>
                            <input id="month" name="month" class="newsletter-month" placeholder="mm*" size="2" type="number" required="required"/>
                            <input id="years" name="years" class="newsletter-years" placeholder="aaaa*" size="2" type="number" required="required"/>
                            <div class="titulo-cumple">SEXO</div>
                            <div class="newsletter-sexo">
                                <input type="radio" id="hombre" name="sexo" value="M"/>
                                <label for="hombre" class="sexo">Hombre</label>
                                <input type="radio" id="mujer" name="sexo" value="F"/>
                                <label for="mujer" class="sexo">Mujer</label>
                                <input type="radio" id="indefinido" name="sexo" value="I"/>
                                <label for="indefinido" class="sexo">Prefiero no especificar</label>                         
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="politicas_privacidad" id="politicas_privacidad" required="required"/>
                                <label> He leído y acepto los <a class="txt_check_tyc" href="/terminos-y-Condiciones" target="_blank">términos y condiciones.</a></label><br/><br/>
                                <input type="checkbox" name="terminos_condiciones" id="terminos_condiciones" required="required"/>
                                <label> Acepto la <a class="txt_check_tyc" href="/politica-de-privacidad" target="_blank">Política de privacidad y </a>&#160;<a class="txt_check_tyc" href="/politica-de-privacidad" target="_blank"> tratamiento de datos personales.</a></label>
                            </div>
                            <input type="hidden" id="marca" name="marca" value="COLISEUM"/>
                            <div class="boton">
                                <input class="newsletter-button-ok" value="SUSCRIBIRME" type="submit" name="newsletterButtonOK"/>
                            </div>
                            <div class="respuesta"></div>
                        </div>                        
                    </fieldset>                    
                </form>
                <img width="100%" src="https://coliseum.vteximg.com.br/arquivos/popup-suscribete-footer.gif" alt="coliseum" />
            </div>
            <!--div class="imagen-mobil">
                <img width="100%" src="https://coliseum.vteximg.com.br/arquivos/foto-popup-02-06-2021.jpg" class="lazyload" />
            </div-->
        </div>
    </div>
</div>