<div class="hide">
    <vtex.cmc:welcomeMessage />
</div>
<header class="header-sis">
    <section class="top hitec">
        <div class="center">
            <div class="center text-right"><a href="/">Regresar a Coliseum</a> | Partner Oficial en Perú</div>
        </div>
    </section>
    <section class="middle hitec">
        <div class="center">
            <a href="/hitec-pe" id="hitec" class="logo"></a>
            <div class="btn-nav hide"></div>
            <div class="btn-sea hide"></div>
            <nav>
                <div class="container">
                    <ul>
                        <li class="a wH logeo">
                            <a class="mb"></a>
                            <div class="wHoverNav">
                                <div class="contentWH">
                                    <ul>
                                        <li><a href="/account">Mis Datos</a></li>
                                        <li><a href="/account/orders">Mis Compras</a></li>
                                        <li><a href="/no-cache/user/logout">Cerrar Sesión</a></li>
                                    </ul>
                                    <div id="clear"></div>
                                </div>
                            </div>
                        </li>
                        <li class="g wH"><a href="/mujer/hi-tec?PS=48&amp;map=c,b&amp;O=OrderByReleaseDateDESC">MUJERES</a></li> 
                        <li class="g wH"><a href="/hombre/hi-tec?PS=48&amp;map=c,b&amp;O=OrderByReleaseDateDESC">HOMBRES</a></li>
                        <li class="g wH"><a href="/outlet/hi-tec">OUTLET</a></li> 
                        <!--<li class="g wH"><a href="/outlet/hitec">OUTLET</a></li>-->
                        <!--li class="d wH">
                            <a class="mb" href="/hi-tec/926?PS=48&amp;map=b,productClusterIds&amp;O=OrderByReleaseDateDESC">SALE</a>
                            <div class="wHoverNav">
                                <div class="contentWH">
                                    <ul>
                                        <li class="title"><a href="/hi-tec/926?PS=48&amp;map=b,productClusterIds&amp;O=OrderByReleaseDateDESC">Sale</a></li>
                                        <li><a href="/hombre/hi-tec/926?PS=48&amp;map=c,b,productClusterIds&amp;O=OrderByReleaseDateDESC">Hombre</a></li>
                                        <li><a href="/mujer/hi-tec/926?PS=48&amp;map=c,b,productClusterIds&amp;O=OrderByReleaseDateDESC">Mujer</a></li>
                                    </ul>                               
                                    <div id="clear"></div>
                                </div>
                            </div>
                        </li-->     
                    </ul>
                </div>
                <div class="datos">
                    <div class="cuenta"><a class="btn-ingresar">Mi cuenta</a></div>
                    <!--div class="tiendas"><a href="/tiendas?m=coliseum">Tiendas</a></div-->
                    <div class="ayuda">
                        <p>¿Necesitas ayuda?</p>
                        <p>Escríbenos a</p>
                        <a href="mailto:ecommerce@coliseum-store.com">ecommerce@coliseum-store.com</a>
                        <p>Servicio al cliente</p>
                        <!--a href="tel:+51943602774">943 602 774</a-->
                    </div>
                </div>
            </nav>
            <ul class="carrito-login">
                <!--li class="ingresar">
                    <a class="btn-ingresar"><p class="mi-cuenta">Mi cuenta </p><div class="ico-user"></div></a>
                </li>
                <li class="datos"><a class="btn-salir"></a>
                    <div class="log">
                        <ul class="logeo hide">
                            <li><a class="account" href="/account">Mis Datos</a></li>
                            <li><a class="account" href="/account/orders">Mis Compras</a></li>
                            <li><a class="account" href="/no-cache/user/logout">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                </li-->
                <li class="carrito">
                    <div class="btn-cart">
                        <div class="btn carrito">
                            <div href="/checkout#/cart" class="info vcenter"><span class="num">
                                    <p>0</p>
                                </span>
                                <p class="tit">Productos</p><i class="cart"></i>
                                <p class="precio" style="display: block;"><span>S/. </span><span class="value">0.00</span></p>
                            </div>
                        </div>
                        <div class="pre-cart mCustomScrollbar _mCS_1 mCS_no_scrollbar empty" style="">
                            <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0">
                                <i class="fa fa-caret-up" aria-hidden="true"></i>
                                <div class="head-mobile res-mobile">
                                    <div class="title">Productos</div>
                                    <div class="close"><span class="text">CERRAR</span><span class="icn close red"></span></div>
                                </div>
                                <div class="wrap-scroll" style="display: none;">
                                    <table>
                                        <thead>
                                            <tr>
                                                <td class="a">
                                                    <p>Producto</p>
                                                </td>
                                                <td class="b">
                                                    <p>Cantidad</p>
                                                </td>
                                                <td class="c">
                                                    <p>Precio</p>
                                                </td>
                                                <td class="d"></td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="empty-cart"><span>Su carrito está vacío</span></div>
                            </div>
                            <div class="row resumen" style="display: none;">
                                <p class="total">TOTAL: <span class="numero">0.00</span></p><a class="btn comprar" href="/checkout#/cart">Finalizar compra</a>
                            </div>                            
                        </div>
                    </div>
                </li>
            </ul>
            <div class="search">
                <div class="cj-search js-cj-search">
                    <!--div class="vsl por">
                        <span class="t1">BUSCA POR</span>
                        <div class="-stl-select5">
                            <select class="t2 js-dpto">
                                <option value="" class="dpto" selected="selected">Departamentos</option>
                                <option value="todos">Todos</option>
                            </select>
                        </div>
                    </div-->
                    <div class="wp-inp">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <a class="js-cerrarSear icon-cerrar" href=""></a>
                        <input class="js-txtSearch" type="text" value="" placeholder="Buscar" />
                        <!--div class="resul js-resultSearch">
                        </div-->
                    </div>
                    <div class="buscar-cerrar">x</div>
                </div>
            </div>
            <div class="search-large">
                <div class="cj-search js-cj-search">
                    <div class="wp-inp">
                        <div class="seccion-buscador">
                            <div class="buscador-izq">
                                <span class="buscar">BUSCA</span>
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input class="js-txtSearch" type="text" value="" placeholder="Buscar" />
                                <div class="resul js-resultSearch"></div>
                            </div>
                            <div class="buscador-der">
                                <div class="busqueda-palabras">LOS MÁS VENDIDOS</div>
                                <div class="resul js-resultSearchMostVend01"></div>
                                <div class="resul js-resultSearchMostVend02"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="ml-newsletter nanoban-desktop" style="background: #ddd;">
    <!-- Inicio nano con gif -->
    <!--a href="/hombre/926?PS=48&amp;map=c,productClusterIds&amp;O=OrderByTopSaleDESC"> 
        <img width="100%" src="https://coliseum.vteximg.com.br/arquivos/nanobar-desktop-liquidacion-30-01-2021.jpg"/>
        <div class="count-nano-gif">
            <img src="https://i.countdownmail.com/t5jp4.gif" width="100%" border="0" alt="countdownmail.com"/>
        </div>
    </a>
    <a class="le" href="/legales-promociones">Ver legales</a-->
    <!-- Fin nano con gif -->
    <!--div class="center">
        <div class="row module slider"-->
            <!--div class="box-banner" style="padding: 10px;font-weight: bold;letter-spacing: 1px;"><a href="/hombre?PS=48&amp;map=c&amp;O=OrderByTopSaleDESC"><b>SOLO POR HOY</b> 30% OFF EN TODA LA TIENDA + FREE SHIPPING DESDE S/.350</a></div-->
            <!--div class="box-banner negro">
                <a> 
                    <img src="https://coliseum.vteximg.com.br/arquivos/nanobar-desktop-06-02-2021.jpg"/> 
                    <div class="count-nano">
                        <img src="https://i.countdownmail.com/t5jp4.gif" border="0" alt="countdownmail.com"/>
                    </div>
                </a>
            </div-->            
        <!--/div>
    </div-->
</section>
<section class="ml-newsletter nanoban-mobile" style="background: #ddd;height: 0px;">
    <!-- Inicio nano con gif -->
    <!--a href="/hombre/926?PS=48&amp;map=c,productClusterIds&amp;O=OrderByTopSaleDESC"> 
        <img width="100%" src="https://coliseum.vteximg.com.br/arquivos/nanobar-mobile-06-02-2021.jpg"/> 
        <div class="count-nano-gif" style="height: 33px;">
            <img src="https://i.countdownmail.com/t5jp4.gif" width="100%" border="0" alt="countdownmail.com"/>
        </div>
    </a>
    <a class="le" href="/legales-promociones">Ver legales</a-->
    <!-- Fin nano con gif -->
    <!--div class="center">
        <div class="row module slider"-->
            <!--div class="box-banner" style="padding: 10px;background: #ddd"><a href="/hombre?PS=48&amp;map=c&amp;O=OrderByTopSaleDESC"><b>SOLO POR HOY</b> 30% OFF EN TODA LA TIENDA + FREE SHIPPING DESDE S/.350</a></div-->
            
            <!--div class="box-banner negro">
                <a> 
                    <img src="https://coliseum.vteximg.com.br/arquivos/envio-gartis-mobile-07-12-2020.png"/>
                    <div class="count-nano" style="height: 44px;">
                        <img src="https://i.countdownmail.com/t5jp4.gif" border="0" alt="countdownmail.com"/>
                    </div>
                </a>
            </div>            
        </div>
    </div-->
</section>