<p class="title">TÉRMINOS Y CONDICIONES GENERALES</p>
                    <p>El presente documento desarrolla los términos y condiciones generales de acceso y uso en el Perú, desde cualquier lugar o equipo mediante el cual accedas, navegues y uses nuestro sitio web (<a href="/">www.coliseum.com.pe</a>) entendiéndose cualquier tipo de contenido, producto y/o servicio que se encuentre a disposición del público dentro del dominio mencionado, cuya titularidad pertenece exclusivamente a Solidez Empresarial S.A., debidamente identificada con RUC. 20459980963 y domicilio establecido en Avenida Camino Real Nro. 1050, Distrito de San Isidro, Provincia y Departamento de Lima.</p>
                  <p>En ese sentido, todas las transacciones y contratos que se realicen en nuestro sitio web, así como sus efectos jurídicos, quedarán regidos por estas reglas y sometidas a la legislación aplicable y a las autoridades peruanas que resulten competentes.</p>
                  <p>Por ello, la aceptación de los presentes términos y condiciones generales de acceso y uso resulta imprescindible para realizar una o más transacciones, entendiéndose que cada usuario, visitante o cliente, ha leído y aceptado la totalidad de los puntos detallados, cada vez que acceda, navegue y use nuestro sitio web.</p>
                    <p class="subTitle">1. Conceptos</p>
                    <p>A efectos de proporcionar una comprensión más fácil de nuestro sitio web, te invitamos a tener en cuenta los siguientes conceptos:</p>
 <table width="80%" border="1" cellspacing="5" cellpadding="10" style="font-size: 13px;color: #7a7a7b;">
  <tbody>
    <tr>
      <td style="font-size: 16px; color: #000; font-weight: bold;">Concepto</td>
      <td style="font-size: 16px; color: #000; font-weight: bold;">Forma abreviada</td>
    </tr>
    <tr>
      <td>Solidez Empresarial S.A. </td>
      <td>Solidez Empresarial o la/nuestra empresa </td>
    </tr>
    <tr>
      <td>Coliseum </td>
      <td>Marca comercial </td>
    </tr>
    <tr>
      <td><a href="https://www.coliseum.com.pe/" target="_blank">www.coliseum.com.pe</a></td>
      <td>El/nuestro sitio web</td>
    </tr>
    <tr>
      <td>Términos y condiciones generales de acceso y uso en el Perú</td>
      <td>T&amp;C</td>
    </tr>
    <tr>
      <td>Usuario</td>
      <td>Persona natural o jurídica que crea una cuenta en nuestro sitio web </td>
    </tr>
    <tr>
      <td>Visitante </td>
      <td>Persona natural o jurídica que visita el sitio web sin registrarse como usuario o es usuario de nuestro sitio web</td>
    </tr>
    <tr>
      <td>Cliente</td>
      <td>Persona natural o jurídica que efectúa una o más transacciones en nuestro sitio web</td>
    </tr>
  </tbody>
</table>
                    <p class="subTitle">2. Acceso, navegación y compras</p>
                    <p>Acceder, navegar y comprar a través de nuestro sitio web, no requiere registro previo; no obstante, una vez que aceptes los T&C al momento de crear una cuenta, serás considerado como usuario. Sin embargo, Solidez Empresarial no se hace responsable por la certeza o exactitud de la información que proporciones en nuestro sitio web, toda vez que, conforme a lo previsto en nuestra Política de Privacidad, presumimos que los datos personales que sean obtenidos de los visitantes, usuarios, potenciales clientes y clientes, son exactos y veraces.</p>
                    <p>Nuestra empresa se reserva el derecho de solicitar algún documento y/o dato adicional a efectos de corroborar los datos personales y de envío que proporciones, así como de suspender temporal o definitivamente a aquel usuario, cuyos datos no hayan podido ser confirmados.</p>
                    <p>La información personal que proporciones al sitio web, estará asegurada mediante una clave de acceso personal e intransferible que proporcionarás al momento de la creación de tu usuario y solo tú tendrás conocimiento, por lo que serás el único responsable de mantenerla en secreto. En ese sentido, el uso por parte de terceras personas o distinto al previsible, no implica responsabilidad alguna de nuestra empresa.</p>
                    <p>El usuario se compromete a notificar a la empresa en forma inmediata, cualquier uso no autorizado de su cuenta. Frente a este escenario, Solidez Empresarial se reserva el derecho de rechazar cualquier solicitud de compra o de realizar la cancelación de un pedido previamente aceptado, en cualquier momento y por cualquier razón, sin estar obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a ser indemnizado o resarcido.</p>
                    <p>Nuestros T&C tienen carácter obligatorio y vinculante; por ese motivo, no se podrá alegar el desconocimiento parcial o total del contenido del presente sitio web.</p>
      <p class="subTitle">3. Capacidad legal de uso</p>
                    <p>El sitio web se encuentra dirigido y disponible sólo para personas naturales y jurídicas que tengan capacidad legal para contratar por sí mismos o por intermedio de sus representantes legalmente reconocidos, sin distinción o excepción alguna, según lo dispuesto en la legislación peruana vigente. Por ese motivo, el cliente declara disponer de la capacidad jurídica necesaria para sujetarse a los presentes T&C. Sin perjuicio de ello, la navegación en nuestro sitio web, no exige la creación de ningún tipo de usuario.</p>
                     <p class="subTitle">4. Obligaciones del usuario</p>
                    <p>El usuario es responsable por la información que registre en nuestro sitio web. Por ello, es el único responsable ante la empresa y terceros, de las consecuencias que puedan derivar de una utilización con fines, propósitos o efectos que resulten ilícitos o contrarios a los presentes T&C.</p>
                    <p class="subTitle">5. Modificación en los términos y condiciones de uso</p>
                    <p>En cualquier momento, Solidez Empresarial podrá modificar, adicionar, eliminar y/o actualizar algunas secciones de nuestros T&C, por cualquier razón y sin previo aviso, los cuales seguirán siendo de obligatorio cumplimiento desde el momento de su publicación en nuestro sitio web. Recuerda que puedes revisar y consultar nuestros T&C, a través de los medios que ponemos a tu disposición, en cualquier momento.</p>
                    <p class="subTitle">6. Condiciones particulares y más favorables</p>
                    <p>En caso existan ofertas, condiciones particulares y más favorables para ti, con motivo de alguna campaña (p.e. Cyber days, Cyber Monday, Black Friday, entre otros), promociones u otros (p.e. free shipping (envío gratis), 3x2, descuentos especiales, entre otros), estas prevalecerán sobre los presentes T&C; sin embargo, en todo lo no previsto, se aplicarán las condiciones generales contenidas en esta sección.</p>
                    <p class="subTitle">7. Horarios</p>
<ul style="font-size: 13px;color: #7a7a7b; list-style: inherit; margin: 0 36px; line-height: 16px;">
  <li><b>Ventas:</b> El sitio web estará disponible las 24 horas del día de los 365 días del año.</li>
 <li><b>Servicio de atención al cliente:</b>
    <ul style="list-style: circle; margin: 0 20px;">
      <li>Chatbot de nuestra página web: De Lunes a Viernes de 9:00 a.m. a 10:00 p.m. y Sábados de 9:00 a.m. a 8:00 p.m.
      </li>
      <li>Mediante correo electrónico (<a href="mailto:ecommerce@coliseum-store.com">ecommerce@coliseum-store.com</a>): De Lunes a Viernes de 9:00 a.m. a 10:00 p.m. y Sábados de 9:00 a.m. a 8:00 p.m.
      </li>
      <li>Fan page de Facebook de Coliseum Store Perú: De Lunes a Viernes de 9:00 a.m. a 10:00 p.m. y Sábados de 9:00 a.m. a 8:00 p.m.</li>
    </ul>
  </li>
</ul>
<br />
                    <p class="subTitle">8. Cancelaciones</p>
<ul style="font-size: 13px;color: #7a7a7b; list-style: inherit; margin: 0 36px; line-height: 16px;">
<li><b>Inmediatas:</b> Después de efectuada la compra, cuentas con 2 horas para cancelar tu pedido, antes de que pase al área de despacho. Luego de ese plazo, deberás asumir el costo del delivery, siendo devuelto solo el valor de los productos, conforme lo prevé nuestra Política de Cambios y Devoluciones (<a href="/">www.coliseum.com.pe/cambios-y-devoluciones </a>).</li>
<li><b>Posterior a 2 horas de la compra:</b> En caso de haber recibido la orden, podrás solicitar la cancelación en un plazo máximo de 5 días hábiles, comunicándote a nuestro correo electrónico (<a href="mailto:ecommerce@coliseum-store.com">ecommerce@coliseum-store.com</a>), donde te indicarán cómo devolverlo en un plazo máximo 5 días hábiles. Recuerda revisar nuestras políticas de exclusiones de garantías de devolución aplicables (<a href="/">www.coliseum.com.pe/cambios-y-devoluciones </a>).</li>
</ul>
<br />
   <p class="subTitle">9. Garantías</p>
                    <p>Todos nuestros productos son idóneos y se ofrecen con la calidad, tecnología y periodo de garantía que otorga el fabricante o proveedor de la marca. Sin embargo, el cliente o quien este designe para la recepción del producto, se obliga a revisar el/los producto/s que forman parte de su despacho y, en caso de advertir algún defecto de fabricación o detectar daños no imputables a su responsabilidad, contará con un plazo máximo de 5 días hábiles, a partir de la fecha de entrega del pedido, para solicitar la aplicación de la garantía.</p>
                    <p>Sin perjuicio de lo expuesto, si con motivo del uso normal y previsible del producto, existen defectos de origen u otros, te informamos que todos nuestros productos cuentan con un periodo de garantía según se detalla a continuación:</p>
                    
                    <br/><br/>

<table width="80%" border="1" align="center" cellpadding="10" cellspacing="5" style="font-size: 13px;color: #7a7a7b;">
  <tbody>
    <tr>
      <td style="font-size: 16px; color: #000; font-weight: bold; text-align: center">Marca</td>
      <td style="font-size: 16px; color: #000; font-weight: bold; text-align: center">Garantía</td>
    </tr>
    <tr>
      <td align="center">Caterpillar </td>
      <td align="center">6 meses</td>
    </tr>
    <tr>
      <td align="center">Converse</td>
      <td align="center">6 meses</td>
    </tr>
    <tr>
      <td align="center">Merrell </td>
      <td align="center">6 meses</td>
    </tr>
    <tr>
      <td align="center">Steve Madden </td>
      <td align="center">3 meses</td>
    </tr>
    <tr>
      <td align="center">Madden Girl </td>
      <td align="center">3 mes</td>
    </tr>
    <tr>
      <td align="center">Madden</td>
      <td align="center">1 mes</td>
    </tr>
    <tr>
      <td align="center">Hi Tec </td>
      <td align="center">6 meses</td>
    </tr>
    <tr>
      <td align="center">Umbro</td>
      <td align="center">6 meses</td>
    </tr>
    <tr>
      <td align="center">Fila</td>
      <td align="center">6 meses</td>
    </tr>
    <tr>
      <td align="center">New Balance </td>
      <td align="center">1 mes</td>
    </tr>
  </tbody>
</table>

<br/> <br/><br/>
                    <p><strong>Importante:</strong> Por ningún motivo, la exclusión de garantía será oponible cuando se advierta un defecto originario o derivado del uso, cuidado y conservación diligente y previsible producto.</p>
                    <p>Para mayor información, sobre otras situaciones de aplicación de garantía, te invitamos a revisar nuestra Política de Cambios y Devoluciones (<a href="/">www.coliseum.com.pe/cambios-y-devoluciones </a>).</p>
<p class="subTitle">10. Publicidad</p>
                    <p>En virtud del consentimiento que nos entregas al aceptar nuestra Política de Privacidad, estamos legitimados para hacer tratamiento de tus datos para enviar información comercial, gestionar la solicitud de suscripción al boletín informativo y envío de ofertas, obsequios, promociones (personalizadas o generales) y/o publicidad con relación a los productos y/o servicios que son brindados por Solidez Empresarial, así como realizar estudios de mercado y prospección comercial. El contacto podrá realizarse a través de los siguientes medios: Centros de llamada (call centers), sistemas de llamado telefónico, envío de mensajes de texto a celular (SMS) o mensajes electrónicos masivos (mailing o correos electrónicos), telemercadeo y remisión vía medio físico.</p>
                    <p>En particular, Solidez Empresarial estará autorizada para analizar tus interacciones con la compañía (p.e. revisar el historial de compras y de intención de compras, el uso de aplicaciones, redes sociales y datos personales que compartes con las marcas licenciadas o vinculadas) para así poder enviar mensajes comerciales personalizados sobre las marcas que Coliseum representa: Caterpillar, Converse, Merrell, Steve Madden, Madden Girl, Hi-Tec, Umbro, Fila, New Balance, entre otras.</p>
                    <p>Sin perjuicio de lo expuesto, en cualquier momento puedes revocar tu consentimiento a través del enlace que se adjunta en los mensajes enviados por Coliseum.</p>
<p class="subTitle">11. Proceso de compra y seguimiento de pedido</p>
                    <p>En cada uno de los contratos ofrecidos, Solidez Empresarial trasladará toda información relevante, de manera inequívoca, oportuna y fácilmente accesible que detalle los pasos a seguir para celebrarlos. </p>
                    <p>El/los producto/s seleccionados por el usuario para seguir el proceso de compra quedarán registrados en nuestro sitio web hasta la confirmación de la compra. Para tal efecto, la empresa podrá enviar e-mails y cualquier otra forma comunicación a cualquiera de las formas de contacto que proporcionaste a través de tus datos personales con tu usuario registrado, con el propósito de recordarte que no se finalizó las compras de los productos seleccionados.</p>
                    <p>Una vez que la compra de productos en nuestro sitio web haya sido procesada, se informará en línea al usuario. El usuario recibirá un correo electrónico (ticket u orden de compra) informándole el número de pedido y el/los producto/s comprado/s. El usuario puede consultar el status de su pedido en la opción “Mi Cuenta/Pedidos” alojado en <a href="/">www.coliseum.com.pe</a></p>
<p class="subTitle">12. Comprobantes de pago</p>
                    <p>El cliente deberá decidir correctamente el documento electrónico que solicitará como comprobante al momento de realizar la compra, toda vez que, según el Reglamento de Comprobantes de Pago aprobado por Resolución de Superintendencia Nro. 007-99/SUNAT (RCP) y el Texto Único Ordenado de la Ley del Impuesto General a las Ventas e Impuesto Selectivo al Consumo, aprobado mediante Decreto Supremo Nro. 055-99-EF y normas modificatorias: “No existe ningún procedimiento vigente que permita el canje de boletas de venta por facturas, más aún las notas de crédito no se encuentran previstas para modificar al adquirente o cliente que figura en el comprobante de pago original”.</p>
   <p> Los comprobantes de pago (boleta o factura) se enviarán de forma física y serán entregados con el/los producto/s que haya adquirido el cliente. En caso no recibas dicho comprobante, podrás solicitarlo a través del correo: <a href="mailto:ecommerce@coliseum-store.com">ecommerce@coliseum-store.com</a></p>
                    <p class="subTitle">13. Entregas</p>
                    <p>Las entregas de tus productos comprados a través de nuestro sitio web, se puede realizar a través de las siguientes modalidades: Retiro en tienda o despacho a domicilio; sin embargo, se encuentran limitadas a las condiciones territoriales y/o restricciones legales que impongan las autoridades competentes.</p>
<p class="subTitle">13.1. Entregas a domicilio</p>
<ul style="font-size: 13px;color: #7a7a7b; list-style: inherit; margin: 0 36px; line-height: 16px;">
  <li>El tiempo de entrega estimado será el indicado en el proceso de adquisición en el sitio web y será confirmado en el correo de confirmación de fecha de envío del producto.</li>
 <li>Los plazos de entrega empiezan a contar una vez confirmada la compra:
    <ul style="list-style: circle; margin: 0 20px;">
      <li>Lima Metropolitana: De 1 a 5 días hábiles*.
      </li>
      <li>Provincia: Hasta 10 días hábiles*.
      </li>
    </ul>
  </li>
<p>(*) Días hábiles: Son los días comprendidos de lunes a viernes, sin contar feriados y días no laborables para el sector público.</p>
<li><b> Importante: </b>
<ul style="list-style: circle; margin: 0 20px;line-height: 16px;">
      <li>No se realizan llamadas previas a la entrega.
      </li>
  <li>La entrega del pedido se realizará al cliente o a quien designe para la recepción del pedido.
      </li>
<li>Si durante el plazo establecido se hacen hasta 2 visitas y el cliente o la persona encargada de recibir el pedido no se encuentran en el domicilio, se extenderá el plazo inicialmente acordado para la entrega, previa coordinación con el usuario. Adicionalmente a esto, el usuario deberá pagar la tercera visita a la dirección registrada o dirigirse a una tienda física para recoger su pedido, según el acuerdo dado. En caso de no contactar al usuario mediante los números telefónicos y correos de contacto registrados en nuestro sitio web, después de 3 intentos sin éxito en la comunicación, la orden se cancelará, quedando expedita la devolución correspondiente al valor de los productos, descontando el costo del delivery.
      </li>
<li>El cliente o la persona que reciba el pedido tiene la obligación de revisar que la caja o bolsa que contenga el producto, se encuentre sellada y no tenga signos de apertura previa (abierta, otra cinta de embalaje o deterioro de caja). En caso detectes esto, NO recibas el producto y ponte en contacto inmediatamente con nosotros. En caso no lo hagas, no podrás presentar ningún reclamo por daño del producto o faltante del mismo. Solo atenderemos reclamos por temas de garantía o cualquier situación que se encuentra descrita en nuestra Política de Cambios y Devoluciones (<a href="/">www.coliseum.com.pe/cambios-y-devoluciones </a>).
      </li>
<li>La venta y despacho de los productos está condicionada a su disponibilidad y a las existencias de producto. Cuando el producto no se encuentre disponible, te notificaremos de inmediato y devolveremos el valor total del precio pagado por el producto, más los gastos de envío y cargos adicionales.
      </li>
    </ul>
</li>
<li><b>Horario de entregas:</b>  De 7:00 a.m. a 9:00 p.m.</li>
<li><b>¿Consultas adicionales sobre los tiempos de entrega?</b> Envíanos un correo a: <a href="mailto:ecommerce@coliseum-store.com">ecommerce@coliseum-store.com</a></li>
</ul>
<br />
<p class="subTitle">13.2. Recojo en tiendas (Disponible con excepción de tiendas Coliseum Outlet)</p>
<ul style="font-size: 13px;color: #7a7a7b; list-style: inherit; margin: 0 36px; line-height: 16px;">
  <li>El tiempo de entrega estimado será el indicado en el proceso de adquisición en el sitio web.</li>
  <li>Los plazos para recojo en tienda empiezan a contar una vez confirmada la compra que van desde 1 hasta 10 días calendario, según lo indicado en el proceso de adquisición en el sitio web. </li>
  <li>La entrega del pedido se realizará únicamente al cliente. Por ello, deberás acercarte a la tienda donde seleccionaste recoger el pedido y presentar tu DNI o Carné de Extranjería y orden de compra (boleta física o correo de confirmación).</li>
<li><b> Importante: </b>
<ul style="list-style: circle; margin: 0 20px; line-height: 16px;">
<li>Recuerda que tienes hasta 10 días calendarios posteriores a la confirmación de la compra de tu pedido para recogerlo en la tienda seleccionada. Si no te acercas en el plazo señalado, el pedido de esta orden se cancelará.
      </li>
  <li>La venta y despacho de los productos está condicionada a su disponibilidad y a las existencias de producto. Cuando el producto no se encuentre disponible, te notificaremos de inmediato y devolveremos el valor total del precio pagado por el producto, más los gastos de envío y cargos adicionales.
    </ul>
</li>
<li><b>Horario de entregas:</b> De 2:00 p.m. a 9:00 p.m.</li>
<li><b>¿Tienes consultas adicionales?</b> Envíanos un correo a: <a href="mailto:ecommerce@coliseum-store.com">ecommerce@coliseum-store.com</a></li>
</ul>
<br />
<p class="subTitle">14. Responsabilidad</p>
                    <p>En ningún caso, Solidez Empresarial responderá por:</p>
<ul style="font-size: 13px;color: #7a7a7b; list-style: inherit; margin: 0 36px; line-height: 16px;">
<li>La utilización indebida que visitantes al sitio web puedan hacer de los materiales exhibidos, así como de los derechos de propiedad intelectual e industrial.</li>
<li>Los contenidos de las páginas a las que el usuario puedan acceder con o sin autorización del sitio web.</li>
<li>El acceso de menores de edad o personas sin capacidad, bajo los términos de la legislación correspondiente, a los contenidos adherentes a la relación contractual que surja del sitio web.</li>
</ul>
<br />
  <p>Asimismo, los visitantes, usuarios, potenciales clientes y clientes reconocen y dejan constancia que el sitio web no es infalible. Por lo tanto, en cualquier momento y sin previo aviso pueden verificarse circunstancias ajenas a la voluntad del sitio web, que impliquen que este no se encuentre operativo durante un determinado periodo de tiempo. En estos casos, procuraremos restablecer el sitio web con la mayor celeridad posible, sin que por ello pueda imputarse algún tipo de responsabilidad.</p>
   <p>De igual forma, por ningún motivo la empresa publicará a través de su sitio web algún producto con un precio de venta o de valor cero (S/ 0.00), al menos que este sea promocionado como un premio eventual que se otorga mediante concursos y/o sorteos organizados por Solidez Empresarial. Si se diese el caso de existir dicho error, nos reservamos el derecho de anular el pedido y, de haberse procedido con algún pago mínimo (en razón a un pago desproporcionado al precio real), se realizará el reembolso correspondiente, informándole al usuario lo ocurrido.</p>
  <p>Dado que nuestra empresa promociona miles de productos para la venta, a través de su sitio web, existe la posibilidad de que se publiquen algunos errores involuntarios y evidentes (p.e. Se advierta claramente una enorme desproporción entre el valor de mercado y el precio ofertado) en el contenido de nuestros productos, no se generaría la obligación de respetar las condiciones anunciadas o el precio anunciado. Por ese motivo, Solidez Empresarial actúa con base a un mecanismo de "Aviso y cambio o retirada".</p>
  <p>Asimismo, si consideras que alguno de los contenidos de nuestro sitio web o contenido publicitario resulta de algún modo ofensivo o inverosímil, te pedimos que nos comuniques de este hecho a través de nuestro correo electrónico: <a href="mailto:ecommerce@coliseum-store.com">ecommerce@coliseum-store.com</a>. Una vez notificados, iniciaremos las acciones pertinentes para eliminar el contenido objeto de la reclamación en un plazo razonable.</p>
                    <p class="subTitle">15. Propiedad Intelectual</p>
                    <p>Dejamos expresa constancia que la propiedad intelectual, comercial e industrial del contenido, diseños, gráficas y sistemas (hardware y software), sobre los que versa este documento son de exclusiva propiedad de Solidez Empresarial. Por ese motivo, queda totalmente prohibida la copia, reproducción, adaptación, modificación, distribución, comercialización, comunicación pública y/o cualquier otra acción que comporte una infracción de la normativa vigente en Perú y a nivel internacional, en materia de propiedad intelectual e industrial, así como el uso de las marcas y los contenidos de nuestro sitio web, si no es con la previa autorización expresa y por escrito de nuestra empresa.</p>
                    <p>Solidez Empresarial, cuenta con licencia para el uso exclusivo de cada una de las marcas que se encuentran contenidas en el presente sitio web, cuya inscripción obra en los registros de las oficinas de Propiedad Intelectual e Industrial del Indecopi.</p>
                    <p class="subTitle">16. Política de privacidad y protección de datos personales</p>
                    <p>Para información completa sobre nuestra Política de Privacidad y Protección de Datos Personales, visita: <a href=" www.coliseum.com.pe/politica-de-privacidad "> www.coliseum.com.pe/politica-de-privacidad</a></p>
                    <p class="subTitle">17. Legislación Aplicable</p>
                    <p>Cualquier controversia o conflicto derivado de la utilización del sitio web, de nuestros T&C, su existencia, validez, interpretación, alcance o cumplimiento, será sometida a las leyes aplicables de la República del Perú, delegando competencia en los Tribunales y Juzgados de la ciudad de Lima.</p>
                    <p>Sin perjuicio de ello, frente a cualquier controversia o conflicto en materia de consumo que pudiera surgir, recuerda que, como consumidor, puedes optar por cualquiera de las vías de solución que ofrece Coliseum (Escribiéndonos a nuestro correo electrónico: <a href="mailto:ecommerce@coliseum-store.com">ecommerce@coliseum-store.com</a>, presentando una queja o reclamación a través del Libro de Reclamaciones, entre otros) o incluso a través de las vías que el Instituto Nacional de Defensa de la Competencia y de la Protección de la Propiedad Intelectual (Indecopi), pone a disposición de la ciudadanía.</p>
                    <p class="subTitle">18. Canales de contacto e información adicional</p>
                    <p>Si tienes alguna duda o requieres de alguna información adicional sobre nuestros T&C o ayuda para efectuar alguna compra, por favor contáctanos al correo electrónico: <a href="mailto:ecommerce@coliseum-store.com">ecommerce@coliseum-store.com</a></p>
<b>Última actualización: 30/01/24</b>